<template>
  <div class="component__header-buttons">
    <template v-if="!__user">
      <div class="md-less-hidden flex-row">
        <!-- <pui-button type="sand" auto @click="showLoginDialog()">
          {{ $LOCALE('ln_sign_in') }}
        </pui-button> -->
        <pui-button type="link" class="signin-button" auto @click="showLoginDialog()">
          {{ $LOCALE('ln_sign_in') }}
        </pui-button>
        <pui-button type="sand" class="signup-button" auto @click="showRegDialog()">
          {{ $LOCALE('ln_sign_up') }}
        </pui-button>
      </div>
      <div class="signin-button-mobile md-more-hidden" @click="showLoginDialog()">
        <i class="pui-user-ic" />
      </div>
    </template>
    <template v-else>
      <vue-header-user />
    </template>
    <!-- LOGIN DIALOG -->
    <vue-login-dialog ref="loginDialog" />
    <!-- SIGNUP DIALOG -->
    <vue-registration-dialog ref="registrationDialog" />
  </div>
</template>
<script>
import VueHeaderUser from '@/components/Header/User'
import VueLoginDialog from '@/components/Login/Dialog'
import VueRegistrationDialog from '@/components/Registration/Dialog'
export default {
	components: {
		VueHeaderUser,
		VueLoginDialog,
		VueRegistrationDialog
	},
	data() {
		return {
		}
	},
	computed: {

	},
	methods: {
		showRegDialog() {
			this.$store.commit('regLogin/SET_TAB', 'VueTypes')
			this.$store.commit('regLogin/SET_ROLE', null)
			this.$refs.registrationDialog.show()
		},
		showLoginDialog() {
			this.$refs.loginDialog.show()
		}
	}
}
</script>
<style lang="scss">
.component__header-buttons{
	@include flex(row, flex-end, center);
	.pui-button{
		&.signin-button{
			margin-right: 30px;
			span{
				color: $charcoal-grey;
			}
		}
	}
}
.signup-dialog{
	.el-dialog__header{
		padding: 0 !important;
	}
}
.lang,
.lang-hotel,
.dev-tour-slug,
.lang-tour-slug,
.lang-hotel-slug,
.lang-hotel-tour-slug{
	.component__header-buttons{
		.pui-button{
			&.signin-button{
				&:focus{
					span{
						color: $primary-blue;
					}
				}
				span{
					color: $white;
				}
			}
		}
	}
	.signin-button-mobile{
		i{
			color: $white;
		}
	}
}
</style>
