<template>
  <div class="component__currency-switcher">
    <pui-button type="link" auto @click="currencyDialog = true">
      {{ currency }}
    </pui-button>
    <!-- CURRENCY DIALOG -->
    <el-dialog
      :visible.sync="currencyDialog"
      width="700px"
      center
      append-to-body
      :fullscreen="$ua.isFromSmartphone()"
      custom-class="currency-dialog"
    >
      <div class="currency-group-title text-h6">
        {{ $LOCALE('ln_popular_currencies') }}
      </div>

      <div class="currencies-group">
        <div
          v-for="(cur, key) in __currencies"
          :key="key"
          :class="['currency-item', cur.code === currency?'active':'']"
          type="text"
          @click="chooseCurrency(cur.code)"
        >
          <div class="text-h6">
            {{ cur.code }}
          </div>
          <span>{{ $LOCALE(`ln_${cur.code}`) }}</span>
        </div>
      </div>
      <!-- <div class="currency-group-title text-h6">
        Другие валюты
      </div> -->
    </el-dialog>
  </div>
</template>
<script>
export default {
	data() {
		return {
			allCurrency: [

			],
			currencyDialog: false
		}
	},
	computed: {
		currency: {
			get() {
				return this.$store.state.currency
			},
			set(val) {
				this.$store.dispatch('SET_API_STORE_BY_NAME', ['currency', val])
				this.$router.go()
			}
		}
	},
	methods: {
		chooseCurrency(currency) {
			console.log(currency)
			this.$store.dispatch('SET_API_STORE_BY_NAME', ['currency', currency])
			this.currencyDialog = false
			// this.$router.go()
			// setTimeout(() => {

			// 	// this.getCurrency()
			// }, 100)
		}
	}
}
</script>
<style lang="scss">
.component__currency-switcher{
	button{
		span{
			color: $charcoal-grey;
		}
		// cursor: pointer;
		// font-size: 12px;
		// font-weight: bold;
    }
}
.currency-dialog{
	.el-dialog__header{
		display: none;
	}
	.el-dialog__body{
		padding: 20px 0 25px !important;
		.currency-group-title{
			margin-bottom: 12px;
			padding: 0 16px;
		}
		.currencies-group{
			@include flex(row, flex-start, center);
			flex-wrap: wrap;
			.currency-item{
				padding: 4px 10px 4px 16px;
				width: calc(100% / 3);
				border: 1px solid transparent;
				cursor: pointer;
				@include flex(row, flex-start, center);
				&.active{
					background-color: $pale;
				}
				.text-h6{
					width: 35px;
					margin-right: 7px;
				}
				span{
					display: inline-block;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
					font-size: 12px;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.5;
					letter-spacing: normal;
				}
			}
		}
	}
}
.lang,
.lang-hotel,
.dev-tour-slug,
.lang-tour-slug,
.lang-hotel-slug,
.lang-hotel-tour-slug{
	.component__currency-switcher{
		button{
			span{
				color: $white;
			}
		}
	}
}
</style>
