<template>
  <div class="component__language-switcher">
    <pui-dropdown
      width="188px"
      position="right"
    >
      <ul class="languages-list">
        <li
          v-for="(lang, key) in languages"
          :key="key"
          class="list-item"
          @click="chooseLanguage(lang.code)"
        >
          <img
            :src="'https://palmarius.org/images/flags/' + lang.flag + '.png'"
            alt=""
          >
          <span class="lang-name font-size-xs">{{ lang.name }}</span>
        </li>
      </ul>
      <template v-slot:reference>
        <div class="chosen-language">
          <img
            :src="'https://palmarius.org/images/flags/' + language + '.png'"
            alt="language"
          >
          <span>{{ languages[language].name }}</span>
        </div>
      </template>
    </pui-dropdown>
  </div>
</template>
<script>
// import { apiGlobal } from '@/api/global'
import { mapState } from 'vuex'
export default {
	methods: {
		chooseLanguage(code) {
			this.$cookies.set('language', code)
			this.$store.commit('loading/SET_LOADING', true)
			const host = window.location.host
			const url = this.$route.path.split('/').filter((el) => { return el.length })
			if (url[0].length === 2) {
				url[0] = code
			} else {
				url.unshift(code)
			}
			let query = ''
			if (Object.keys(this.$route.query).length > 0) {
				query = Object.keys(this.$route.query).map((el) => {
					return el + '=' + this.$route.query[el]
				})
				query = '?' + query.join('&')
				console.log(query)
			}
			window.location.href = 'http://' + host + '/' + url.join('/') + query
		}
	},
	computed: {
		...mapState(['language', 'languages'])
	}
}
</script>
<style lang="scss">
.component__language-switcher{
	.language-button{
		margin-right: 22px;
		color: $white;
		img{
			width: 21px;
			margin-right: 3px;
		}
	}
	.languages-list{
		padding: 8px 0;
		.list-item{
			@include flex(row, flex-start, center);
			padding: 8px 16px;
			cursor: pointer;
			&:hover{
				background-color: $pale;
			}
			img{
				width: 20px;
				height: 14px;
				margin-right: 8px;
			}
			.lang-name{

			}
		}
	}
	.chosen-language{
		@include flex(row, flex-start, center);
		margin-right: 24px;
		@media (max-width: $md){
			margin-right: 0;
		}
		&:hover{
			span{
				color: $primary-sand	;
			}
		}
		&:focus{
			span{
				border-color: $white;
				color: $white;
			}
		}
		img{
			margin-right: 6px;
			width: 20px;
			height: 14px;
		}
		span{
			font-size: 12px;
			font-weight: 500;
			border-bottom: 1px solid transparent;
			display: inline-block;
		}
	}
}
.lang,
.lang-hotel,
.dev-tour-slug,
.lang-tour-slug,
.lang-hotel-slug,
.lang-hotel-tour-slug{
	.chosen-language{
		span{
			color: $white;
			@media (max-width: $md){
				color: $charcoal-grey;
			}
		}
	}
}
</style>
