<template>
  <nuxt-link :to="'/' + language + hotel" class="component__logo" />
</template>
<script>
import { mapState } from 'vuex'
export default {
	computed: {
		...mapState(['language', 'subdomain']),
		hotel() {
			let hotel = ''
			if (this.subdomain === 'hotel' && this.$route.params.hotel !== undefined) {
				hotel = this.$route.params.hotel
			}
			return '/' + hotel
		}
	}
}
</script>
<style lang="scss">
.component__logo{
	width: 100%;
	max-width: 168px;
	height: 38px;
	position: relative;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('/static-assets/images/logo/Palm_color.svg');
	@media (min-width: $md) and (max-width: $lg){
		width: 40px;
		height: 40px;
		background-image: url('/static-assets/images/logo/Logo-1x1-color.svg');
	}
}
.lang,
.lang-hotel,
.dev-tour-slug,
.lang-tour-slug,
.lang-hotel-slug,
.lang-hotel-tour-slug{
	.component__logo{
		width: 40px;
		height: 40px;
		background-image: url('/static-assets/images/logo/Logo-1x1-white.svg');
	}
}
</style>
