<template>
  <div class="component__header-navigation">
    <ul>
      <li v-for="(item, key) in navigation" :key="key">
        <pui-button v-if="item.type === 'phalcon'" type="link" auto @click="$SET_PHALCON_URL(item.url)">
          {{ $LOCALE(item.name) }}
        </pui-button>
        <pui-button v-else type="link" auto @click="$GO_TO(item.url)">
          {{ $LOCALE(item.name) }}
        </pui-button>
      </li>
    </ul>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
	data() {
		return {

		}
	},
	computed: {
		...mapGetters(['navigation'])
	}
}
</script>
<style lang="scss">
.component__header-navigation{
	ul{
		line-height: 1;
		li{
			list-style: none;
			line-height: 1;
			display: inline-block;
			margin-right: 35px;
			button{
				span{
					color: $charcoal-grey;
				}
			}
			a{
				span{
					color: $charcoal-grey;
				}
			}
		}
	}
}
.lang,
.lang-hotel,
.dev-tour-slug,
.lang-tour-slug,
.lang-hotel-slug,
.lang-hotel-tour-slug{
	.component__header-navigation{
		ul{
			li{
				button{
					span{
						color: $white;
					}
				}
				a{
					span{
						color: $white;
					}
				}
			}
		}
	}
}
</style>
