<template>
  <div class="component__header-user" @click="disableAnimation()">
    <pui-dropdown position="right" :default-state="menuShown">
      <template v-slot:reference>
        <div class="header-user-wrapper">
          <div class="header-user-avatar" :class="[animated?'animated wobble infinite':'']">
            <!-- <img v-lazy="$LAZYLOAD_USER_AVA(__user.avatar)" alt=""> -->
            <img src="/static-assets/images/svg/user-placeholder.svg" alt="">
          </div>
          <div class="header-user-name">
            <div class="text-h6">
              <pui-button type="link" auto>
                {{ __user.first_name || $LOCALE('ln_my_account') }}
              </pui-button>
            </div>
          </div>
        </div>
      </template>
      <div class="header-user-navigation">
        <ul class="navigation">
          <li v-for="(item, key) in userNav" :key="key">
            <div @click="item.type === 'phalcon'?$SET_PHALCON_URL(item.url):runFunc(item.url)">
              {{ item.name }}
            </div>
          </li>
        </ul>
      </div>
    </pui-dropdown>
    <!-- <pui-button size="small" auto type="sand" @click="logout()">
      Выход
    </pui-button> -->
  </div>
</template>
<script>
export default {
	data() {
		return {
			animated: false,
			menuShown: false,
			userNav: [
				{ name: this.$LOCALE('ln_new_tour'), url: 'https://ru.palmarius.org/partner/tourform', type: 'phalcon' },
				// { name: this.$LOCALE('ln_my_tours'), url: 'https://ru.palmarius.org/', type: 'phalcon' },
				// { name: this.$LOCALE('ln_all_tours'), url: 'https://ru.palmarius.org/tours', type: 'phalcon' },
				{ name: this.$LOCALE('ln_lk'), url: 'https://ru.palmarius.org/lk', type: 'phalcon' },
				{ name: this.$LOCALE('ln_information_center'), url: 'https://ru.palmarius.org/instruction', type: 'phalcon' },
				{ name: this.$LOCALE('ln_logout'), url: 'logout' }
			]
		}
	},
	created() {
		this.$store.dispatch('GET_USER')
		if (!this.$cookies.get('firstEntry')) {
			this.animated = true
			this.menuShown = true
		}
	},
	methods: {
		disableAnimation() {
			if (!this.$cookies.get('firstEntry')) {
				this.$cookies.set('firstEntry', 'set')
				this.animated = false
			} else {

			}
		},
		async logout() {
			await this.$axios.$post('/ajax/logout', null, {
				headers: {
					'x-requested-with': 'XMLHttpRequest'
				}
			}).then((res) => {
				this.$store.commit('SET_STATES', { user: null })
			}).catch((e) => { console.log(e) })
		},
		runFunc(func) {
			this[func]()
		}
	}
}
</script>
<style lang="scss">
.component__header-user{
	.header-user-wrapper{
		@include flex(row, flex-start, center);
		.header-user-avatar{
			overflow: hidden;
			border-radius: 100px;
			background-color: $white;
			width: 40px;
			margin-right: 12px;
			@media (max-width: $md){
				width: 28px;
				margin-right: 0;
			}
			img{
				width: 100%;
				display: block;
			}
		}
		.header-user-name{
			span{
				color: $charcoal-grey;
			}
			@media (max-width: $md){
				display: none;
			}
		}
	}
	.header-user-navigation{
		padding: 8px 0;
		ul{
			li{
				padding: 12px 16px;
				&:hover{
					background-color: $pale;
					cursor: pointer;
				}
			}
		}
	}
}
.lang,
.lang-hotel,
.lang-tour-slug{
	.header-user-name{
		span{
			color: $white !important;
		}
	}
}
</style>
