<template>
  <div class="page__tours">
    <div class="container">
      <div class="search-form-wrapper">
        <no-ssr>
          <vue-search-form />
        </no-ssr>
      </div>
      <h1 class="page-title">
        {{ pagetitle }}
      </h1>
      <el-row :gutter="24">
        <el-col :xs="24" :sm="24" :md="6" :lg="6">
          <vue-filter-layout @change-filters="getTours()" />
        </el-col>
        <el-col :xs="24" :sm="24" :md="18" :lg="18">
          <!-- <vue-filter-topbar /> -->
          <vue-tour-card-grid :tours="tours" />
          <pui-spacer />
          <vue-tour-load-more />
        </el-col>
      </el-row>
    </div>
  </div>
</template>
<script>
// import { apiTours } from '@/api/tours'
import { mapState } from 'vuex'
import VueSearchForm from '@/components/Search/Form'
import VueTourCardGrid from '@/components/Tour/CardGrid'
import VueFilterLayout from '@/components/Filter/Layout'
import VueTourLoadMore from '@/components/Tour/LoadMore'
// import VueFilterTopbar from '@/components/Filter/Topbar'
export default {
	components: {
		VueTourCardGrid,
		VueSearchForm,
		VueFilterLayout,
		VueTourLoadMore
		// VueFilterTopbar
	},
	data() {
		return {}
	},
	computed: {
		...mapState('search', ['pagetitle', 'pager', 'limit', 'type', 'filterPartners', 'tags']),
		tours: {
			get() { return this.$store.state.search.tours },
			set(val) { this.$store.commit('search/SET_TOURS', val) }
		}
	},
	watch: {
		__currency(val) {
			this.getTours()
		}
	},
	async asyncData({ app, store }) {
		await store.commit('search/SET_STATES', {
			partnerSlug: null,
			directionSlug: null
		})
		let partners = null
		try { partners = store.state.search.filterPartners.join(',') } catch (err) { console.log(err) }
		await store.commit('search/SET_STATES', {
			type: 'tour'
		})
		const queries = {
			limit: 5,
			page: 1,
			partners: partners,
			type: store.state.search.type,
			tags: store.state.search.tags
		}
		await store.dispatch('search/GET_ACTIVE_PARTNERS', {
			page: 1,
			limit: 1000000,
			type: store.state.search.type,
			tags: store.state.search.tags
		})
		await store.dispatch('search/SEARCH', queries)
	},
	beforeDestroy() {
		this.$store.commit('search/CLEAR')
	},
	methods: {
		async getTours() {
			if (this.$route.name === 'lang-tours') {
				await this.$store.commit('loading/SET_LOADING', true)
				let partners = null
				try { partners = this.filterPartners.join(',') } catch (err) { console.log(err) }
				const params = {
					limit: this.pager.page * this.limit,
					page: 1,
					partners: partners,
					type: this.type,
					tags: this.tags
				}
				await this.$store.dispatch('search/SEARCH', params)
				await this.$store.commit('loading/SET_LOADING', false)
			}
		}
	},
	head() {
		return {
			title: 'Купить тур: подбор, поиск туров онлайн на сайте | Найти выгодные, экономные туры на море за границу',
			meta: [
				{ hid: 'description', name: 'description', content: 'Организуйте свой отдых без посредников. Мы даём простую возможность каждому человеку собрать отдых для себя из различных предложений наших партнеров (отели, тур. компании, частные гиды, транспортные компании).' }
			]
		}
	}
}
</script>
<style lang="scss">
.page__tours{

}
</style>
