<template>
  <div
    class="pui-cell"
    :class="[
      'pui-cell--' + type
    ]"
  >
    <template v-if="type === 'link'">
      <nuxt-link :to="linkUrl" class="pui-cell-inner">
        <div class="pui-cell-body">
          {{ label }}
        </div>
        <i class="pui-chevrone-line-right-ic" />
      </nuxt-link>
    </template>
    <template v-if="type === 'button'">
      <div class="pui-cell-inner" @click="$emit('click')">
        <div class="pui-cell-body">
          {{ label }}
        </div>
        <i class="pui-chevrone-line-right-ic" />
      </div>
    </template>
    <template v-if="type === 'default'">
      <div class="pui-cell-inner">
        <div class="pui-cell-body">
          {{ label }}
        </div>
        <div class="pui-cell-footer">
          <slot />
        </div>
      </div>
    </template>
  </div>
</template>
<script>
export default {
	name: 'PuiCell',
	props: {
		label: {
			type: String,
			default: null
		},
		type: {
			type: String,
			default: 'default'
		},
		linkUrl: {
			type: String,
			default: '/'
		}
	},
	inject: ['cells']
}
</script>
<style lang="scss">
.pui-cell{
	border-bottom: 1px solid $ice-blue;
	&:last-child{
		// border-radius: 0 0 6px 6px;
		border-bottom: 0 solid;
	}
	&.pui-cell--link,
	&.pui-cell--button{
		.pui-cell-inner{
			color: $charcoal-grey;
			.pui-cell-body{
				& + i{
					color: $cloudy-blue;
				}
			}
		}
		.pui-cell-body{
			& + i{
				font-size: 15px;
				width: 18px;
				height: 17px;
				overflow: hidden;
			}
		}
	}
	.pui-cell-inner{
		padding: 14px 12px;
		@include flex(row, flex-start, center);
		.pui-cell-body{
			flex-grow: 1;
			font-size: 14px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.43;
		}
		.pui-cell-footer{
			font-size: 14px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.43;
		}
	}
}
</style>
