<template>
  <div class="pui-cells">
    <slot />
  </div>
</template>
<script>
export default {
	name: 'PuiCells',
	provide() {
		return {
			'cells': this
		}
	},
	data() {
		return {}
	}
}
</script>
<style lang="scss">
.pui-cells{
	border-radius: 6px;
	background-color: $white;
	& + .pui-cells{
		margin-top: 16px;
	}
}
</style>
