<template>
  <div class="page__hotel-service-id">
    <div class="container">
      <div class="search-form-wrapper">
        <no-ssr>
          <SearchForm />
        </no-ssr>
      </div>
      <HotelServiceCards :services="hotelServiceSearchValues" />
    </div>
  </div>
</template>
<script>
import { mapState } from 'vuex'
import SearchForm from '@/components/Search/Form'
import HotelServiceCards from '@/components/Hotel/Service/Cards'
export default {
	components: {
		HotelServiceCards,
		SearchForm
	},
	computed: {
		...mapState('hotel', ['hotelServiceSearchValues'])
	},
	watch: {
		__currency(val) {
			const searchQuery = {
				query: {
					dest: this.$route.params.id
				},
				hotel: this.$route.params.hotel
			}
			this.$store.dispatch('hotel/HOTEL_SERVICE_SEARCH', searchQuery)
		}
	},
	async asyncData({ store, params }) {
		console.log('hello', params.hotel)
		if (!store.state.hotel.hotel.id) {
			await store.dispatch('hotel/GET_HOTEL_BY_SLUG', params.hotel)
		}
		const searchQuery = {
			query: {
				dest: params.id
			},
			hotel: params.hotel
		}
		await store.dispatch('hotel/HOTEL_SERVICE_SEARCH', searchQuery)
	}
}
</script>
