<template>
  <div class="page__hotel-search">
    <div class="container">
      <div class="search-form-wrapper">
        <no-ssr>
          <SearchForm />
        </no-ssr>
      </div>
      <HotelServiceCards :services="hotelServiceSearchValues" />
    </div>
  </div>
</template>
<script>
import { mapState } from 'vuex'
import HotelServiceCards from '@/components/Hotel/Service/Cards'
import SearchForm from '@/components/Search/Form'
export default {
	components: {
		SearchForm,
		HotelServiceCards
	},
	computed: {
		...mapState('hotel', ['hotelServiceSearchValues'])
	},
	watch: {
		__currency(val) {
			this.hotelServiceSearch()
		}
	},
	async asyncData({ store, query, params }) {
		console.log('HOTEL PARAMS', params.hotel)

		await store.dispatch('hotel/HOTEL_SERVICE_SEARCH', { query, hotel: params.hotel })
	},
	methods: {
		async hotelServiceSearch() {
			const params = { query: this.$route.query, hotel: this.$route.params.hotel }
			await this.$store.dispatch('hotel/HOTEL_SERVICE_SEARCH', params)
		}
	}
}
</script>
