<template>
  <div class="page__tours-operator">
    <div class="container">
      <div class="search-form-wrapper">
        <no-ssr>
          <vue-search-form />
        </no-ssr>
      </div>
      <h1 class="page-title">
        Туры оператора - {{ partnerTitle }}
      </h1>
      <pui-spacer />
      <el-row :gutter="24">
        <el-col :xs="24" :sm="24" :md="6" :lg="6">
          <vue-filter-layout />
        </el-col>
        <el-col :xs="24" :sm="24" :md="18" :lg="18">
          <p v-if="actualTours === 0" class="tips">
            {{ $LOCALE('ln_tours_operator_msg_no_tours') }}
          </p>
          <template v-else>
            <vue-tour-card-grid :tours="tours" />
            <pui-spacer />
            <vue-tour-load-more />
          </template>
        </el-col>
      </el-row>
    </div>
  </div>
</template>
<script>
import { mapState } from 'vuex'
import VueSearchForm from '@/components/Search/Form'
import VueTourLoadMore from '@/components/Tour/LoadMore'
import VueTourCardGrid from '@/components/Tour/CardGrid'
import VueFilterLayout from '@/components/Filter/Layout'
export default {
	components: {
		VueTourLoadMore,
		VueTourCardGrid,
		VueFilterLayout,
		VueSearchForm
	},
	data() {
		return {
			pagetitle: 'Туры оператора',
			pager: {}
		}
	},
	computed: {
		...mapState('search', ['tours', 'actualTours']),
		...mapState('partners', ['partnerTitle'])
	},
	watch: {
		__currency() {
			this.$store.dispatch('search/SEARCH', {
				page: 1,
				limit: this.$store.state.search.limit,
				partnerSlug: this.$route.params.slug,
				type: 'both'
			})
		}
	},
	async asyncData({ app, params, store }) {
		store.commit('search/SET_STATES', {
			partnerSlug: params.slug,
			directionSlug: null,
			type: 'both'
		})
		await store.dispatch('search/GET_ACTIVE_PARTNERS', {
			page: 1,
			limit: null,
			partnerSlug: store.state.search.partnerSlug,
			type: store.state.search.type
		})
		await store.dispatch('search/SEARCH', {
			page: 1,
			limit: store.state.search.limit,
			partnerSlug: params.slug,
			type: 'both'
		})
		await store.dispatch('partners/GET_PARTNER_BY_SLUG', params.slug)
	},
	// beforeDestroy() {
	// 	this.$store.commit('search/SET_STATES', {
	// 		partnerSlug: null
	// 	})
	// },
	beforeDestroy() {
		this.$store.commit('search/CLEAR')
	},
	head() {
		return {
			title: 'Туры оператора ' + this.partnerTitle,
			meta: [
				{ hid: 'description', name: 'description', content: 'Авторские туры и экскурсии в Израиль, Грузию, Россию без посредников.' }
			]
		}
	}
}
</script>
