<template>
  <div class="component__partners-stats-grid">
    <div v-for="(statCell, key) in statsBlock" :key="key" :class="'block-cell sbc-' + key">
      <span class="cell-title">{{ statCell.title }}</span>
      <span class="cell-text">{{ statCell.text }}</span>
    </div>
  </div>
</template>
<script>
export default {
	data() {
		return {
			statsBlock: {
				years: { title: '4', text: 'Года на рынке' },
				partners: { title: '500+', text: 'Партнеров' },
				hotels: { title: '100+', text: 'Отелей' },
				tourists: { title: '16 000', text: 'Довольных туристов' }
			}
		}
	}
}
</script>
<style lang="scss">
.component__partners-stats-grid {
  background-color: white;
  //padding: 0 15px;
  span {
    color: $charcoal-grey;
  }
}
//MOBILE FIRST
.component__partners-stats-grid {
  display: flex;
  flex-wrap: wrap;
  .block-cell {
    flex: 1 1 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; //обработка текста в две строки на оч маленьких разрешениях экрана
    padding: 12px 0;
    .cell-title {
      font-size: 24px;
      font-weight: bold;
      line-height: 1.25;
      padding-bottom: 4px;
    }
    .cell-text {
      font-size: 12px;
      font-weight: normal;
      line-height: 1.5;
    }
  }
  .sbc-years,
  .sbc-hotels {
    margin-right: 8px;
  }
  .sbc-partners,
  .sbc-tourists {
    margin-left: 8px;
  }
}
//DESKTOP
@media (min-width: $xs) {
  .component__partners-stats-grid {
    box-shadow: 0 10px 40px 0 rgba(28, 74, 115, 0.1);
    .block-cell {
      .cell-title {
        font-size: 40px;
        font-weight: bold;
        line-height: 1.2;
      }
      .cell-text {
        font-size: 16px;
        font-weight: 600;
        line-height: 1.38;
      }
    }
    .sbc-years,
    .sbc-hotels {
      margin-right: 0;
    }
    .sbc-partners,
    .sbc-tourists {
      margin-left: 0;
    }
    .sbc-years {
      border-right: 1px solid #EEF3F7;
      border-bottom: 1px solid #EEF3F7;
    }
    .sbc-partners {
      border-bottom: 1px solid #EEF3F7;
    }
    .sbc-hotels {
      border-right: 1px solid #EEF3F7;
    }
  }
}
</style>
