<template>
  <div class="component__partners-benefit">
    <div class="container">
      <span class="benefit-title">{{ $LOCALE('ln_partners_benefit_title') }}</span>
      <div class="cells-wrapper">
        <div v-for="(cell, key) in gridBlock" :key="key" class="cell" @click="openRegDialog(cell.id)">
          <div class="cell-img">
            <img :src="'/static-assets/images/partners/benefit/x2/'+cell.icon">
          </div>
          <div class="cell-content">
            <span class="cell-content-title">{{ $LOCALE(cell.title) }}</span>
            <span class="cell-content-text">{{ $LOCALE(cell.text) }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
	data() {
		return {
			gridBlock: {
				tourists: {
					id: 3,
					title: 'ln_benefit_tourist_title',
					text: 'ln_benefit_tourist_text',
					icon: 'summer-ic.png'
				},
				travel_agent: {
					id: 4,
					title: 'ln_benefit_travel_agent_title',
					text: 'ln_benefit_travel_agent_text',
					icon: 'badge-ic.png'
				},
				tour_provider: {
					id: 5,
					title: 'ln_benefit_tour_provider_title',
					text: 'ln_benefit_tour_provider_text',
					icon: 'offer-ic.png'
				},
				hotel_owner: {
					id: 6,
					title: 'ln_benefit_hotel_owner_title',
					text: 'ln_benefit_hotel_owner_text',
					icon: 'hotel-ic.png'
				}
			}
		}
	},
	methods: {
		openRegDialog(id) {
			this.$store.commit('regLogin/SET_ROLE', id)
			this.$store.commit('regLogin/SET_REG_DIALOG', true)
			this.$store.commit('regLogin/SET_TAB', 'VueForm')
		}
	}
}
</script>
<style lang="scss">
//MOBILE FIRST
.component__partners-benefit {
  background-color: white;
  span {
    color: $charcoal-grey;
    display: block;
  }
  .container {
    .benefit-title {
      font-size: 16px;
      font-weight: bold;
      line-height: 1.38;
      padding-bottom: 16px;
    }
    .cells-wrapper {
      .cell {
        border-radius: 5px;
        background-color: $pale-grey;
		cursor: pointer;
        padding: 20px 12px;
        margin-bottom: 16px;
        text-align: center;
        .cell-img {
          padding-bottom: 12px;
          img {
            width: 72px;
            height: 72px;
          }
        }
        .cell-content {
          text-align: left;
          .cell-content-title {
            font-size: 16px;
            font-weight: bold;
            line-height: 1.38;
            padding-bottom: 4px;
          }
          .cell-content-text {
            font-size: 14px;
            line-height: 1.43;
          }
        }
      }
    }
  }
}

//DESKTOP LARGE
@media (min-width: $md) {
  .component__partners-benefit {
    span {
    }
    .container {
      //padding: 0;
      .benefit-title {
        font-size: 24px;
        line-height: 1.25;
        padding-bottom: 30px;
      }
      .cells-wrapper {
        display: flex;
        flex-wrap: wrap;
        margin: -12px;
        .cell {
          //flex: 588px;
          padding: 24px 20px;
          flex: 45%;
          margin: 12px;
          display: flex;
          .cell-img {
            padding-right: 20px;
          }
          .cell-content {
            .cell-content-title {
              font-size: 20px;
              line-height: 1.2;
              padding-bottom: 8px;
            }
            .cell-content-text {
            }
          }
        }
      }
    }
  }
}
</style>
