<template>
  <div class="component__partners-grid-grid">
    <nuxt-link v-for="(partner, key) in partners" :key="key" :to="'/' + __language + '/tours/operator/' + partner.slug" class="grid__cell" :class="[shadowed?'shadowed':'']">
      <div class="cell-image" :style="'background-image: url(' + $SHOW_IMAGE(partner.logo) + ')'" />
      <div class="cell-content">
        <span class="partner-name">{{ partner.name || $LOCALE('ln_partner') + ' ' + (partner.id) }}</span>
        <div class="address-wrapper">
          <i class="pui-location-ic" />
          <span class="partner-address">{{ partner.address || 'Address' }}</span>
        </div>
      </div>
    </nuxt-link>
  </div>
</template>
<script>
export default {
	props: {
		partners: {
			type: Array,
			default() {
				return []
			}
		},
		shadowed: {
			type: Boolean,
			default() {
				return false
			}
		},
		context: {
			type: Object,
			default() {
				return { from: 'index' }
			}
		}
	},
	data() {
		return {}
	},
	computed: {

	}
}
</script>
<style lang="scss">
.component__partners-grid-grid{
	@include flex(row, space-between, center);
	flex-wrap: wrap;
	.grid__cell{
		width: calc(100% / 3 - 16px);
		display: block;
		margin-right: 24px;
		background-color: $white;
		margin-bottom: 24px;
		padding: 19px 16px;
		border-radius: 6px;
		@include flex(row, flex-start, center);
		@media(max-width: $md){
			width: calc(50% - 12px);
			margin-right: 0;
		}
		@media(max-width: $xs){
			width: 100%;
		}
		&.shadowed{
			box-shadow: 0 1px 8px 0 rgba(28, 74, 115, 0.12);
		}
		&:nth-child(2n){
			@media(max-width: $md){
				margin-left: 24px;
			}
			@media(max-width: $xs){
				margin-left: 0;
			}
		}
		&:nth-child(3n){
			margin-right: 0;
		}
		.cell-image{
			width: 100%;
			max-width: 78px;
			height: 44px;
			margin-right: 20px;
			background-size: auto;
			background-repeat: no-repeat;
			background-position: center;
		}
		.cell-content{
			width: calc(100% - 78px - 20px);
			.partner-name{
				white-space: nowrap;
				width: 100%;
				text-overflow: ellipsis;
				overflow: hidden;
				display: inline-block;
				font-size: 16px;
				font-weight: bold;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.38;
				letter-spacing: normal;
				color: $charcoal-grey;
			}
			.address-wrapper{
				@include flex(row, flex-start, center);
				flex-wrap: nowrap;
				i{
					color: $grey-blue;
					margin-right: 9px;
				}
				.partner-address{
					font-size: 14px;
					font-weight: 600;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.43;
					letter-spacing: normal;
					color: $grey-blue;
					width: 100%;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
			}
		}
	}
}
</style>
