<template>
  <div class="component__partners-grid">
    <div class="container">
      <div class="partners-title-wrapper">
        <span class="partners-title">{{ $LOCALE('ln_partners_collaboration') }}</span>
        <nuxt-link to="/partners/operators" class="partners-title-link">
          {{ $LOCALE('ln_partners_collaboration_subtitle') }} ({{ $FIXED_NUM(partnersPager.total) }}+)
        </nuxt-link>
      </div>
      <vue-partners-grid-grid class="grid-grid" :partners="partners" :context="context" shadowed />
      <div class="button-wrapper">
        <pui-button fluid type="white" size="medium" shadow @click="$GO_TO('/partners/operators')">
          {{ $LOCALE('ln_show_all_partners') }}
        </pui-button>
      </div>
    </div>
  </div>
</template>
<script>
import { mapState } from 'vuex'
import VuePartnersGridGrid from '@/components/Partners/GridGrid'
export default {
	components: {
		VuePartnersGridGrid
	},
	props: {
		partners: {
			type: Array,
			default() {
				return []
			}
		},
		context: {
			type: Object,
			default() {
				return { from: 'index' }
			}
		}
	},
	data() {
		return {

		}
	},
	computed: {
		...mapState('partners', ['partnersPager'])
	}
}
</script>
<style lang="scss">
//320
.component__partners-grid {
  span {
    display: block;
  }

  .container {
    .partners-title-wrapper {
      padding-bottom: 20px;
      .partners-title {
        font-size: 16px;
        font-weight: bold;
        line-height: 1.38;
        padding-bottom: 12px;
      }
      .partners-title-link {
        font-size: 14px;
        font-weight: 600;
        line-height: 1.43;
        color: $primary-blue;
      }
    }
    .show-partners {
      font-size: 14px;
      font-weight: 600;
      line-height: 1.43;
      color: $primary-blue;
      padding: 16px 0;
      text-align: center;
      box-shadow: 0 1px 8px 0 rgba(28, 74, 115, 0.12);
      margin-bottom: 20px;
      border-radius: 6px;
    }
	.button-wrapper{
		width: 100%;
		@media (min-width: $xxs + 1) {
			display: none;
		}
	}
  }
}
  @media (min-width: $xs) {
  .component__partners-grid {
    span {
    }
    .container {
      .partners-title-wrapper {
        display: flex;
        @media (max-width: $md) {
          display: block;
        }
        align-items: baseline;
        padding-bottom: 44px;
        .partners-title {
          @media (max-width: $md) {
            padding-bottom: 12px;
          }
          font-size: 24px;
          font-weight: bold;
          line-height: 1.25;
          padding: 0 32px 0 0;
        }
        .partners-title-link {
          font-size: 14px;
          font-weight: 600;
          line-height: 1.43;
        }
      }
      /* .cells-wrapper {
        display: flex;
        flex-wrap: wrap;
        .cell.partner-8,
        .cell.partner-7,
        .cell.partner-6 {
          display: flex;
        }
        @media (max-width: $md) {
          .cell:nth-child(2n + 1) {
            margin-right: 12px;
          }
        }
        @media (min-width: $md) {
          .cell:nth-child(3n + 1) {
            margin-right: 24px;
          }
          .cell:nth-child(3n + 2) {
            margin-right: 24px;
          }
        }
        .cell {
          flex: 45%;
          @media (min-width: $md) {
            flex: 30%;
          }
          img {
          }
          .cell-content {
            .partner-name {
            }
            .address-wrapper {
              .pui-location-ic {
              }
              .partner-address {
              }
            }
          }
        }
      } */
      .show-partners {
        display: none;
      }
    }
  }
}
</style>
