<template>
  <div class="component__partners-hotels">
    <div class="container">
      <div class="hotels-title-wrapper">
        <span class="hotels-title">{{ $LOCALE('ln_partners_hotels_title') }}</span>
        <nuxt-link to="/partners/hotels" class="hotels-title-link">
          {{ $LOCALE('ln_show_all_hotels') }} ({{ $FIXED_NUM(hotelsPager.total) }}+)
        </nuxt-link>
      </div>
      <vue-partners-hotels-grid class="hotels-grid" :hotels="hotels" :context="context" />
      <div class="button-wrapper">
        <pui-button fluid type="white" size="medium" @click="$GO_TO('/partners/hotels')">
          {{ $LOCALE('ln_show_all_hotels') }}
        </pui-button>
      </div>
    </div>
  </div>
</template>
<script>
import { mapState } from 'vuex'
import VuePartnersHotelsGrid from '@/components/Partners/HotelsGrid'
export default {
	components: {
		VuePartnersHotelsGrid
	},
	props: {
		hotels: {
			type: Array,
			default() {
				return []
			}
		},
		context: {
			type: Object,
			default() {
				return { from: 'index' }
			}
		}
	},
	data() {
		return {

		}
	},
	computed: {
		...mapState('partners', ['hotelsPager'])
	}
}
</script>
<style lang="scss">
.component__partners-hotels {
	background-color: $soft-grey;
	.container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		.hotels-title-wrapper {
			padding: 20px 5px;
			width: 100%;
			padding-bottom: 44px;
			@include flex(row, flex-start, center);
			@media(max-width: $xs){
				padding-bottom: 20px;
				@include flex(column, flex-start, flex-start);
			}
			.hotels-title {
				font-size: 24px;
				font-weight: bold;
				line-height: 1.25;
				padding: 0 32px 0 0;
				display: block;
				@media(max-width: $xs){
					font-size: 16px;
					font-weight: bold;
					line-height: 1.38;
					padding-bottom: 12px;
				}
			}
			.hotels-title-link {
				font-size: 14px;
				font-weight: 600;
				line-height: 1;
				margin-top:4px;
				color: $primary-blue;
			}
		}
		.hotels-grid {
		}
		.button-wrapper {
			width: 100%;
			@media (min-width: $xxs + 1) {
				display: none;
			}
		}
	}
}
// //575 $xs
// @media (min-width: $xs) {
//   .component__partners-hotels {
//     .container {
//       .hotels-title-wrapper {
//         display: flex;
//         align-items: baseline;
//         padding-bottom: 44px;
//         .hotels-title {
// 			font-size: 24px;
// 			font-weight: bold;
// 			line-height: 1.25;
// 			padding: 0 32px 0 0;
//         }
//         .hotels-title-link {
//           font-size: 14px;
//           font-weight: 600;
//           line-height: 1.43;
//         }
//       }
//       .hotels-grid {
//       }
//       .button-wrapper {
//       }
//       .stats-pui-button {
//       }
//     }
//   }
// }
</style>
