<template>
  <div class="component__partners-hotels-grid">
    <div
      v-for="(hotel, key) in hotels"
      :key="key"
      class="grid-cell"
    >
      <div class="grid-cell__image" :style="'background-image: url(' + showImage(hotel.image) + ')'" />
      <div class="grid-cell__content">
        <div class="grid-cell__name" :title="hotel.name">
          {{ hotel.name || $LOCALE('ln_hotel') + ' ' + (hotel.id) }}
        </div>
        <div class="grid-cell__info">
          <div class="grid-cell__address">
            <i class="pui-location-ic" />
            <span>{{ hotel.address || 'Address' }}</span>
          </div>
          <div class="grid-cell__stars">
            <i class="pui-star-ic" />
            <span class="hotel-stars">{{ hotel.stars || 5 }}</span>
          </div>
        </div>
        <div class="grid-cell__room-numbers">
          <span class="title">{{ $LOCALE('ln_room_numbers') }}</span>
          <span class="numbers">{{ hotel.numbers || $RANDOM_INT(20, 150) }}</span>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
	props: {
		hotels: {
			type: Array,
			default() {
				return []
			}
		},
		context: {
			type: Object,
			default() {
				return { from: 'index' }
			}
		}
	},
	data() {
		return {

		}
	},
	methods: {
		showImage(url) {
			if (url) {
				return url
			} else {
				const random = (5 - Math.random() * 5).toFixed(0)
				return '/static-assets/images/partners/hotels/' + random + '.jpg'
			}
		}
	}
}
</script>
<style lang="scss">
	.component__partners-hotels-grid{
		width: 100%;
		@include flex(row, flex-start, center);
		flex-wrap: wrap;
		.grid-cell{
			background-color: $white;
			margin-right: 24px;
			margin-bottom: 24px;
			overflow: hidden;
			border-radius: 6px;
			width: calc(50%  - 12px);
			@include flex(row, flex-start, center);
			@media(max-width: $md){
				width: 100%;
				margin-right: 0;
				margin-bottom: 24px;
			}
			@media(max-width: $xs){
				@include flex(column, flex-start, flex-start);
			}
			&:nth-child(even){
				margin-right: 0;
			}
			.grid-cell__image{
				width: 164px;
				height: 162px;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				@media(max-width: $xs){
					height: 160px;
					width: 100%;
				}
			}
			.grid-cell__content{
				padding: 24px;
				width: calc(100% - 164px);
				@media(max-width: $xs){
					padding: 20px 12px 44px;
					width: 100%;
				}
				.grid-cell__name{
					font-size: 20px;
					font-weight: bold;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.2;
					letter-spacing: normal;
					color: $charcoal-grey;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					width: 100%;
				}
				.grid-cell__info{
					@include flex(row, flex-start, center);
					margin: 12px 0;
					span{
						font-size: 14px;
						font-weight: 600;
						font-style: normal;
						font-stretch: normal;
						line-height: 1.43;
						letter-spacing: normal;
						color: $grey-blue;
					}
					.grid-cell__address{
						@include flex(row, flex-start, center);
						margin-right: 12px;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
						display: inline-block;
						i{
							font-size: 11px;
							color: $grey-blue;
							margin-right: 9px;
						}
					}
					.grid-cell__stars{
						@include flex(row, flex-start, center);
						i{
							color: $primary-sand;
							margin-right: 9px;
							font-size: 11px;
						}
					}
				}
				.grid-cell__room-numbers{
					@include flex(column, flex-start, flex-start);
					.title{
						margin-bottom: 4px;
						font-size: 14px;
						font-weight: normal;
						line-height: 1.43;
						color: $grey-blue;
					}
					.numbers{
						font-size: 16px;
						font-weight: 600;
						line-height: 1.38;
						letter-spacing: normal;
						color: $charcoal-grey;
					}
				}
			}
		}
	}
</style>
