<template>
  <div class="component__partners-grid">
    <div class="container">
      <div class="partners-title-wrapper">
        <span class="partners-title">{{ title }}</span>
        <span class="partners-title-link">{{ titleLink.text }}</span>
      </div>
      <div class="cells-wrapper">
        <div v-for="(partner, key) in partners" :key="key" :class="'cell partner-' + key">
          <img :src="partner.image" class="cell-img">
          <div class="cell-content">
            <span class="partner-name">{{ partner.name }}</span>
            <div class="address-wrapper">
              <i class="pui-location-ic" />
              <span class="partner-address">{{ partner.address }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="show-partners">
        {{ showText }}
      </div>
    </div>
  </div>
</template>
<script>
export default {
	props: {
		partners: {
			type: Array,
			default() {
				return []
			}
		}
	},
	data() {
		return {
			title: 'Сотрудничество с партнерами',
			titleLink: { text: 'Показать всех партнеров (740+)' },
			showText: 'Показать всех партнеров'
		}
	},
	mounted() {}
}
</script>
<style lang="scss">
//320
.component__partners-grid {
  span {
    display: block;
  }

  .container {
    .partners-title-wrapper {
      padding-bottom: 20px;
      .partners-title {
        font-size: 16px;
        font-weight: bold;
        line-height: 1.38;
        padding-bottom: 12px;
      }
      .partners-title-link {
        font-size: 14px;
        font-weight: 600;
        line-height: 1.43;
        color: $primary-blue;
      }
    }
    .cells-wrapper {
      .cell.partner-8,
      .cell.partner-7,
      .cell.partner-6 {
        display: none;
      }
      .cell {
        padding: 16px 12px;
        display: flex;
        align-items: center;
        box-shadow: 0 1px 8px 0 rgba(28, 74, 115, 0.12);
        background-color: white;
        margin-bottom: 20px;
        border-radius: 6px;
        img {
          flex: 0 0 52px;
          max-height: 29px;
        }
        .cell-content {
          padding: 0 12px;
          .partner-name {
            font-size: 16px;
            font-weight: bold;
            line-height: 1.38;
            padding-bottom: 8px;
          }
          .address-wrapper {
            display: flex;
            align-items: baseline;
            .pui-location-ic {
              font-size: 12px;
              line-height: 12px;
              color: $grey-blue;
              padding-right: 7px;
            }
            .partner-address {
              font-size: 14px;
              font-weight: 600;
              line-height: 1.43;
              color: $grey-blue;
            }
          }
        }
      }
    }
    .show-partners {
      font-size: 14px;
      font-weight: 600;
      line-height: 1.43;
      color: $primary-blue;
      padding: 16px 0;
      text-align: center;
      box-shadow: 0 1px 8px 0 rgba(28, 74, 115, 0.12);
      margin-bottom: 20px;
      border-radius: 6px;
    }
  }
}

//
//@media (min-width: $xxs + 1px) {
  @media (min-width: $xs) {
  .component__partners-grid {
    span {
    }
    .container {
      .partners-title-wrapper {
        display: flex;
        @media (max-width: $md) {
          display: block;
        }
        align-items: baseline;
        padding-bottom: 44px;
        .partners-title {
          @media (max-width: $md) {
            padding-bottom: 12px;
          }
          /* @media (max-width: $xs) {
            font-size: 16px;
            font-weight: bold;
            line-height: 1.38;
          } */
          font-size: 24px;
          font-weight: bold;
          line-height: 1.25;
          padding: 0 32px 0 0;
        }
        .partners-title-link {
          font-size: 14px;
          font-weight: 600;
          line-height: 1.43;
        }
      }
      .cells-wrapper {
        display: flex;
        flex-wrap: wrap;
        .cell.partner-8,
        .cell.partner-7,
        .cell.partner-6 {
          display: flex;
        }
        @media (max-width: $md) {
          .cell:nth-child(2n + 1) {
            margin-right: 12px;
          }
        }
        @media (min-width: $md) {
          .cell:nth-child(3n + 1) {
            margin-right: 24px;
          }
          .cell:nth-child(3n + 2) {
            margin-right: 24px;
          }
        }
        .cell {
          flex: 45%;
          @media (min-width: $md) {
            flex: 30%;
          }
          img {
          }
          .cell-content {
            .partner-name {
            }
            .address-wrapper {
              .pui-location-ic {
              }
              .partner-address {
              }
            }
          }
        }
      }
      .show-partners {
        display: none;
      }
    }
  }
}
</style>
