<template>
  <div class="component__partners-resume">
    <div class="icon-wrapper">
      <div class="icon" />
    </div>
    <div class="text-wrapper">
      <h2 class="title">
        {{ title }}
      </h2>
      <p class="description">
        {{ description }}
      </p>
    </div>
    <div class="button">
      <pui-button
        type="blue"
        icon="pui-arrow-right-ic"
        :size="$ua.isFromSmartphone()?'small':'medium'"
        :fluid="$ua.isFromSmartphone()"
      >
        {{ buttonText }}
      </pui-button>
    </div>
  </div>
</template>
<script>
export default {
	data() {
		return {
			title: 'Резюмирование преимуществ партнерства',
			description:
        'Наилучшее соотношение цены и качества достигается за счет: включения популярных экскурсий, продумана логистика, подобраны.',
			buttonText: 'Стать партнером'
		}
	}
}
</script>
<style lang="scss">
//1440
.component__partners-resume {
  background-color: $white;
  display: flex;
  align-items: center;
  font-stretch: normal;
  letter-spacing: normal;
  color: $charcoal-grey;
  padding: 52px 77px;
  border-radius: 5px;
  box-shadow: 0 2px 40px 0 rgba(28, 74, 115, 0.23);
  .icon-wrapper {
    height: 120px;
    width: 120px;
    background-color: $pale-grey;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 120px;
    .icon {
      height: 56px;
      width: 56px;
      background: url(/static-assets/images/partners/resume/resume-desktop-ico-280.png) 100%
        100% no-repeat;
      background-size: cover;
    }
  }
  .text-wrapper {
    padding-left: 60px;
    flex: 0 0 469px;
    .title {
      font-size: 20px;
      font-weight: bold;
      line-height: 1.2;
      padding-bottom: 8px;
    }
    .description {
      font-size: 14px;
      font-weight: normal;
      line-height: 1.43;
    }
  }
  .button {
    margin-left: auto;

  }
}

@media (max-width: $lg) {
  .component__partners-resume {
    padding: 44px 77px;
    display: block;
    .icon-wrapper {
      margin: 0 auto 20px;
    }
    .text-wrapper {
      padding: 0 0 20px 0;
    }
    .button {
      display: flex;
      justify-content: center;
    }
  }
}
//320 -- $xs: 575px

@media (max-width: $xs) {
  // @media (max-width: $lg) {
  .component__partners-resume {
    //display: block;
    padding: 20px 12px;
    .icon-wrapper {
      height: 92px;
      width: 92px;
      background-color: $white;
      margin: 0 auto;
      padding-bottom: 20px;
      .icon {
        height: 92px;
        width: 92px;
        background: url(/static-assets/images/partners/resume/offer-ic-120.png) 100% 100%
          no-repeat;
        background-size: cover;
      }
    }
    .text-wrapper {
      padding: 0;
      .title {
        font-size: 16px;
        font-weight: bold;
        line-height: 1.38;
        padding-bottom: 6px;
      }
      .description {
        font-size: 14px;
        font-weight: normal;
        line-height: 1.43;
        padding-bottom: 24px;
      }
    }
    .button {
      //display: flex;
      //justify-content: center;
    }
  }
}
</style>
