<template>
  <div class="component__partners-stats-grid">
    <div v-for="(statCell, key) in statsBlock" :key="key" :class="'block-cell sbc-' + key">
      <span class="cell-title">{{ statCell.title }}</span>
      <span class="cell-text">{{ statCell.text }}</span>
    </div>
  </div>
</template>
<script>
export default {
	data() {
		return {
			statsBlock: {
				years: { title: '4', text: this.$LOCALE('ln_partners_stats_years_on_market') },
				partners: { title: '500+', text: this.$LOCALE('ln_partners_stats_partners') },
				hotels: { title: '100+', text: this.$LOCALE('ln_partners_stats_hotels') },
				tourists: { title: '16 000', text: this.$LOCALE('ln_partners_stats_satisfied_tourists') }
			}
		}
	}
}
</script>
<style lang="scss">
.component__partners-stats-grid {
	box-shadow: 0 10px 40px 0 rgba(28, 74, 115, 0.1);
	background-color: $white;
	@include flex(row, flex-start, flex-start);
	flex-wrap: wrap;
	@media(max-width: $xs){
		box-shadow: 0 0 0 transparent;
	}
	.block-cell {
		width: 50%;
		height: 50%;
		padding: 12px 0;
		@include flex(column, center, center);
		@media(max-width: $xs){
			border: 0 solid !important;
		}
		&.sbc-years,
		&.sbc-hotels {
			margin-right: 0;
		}
		&.sbc-partners,
		&.sbc-tourists {
			margin-left: 0;
		}
		&.sbc-years {
			border-right: 1px solid #EEF3F7;
			border-bottom: 1px solid #EEF3F7;
		}
		&.sbc-partners {
			border-bottom: 1px solid #EEF3F7;
		}
		&.sbc-hotels {
			border-right: 1px solid #EEF3F7;
		}
		.cell-title {
			font-size: 40px;
			font-weight: bold;
			line-height: 1.2;
			margin-bottom: 4px;
			@media(max-width: $xs){
				font-size: 30px;
				font-weight: 600;
			}
			@media(max-width: $xxs){
				font-size: 24px;
				font-weight: bold;
			}
		}
		.cell-text {
			font-size: 16px;
			font-weight: 600;
			line-height: 1.38;
			text-align: center;
			@media(max-width: $xs){
				font-size: 14px;
				font-weight: normal;
			}
			@media(max-width: $xxs){
				font-size: 12px;
				font-weight: normal;
			}
		}
	}
}

// .component__partners-stats-grid {
//   display: flex;
//   flex-wrap: wrap;
//   .block-cell {
//     width: 50%;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     text-align: center; //обработка текста в две строки на оч маленьких разрешениях экрана
//     padding: 12px 0;
//     .cell-title {
//       font-size: 24px;
//       font-weight: bold;
//       line-height: 1.25;
//       padding-bottom: 4px;
//     }
//     .cell-text {
//       font-size: 12px;
//       font-weight: normal;
//       line-height: 1.5;
//     }
//   }
//   .sbc-years,
//   .sbc-hotels {
//     margin-right: 8px;
//   }
//   .sbc-partners,
//   .sbc-tourists {
//     margin-left: 8px;
//   }
// }
//DESKTOP
@media (max-width: $xs) {

}
</style>
