<template>
  <div class="component__partners-stats">
    <div class="container">
      <div class="main">
        <div class="stats-title text-h3 left-element">
          {{ $LOCALE('ln_partners_stats_title') }}
        </div>
        <div class="stats-description left-element">
          {{ $LOCALE('ln_partners_stats_text') }}
        </div>
        <div class="stats-button left-element">
          <pui-button
            type="blue"
            icon="pui-arrow-right-ic"
            :size="$ua.isFromSmartphone()?'small':'medium'"
            :fluid="$ua.isFromSmartphone()"
            @click="openRegDialog()"
          >
            {{ $LOCALE('ln_partners_stats_button') }}
          </pui-button>
        </div>
        <vue-partners-stats-grid class="stats-grid right-element" />
      </div>
    </div>
  </div>
</template>
<script>
import VuePartnersStatsGrid from '@/components/Partners/StatsGrid'
export default {
	components: {
		VuePartnersStatsGrid
	},
	data() {
		return {

		}
	},
	computed: {

	},
	methods: {
		openRegDialog() {
			this.$store.commit('regLogin/SET_ROLE', null)
			this.$store.commit('regLogin/SET_TAB', 'VueTypes')
			this.$store.commit('regLogin/SET_REG_DIALOG', true)
		}
	}
}
</script>
<style lang="scss">
.component__partners-stats {
  background-color: white;
  span {
    display: block;
  }
}
//MOBILE FIRST
.component__partners-stats {
	.container {
		.main {
			display: flex;
			flex-flow: column wrap;
			max-height: 274px;
			width: 100%;
			@media(max-width: $lg){
				max-height: 294px;
			}
			@media(max-width: $md){
				flex-flow: column;
				max-height: 100%;
			}
			.left-element{
				width: 50%;
				@media(max-width: $md){
					width: 100%;
				}
			}
			.right-element{
				width: calc(50% - 126px);
				margin-left: 126px;
				height: 274px;
				@media(max-width: $lg){
					height: 294px;
					width: calc(50% - 40px);
					margin-left: 40px;
				}
				@media(max-width: $md){
					width: 100%;
					margin-left: 0;
					margin-top: 10px;
				}
				@media(max-width: $xs){
					height: auto;
				}
			}
			.stats-title {
				padding-bottom: 12px;
				@media(max-width: $xs){
					font-size: 16px;
				}
			}
			.stats-description {
				font-size: 14px;
				line-height: 1.43;
				padding-bottom: 20px;
				// order: 2;
			}
			.stats-grid{
				order: 4;
				@media(max-width: $md){
					order: 1;
				}
			}
			.stats-button {
				@media(max-width: $md){
					order: 2;
					margin-top: 40px;
					@include flex(row, center, center);
				}
			}
		}
	}
}
.masonry {
  display: flex;
  flex-flow: column wrap;
  max-height: 800px;
  margin-left: -8px; /* Adjustment for the gutter */
  width: 100%;
}

.masonry-brick {
  margin: 0 8px 8px 0; /* Some gutter */
}
</style>
