<template>
  <div class="page__tours-destination">
    <div class="container">
      <div class="search-form-wrapper">
        <no-ssr>
          <vue-search-form />
        </no-ssr>
      </div>
      <h1 class="page-title">
        {{ $LOCALE('ln_tours_by_direction') }} {{ pagetitle }}
      </h1>
      <el-row :gutter="24">
        <el-col :xs="24" :sm="24" :md="6" :lg="6">
          <vue-filter-layout @change-filters="getTours()" />
        </el-col>
        <el-col :xs="24" :sm="24" :md="18" :lg="18">
          <vue-tour-card-grid :tours="tours" />
          <pui-spacer />
          <vue-tour-load-more />
        </el-col>
      </el-row>
    </div>
  </div>
</template>
<script>
import { mapState } from 'vuex'
import VueTourLoadMore from '@/components/Tour/LoadMore'
import VueTourCardGrid from '@/components/Tour/CardGrid'
import VueFilterLayout from '@/components/Filter/Layout'
import VueSearchForm from '@/components/Search/Form'
export default {
	components: {
		VueTourLoadMore,
		VueTourCardGrid,
		VueFilterLayout,
		VueSearchForm
	},
	computed: {
		...mapState('search', ['tours', 'pager', 'pagetitle', 'limit', 'directionSlug', 'tags']),
		...mapState(['currency'])
	},
	watch: {
		currency(val) {
			this.getTours()
		}
	},
	async asyncData({ app, store, params }) {
		await store.commit('search/SET_STATES', {
			directionSlug: params.slug,
			partnerSlug: null,
			type: 'both'
		})
		await store.dispatch('search/GET_DIRECTION_NAME', params.slug)
		await store.dispatch('search/GET_ACTIVE_PARTNERS', {
			page: 1,
			limit: null,
			directionSlug: params.slug,
			type: store.state.search.type,
			tags: store.state.search.tags
		})
		let partners = null
		try { partners = store.state.search.filterPartners.join(',') } catch (err) { console.log(err) }
		await store.dispatch('search/SEARCH', {
			page: 1,
			limit: store.state.search.limit,
			type: store.state.search.type,
			partners: partners,
			directionSlug: params.slug,
			tags: store.state.search.tags
		})
	},
	// beforeDestroy() {
	// 	this.$store.commit('search/SET_STATES', {
	// 		directionSlug: null
	// 	})
	// },
	beforeDestroy() {
		this.$store.commit('search/CLEAR')
	},
	methods: {
		async getTours() {
			await this.$store.commit('loading/SET_LOADING', true)
			let partners = null
			try { partners = this.$store.state.search.filterPartners.join(',') } catch (err) { console.log(err) }
			await this.$store.dispatch('search/SEARCH', {
				page: 1,
				limit: this.pager.page * this.limit,
				type: 'both',
				partners: partners,
				directionSlug: this.directionSlug,
				tags: this.tags
			})
			await this.$store.commit('loading/SET_LOADING', false)
		}
	},
	head() {
		return {
			title: this.pagetitle,
			meta: [
				{ hid: 'description', name: 'description', content: 'Авторские туры и экскурсии в Израиль, Грузию, Россию без посредников.' }
			]
		}
	}
}
</script>
<style lang="scss">
.page__tours-destination{
	.page-title{
		margin-bottom: 40px;
	}
}
</style>
