<template>
  <div v-loading="$store.state.regLogin.formLoading" class="component__registration-confirm-sms">
    <div class="confirm-sms-text">
      {{ $LOCALE('ln_sms_code_text') }} <em>{{ form.phone }}</em>
    </div>
    <pui-sms-code ref="smsCode" v-model="form.code" autofocus @complete="register()" />
    <div class="resend-code-button">
      <pui-button auto type="link" :disabled="senderDisabled" @click="resendCode()">
        {{ $LOCALE('ln_resend_code') }} <span v-if="senderDisabled">{{ $LOCALE('ln_after') }} {{ timer }} {{ $LOCALE('ln_sec') }}</span>
      </pui-button>
    </div>
    <div class="complete-sign-up-button">
      <pui-button type="blue" fluid :size="$ua.isFromSmartphone()?'small':'medium'" :disabled="disabledButton" @click="register()">
        {{ $LOCALE('ln_complete_sign_up') }}
      </pui-button>
    </div>
  </div>
</template>
<script>
export default {
	data() {
		return {
			senderDisabled: false,
			timer: 60
		}
	},
	computed: {
		disabledButton() {
			let length = 0
			if (this.form.code) {
				length = this.form.code.toString().length
			}
			return length !== 4
		},
		form: {
			get() {
				return this.$store.state.regLogin.form
			},
			set(val) {
				this.$store.commit('regLogin/SET_FORM', val)
			}
		}
	},
	watch: {
		senderDisabled(val) {
			if (val) {
				this.startTimer()
			}
		}
	},
	created() {
		this.senderDisabled = true
	},
	methods: {
		startTimer() {
			const timer = setInterval(() => {
				this.timer = this.timer - 1
				if (this.timer === 0) {
					clearInterval(timer)
					this.timer = 60
					this.senderDisabled = false
				}
			}, 1000)
			// if (this.timer !== 0) {
			// 	this.timer = this.timer--
			// 	setInterval(() => {
			// 		this.startTimer()
			// 	}, 1000)
			// } else {
			// 	this.senderDisabled = false
			// 	clearInterval()
			// }
		},
		async resendCode() {
			const res = await this.$store.dispatch('regLogin/SEND_SMS')
			if (res.status) {
				this.$notify.success({
					title: this.$LOCALE('ln_success'),
					message: this.$LOCALE('ln_code_was_send')
				})
				this.senderDisabled = true
			} else {
				this.$notify.error({
					title: this.$LOCALE('ln_error'),
					message: this.$LOCALE('ln_phone_number_not_supported')
				})
			}
		},
		async register() {
			const res = await this.$store.dispatch('regLogin/REGISTER')
			if (res.status) {
				this.$store.commit('SET_STATES', { user: res.user })
				this.$refs.smsCode.clear()
				this.$emit('complete-registration')
			} else {
				this.$notify.error({
					title: this.$LOCALE('ln_error'),
					message: this.$LOCALE('ln_code_incorrect_message')
				})
				this.$refs.smsCode.clear()
			}
		}
		// timeCounter(){
		// 	let timer = () => {

		// 	}
		// }
	}
}
</script>
<style lang="scss">
.component__registration-confirm-sms{
	.confirm-sms-text{
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.43;
		letter-spacing: normal;
		margin-bottom: 28px;
		em{
			font-weight: bold;
		}
	}
	.resend-code-button{
		padding: 20px 0;
		@include flex(row, center, center);
	}
	.complete-sign-up-button{
		padding-top: 8px;
	}
}
</style>
