<template>
  <div v-loading="$store.state.regLogin.formLoading" class="component__registration-form">
    <el-form ref="form" :model="form" :rules="formRules" :status-icon="true">
      <el-form-item v-if="form.role !== 3" prop="company">
        <pui-input
          v-model="form.company"
          type="text"
          :label="$LOCALE('ln_company_name')"
          name="company"
          popover
          :popover-title="$LOCALE('ln_company_name')"
          popover-text="Если вы физическое лицо, введите название бренда или своё имя. Это необходимо для индексации в Интернете."
          :size="$ua.isFromSmartphone()?'small':'large'"
        />
      </el-form-item>
      <el-form-item prop="name">
        <pui-input
          v-model="form.name"
          type="text"
          :label="$LOCALE('ln_name')"
          name="name"
          :size="$ua.isFromSmartphone()?'small':'large'"
        />
      </el-form-item>
      <el-form-item prop="family">
        <pui-input
          v-model="form.family"
          type="text"
          :label="$LOCALE('ln_family_name')"
          name="family"
          :size="$ua.isFromSmartphone()?'small':'large'"
          @input="validate"
        />
      </el-form-item>
      <el-form-item prop="email">
        <pui-input
          v-model="form.email"
          type="email"
          label="Email"
          name="email"
          :size="$ua.isFromSmartphone()?'small':'large'"
        />
      </el-form-item>
      <el-form-item prop="phone">
        <pui-input
          v-model="form.phone"
          type="tel"
          name="phone"
          autocomplete="yes"
          popover
          :popover-title="$LOCALE('ln_your_phone_number')"
          popover-text="Нам требуется ваш номер телефона для экстренной связи с вами и важных уведомлений от сервиса Palmarius."
          :mask="{
            mask: __phone_mask,
            showMaskOnHover: false
          }"
          :label="$LOCALE('ln_your_phone_number')"
          :size="$ua.isFromSmartphone()?'small':'large'"
        />
      </el-form-item>
      <el-form-item prop="password">
        <pui-input
          v-model="form.password"
          type="password"
          :label="$LOCALE('ln_password')"
          name="password"
          :size="$ua.isFromSmartphone()?'small':'large'"
          @input="validate"
        />
      </el-form-item>
      <vue-pwd-strength v-if="form.password" :password="form.password" @pwd-strength="onPwdStrength($event)" />
    </el-form>
    <p class="form-tips">
      {{ $LOCALE('ln_reg_desc_1') }} <em @click="goTo('/')">{{ $LOCALE('ln_terms_of_use_1') }}</em>.
    </p>
    <no-ssr>
      <pui-button fluid type="blue" :size="$ua.isFromSmartphone()?'small':'medium'" @click="handleSubmit()">
        <!-- {{ $LOCALE('ln_sign_up_button') }} -->
        Зарегистрироваться
      </pui-button>
    </no-ssr>
  </div>
</template>
<script>
import VuePwdStrength from './PwdStrength'
export default {
	components: {
		VuePwdStrength
	},
	props: {
		// value: {
		// 	type: Object,
		// 	default: null
		// },
		formData: {
			type: Object,
			default() {
				return {
					name: null,
					family: null,
					password: null,
					email: null,
					phone: null,
					role: null,
					code: null
				}
			}
		}
	},
	data() {
		const validEmail = (rules, value, callback) => {
			const regex = /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,100})+$/
			if (value) {
				if (regex.test(value)) {
					this.$axios.$post('/api/v1.0/lk/emailtest', {
						email: value
					}).then((res) => {
						if (res.status === 0) {
							callback()
						} else if (res.status === 1) {
							callback(new Error(this.$LOCALE('ln_email_busy')))
						} else {
							callback(new Error(this.$LOCALE('ln_enter_correct_email')))
						}
					}).catch((e) => { console.log(e) })
				} else {
					callback(new Error(this.$LOCALE('ln_enter_correct_email')))
				}
			} else {
				callback(new Error(this.$LOCALE('ln_enter_email')))
			}
		}
		const validPhone = (rules, value, callback) => {
			// const phoneNum = data.match(/\d+/g).map(Number).join('')
			if (value) {
				if (value.indexOf('_') < 0) {
					this.$axios.$post('/api/v1.0/lk/phonetest', {
						phone: value
					}).then((res) => {
						if (res.status === 0) {
							callback()
						} else if (res.status === 1) {
							callback(new Error(this.$LOCALE('ln_phone_busy')))
						} else {
							callback(new Error(this.$LOCALE('ln_phone_incorrect')))
						}
					}).catch((e) => { console.log(e) })
				} else {
					callback(new Error(this.$LOCALE('ln_phone_incorrect')))
				}
			} else {
				callback(new Error(this.$LOCALE('ln_phone_required')))
			}
		}
		return {
			formRules: {
				company: [
					{ required: true, message: this.$LOCALE('ln_company_required'), trigger: 'blur' }
				],
				name: [
					{ required: true, message: this.$LOCALE('ln_name_required'), trigger: 'blur' }
				],
				family: [
					{ required: true, message: this.$LOCALE('ln_family_name_required'), trigger: 'blur' }
				],
				email: [
					{ validator: validEmail, trigger: 'blur' }
				],
				phone: [
					{ validator: validPhone, trigger: 'blur' }
				],
				password: [
					{ required: true, message: this.$LOCALE('ln_password_required'), trigger: 'blur' }
				]
			}
		}
	},
	computed: {
		form: {
			get() {
				return this.$store.state.regLogin.form
			},
			set(val) {
				this.$store.commit('regLogin/SET_FORM', val)
			}
		},
		oldPhone: {
			get() { return this.$store.state.regLogin.oldPhone },
			set(val) { this.$store.commit('regLogin/SET_OLD_PHONE', val) }
		}
	},
	watch: {
		form: {
			handler(val) {
				this.$emit('update-form', val)
			},
			deep: true
		}
	},
	methods: {
		goTo(url) {
			window.open(url, '_blank')
		},
		onPwdStrength(event) {
			// console.log(event)
		},
		handleSubmit() {
			this.$refs.form.validate((valid) => {
				if (valid) {
					this.submit()
				} else {
					return false
				}
			})
		},
		async submit() {
			if (this.form.phone === this.oldPhone) {
				this.$emit('switch', 'VueConfirmSms')
			} else {
				this.oldPhone = this.form.phone
				const res = await this.$store.dispatch('regLogin/SEND_SMS')
				if (res.status) {
					this.$emit('switch', 'VueConfirmSms')
					this.$notify.success({
						title: this.$LOCALE('ln_success'),
						message: this.$LOCALE('ln_code_was_send')
					})
				} else {
					this.$notify.error({
						title: this.$LOCALE('ln_error'),
						message: this.$LOCALE('ln_phone_number_not_supported')
					})
				}
			}
		},
		validate() {
			// console.log('validate')
		},
		validatePhone() {
			// console.log('valid Phone')
		}
	}
}
</script>
<style lang="scss">
.component__registration-form{
	margin-top: 16px;
	.form-tips{
		margin: 24px 0 28px;
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.43;
		letter-spacing: normal;
		em{
			color: $primary-blue;
			cursor: pointer;
		}
	}
}
</style>
