<template>
  <div id="registration" class="component__registration-main">
    <h2 class="form-title">
      {{ $LOCALE(title) }}
    </h2>
    <keep-alive>
      <component
        :is="activeTab"
        v-model="activeType"
        @complete-registration="completeRegistaration()"
        @switch="switchForm($event)"
      />
    </keep-alive>
    <div class="form-footer">
      <button v-show="activeTab !== 'VueTypes'" class="form-button-back" @click="goBack()">
        <i class="pui-arrow-left-ic" />
        <span>{{ $LOCALE('ln_go_back') }}</span>
      </button>
    </div>
  </div>
</template>
<script>
import VueTypes from './Types'
import VueForm from './Form'
import VueConfirmSms from './ConfirmSms'
export default {
	components: {
		VueTypes,
		VueForm,
		VueConfirmSms
	},
	data() {
		return {
			// activeType: null
		}
	},
	computed: {
		activeType: {
			get() { return this.$store.state.regLogin.form.role },
			set(val) { this.$store.commit('regLogin/SET_ROLE', val) }
		},
		form: {
			get() {
				return this.$store.state.regLogin.form
			},
			set(val) {
				this.$store.commit('regLogin/SET_FORM', val)
			}
		},
		activeTab: {
			get() {
				return this.$store.state.regLogin.activeTab
			},
			set(val) {
				this.$store.commit('regLogin/SET_TAB', val)
			}
		},
		title() {
			let title = 'sign-up-title'
			switch (this.activeTab) {
			case 'VueForm':
				switch (this.activeType) {
				case 3:
					title = 'tourist-registration'
					break
				case 4:
					title = 'touragent-registration'
					break
				case 5:
					title = 'touroperator-registration'
					break
				case 6:
					title = 'hotelier-registration'
					break
				}
				break
			case 'VueConfirmSms':
				title = 'confirm-phone'
				break
			}
			return title
		}

	},
	watch: {

	},
	methods: {
		switchForm(tab) {
			this.activeTab = tab
			// this.$SCROLL_TO('#registration')
		},
		goBack() {
			switch (this.activeTab) {
			case 'VueForm':
				this.activeTab = 'VueTypes'
				break
			case 'VueConfirmSms':
				this.activeTab = 'VueForm'
			}
		},
		completeRegistaration() {
			this.activeTab = 'VueTypes'
			this.activeType = null
			// this.$emit('close-dialog')
			this.$store.commit('regLogin/CLEAR')
			this.$store.commit('regLogin/SET_REG_DIALOG', false)
		}
	}
}
</script>
<style lang="scss">
.component__registration-main{
	.form-title{
		font-size: 20px;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.2;
		letter-spacing: normal;
		padding: 46px 0 12px;
		@media(max-width: $xs){
			font-size: 16px;
			font-weight: bold;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.38;
			letter-spacing: normal;
			padding: 36px 0 20px;
		}
	}
	.form-footer{
		text-align: center;
	}
	.form-button-back{
		border: 0 solid;
		margin: 25px 0;
		background-color: transparent;
		padding: 0;
		cursor: pointer;
		color: $charcoal-grey;
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		i{
			margin-right: 12px;
		}
	}
}
</style>
