<template>
  <div class="password-strength">
    <div class="password-strength--blocks">
      <i class="password-strength--meter" :class="{fill: strength > 1}" />
      <i class="password-strength--meter" :class="{fill: strength > 3}" />
      <i class="password-strength--meter" :class="{fill: strength > 10}" />
    </div>
    <div v-show="!noLabel" class="password-strength--label">
      {{ strengthText }}
    </div>
  </div>
</template>

<script>
export default {
	props: {
		password: {
			type: String,
			default() {
				return ''
			}
		},
		noLabel: {
			type: Boolean,
			default() {
				return false
			}
		}
	},
	computed: {
		/**
		 * Calculates the password strength.
		 * Return value is score value, where
		 * 0 - password is dangerously poor, or no password provided
		 * 21 - password has an overkill complexity
		 *
		 * @return     {number}  The strength.
		 */
		strength() {
			//* * The SeaMonkey project's like alhorithm of strength checking
			const score = (
				!this.password ? 0 : (this.password.length > 6 ? 3 : 0) +
				this.scoring(/[A-Z]/g) +
				this.scoring(/[a-z]/g) +
				this.scoring(/\d/g) +
				this.scoring(/[=+\-^?!%&*$#^@]/g) +
				this.scoring(/[|(){}[\]()/~;:.,<>]/g)
				// !this.password ? 0
				// // we have minimus <settings.minLength> letter passwords, so max for this param
				// // SeaMonkey's project volum for this param - is 5, but ...
				// // wellWerEProgrammers
				// 	: (this.password.length > 10 ? 3 : 0) +
				// (this.password.length > 15 ? 3 : 0) +
				// // score for different case of chars
				// this.scoring(/[A-Z]/g) +
				// this.scoring(/[a-z]/g) +
				// // scores for additional subset
				// this.scoring(/\d/g) +
				// this.scoring(/[=+\-^?!%&*$#^@]/g) +
				// this.scoring(/[|(){}[\]()/~;:.,<>]/g)
			)
			this.$emit('pwd-strength', score)
			console.log(score)
			return score
		},
		strengthText() {
			let text = 'Слабый пароль'
			if (this.strength >= 0 && this.strength <= 3) {
				text = 'Слабый пароль'
			} else if (this.strength >= 4 && this.strength <= 10) {
				text = 'Средний пароль'
			} else if (this.strength >= 11) {
				text = 'Сильный пароль'
			}
			return text
		}
	},
	methods: {
		/**
		 * Strength scoring by char type
		 *
		 * @param      {RegExp}   re            Regular Expression to test against
		 * @param      {number}   [maxScore=3]  The maximum score
		 * @return     {boolean}  Value in range of 1..maxScore wich describe score against this set
		 */
		scoring(re, maxScore = 3) {
			const test = this.password.match(re)
			const len = Array.isArray(test) ? test.length : 0
			return len > maxScore ? maxScore : len
		}
	}
}
</script>

<style lang="scss">
.password-strength {
	display: flex;
	font-size: 12px;
	line-height: 1.5;
	// margin: 0 0 16px;
	&--blocks {
		display: flex;
		padding-top: .5em;
	}
	&--label {
		margin-left: 1.5em;
	}
	&--meter {
		display: inline-block;
		width: 64px;
		height: 6px;
		border-radius: 4px;
		background-color: #eef3f7;
		margin-right: 0.7em;
		&.fill {background-color: $primary-sand;}
		@media(max-width: $xs){
			width: 32px;
		}
	}
}
</style>
