<template>
  <div class="component__registration-types">
    <label v-for="(item, key) in types" :key="key" class="types-item" :class="[item.id === role?'checked':'']">
      <input v-model="role" type="radio" :value="item.id">
      <img :src="item.image" alt="type image">
      <div class="item-content">
        <div class="item-title">
          {{ $LOCALE(item.title) }}
        </div>
        <span class="item-text">{{ $LOCALE(item.text) }}</span>
      </div>
    </label>
    <div class="types-button">
      <no-ssr>
        <pui-button :disabled="!role" fluid :size="$ua.isFromSmartphone()?'small':'medium'" type="blue" @click="switchForm()">
          <!-- {{ $LOCALE('ln_continue') }} -->
          Продолжить
        </pui-button>
      </no-ssr>
    </div>
  </div>
</template>
<script>
export default {
	data() {
		return {
			types: [
				{ id: 3, image: '/static-assets/images/svg/summer-ic.svg', name: 'tourist', title: 'ln_tourist', text: 'ln_tourist_description' },
				{ id: 4, image: '/static-assets/images/svg/badge-ic.svg', name: 'touragent', title: 'ln_touragent', text: 'ln_touragent_description' },
				{ id: 5, image: '/static-assets/images/svg/offer-ic.svg', name: 'touroperator', title: 'ln_touroperator', text: 'ln_touroperator_description' },
				{ id: 6, image: '/static-assets/images/svg/hotel-ic.svg', name: 'hotelier', title: 'ln_hotelier', text: 'ln_hotelier_description' }
			]
		}
	},
	computed: {
		form: {
			get() {
				return this.$store.state.regLogin.form
			},
			set(val) {
				this.$store.commit('regLogin/SET_FORM', val)
			}
		},
		role: {
			get() {
				return this.$store.state.regLogin.form.role
			},
			set(val) {
				this.$store.commit('regLogin/SET_ROLE', val)
			}
		}
	},
	watch: {
		role(val) {
			this.$emit('input', val)
		}
	},
	methods: {
		switchForm() {
			this.$emit('switch', 'VueForm')
		}
	}
}
</script>
<style lang="scss">
.component__registration-types{
	margin-top: 16px;
	.types-item{
		background-color: $pale-grey;
		padding: 16px 13px 16px 14px;
		display: block;
		border-radius: 6px;
		border: 3px solid $pale-grey;
		cursor: pointer;
		width: 100%;
		margin-bottom: 12px;
		@include flex(row, flex-start, flex-start);
		&.checked{
			border-color: $primary-sand;
		}
		@media(max-width: $xs){
			padding: 12px 12px 12px 16px;
			margin-bottom: 8px;
		}
		input{
			display: none;
		}
		img{
			width: 100%;
			max-width: 60px;
			margin-right: 14px;
			@media(max-width: $xs){
				display: none;
			}
		}
		.item-title{
			font-size: 16px;
			font-weight: bold;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.38;
			letter-spacing: normal;
			margin-bottom: 2px;
			word-break: normal;
			@media(max-width: $xs){
				font-size: 14px;
				font-weight: 600;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.43;
				letter-spacing: normal;
			}
		}
		.item-text{
			word-break: normal;
			@media(max-width: $xs){
				font-size: 12px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.5;
				letter-spacing: normal;
			}
		}
		&:last-child{
			margin-bottom: 28px;
		}
	}
	.types-button{
		padding: 16px 0 28px;
	}
}
</style>
