<template>
  <div class="component__hotel-advantages">
    <div class="advantages__title">
      {{ $LOCALE('ln_hotel_advatages_title') }}
    </div>
    <div class="advantages__items">
      <div v-for="(item, key) in items" :key="key" class="advantages__item">
        <img :src="item.icon">
        <div class="item-title">
          {{ $LOCALE(item.title) }}
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
	data() {
		return {
			items: [
				{ icon: '/static-assets/images/hotel/founder-ic.svg', title: 'ln_hotel_advantage_1' },
				{ icon: '/static-assets/images/hotel/mountains-ic.svg', title: 'ln_hotel_advantage_2' },
				{ icon: '/static-assets/images/hotel/people-ic.svg', title: 'ln_hotel_advantage_3' }
			]
		}
	}
}
</script>
<style lang="scss">
.component__hotel-advantages{
	background-color: $pale-grey;
	border-radius: 5px;
	padding: 36px 12px 44px;
	@media(max-width: $xs){
		padding: 20px 12px;
	}
	.advantages__title{
		font-size: 24px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.25;
		letter-spacing: normal;
		text-align: center;
		color: $charcoal-grey;
		margin-bottom: 60px;
		@media(max-width: $xs){
			margin-bottom: 16px;
			font-size: 16px;
			line-height: 1.38;
			text-align: left;
		}
	}
	.advantages__items{
		@include flex(row, space-between, flex-start);
		@media(max-width: $xs){
			@include flex(column, flex-start, flex-start);
		}
		.advantages__item{
			width: calc(100% / 3);
			@include flex(column, center, center);
			@media(max-width: $xs){
				width: 100%;
				padding: 0;
				@include flex(row, flex-start, center);
				margin-bottom: 20px;
				&:last-child{
					margin-bottom: 0;
				}
			}
			img{
				width: 84px;
				margin-bottom: 12px;
				@media(max-width: $sm){
					width: 70px;
				}
				@media(max-width: $xs){
					margin-right: 10px;
					width: 40px;
					margin-bottom: 0;
				}
				@media(max-width: $xxs){
					margin-right: 6px;
				}
			}
			.item-title{
				max-width: 260px;
				text-align: center;
				font-size: 16px;
				font-weight: 600;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.38;
				letter-spacing: normal;
				color: $charcoal-grey;
				@media(max-width: $sm){
					font-size: 14px;
					font-weight: 500;
					line-height: 1.43;
				}
				@media(max-width: $xs){
					max-width: 100%;
					text-align: left;
				}
			}
		}
	}
}
</style>
