<template>
  <div class="component__hotel-dialog">
    <el-dialog
      :visible.sync="hotelDialogShown"
      :before-close="handleClose"
      append-to-body
      width="486px"
      custom-class="hotel-dialog"
      :fullscreen="$ua.isFromSmartphone()"
      :close-on-click-modal="false"
      :show-close="$route.params.hotel?true:false"
    >
      <template v-slot:title>
        <h2>{{ $LOCALE('ln_hotel_dialog_title') }}</h2>
        <p class="tips">
          {{ $LOCALE('ln_hotel_dialog_description') }}
        </p>
      </template>
      <pui-input
        v-model="hotelDialogFilter"
        :label="$LOCALE('ln_hotel_dialog_input_label')"
        :size="'small'"
      />
      <pui-spacer :size="16" />
      <vue-hotel-list :hotels="hotelDialogListFiltered" />
      <pui-spacer :size="32" />
    </el-dialog>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import VueHotelList from '@/components/Hotel/List'
export default {
	components: {
		VueHotelList
	},
	data() {
		return {}
	},
	computed: {
		...mapGetters('hotel', ['hotelDialogListFiltered']),
		hotelDialogShown: {
			get() {
				return this.$store.state.hotel.hotelDialogShown
			},
			set(val) {
				this.$store.commit('hotel/SET_STATES', {
					hotelDialogShown: val
				})
			}
		},
		hotelDialogFilter: {
			get() {
				return this.$store.state.hotel.hotelDialogFilter
			},
			set(val) {
				this.$store.commit('hotel/SET_STATES', {
					hotelDialogFilter: val
				})
			}
		}
	},
	methods: {
		handleClose(done) {
			done()
		}
	}
}
</script>
<style lang="scss">
.hotel-dialog{
	.el-dialog__header{
		padding-top: 46px !important;
		padding-bottom: 16px !important;
	}
	h2{
		font-size: 20px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.2;
		letter-spacing: normal;
		color: $charcoal-grey;
		margin-bottom: 8px;
	}
}
.component__hotel-dialog{
	.el-dialog__wrapper .el-dialog .el-dialog__header{
		padding: 46px 32px 16px;
	}
	h2{
		font-size: 20px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.2;
		letter-spacing: normal;
		color: var(--charcoal-grey);
		margin-bottom: 8px;
	}
	.el-dialog__body{
		padding-bottom: 32px !important;
	}
}
</style>
