<template>
  <div class="component__hotel-list">
    <div v-for="(item, key) in hotels" :key="key" class="hotel-list__item" @click="chooseHotel(item.slug)">
      <div class="hotel-list__item-image" :style="'background-image: url(' + showImage(item.photo) + ')'" />
      <div class="hotel-list__item-content">
        <div class="hotel-list__item-title">
          {{ item.name }}
        </div>
        <div class="hotel-list__item-address">
          <i class="pui-location-ic" />
          <span>{{ item.address || 'Address' }}</span>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
	props: {
		hotels: {
			type: Array,
			default() {
				return []
			}
		}
	},
	methods: {
		chooseHotel(slug) {
			this.$router.push({
				path: '/' + this.__language + '/' + slug
			})
			this.$store.dispatch('hotel/GET_HOTEL_BY_SLUG', slug)
		},
		showImage(url) {
			if (url) {
				return this.$API_IMAGE(url, [84, 84], 0)
			} else {
				const random = (5 - Math.random() * 5).toFixed(0)
				return '/static-assets/images/partners/hotels/' + random + '.jpg'
			}
		}
	}
}
</script>
<style lang="scss">
.component__hotel-list{
  overflow-y: auto;
  padding: 1px 0;
  max-height: 500px;
  cursor: pointer;
   .hotel-list__item{
       margin-bottom: 12px;
       width: 100%;
       border-radius: 6px;
		//    box-shadow: 0 0 1px 0 $cloudy-blue;
		border: 1px solid #eee;
       overflow: hidden;
       @include flex(row, flex-start, center);
       &:last-child{
           margin-bottom: 0;
       }
       .hotel-list__item-image{
           width: 84px;
           height: 84px;
           background-repeat: no-repeat;
           background-size: cover;
       }
       .hotel-list__item-content{
           width: calc(100% - 84px);
           padding: 9px 16px;
           .hotel-list__item-title{
               font-size: 16px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.38;
                letter-spacing: normal;
                color: $charcoal-grey;
                margin-bottom: 4px;
                display: -webkit-box;
                line-height: 21px;
                max-height: 44px;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
           }
           .hotel-list__item-address{
               @include flex(row, flex-start, center);
               i{
                   font-size: 8px;
                   color: $grey-blue;
                   margin-right: 4px;
               }
               span{
                    font-size: 12px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.5;
                    letter-spacing: normal;
                    color: $grey-blue;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: inline-block;
                    width: 100%;
               }
           }
       }
   }
}
</style>
