<template>
  <div class="pui-breadcrumbs">
    <ul class="breadcrumbs-list">
      <li v-for="(link, key) in links" :key="key" class="list-item">
        <i class="pui-chevrone-line-left-ic mobile-chevrone" />
        <nuxt-link :to="link.path">
          {{ $LOCALE(link.label) }}
        </nuxt-link>
        <i v-if="(key + 1) !== links.length" class="pui-chevrone-line-right-ic" />
      </li>
    </ul>
  </div>
</template>
<script>
export default {
	name: 'PuiBreadcrumbs',
	props: {
		links: {
			type: Array,
			default() {
				return []
			}
		}
	}
}
</script>
<style lang="scss">
.pui-breadcrumbs{
	.breadcrumbs-list{
		@include flex(row, flex-start, center);
		.list-item{
			@media(max-width: $xs){
				display: none;
				&:last-child{
					display: block;
				}
			}
			a{
				font-size: 12px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.5;
				letter-spacing: normal;
				color: $white;
				@media(max-width: $xs){
					font-size: 14px;
				}
			}
			i{
				font-size: 7px;
				color: $white;
				margin: 0 8px;
				@media(max-width: $xs){
					display: none;
				}
				&.mobile-chevrone{
					display: none;
					font-size: 10px;
					@media(max-width: $xs){
						display: inline-block;
					}
				}
			}
		}
	}
}
</style>
