<template>
  <button
    class="pui-button"
    :disabled="disabled"
    :class="[
      'pui-button--' + type,
      'pui-button--' + size,
      linkColor?'pui-button--link-' + linkColor:'',
      auto?'pui-button--auto-width':'',
      shadow?'pui-button--shadowed':'',
      fluid?'pui-button--fluid':'',
      loading?'is-loading':'',
      complete?'is-loading-complete':'',
      round?'pui-button--rounded':'',
      fixed?'pui-button--fixed':''
    ]"
    :type="submit?'submit':'button'"
    @click="$emit('click')"
  >
    <span><slot /></span>
    <i v-if="icon && !complete" :class="icon" />
    <svg
      v-if="complete"
      id="m-check-mark"
      width="15px"
      height="15px"
      viewBox="0 0 245 173"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
    >
      <g
        id="Page-1"
        stroke="none"
        stroke-width="1"
        fill="none"
        fill-rule="evenodd"
      >
        <polyline class="checkmark" stroke="#ffffff" stroke-width="30" points="5.640625 83.7607422 83.2539062 161.663086 238.97168 6.11328125" />
      </g>
    </svg>
  </button>
</template>
<script>
export default {
	name: 'PuiButton',
	props: {
		type: {
			type: String,
			default: null
		},
		auto: {
			type: Boolean,
			default() {
				return false
			}
		},
		icon: {
			type: String,
			default: null
		},
		size: {
			type: String,
			default: 'small'
		},
		disabled: {
			type: Boolean,
			default() {
				return false
			}
		},
		shadow: {
			type: Boolean,
			default() {
				return false
			}
		},
		submit: {
			type: Boolean,
			default() {
				return false
			}
		},
		fluid: {
			type: Boolean,
			default() {
				return false
			}
		},
		loading: {
			type: Boolean,
			default() {
				return false
			}
		},
		linkColor: {
			type: String,
			default: null
		},
		round: {
			type: Boolean,
			default: false
		},
		fixed: {
			type: Boolean,
			default() {
				return false
			}
		}
	},
	data() {
		return {
			complete: false
		}
	},
	watch: {
		loading(val) {
			if (!val) {
				this.complete = true
				setTimeout(() => {
					this.complete = false
				}, 1500)
			}
		}
	}
}
</script>
<style lang="scss">
.pui-button{
	min-width: 240px;
	border: 0 solid;
	color: #fff;
	border-radius: 6px;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	@include flex(row, center, center);
	&:before{
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 0;
		height: 100%;
		z-index: 0;
	}
	&.is-loading{
		&:before{
			width: 100%;
			transition: width 5s linear;
		}
	}
	&.is-loading-complete{
		&:before{
			width: 100%;
			transition: none;
		}
	}
	&.pui-button--fixed{
		position: fixed;
		bottom: 0;
		z-index: 9;
		border-radius: 0;
		left: 0;
		right: 0;
	}
	&.pui-button--auto-width{
		min-width: auto;
	}
	&.pui-button--large{
		padding: 20px 24px;
		font-size: 16px;
		font-weight: bold;
		line-height: 1.38;
		height: 64px;
	}
	&.pui-button--medium{
		padding: 14px 24px;
		font-size: 16px;
		font-weight: bold;
		line-height: 1.38;
		height: 52px;
	}
	&.pui-button--small{
		padding: 12px 20px;
		font-size: 14px;
		font-weight: 600;
		line-height: 1.43;
		height: 44px;
	}
	&.pui-button--mini{
		padding: 4px 20px;
		font-size: 14px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.43;
		letter-spacing: normal;
		border-radius: 5px;
	}
	&.pui-button--rounded{
		border-radius: 100px;
	}
	&.pui-button--link{
		background-color: transparent;
		color: $primary-blue;
		padding: 0 !important;
		border-radius: 0;
		height: auto;
		font-size: 14px;
		font-weight: 600;
		line-height: 1.43;
		&-white{
			color: $white;
			&:focus{
				span{
					color: $white !important;
					border-color: $white !important;
				}
			}
		}
		&:hover{
			span{
				color: $primary-sand	;
			}
		}
		&:focus{
			span{
				color: $primary-blue;
				border-color: $primary-blue;
			}
		}
		span{
			border-bottom: 2px solid transparent;
		}
	}
	&.pui-button--blue{
		background-color: $primary-blue;
		&:before{
			background-color: $clear-blue;
		}
		&:hover{
			background-color: $clear-blue;
			&:disabled{
				background-color: $primary-blue;
			}
		}
		&.is-loading{
			&:hover{
				background-color: $primary-blue;
			}
		}
		&.pui-button--shadowed{
			box-shadow: 0 2px 12px 0 rgba(45, 120, 230, 0.56);
		}
	}
	&.pui-button--green{
		background-color: $primary-green;
		&:before{
			background-color: $soft-green;
		}
		&:hover{
			background-color: $soft-green;
			&:disabled{
				background-color: $primary-green;
			}
		}
		&.is-loading{
			&:hover{
				background-color: $primary-green;
			}
		}
	}
	&.pui-button--sand{
		background-color: $primary-sand	;
		&:before{
			background-color: $dull-orange;
		}
		&:hover{
			background-color: $dull-orange;
			&:disabled{
				background-color: $primary-sand	;
			}
		}
		&.is-loading{
			&:hover{
				background-color: $primary-sand	;
			}
		}
		&.pui-button--shadowed{
			box-shadow: 0 0 20px $primary-sand;
		}
	}
	&.pui-button--white{
		background-color: $white;
		color: $primary-blue;
		&:before{
			background-color: $white;
		}
		&:hover{
			background-color: $white;
			&:disabled{
				background-color: $white;
			}
		}
		&.is-loading{
			&:hover{
				background-color: $white;
			}
		}
	}
	&.pui-button--fluid{
		width: 100%;
		min-width: 100%;
	}
	&:disabled{
		opacity: .4;
	}
	span{
		// @include transition(.5s);
		position: relative;
		display: inline-block;
		& + i {
			margin-left: 8px;
			position: relative;
			line-height: 0;
		}
		& + svg {
			margin-left: 8px;
			position: relative;
		}
	}
	.checkmark {
		stroke-dasharray: 640;
			stroke-dashoffset: 0;
		-webkit-transform-origin: center;
			-ms-transform-origin: center;
				transform-origin: center;
		-webkit-animation: draw-around 1s 1;
			-ms-animation: draw-around 1s 1;
				animation: draw-around 1s 1;
		}
		@-ms-keyframes draw-around {
		0% {
			stroke-dashoffset: 640;
		}
		10% {
			stroke-dashoffset: 640;
		}
		100% {
			stroke-dashoffset: 0;
		}
		}
		@-webkit-keyframes draw-around {
		0% {
			stroke-dashoffset: 640;
		}
		10% {
			stroke-dashoffset: 640;
		}
		100% {
			stroke-dashoffset: 0;
		}
		}
		@keyframes draw-around {
		0% {
			stroke-dashoffset: 640;
		}
		10% {
			stroke-dashoffset: 640;
		}
		100% {
			stroke-dashoffset: 0;
		}
	}
}
</style>
