<template>
  <div
    class="pui-cascader"
    :style="'background-color: ' + backgroundColor"
    :class="[shown?'pui-cascader--expanded':'',
             'pui-cascader__chevron-position--' + chevronePosition]"
  >
    <div class="pui-cascader-header" :class="[headerBorder?'bordered':'']" @click="shown = !shown">
      <div class="pui-cascader-arrow">
        <i class="pui-chevrone-down-ic" />
      </div>
      <div class="text-h6 pui-cascader-title">
        {{ title }}
      </div>
      <div v-if="info.title" class="pui-cascader-info">
        <el-popover
          placement="bottom-end"
          title="Title"
          width="200"
          trigger="hover"
          content="this is content, this is content, this is content"
        >
          <i slot="reference" class="pui-info-ic" />
        </el-popover>
      </div>
    </div>
    <div class="pui-cascader-top-content">
      <slot name="top" />
    </div>
    <el-collapse-transition>
      <div v-if="shown" class="pui-cascader-wrapper">
        <div class="pui-cascader-body">
          <slot />
        </div>
      </div>
    </el-collapse-transition>
    <div class="pui-cascader-bottom-content">
      <slot name="bottom" />
    </div>
  </div>
</template>
<script>
export default {
	name: 'PuiCascader',
	props: {
		title: {
			type: String,
			default: null
		},
		info: {
			type: Object,
			default() {
				return {
					title: null,
					text: null
				}
			}
		},
		chevronePosition: {
			type: String,
			default: 'left'
		},
		backgroundColor: {
			type: String,
			default: '#ffffff'
		},
		headerBorder: {
			type: Boolean,
			default() {
				return false
			}
		}
	},
	data() {
		return {
			shown: true
		}
	},
	methods: {

	}
}
</script>
<style lang="scss">
.pui-cascader{
	border-radius: 6px;
	&.pui-cascader--expanded{
		.pui-cascader-header{
			&.bordered{
				border-bottom: 1px solid $cloudy-blue;
			}
			.pui-cascader-arrow i{
				transform: rotate(180deg);
			}
		}
	}
	&.pui-cascader__chevron-position--left{}
	&.pui-cascader__chevron-position--right{
		.pui-cascader-header{
			flex-direction: row-reverse;
		}
	}
	.pui-cascader-header{
		padding: 14px 16px 10px;
		cursor: pointer;
		line-height: 1;
		height: 44px;
		@include flex(row, flex-start, center);
		.pui-cascader-title{
			flex-grow: 1;
		}
		.pui-cascader-info{
			line-height: 1;
			i{
				color: $grey-blue;
				font-size: 20px;
				line-height: 1;
				height: 20px;
				display: inline-block;
			}
		}
		.pui-cascader-arrow i{
			margin-right: 8px;
			font-size: 11px;
			color: $grey-blue;
			@include transition(.3s);
		}
	}
	.pui-cascader-top-content {
		// padding: 16px;
	}
	.pui-cascader-bottom-content {
		// padding: 16px;
	}
	.pui-cascader-body{
		padding: 0 16px 16px;
	}
}
</style>
