<template>
  <div class="pui-dayrange" @mouseleave="leave()">
    <div class="days-body">
      <div
        v-for="(num, key) in maxDays"
        :key="key"
        class="day"
        :class="[
          isChosen(num)?'active':'',
          isBetween(num)?'between':'',
          isHovered(num)?'hovered':'',
          isBegin(num)?'begin':'',
          isEnd(num)?'end':'',
          isSingle(num)?'single':'',
          hoverDirection(num),
          bothChosen(num)
        ]"
        @click="chooseDay(num)"
        @mouseover="hovered(num)"
      >
        <div class="day--inner">
          {{ num }}
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
	name: 'PuiDayrange',
	props: {
		value: {
			type: Array,
			default() {
				return []
			}
		}
	},
	data() {
		return {
			maxDays: 30,
			begin: this.value[0],
			end: this.value[1],
			hover: null
		}
	},
	watch: {
		// begin(val) {
		// 	if (this.begin && this.end) {
		// 		this.$emit('input', [this.begin, this.end])
		// 	}
		// },
		// end(val) {
		// 	if (this.begin && this.end) {
		// 		this.$emit('input', [this.begin, this.end])
		// 	}
		// },
		value(val) {
			try {
				this.begin = val[0]
				this.end = val[1]
			} catch (err) {}
		}
	},
	methods: {
		hovered(num) {
			this.hover = num
		},
		leave() {
			this.hover = null
		},
		chooseDay(num) {
			if (!this.begin || (this.begin && this.end)) {
				this.begin = num
				this.end = num
				this.$emit('input', [this.begin])
			} else if (this.begin && !this.end) {
				if (this.begin <= num) {
					this.end = num
				} else {
					this.end = this.begin
					this.begin = num
				}
				this.$emit('input', [this.begin, this.end])
				this.$emit('complete')
			}
		},
		isChosen(num) {
			if (num === this.begin || num === this.end) {
				return true
			} else {
				return false
			}
		},
		isBetween(num) {
			if (num > this.begin && num < this.end) {
				return true
			} else {
				return false
			}
		},
		isBegin(num) {
			if (num === this.begin) {
				return true
			} else {
				return false
			}
		},
		isEnd(num) {
			if (num === this.end) {
				return true
			} else {
				return false
			}
		},
		isHovered(num) {
			if (this.begin && num > this.begin && num <= this.hover && this.hover && !this.end) {
				return true
			} else if (this.begin && num < this.begin && num >= this.hover && this.hover && !this.end) {
				return true
			} else {
				return false
			}
		},
		isSingle(num) {
			if (this.hover === num && this.begin === num) {
				return true
			} else if (this.begin === num && !this.hover) {
				return true
			} else {
				return false
			}
		},
		hoverDirection(num) {
			if (this.begin && this.hover) {
				if (this.begin < this.hover) {
					if (num === this.begin) {
						return 'right'
					} else if (num === this.hover && !this.end) {
						return 'left'
					}
				} else if (this.begin > this.hover) {
					if (num === this.begin) {
						return 'left'
					} else if (num === this.hover && !this.end) {
						return 'right'
					}
				} else {
					return ''
				}
			} else {
				return ''
			}
		},
		bothChosen(num) {
			if (this.begin && this.end) {
				return 'both-chosen'
			}
		}
	}
}
</script>
<style lang="scss">
.pui-dayrange{
	@include flex(row, flex-start, flex-start);
	flex-wrap: wrap;
	.days-header{
		padding: 16px;
	}
	.days-body{
		width: 100%;
		.day{
			display: inline-block;
			// padding: 7px 8px;
			margin-bottom: 10px;
			line-height: 1;
			cursor: pointer;
			text-align: center;
			width: calc(100% / 7);
			font-size: 14px;
			font-weight: 600;
			line-height: 1.43;
			&.single{
				background-color: transparent !important;
				&.both-chosen{
					background-color: $primary-sand	 !important;
				}
			}
			&.active,
			&.hovered{
				&:not(.both-chosen){
					border-radius: 0 !important;
					background-color: $primary-sand	;
					.day--inner{
						border-radius: 50px;
						background-color: $primary-sand	;
						color: #fff;
					}
					&.left{
						border-radius: 0 50px 50px 0 !important;
					}
					&.right{
						border-radius: 50px 0 0 50px !important;
					}
				}
				&.left{
					border-radius: 0 50px 50px 0;
					.day--inner{
						border-radius: 0 50px 50px 0;
					}
				}
				&.right{
					border-radius: 50px 0 0 50px;
					.day--inner{
						border-radius: 50px 0 0 50px;
					}
				}
				&.between{
					border-radius: 0 !important;
					background-color: $primary-sand	;
				}
			}
			&.begin{
				// border-radius: 50px;
				// background-color: $primary-sand	;
				.day--inner{
					border-radius: 50px;
					background-color: $primary-sand	;
					color: #fff;
				}
				&.left{
					border-radius: 0 50px 50px 0;
					.day--inner{
						border-radius: 0 50px 50px 0;
					}
				}
				&.right{
					border-radius: 50px 0 0 50px;
					.day--inner{
						border-radius: 50px 0 0 50px;
					}
				}
				&.both-chosen{
					border-radius: 50px 0 0 50px;
					background-color: $primary-sand	;
					.day--inner{
						border-radius: 50px 0 0 50px;
					}
				}
			}
			&.end{
				border-radius: 0 50px 50px 0 !important;
				background-color: $primary-sand	;
				.day--inner{
					border-radius: 0 50px 50px 0 !important;
					background-color: $primary-sand	;
					color: #fff;
				}
				&.both-chosen{
					border-radius: 0 50px 50px 0;
					.day--inner{
						border-radius: 0 50px 50px 0;
					}
				}
				&.begin{
					border-radius: 50px 50px 50px 50px !important;
					.day--inner{
						border-radius: 50px 50px 50px 50px !important;
					}
				}
			}
			&.between{
				background-color: $primary-sand	;
				border-radius: 0 !important;
				color: #fff;
			}
			&:hover{
				.day--inner{
					border-radius: 50px !important;
					background-color: $primary-sand	;
					color: #fff;
				}
				&.left{
					.day--inner{
						border-radius: 0 50px 50px 0;
					}
				}
				&.right{
					.day--inner{
						border-radius: 50px 0 0 50px;
					}
				}
			}
			.day--inner{
				width: 100%;
				max-width: 28px;
				margin: 0 auto;
				left: 0;
				right: 0;
				height: 28px;
				@include flex(row, center, center);
			}
		}
	}
}
</style>
