<template>
  <div v-click-outside="hideDropdown" class="pui-dropdown">
    <div class="pui-dropdown-reference" :class="{ 'pui-dropdown-reference--active': shown }" @click="shown = !shown">
      <slot name="reference" />
    </div>
    <transition name="el-zoom-in-top">
      <div
        v-show="shown"
        class="pui-dropdown-tooltip"
        :class="[
          'pui-dropdown--' + position
        ]"
      >
        <div v-loading="loading" class="pui-dropdown-tooltip--inner" :style="'width: ' + width">
          <slot />
        </div>
      </div>
    </transition>
  </div>
</template>
<script>
export default {
	name: 'PuiDropdown',
	props: {
		width: {
			type: String,
			default: '200px'
		},
		position: {
			type: String,
			default: null
		},
		defaultState: {
			type: Boolean,
			default() {
				return false
			}
		},
		loading: {
			type: Boolean,
			default() {
				return false
			}
		}
	},
	data() {
		return {
			shown: this.defaultState
		}
	},
	methods: {
		hideDropdown() {
			this.shown = false
		}
	}
}
</script>
<style lang="scss">
.pui-dropdown {
  position: relative;
  .pui-dropdown-reference {
    cursor: pointer;
  }
  .pui-dropdown-tooltip {
    position: absolute;
    background-color: $white;
    overflow: hidden;
    margin-top: 8px;
    border-radius: 6px;
    box-shadow: 0 5px 24px 0 rgba(28, 74, 115, 0.2);
    z-index: 9;
    @media (max-width: $md) {
      right: 0;
      left: unset;
    }
    &.pui-dropdown--left {
      left: 0;
    }
    &.pui-dropdown--right {
      right: 0;
    }
  }
}
</style>
