<template>
  <label class="pui-input-plain" :class="[disabled?'disabled':'']">
    <input v-model="inputValue" :disabled="disabled" :placeholder="label">
  </label>
</template>
<script>
export default {
	name: 'PuiInputPlain',
	props: {
		label: {
			type: String,
			default: ''
		},
		value: {
			type: [Number, String],
			default: null
		},
		disabled: {
			type: Boolean,
			default() {
				return false
			}
		}
	},
	data() {
		return {
			inputValue: this.value
		}
	},
	watch: {
		inputValue(val) {
			this.$emit('input', val)
		},
		value(val) {
			this.inputValue = val
		}
	}
}
</script>
<style lang="scss">
.pui-input-plain{
	width: 100%;
	&.disabled{
		input{
			cursor: default;
		}
	}
	input{
		padding: 10px;
		border: 2px solid $pale-grey;
		background-color: $pale-grey;
		width: 100%;
		border-radius: 5px;
		height: 40px;
		color: $charcoal-grey;
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.43;
		letter-spacing: normal;
		&:focus{
			border-color: $primary-sand;
			outline: none;
		}
	}
}
</style>
