<template>
  <div v-click-outside="hideDropdown" class="pui-input-wrapper">
    <label
      class="pui-input"
      :class="[
        mask?'pui-input--masked':'',
        focused?'pui-input--focused':'',
        inputValue?'pui-input--filled':'',
        disabled?'pui-input--disabled':'',
        showPopup && popupShowInput && mobile?'pui-input--popup-shown':'',
        type === 'password'?'pui-input--password':'',
        'pui-input--' + size
      ]"
      @click="$emit('click')"
    >
      <span class="pui-label">{{ label }}</span>
      <!-- <no-ssr v-if="mask">
        <input
          v-model="inputValue"
          v-mask="mask"
          :autocomplete="autocomplete"
          :type="inputType"
          :placeholder="size === 'small'?label:''"
          :disabled="disabled"
          @focus="handleFocus()"
          @blur="handleBlur()"
        >
      </no-ssr>-->
      <el-input
        v-model="inputValue"
        v-mask="mask"
        :type="inputType"
        :autocomplete="autocomplete"
        :placeholder="size === 'small'?label:''"
        :disabled="disabled"
        @keyup.native="$emit('keydown', inputValue)"
        @focus="handleFocus()"
        @blur="handleBlur()"
      />
      <div v-if="suffixIcon && type !== 'password'" class="pui-input-suffix-icon">
        <i :class="suffixIcon" />
      </div>
      <div v-if="type === 'password'" class="pui-input-password-icon" @click="toggleType()">
        <i v-if="inputType === 'password'" class="pui-show-pass-ic" :title="$LOCALE('ln_show_password')" />
        <i v-else class="pui-hide-pass-ic" :title="$LOCALE('ln_hide_password')" />
      </div>
      <!-- <div class="pui-input-clear">
        <i class="pui-plus-ic" />
      </div>-->
    </label>
    <template v-if="$IS_MOBILE">
      <pui-popup
        :class="[popupShowInput?'pui-popup--input-shown':'']"
        :show="showPopup"
        :popup-full-height="popupFullHeight"
        :no-padding="popupNoPadding"
        @hide-popup="$emit('hide-popup')"
        @cancel-popup="$emit('cancel-popup')"
      >
        <template v-slot:header>
          <slot name="popup-header" />
          <template v-if="popupShowInput">
            <div v-if="label" class="subtitle">
              {{ label }}
            </div>
            <!-- <div style="height: 52px;" /> -->
            <pui-input
              v-model="inputValue"
              size="small"
              :label="label"
              @focus="$emit('popup-input-focus')"
              @keyup.native="$emit('keydown', inputValue)"
            />
          </template>
        </template>
        <slot />
        <template v-slot:footer>
          <pui-button
            size="small"
            fluid
            type="blue"
            :disabled="popupButtonDisabled"
            @click="$emit('hide-popup')"
          >
            Готово
          </pui-button>
        </template>
      </pui-popup>
    </template>
    <template v-else>
      <transition name="el-zoom-in-top">
        <div
          v-show="showDropdown"
          class="pui-input-dropdown"
          :class="[
            dropdownScroll?'scrollable':'',
            'pui-input-dropdown--' + dropdownPosition]"
        >
          <div class="pui-input-dropdown--inner" :style="'width: ' + dropdownWidth">
            <slot />
          </div>
        </div>
      </transition>
    </template>
    <div v-if="popover && focused" class="pui-input__popover">
      <div class="pui-input__popover-title">
        {{ popoverTitle }}
      </div>
      <div class="pui-input__popover-text">
        {{ popoverText }}
      </div>
    </div>
  </div>
</template>
<script>
export default {
	name: 'PuiInput',
	props: {
		label: {
			type: String,
			default: null
		},
		value: {
			type: [String, Number],
			default: null
		},
		type: {
			type: String,
			default: 'text'
		},
		size: {
			type: String,
			default: 'small'
		},
		disabled: {
			type: Boolean,
			default() {
				return false
			}
		},
		showDropdown: {
			type: Boolean,
			default() {
				return false
			}
		},
		dropdownScroll: {
			type: Boolean,
			default() {
				return true
			}
		},
		mask: {
			type: Object,
			default() {
				return null
			}
		},
		dropdownWidth: {
			type: String,
			default: '320px'
		},
		dropdownPosition: {
			type: String,
			default: 'left'
		},
		suffixIcon: {
			type: String,
			default: null
		},
		mobile: {
			type: Boolean,
			default() {
				return false
			}
		},
		showPopup: {
			type: Boolean,
			default() {
				return false
			}
		},
		popupButtonDisabled: {
			type: Boolean,
			default() {
				return false
			}
		},
		popupFullHeight: {
			type: Boolean,
			default() {
				return false
			}
		},
		popupShowInput: {
			type: Boolean,
			default() {
				return false
			}
		},
		popupNoPadding: {
			type: Boolean,
			default() {
				return false
			}
		},
		editable: {
			type: Boolean,
			default() {
				return true
			}
		},
		autocomplete: {
			type: String,
			default: 'no'
		},
		popover: {
			type: Boolean,
			default() {
				return false
			}
		},
		popoverTitle: {
			type: String,
			default: 'Title'
		},
		popoverText: {
			type: String,
			default: 'Some text'
		}
	},
	data() {
		return {
			inputValue: this.value,
			focused: false,
			inputType: this.type
		}
	},
	watch: {
		inputValue(val) {
			this.$emit('input', val)
		},
		value(val) {
			this.inputValue = val
		}
	},
	methods: {
		toggleType() {
			if (this.inputType === 'password') {
				this.inputType = 'text'
			} else {
				this.inputType = 'password'
			}
		},
		hideDropdown() {
			this.$emit('hide-dropdown')
		},
		handleFocus() {
			if (!this.editable) {
				document.activeElement.blur()
			} else {
				this.focused = true
			}
			this.$emit('focus')
		},
		handleBlur() {
			this.focused = false
			this.$emit('blur')
		}
	}
}
</script>
<style lang="scss">
.pui-input-wrapper {
  position: relative;
  .pui-input {
    cursor: pointer;
    background-color: $pale-grey;
    display: block;
    position: relative;
    border: 2px solid $pale-grey;
    border-radius: 5px;
    &.pui-input--disabled {
      opacity: 0.4;
    }
    &.pui-input--small {
      padding: 4px 10px;
      &.pui-input--masked {
        // padding: 15px 10px;
      }
      .pui-label {
        display: none;
      }
      .pui-input-suffix-icon {
        // top: 14px;
        & + .pui-input-clear {
          right: 31px;
        }
      }
      .pui-input-password-icon {
        top: 32%;
      }
      .pui-input-clear {
        transform: rotate(45deg);
        font-size: 10px;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 45%;
        right: 7px;
      }
    }
    &.pui-input--large {
      padding: 12px 10px 8px;
      &.pui-input--masked {
        // padding: 30px 10px 14px;
      }
      .pui-label {
        top: 24px;
      }
    }
    &.pui-input--focused,
    &.pui-input--filled {
      .pui-label {
        top: 8px;
        font-size: 12px;
      }
    }
    &.pui-input--focused {
      border-color: $primary-sand;
    }
    &.pui-input--password {
      .el-input__suffix {
        right: 25px;
      }
    }
    .pui-label {
      position: absolute;
      font-size: 14px;
      left: 0;
      z-index: 1;
      line-height: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      width: calc(100% - 10px);
      padding: 0 10px;
      color: $grey-blue;
      @include transition(0.1s);
    }
    input {
      font-size: 14px;
      font-weight: 600;
      border: 0 solid;
      width: 100%;
      color: $charcoal-grey;
      cursor: pointer;
      background-color: transparent;
      padding: 0 17px 0 0;
      &:focus {
        outline: none;
      }
    }
    .pui-input-suffix-icon {
      position: absolute;
      top: 36%;
      right: 12px;
      font-size: 13px;
      color: $grey-blue;
    }
    .pui-input-password-icon {
      position: absolute;
      top: 35%;
      right: 12px;
      color: $primary-blue;
      font-size: 19px;
      // z-index: 9;
    }
    // DISABLE ELINPUT STYLES
    .el-input {
      .el-input__inner {
        padding: 0 17px 0 0;
        height: auto;
        color: $charcoal-grey;
        background-color: transparent;
        border-radius: 0;
      }
    }
  }
  .subtitle {
    margin-bottom: 15px;
  }
}
.is-error {
  .pui-input {
    border-color: $coral-pink;
  }
}
// .is-success{
// 	.pui-input{
// 		// border-color: $primary-green;
// 	}
// }
.pui-input-dropdown {
  line-height: 1;
  max-height: 250px;
  overflow-y: hidden;
  overflow-x: hidden;
  top: 76px;
  border-radius: 6px;
  position: absolute;
  z-index: 2;
  background-color: $white;
  box-shadow: 0 5px 24px 0 rgba(28, 74, 115, 0.2);
  &.scrollable {
    overflow-y: auto;
  }
  &.pui-input-dropdown--left {
    left: 0px;
  }
  &.pui-input-dropdown--right {
    right: 0;
  }
  .dropdown-group {
    .group-title {
      background-color: $soft-grey;
      padding: 9px 16px;
      color: $grey-blue;
    }
    .group-items {
      .group-item {
        padding: 14px 16px;
        line-height: 1;
        cursor: pointer;
        border-bottom: 1px solid $ice-blue;
        &:hover {
          background-color: $pale;
        }
        span {
          color: $grey-blue;
        }
      }
    }
  }
}
.pui-input__popover {
  position: absolute;
  top: 0;
  right: -302px;
  width: 290px;
  padding: 12px 16px 16px;
  background-color: white;
  border-radius: 6px;
  z-index: 9;
  box-shadow: 0 5px 24px 0 rgba(28, 74, 115, 0.2);
  @media (max-width: $md) {
    top: 86px;
    left: 0;
    right: auto;
  }
  @media (max-width: $xs) {
    width: 100%;
    top: auto;
    bottom: 0;
    margin-bottom: 66px;
  }
  &-title {
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    margin-bottom: 8px;
  }
  &-text {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
  }
}
</style>
