<template>
  <nuxt-link
    :to="to"
    class="pui-link"
    :event="disabled ? '' : 'click'"
    :class="[
      'pui-link--' + type,
      disabled?'pui-link--disabled':''
    ]"
  >
    <span><slot /></span>
    <i v-if="icon" :class="icon" />
  </nuxt-link>
</template>
<script>
export default {
	name: 'PuiLink',
	props: {
		to: {
			type: String,
			default: '/'
		},
		type: {
			type: String,
			default: 'blue'
		},
		disabled: {
			type: Boolean,
			default() {
				return false
			}
		},
		icon: {
			type: String,
			default: null
		}
	}
}
</script>
<style lang="scss">
.pui-link{
	text-decoration: none;
	cursor: pointer;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.43;
	&.pui-link--blue{
		color: $primary-blue;
		&.pui-link--disabled{
			opacity: .2;
			color: $charcoal-grey;
			&:hover{
				color: $charcoal-grey;
			}
			&:focus{
				color: $charcoal-grey;
				border-bottom: 0 solid;
			}
		}
		&:hover{
			color: $primary-sand	;
		}
		&:focus{
			color: $primary-blue;
			border-bottom: 2px solid;
		}
	}
	&.pui-link--white{
		color: $white;
		&.pui-link--disabled{
			opacity: .2;
			color: $white;
			&:hover{
				color: $white;
			}
			&:focus{
				color: $white;
				border-bottom: 0 solid;
			}
		}
		&:hover{
			color: $primary-sand	;
		}
		&:focus{
			color: $white;
			border-bottom: 2px solid;
		}
	}
	span{
		& + i{
			margin-left: 5px;
			font-size: 12px;
			width: 12px;
			height: 12px;
			display: inline-block;
		}
	}
}
</style>
