<template>
  <div class="pui-pager">
    <ul class="pui-pager__list">
      <li class="list__item pager__prev">
        <button :disabled="current === 1" @click="switchPage(current - 1)">
          <i class="pui-arrow-left-ic" />
        </button>
      </li>
      <li
        class="list__item number first-item"
        :class="[current === 1?'active':'']"
        @click="switchPage(1)"
      >
        1
      </li>
      <li v-if="rangeStart !== 1" class="list__item pages__prev" @click="switchPage(current > 6?current - 5:2)">
        ...
      </li>
      <li
        v-for="(el, key) in pages"
        :key="key"
        class="list__item number"
        :class="[current === el?'active':'']"
        @click="switchPage(el)"
      >
        {{ el }}
      </li>
      <li v-if="rangeEnd < lastPage" class="list__item pages__next" @click="switchPage(current > (lastPage - 6)?(lastPage - 1):current + 5)">
        ...
      </li>
      <li
        class="list__item number last-item"
        :class="[current === lastPage?'active':'']"
        @click="switchPage(lastPage)"
      >
        {{ lastPage }}
      </li>
      <li class="pui-pager__mobile">
        {{ current }} {{ $LOCALE('ln_out_of') }} {{ lastPage }}
      </li>
      <li class="list__item pager__next">
        <button :disabled="current === lastPage" @click="switchPage(current + 1)">
          <i class="pui-arrow-right-ic" />
        </button>
      </li>
    </ul>
  </div>
</template>
<script>
export default {
	name: 'PuiPager',
	props: {
		lastPage: {
			type: Number,
			default: 0
		},
		page: {
			type: Number,
			default: 0
		},
		pageSize: {
			type: Number,
			default: 0
		},
		start: {
			type: Number,
			default: 0
		},
		total: {
			type: Number,
			default: 0
		}
	},
	data() {
		return {
			current: 1
		}
	},
	computed: {
		pages() {
			const pages = []
			for (let i = this.rangeStart + 1; i < this.rangeEnd; i++) {
				pages.push(i)
			}
			return pages
		},
		rangeStart() {
			const start = this.current - 3
			return start > 0 ? start : 1
		},
		rangeEnd() {
			const end = this.current + 3
			return end < this.lastPage ? end : this.lastPage
		}
	},
	watch: {
		current(val) {
			this.$emit('change', val)
		}
	},
	methods: {
		switchPage(page) {
			this.current = page
		}
	}
}
</script>
<style lang="scss">
.pui-pager{
	background-color: $white;
	padding: 16px;
	border-radius: 6px;
	@media(max-width: $xs){
		padding: 12px;
	}
	.pui-pager__list{
		@include flex(row, center, center);
		@media(max-width: $xs){
			@include flex(row, space-between, center);
		}
		.list__item{
			min-width: 28px;
			height: 28px;
			margin-right: 12px;
			font-size: 14px;
			font-weight: 600;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.43;
			letter-spacing: normal;
			text-align: center;
			color: $charcoal-grey;
			background-color: $ice-blue;
			border-radius: 8.4px;
			line-height: 1;
			padding: 0 6px;
			cursor: pointer;
			@include flex(row, center, center);
			&:last-child{
				margin-right: 0;
			}
			&.active{
				background-color: $primary-blue;
				color: $white;
			}
			@media(max-width: $xs){
				&.pages__prev,
				&.pages__next,
				&.number{
					display: none;
				}
			}
		}
		.pager__prev,
		.pager__next{
			padding: 0;
			button{
				border: 0 solid;
				background-color: transparent;
				padding: 0;
				width: 28px;
				height: 28px;
				overflow: hidden;
				cursor: pointer;
				i{
					display: inline-block;
				}
			}
		}
		.pui-pager__mobile{
			display: none;
			font-size: 14px;
			font-weight: 600;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.43;
			letter-spacing: normal;
			color: $charcoal-grey;
			@media(max-width: $xs){
				display: block;
			}
		}
	}
}
</style>
