<template>
  <div
    v-show="show"
    ref="popUp"
    class="pui-popup"
    :class="[
      noPadding?'pui-popup--no-padding':'',
      popupFullHeight?'pui-popup--full-height':''
    ]"
  >
    <transition name="el-fade-in-linear">
      <div v-show="show" ref="popUpOverflow" class="pui-popup-overflow" @click="$emit('hide-popup')" />
    </transition>
    <transition name="el-zoom-in-bottom">
      <div v-show="show" ref="popUpWrapper" class="pui-popup-wrapper">
        <div
          ref="popUpInner"
          class="pui-popup--inner"
          :style="{
            height: popupFullHeight?(WINDOW_HEIGHT-84) + 'px':'auto'
          }"
        >
          <div ref="popUpHeader" class="pui-popup-header">
            <i class="pui-plus-ic icon-close" @click="$emit('cancel-popup')" />
            <slot name="header" />
          </div>
          <!--  -->
          <div
            ref="popUpBody"
            class="pui-popup-body"
            :style="{
              height: popupFullHeight?(WINDOW_HEIGHT-84-133) + 'px':'auto'
            }"
            @scroll="$emit('scroll', $event)"
          >
            <slot />
          </div>
          <div class="pui-popup-footer">
            <slot name="footer" />
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>
<script>
export default {
	name: 'PuiPopup',
	props: {
		popupFullHeight: {
			type: Boolean,
			default() {
				return false
			}
		},
		show: {
			type: Boolean,
			default() {
				return false
			}
		},
		noPadding: {
			type: Boolean,
			default() {
				return false
			}
		}
	},
	data() {
		return {
		}
	},
	watch: {
		show(val) {
			if (val) {
				this.$TOGGLE_BODY_CLASS('addClass', 'fixed')
			} else {
				this.$TOGGLE_BODY_CLASS('removeClass', 'fixed')
			}
		}
	},
	mounted() {

	},
	methods: {
	}
}
</script>
<style lang="scss">
.pui-popup {
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  z-index: 99;
  padding: 0;
  width: 100%;
  height: 100vh;
  &.pui-popup--no-padding {
    .pui-popup-header {
      padding: 0 !important;
    }
  }
  &.pui-popup--full-height {
    .pui-popup-wrapper {
      height: 100vh;
      top: 0;
      .pui-popup--inner {
        top: 0;
        height: calc(100vh - 84px);
        padding-bottom: 0;
      }
    }
  }
  .pui-popup-overflow {
    position: fixed;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: rgba(190, 192, 194, 0.41);
  }
  .pui-popup-wrapper {
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 99;
    .pui-popup--inner {
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: $white;
      padding-bottom: 84px;
      // &.pui-popup--full-height{
      // 	.pui-popup-body{
      // 		// height: calc(100vh - 217px);
      // 	}
      // }
    }
    .pui-popup-header {
      padding: 24px 15px 20px;
      background-color: $white;
      position: relative;
      top: 0;
      .icon-close {
        transform: rotate(45deg);
        position: absolute;
        top: 16px;
        right: 16px;
        color: $grey-blue;
        font-size: 16px;
        z-index: 9;
      }
    }
    .pui-popup-body {
      padding: 0;
      top: 0;
      overflow-y: scroll;
      position: relative;
      max-height: calc(100vh - 128px);
    }
    .pui-popup-footer {
      padding: 20px 15px;
      bottom: 0;
      position: fixed;
      width: 100%;
      left: 0;
      background: #fff;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    }
  }
}
</style>
