<template>
  <div
    ref="radioGroup"
    class="pui-radio-group"
    :class="[instring?'pui-radio-group--instring':'']"
  >
    <label
      v-for="(item, key) in values"
      :ref="'radio' + key"
      :key="key"
      class="pui-radio-item"
      :class="[item.value === chosenValue?'pui-radio-item--active':'']"
      @click="clickOn(key - 1)"
    >
      <input v-model="chosenValue" type="radio" :value="item.value">
      <span>{{ item.label }}</span>
    </label>
  </div>
</template>
<script>
export default {
	name: 'PuiRadioGroup',
	props: {
		value: {
			type: [Number, String],
			default: null
		},
		values: {
			type: Array,
			default() {
				return [
					{ label: 'some label', value: 0 }
				]
			}
		},
		instring: {
			type: Boolean,
			default() {
				return false
			}
		}
	},
	data() {
		return {
			chosenValue: this.values[0].value,
			width: []
		}
	},
	watch: {
		chosenValue(val) {
			this.$emit('input', val)
		}
	},
	created() {
		if (process.browser) {
			setTimeout(() => {
				this.values.forEach((el, index) => {
					this.width.push(this.$refs['radio' + index][0].clientWidth)
				})
			}, 100)
		}
	},
	methods: {
		clickOn(key) {
			let scrollWidth = 0
			for (let i = key; i >= 0; i--) {
				scrollWidth = scrollWidth + this.width[i]
			}
			console.log(scrollWidth)
			this.$refs.radioGroup.scroll(scrollWidth, 0)
		}
	}
}
</script>
<style lang="scss">
.pui-radio-group{
	&--instring{
		@include flex(row, flex-start, center);
		flex-wrap: nowrap;
		width: 100%;
		overflow-y: auto;
		label{
			white-space: nowrap;
		}
	}
	label{
		line-height: 1;
		padding: 8px;
		margin-right: 16px;
		display: inline-block;
		cursor: pointer;
		&:last-child{
			margin-right: 0;
		}
		&.pui-radio-item--active{
			span{
				color: $primary-blue;
			}
		}
		input{
			display: none;
		}
		span{
			color: $grey-blue;
			font-size: 14px;
			font-weight: 600;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.43;
			letter-spacing: normal;
		}
	}
}
</style>
