<template>
  <div class="pui-rating">
    <div
      v-for="(item, key) in iconNumber"
      :key="key"
      class="pui-rating__item"
      :class="[
        (key + 1) <= activeItem?'active':''
      ]"
      @click="chooseItem(key + 1)"
    >
      <i :class="icon" />
    </div>
  </div>
</template>
<script>
export default {
	name: 'PuiRating',
	props: {
		icon: {
			type: String,
			default: 'pui-star-ic'
		},
		iconNumber: {
			type: Number,
			default: 5
		},
		maxRate: {
			type: Number,
			default: 5
		},
		value: {
			type: Number,
			default: 0
		}
	},
	data() {
		return {
			activeItem: this.value
		}
	},
	watch: {
		activeItem(val) {
			const rate = val / this.maxRate
			this.$emit('input', rate.toFixed(2))
		}
	},
	methods: {
		chooseItem(key) {
			this.activeItem = key
		}
	}
}
</script>
<style lang="scss">
.pui-rating{
	@include flex(row, flex-start, center);
	.pui-rating__item{
		margin-right: 14px;
		cursor: pointer;
		&:last-child{
			margin-right: 0;
		}
		&.active{
			i{
				color: $primary-sand;
			}
		}
		i{
			font-size: 30px;
			display: block;
			color: $cloudy-blue;
		}
	}
}
</style>
