<template>
  <label
    class="pui-select"
    :class="[
      focused?'pui-select--focused':'',
      inputValue?'pui-select--filled':'',
      disabled?'pui-select--disabled':'',
      'pui-select--' + size
    ]"
  >
    <div v-if="mobile" class="pui-native-select-wrapper">
      <select v-model="inputValue">
        <option v-for="(option, key) in options" :key="key" :label="option.label" :value="option.value">
          {{ option.label }}
        </option>
      </select>
    </div>
    <el-select v-else v-model="inputValue" @focus="handleFocus()">
      <el-option v-for="(option, key) in options" :key="key" :label="option.label" :value="option.value" />
    </el-select>
  </label>
</template>
<script>
export default {
	name: 'PuiSelect',
	props: {
		value: {
			type: [String, Number],
			default: null
		},
		size: {
			type: String,
			default: 'small'
		},
		disabled: {
			type: Boolean,
			default: false
		},
		options: {
			type: Array,
			default() {
				return [
					{ label: 'Label', value: 0 }
				]
			}
		},
		mobile: {
			type: Boolean,
			default() {
				return false
			}
		}
	},
	data() {
		return {
			focused: false,
			inputValue: this.value
		}
	},
	watch: {
		inputValue(val) {
			this.$emit('input', val)
		},
		value(val) {
			this.inputValue = val
		}
	},
	methods: {
		handleFocus() {
			document.activeElement.blur()
		},
		handleChange() {

		}
	}
}
</script>
<style lang="scss">
.pui-select {
  &.pui-select--small {
    .el-select {
      input {
        padding: 3px 10px;
      }
    }
  }
  .el-select {
    width: 100%;
    input {
      height: auto;
      padding: 10px 10px;
      width: 100%;
    }
  }
  .pui-native-select-wrapper {
    position: relative;
    select {
      width: 100%;
      height: 52px;
      background-color: $pale-grey;
      border: 2px solid $pale-grey;
      border-radius: 5px;
      padding: 0 8px;
      color: $charcoal-grey;
      font-weight: 600;
      font-size: 14px;
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 0.01px;
      text-overflow: "";
      &:focus {
        outline: none;
        border-color: $primary-sand;
      }
    }
    &:after {
      content: "\004b";
      display: inline-block;
      font-family: "pui icon";
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: $grey-blue;
      position: absolute;
      top: 40%;
      right: 14px;
      font-size: 13px;
    }
  }
}
</style>
