<template>
  <div class="component__sms-code">
    <label class="input-wrapper" @click="clickLabel()">
      <input
        v-for="(input, key) in inputLength"
        :ref="'input' + key"
        :key="key"
        v-model.number="code['input' + key]"
        type="tel"
        autocomplete="no"
        maxlength="1"
        @input="inputEvent(code['input' + key], key)"
        @keyup="keyPress(key, $event)"
      >
    </label>
  </div>
</template>
<script>
export default {
	name: 'PuiSmsCode',
	props: {
		value: {
			type: String,
			default: ''
		},
		autofocus: {
			type: Boolean,
			default() {
				return false
			}
		},
		inputLength: {
			type: Number,
			default: 4
		}
	},
	data() {
		return {
			code: {
				input0: null,
				input1: null,
				input2: null,
				input3: null
			}

		}
	},
	watch: {
		code: {
			handler(val) {
				let counter = 0
				let code = ''
				for (const key in this.code) {
					if (this.code[key] || this.code[key] === 0) {
						counter++
						code = code + this.code[key]
					}
				}
				this.$emit('input', code)
				if (counter === this.inputLength) {
					this.complete(code)
				}
			},
			deep: true
		}
	},
	created() {
		if (this.autofocus) {
			setTimeout(() => {
				this.$refs.input0[0].focus()
			}, 200)
		}
	},
	methods: {
		inputEvent(value, key) {
			const string = value.toString()
			const nums = []
			if (string.length > 1) {
				for (let i = 0; i < string.length; i++) {
					if (parseInt(value[i]) % 1 === 0) {
						nums.push(parseInt(value[i]))
					}
				}
				// for (const key in this.code) {
				// 	this.code[key] = ''
				// }
				if (nums.length === 0) { return false }
				nums.forEach((el, index) => {
					if (index < this.inputLength) {
						this.code['input' + index] = el
					}
				})
				let focusEl = (nums.length - 1)
				if (focusEl > this.inputLength - 1) {
					focusEl = this.inputLength - 1
				}
				this.$refs['input' + focusEl][0].focus()
			}
		},
		keyPress(key, event, type) {
			// BACKSPACE OR DELETE PRESSED
			if ([8, 46].indexOf(event.keyCode) >= 0) {
				this.code['input' + key] = ''
				if (key > 0) {
					this.$refs['input' + (key - 1)][0].focus()
				}
				return false
			}
			// CTRL KEY RELEASE
			if (event.keyCode === 17) {
				return false
			}
			// CTRL + V
			if (event.ctrlKey && event.keyCode === 86) {
				this.inputEvent(this.code['input' + key])
				return false
			}
			// NaN BEFAVIOR
			if (isNaN(this.code['input' + key])) {
				// parseInt(this.code['input' + key]) % 1 !== 0
				this.code['input' + key] = ''
				console.log('NaN')
				return false
			}
			// FOCUS NEXT ELEMENT
			if (key < (this.inputLength - 1)) {
				if (this.code['input' + key] !== null || this.code['input' + key] !== '' || this.code['input' + key] !== undefined) {
					this.$refs['input' + (key + 1)][0].focus()
				} else {
					return false
				}
			}
			return false
		},
		complete(code) {
			this.$emit('complete')
		},
		clear() {
			for (const key in this.code) {
				this.code[key] = null
			}
			this.$refs.input0[0].focus()
		},
		clickLabel() {
			// WRAPPER CLICK EVENT, CHECK IF THERE IS EMPTY INPUT BEFORE CLICKED INPUT, IF SO => FOCUS ON THIS ELEMENT
			const keys = Object.keys(this.code)
			keys.every((key) => {
				if (!this.code[key]) {
					this.$refs[key][0].focus()
					return false
				} else {
					return true
				}
			})
		}
	}
}
</script>
<style lang="scss">
.component__sms-code{
	.input-wrapper{
		@include flex(row, space-between, center);
	}
	input{
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		font-size: 20px;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.2;
		letter-spacing: normal;
		text-align: center;
		color: var(--charcoal-grey);
		// padding: 20px 45px;
		width: 100%;
		max-width: 99px;
		height: 64px;
		margin-right: 8px;
		background-color: $pale-grey;
		border: 2px solid $pale-grey;
		border-radius: 5px;
		&:focus{
			outline: none;
			border-color: $primary-sand;
		}
		&:last-child{
			margin-right: 0;
		}
		@media(max-width: $xs){
			// width: 66px;
			height: 52px;
		}
	}
}
</style>
