<template>
  <div class="pui-spacer" :style="'height: ' + size + 'px;'" />
</template>
<script>
export default {
	name: 'PuiSpacer',
	props: {
		size: {
			type: Number,
			default: 20
		}
	}
}
</script>
