<template>
  <div class="search-form__tabs">
    <label
      v-for="(tab, key) in tabs"
      :key="key"
      :class="[activeTab === tab.value?'active':'']"
      :style="activeTab === tab.value?'border-color:' + color:''"
      @click="$emit('click', tab.value)"
    >
      <input v-model="activeTab" type="radio" :value="tab.value">
      <span>{{ $LOCALE(tab.title) }}</span>
    </label>
  </div>
</template>
<script>
export default {
	name: 'PuiTabsSlider',
	props: {
		tabs: {
			type: Array,
			default() {
				return []
			}
		},
		value: {
			type: String,
			default: 'VueSearchTourForm'
		},
		color: {
			type: String,
			default: '#4592ff'
		}
	},
	data() {
		return {
			activeTab: this.value
		}
	},
	watch: {
		activeTab(val) {
			this.$emit('input', val)
		}
	}
}
</script>
<style lang="scss">
.search-form__tabs{
    margin-bottom: 20px;
    label{
        margin-right: 12px;
        display: inline-block;
        padding: 8px;
        font-size: 14px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.43;
        letter-spacing: normal;
        text-align: left;
		cursor: pointer;
        border-bottom: 3px solid transparent;
        @include transition(.2s);
        &.active{
            // color: $primary-blue;
            // border-color: $primary-blue;
        }
        input{
            display: none;
        }
    }
}
</style>
