<template>
  <div class="pui-tags-chevron">
    <div v-for="(tag, key) in tags" :key="key" class="pui-tag-chevron">
      <div class="pui-tag--inner">
        {{ tag }}
      </div>
      <i v-if="(key + 1) < tags.length" class="pui-chevrone-line-right-ic" />
    </div>
  </div>
</template>
<script>
export default {
	name: 'PuiTagsChevron',
	props: {
		tags: {
			type: Array,
			default() { return [] }
		}
	},
	data() {
		return {

		}
	}
}
</script>
<style lang="scss">
.pui-tags-chevron{
	@include flex(row, flex-start, center);
	flex-wrap: wrap;
	.pui-tag-chevron{
		margin-bottom: 7px;
	@include flex(row, flex-start, center);
		.pui-tag--inner{
			padding: 4px 8px;
			border-radius: 6px;
			background-color: $primary-sand;
			color: $white;
		}
		i{
			color: $grey-blue;
			font-size: 12px;
			margin: 0 8px;
		}
	}
}
</style>
