<template>
  <div class="component__dialog-confirm">
    <el-dialog
      custom-class="dialog-confirm"
      :visible.sync="dialogConfirmShown"
      :fullscreen="$IS_MOBILE"
      width="486px"
    >
      <div class="dialog-confirm">
        <div class="dialog-image">
          <img :src="dialogConfirmContent.image" alt="">
        </div>
        <div class="dialog-message">
          <h2>{{ $LOCALE(dialogConfirmContent.title) }}!</h2>
          <p>{{ $LOCALE(dialogConfirmContent.message) }}</p>
        </div>
        <div class="dialog-button">
          <pui-button type="blue" @click="clickBackwardButton()">
            {{ $LOCALE(dialogConfirmContent.button) }}
          </pui-button>
        </div>
      </div>
    </el-dialog>
  </div>
</template>
<script>
export default {
	computed: {
		dialogConfirmShown: {
			get() { return this.$store.state.layout.dialogConfirmShown },
			set(val) { this.$store.commit('layout/SET_STATES', { dialogConfirmShown: val }) }
		},
		dialogConfirmContent: {
			get() { return this.$store.state.layout.dialogConfirmContent },
			set(val) { this.$store.commit('layout/SET_STATES', { dialogConfirmContent: val }) }
		}
	},
	methods: {
		clickBackwardButton() {
			this.dialogConfirmShown = false
		}
	}
}
</script>
<style lang="scss">
.dialog-confirm{}
</style>
