<template>
  <div class="component__login-dialog">
    <el-dialog
      :visible.sync="loginDialog"
      custom-class="login-dialog"
      width="486px"
      append-to-body
      :close-on-click-modal="false"
      :fullscreen="$ua.isFromSmartphone()"
      :before-close="handleClose"
    >
      <template v-slot:title>
        <img v-if="$ua.isFromSmartphone()" src="/static-assets/images/svg/airplane.svg" alt="airplane svg">
        <div class="text-h4">
          {{ $LOCALE('ln_sign_in_title') }}
        </div>
      </template>
      <vue-login ref="login" />
      <template v-slot:footer>
        <span class="dialog-footer">
          <p class="font-size-sm">{{ $LOCALE('ln_dont_have_account') }}</p>
          <pui-button type="link" auto @click="showRegDialog()">{{ $LOCALE('ln_create_account') }}</pui-button>
        </span>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import VueLogin from '@/components/Login'
export default {
	components: {
		VueLogin
	},
	data() {
		return {

		}
	},
	computed: {
		loginDialog: {
			get() {
				return this.$store.state.regLogin.loginDialog
			},
			set(val) {
				this.$store.commit('regLogin/SET_LOGIN_DIALOG', val)
			}
		}
	},
	created() {
		if (this.$route.hash.indexOf('login') >= 0 && !this.__user) {
			setTimeout(() => {
				this.show()
			}, 100)
		}
	},
	beforeDestroy() {
		this.$store.commit('regLogin/CLEAR')
	},
	methods: {
		show() {
			this.$store.commit('regLogin/SET_REG_DIALOG', false)
			this.$store.commit('regLogin/SET_LOGIN_DIALOG', true)
			this.$TOGGLE_BODY_CLASS('addClass', 'fixed')
		},
		handleClose(done) {
			this.$TOGGLE_BODY_CLASS('removeClass', 'fixed')
			done()
		},
		showRegDialog() {
			this.$store.commit('regLogin/SET_LOGIN_DIALOG', false)
			this.$store.commit('regLogin/SET_REG_DIALOG', true)
			this.$store.commit('regLogin/SET_TAB', 'VueTypes')
			this.$TOGGLE_BODY_CLASS('addClass', 'fixed')
		}
	}
}
</script>
<style lang="scss">
	.login-form-button{
		@include flex(row, center, center);
		margin: 10px 0 32px;
		flex-wrap: wrap;
		@media (max-width: $xs){
			margin-bottom: 17px;
		}
	}
	.signin-button-mobile{
		width: 18px;
		height: 18px;
		overflow: hidden;
		i{
			color: $charcoal-grey;
			font-size: 18px;
		}
	}
	.login-dialog{
		.text-h3{
			font-size: 16px;
			font-weight: bold;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.38;
			letter-spacing: normal;
		}
		.el-dialog__footer{
			padding: 18px !important;
		}
	}
</style>
