<template>
  <div class="component__registration-dialog">
    <el-dialog
      v-loading="$store.state.regLogin.loading"
      top="10vh"
      :close-on-click-modal="false"
      :visible.sync="regDialog"
      custom-class="signup-dialog"
      width="486px"
      append-to-body
      :fullscreen="$ua.isFromSmartphone()"
      :before-close="handleClose"
    >
      <template v-slot:title />
      <vue-registration @close-dialog="signupModal = false" />
      <template v-slot:footer>
        <span class="dialog-footer">
          <p>{{ $LOCALE('ln_already_have_account') }}</p>
          <pui-button type="link" auto @click="showLoginDialog()">{{ $LOCALE('ln_sign_in_button') }}</pui-button>
        </span>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import VueRegistration from '@/components/Registration'
export default {
	components: {
		VueRegistration
	},
	data() {
		return {

		}
	},
	computed: {
		regDialog: {
			get() {
				return this.$store.state.regLogin.regDialog
			},
			set(val) {
				this.$store.commit('regLogin/SET_REG_DIALOG', val)
			}
		}
	},
	beforeDestroy() {
		this.$store.commit('regLogin/CLEAR')
	},
	methods: {
		show() {
			this.$store.commit('regLogin/SET_LOGIN_DIALOG', false)
			this.$store.commit('regLogin/SET_REG_DIALOG', true)
			this.$TOGGLE_BODY_CLASS('addClass', 'fixed')
		},
		handleClose(done) {
			this.$TOGGLE_BODY_CLASS('removeClass', 'fixed')
			done()
		},
		showLoginDialog() {
			this.$store.commit('regLogin/SET_REG_DIALOG', false)
			this.$store.commit('regLogin/SET_LOGIN_DIALOG', true)
			this.$TOGGLE_BODY_CLASS('addClass', 'fixed')
		}
	}
}
</script>
