<template>
  <div class="page__account-partner">
    <div class="container">
      <div class="account-partner__user-info">
        <vue-user-info />
      </div>
      <h1 class="account-partner__title">
        {{ $LOCALE('ln_ac_partner_travel_programs') }}
      </h1>
      <el-row :gutter="24">
        <el-col :xs="24" :sm="24" :md="6" :lg="6">
          <vue-navigation />
        </el-col>
        <el-col :xs="24" :sm="24" :md="18" :lg="18">
          <nuxt-child />
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script>
import VueUserInfo from '@/components/Account/Partner/UserInfo'
import VueNavigation from '@/components/Account/Partner/Navigation.vue'

export default {
	components: {
		VueUserInfo,
		VueNavigation

	},
	data() {
		return {}
	}

}
</script>

<style lang="scss">
.page__account-partner {
  .account-partner__user-info {
  }
  .account-partner__title {
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: $charcoal-grey;
    margin-bottom: 30px;
    @media (max-width: $sm) {
      font-size: 16px;
      margin-bottom: 16px;
    }
  }
}
</style>
