<template>
  <div class="cost-details">
    <!-- {{ bookingForm }} -->
    <!-- <div class="cost-details__first-header">
      Стоимость
    </div>
    <div v-if="!tourCostDetails.fetching && tourCostDetails.details" class="cost-details__main-cost">
      <vue-cost-details-row
        :label="`${tourCostDetails.details.adults.count} взрослых`"
        :value="tourCostDetails.details.adults.cost"
        currency-symbol="руб."
      />
      <vue-cost-details-row
        v-for="(child, index) in tourCostDetails.details.children"
        :key="index"
        :label="`${ child.count } ребенок ${ child.age } лет`"
        :value="child.cost"
        currency-symbol="руб."
      />
    </div>
    <div v-if="additionalServiceIsVisible" class="cost-details__second-header">
      Дополнительные услуги
    </div>
    <div v-if="additionalServiceIsVisible" class="cost-details__services">
      <vue-cost-details-row
        v-if="tickets.foundTickets"
        label="Билеты на всех"
        :value="tickets.foundTickets.costDetails.total.cost"
        currency-symbol="руб."
        can-remove
        @remove="userDoesNotNeedTickets"
      />
      <vue-cost-details-row
        v-for="service in services"
        :key="service.id"
        :label="service.title"
        :value="service.price"
        :currency-symbol="service.currency_conv"
        can-remove
        @remove="() => removeService(service)"
      />
      <vue-cost-details-row
        v-if="tickets.foundTickets && tickets.foundTickets.bonusMiles"
        label="Вы получите бонус"
        :value="tickets.foundTickets.bonusMiles"
        accent="plus"
        currency-symbol="руб."
      />
      <vue-cost-details-row
        v-if="tourCostDetails.details && tourCostDetails.details.totalDiscount"
        label="Ваша скидка"
        :value="tourCostDetails.details.totalDiscount"
        accent="minus"
        currency-symbol="руб."
      />
    </div>
    <div v-if="tourCostDetails.details" class="cost-details__total">
      <div>Итого</div>
      <div>{{ tourCostDetails.details.totalCost | money("руб.") }}</div>
    </div>
    <div class="cost-details__terms">
      <div class="cost-details__terms-text">
        Перед оформлением, ознакомьтесь
        с <pui-link>условиями оплаты</pui-link>
      </div>
    </div> -->
    <vue-tour-booking-dialog
      ref="bookingDialog"
    />
    <div class="cost-details__submit-btn">
      <pui-button type="sand" size="medium" fluid @click="$refs.bookingDialog.open()">
        {{ $LOCALE('ln_tour_booking_button_go_booking') }}
      </pui-button>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex'
// import VueCostDetailsRow from './CostDetailsRow'
import VueTourBookingDialog from '@/components/Tour/BookingDialog'

export default {
	name: 'VueBookingCostDetails',
	components: {
		// VueCostDetailsRow,
		VueTourBookingDialog
	},
	computed: {
		...mapState('booking', ['tourCostDetails', 'tickets', 'services', 'bookingForm']),
		...mapGetters('booking', ['additionalServiceIsVisible', 'hasBonus'])
	},
	methods: {
		...mapActions('booking', ['removeService', 'userDoesNotNeedTickets'])
	}
}
</script>

<style lang="scss">
.cost-details {
  padding-bottom: 0px !important;
  overflow: hidden;
  &__first-header {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: normal;
    color: $charcoal-grey;
    @media (max-width: $md) {
      font-size: 16px;
		}
  }
  &__second-header {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.38;
    letter-spacing: normal;
    color: $charcoal-grey;
  }
  &__main-cost {
    margin-top: 12px;
  }
  &__cost-row {
    margin-left: -16px;
    margin-right: -16px;
    padding-left: 16px;
    padding-right: 16px;
  }
  &__services {
    margin-top: 16px;
  }
  &__total {
    height: 64px;
    font-size: 24px;
    font-weight: bold;
    color: $charcoal-grey;
    @include flex(row, space-between, center);
  }
  &__terms {
    height: 76px;
    @include flex(row, center, center);
  }
  &__terms-text {
    max-width: 230px;
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.5;
  }
  &__submit-btn {
    margin-left: -16px;
    margin-right: -16px;
  }
}
</style>
