<template>
  <div class="booking-tickets">
    <div class="booking-tickets__title text-h4">
      Билеты
    </div>
    <vue-radio-group v-model="needTicketsRadioValue">
      <vue-radio label="Мне не нужны билеты" :value="false" />
      <vue-radio label="Я хочу купить билеты" :value="true" />
    </vue-radio-group>
    <vue-tickets-search-loader v-show="tickets.fetching" />
    <pui-cascader
      v-if="!tickets.fetching && needTickets && tickets.foundTickets"
      title="Билеты туда-обратно"
      chevrone-position="right"
      background-color="#f5f8fa"
      class="booking-tickets__cascader"
    >
      <template slot="top">
        <vue-ticket class="booking-tickets__ticket" :ticket="tickets.foundTickets.there" />
        <vue-ticket class="booking-tickets__ticket" :ticket="tickets.foundTickets.back" />
      </template>
      <template slot="default">
        <div class="booking-tickets__show-tickets-link">
          <pui-link>
            Показать билеты
          </pui-link>
        </div>
        <div class="booking-tickets__price-item">
          <div class="booking-tickets__price-label">
            {{ tickets.foundTickets.costDetails.adults.count }} взрослых
          </div>
          <div class="booking-tickets__price-cost">
            {{ tickets.foundTickets.costDetails.adults.cost | money("руб.") }}
          </div>
        </div>
        <div
          v-for="(children, index) in tickets.foundTickets.costDetails.children"
          :key="index"
          class="booking-tickets__price-item"
        >
          <div class="booking-tickets__price-label">
            {{ children.count }}&nbsp;реб., {{ children.age }}&nbsp; лет
          </div>
          <div class="booking-tickets__price-cost">
            {{ children.cost | money("руб.") }}
          </div>
        </div>
        <div class="booking-tickets__price-item">
          <div class="booking-tickets__price-label">
            Админитративный сбор
          </div>
          <div class="booking-tickets__price-cost">
            {{ tickets.foundTickets.costDetails.administrativeFee.cost | money("руб.") }}
          </div>
        </div>
      </template>
      <template slot="bottom">
        <div class="booking-tickets__total-price">
          <div class="booking-tickets__total-price-label">
            Итоговая цена билетов
          </div>
          <div class="booking-tickets__total-price-cost">
            {{ tickets.foundTickets.costDetails.total.cost | money("руб.") }}
          </div>
        </div>
        <pui-button
          class="booking-tickets__change-ticket-btn"
          size="small"
          type="blue"
          auto
          fluid
        >
          Изменить билеты
        </pui-button>
      </template>
    </pui-cascader>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

import VueTicketsSearchLoader from './TicketsSearchLoader'
import VueTicket from './Ticket'
import VueRadioGroup from '@/components/Radio-group'
import VueRadio from '@/components/Radio'

export default {
	name: 'VueBookingTickets',
	components: {
		VueTicketsSearchLoader,
		VueTicket,
		VueRadioGroup,
		VueRadio
	},
	computed: {
		...mapState('booking', ['needTickets', 'tickets']),
		needTicketsRadioValue: {
			get() {
				return this.needTickets
			},
			set(needTickets) {
				if (needTickets) {
					this.userNeedsTickets()
				} else {
					this.userDoesNotNeedTickets()
				}
			}
		}
	},
	methods: {
		...mapActions('booking', ['userNeedsTickets', 'userDoesNotNeedTickets'])
	}
}
</script>

<style lang="scss">
.booking-tickets {
  &__title {
    margin-bottom: 9px;
    @media (max-width: $md) {
      font-size: 16px;
    }
  }
  &__cascader {
    margin-top: 11px;
  }
  &__ticket {
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__total-price {
    font-size: 14px;
    line-height: normal;
    @include flex(row, flex-start, flex-start);
  }
  &__total-price-label {
    color: $charcoal-grey;
    font-weight: normal;
  }
  &__total-price-cost {
    color: $charcoal-grey;
    font-weight: 600;
    margin-left: auto;
  }
  &__price-item {
    font-size: 14px;
    line-height: normal;
    padding: 7px 0;
    @include flex(row, flex-start, flex-start);
  }
  &__price-label {
    font-size: 12px;
    font-weight: normal;
    color: $charcoal-grey;
  }
  &__price-cost {
    margin-left: auto;
    font-weight: 500;
  }
  &__show-tickets-link {
    text-align: center;
    padding-bottom: 16px;
  }
  &__change-ticket-btn {
    margin-top: 21px;
  }
}
</style>
