<template>
  <div class="cost-details-row" :class="{ 'cost-details-row--can-remove': canRemove }">
    <div class="cost-details-row__label">
      {{ label }}
    </div>
    <div
      class="cost-details-row__value"
      :class="{
        'cost-details-row__value--plus': accent === 'plus',
        'cost-details-row__value--minus': accent === 'minus',
      }"
    >
      {{ prefix }} {{ value | money(currencySymbol) }}
    </div>
    <div v-if="canRemove" class="cost-details-row__remove-icon" @click="removeRow">
      <i class="pui-close-ic" />
    </div>
  </div>
</template>

<script>
const symbols = {
	plus: '+',
	minus: '-'
}

export default {
	name: 'VueCostDetailsRow',
	props: {
		label: {
			type: String,
			required: true
		},
		value: {
			type: [Number],
			required: true
		},
		accent: {
			type: String,
			default: null
		},
		currencySymbol: {
			type: String,
			default: ''
		},
		canRemove: {
			type: Boolean,
			default: false
		}
	},
	computed: {
		prefix() {
			return symbols[this.accent]
		}
	},
	methods: {
		removeRow() {
			this.$emit('remove')
		}
	}
}
</script>

<style lang="scss">
.cost-details-row {
  position: relative;
  margin-left: -16px;
  margin-right: -16px;
  padding-left: 16px;
  padding-right: 16px;
  height: 44px;
  @include flex(row, space-between, center);
  &:nth-child(even) {
    background-color: transparentize($pale-grey, 0.5);
  }

  &--can-remove {
    padding-right: 48px;
  }

  &__label {
    font-size: 12px;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: $charcoal-grey;
  }
  &__value {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.43;
    text-align: right;
    color: $charcoal-grey;
    &--plus {
      color: $primary-green;
    }
    &--minus {
      color: $coral-pink;
    }
  }

  &__remove-icon {
    cursor: pointer;
    position: absolute;
    right: 16px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 7px;
    background-color: $cloudy-blue;
    @include flex(row, center, center);
    color: $white;
    i {
      margin-top: 4px;
    }
  }
}
</style>
