<template>
  <div class="component__booking-dialog">
    <el-dialog
      :visible.sync="bookingDialog"
      fullscreen
      custom-class="booking-dialog"
    >
      <BookingLayout />
    </el-dialog>
  </div>
</template>
<script>
import BookingLayout from './Layout'
export default {
	components: {
		BookingLayout
	},
	data() {
		return {

		}
	},
	computed: {
		bookingDialog: {
			get() { return this.$store.state.booking.bookingDialog },
			set(val) { this.$store.commit('booking/SET_STATES', { bookingDialog: val }) }
		}
	},
	methods: {
		handleClose(done) {
			this.$confirm('Are you sure to close this dialog?')
				.then((_) => {
					done()
				})
				.catch((_) => {})
		}
	}
}
</script>
<style lang="scss">
.booking-dialog{
	.el-dialog__header{
		display: none;
	}
	.el-dialog__body{
		padding: 15px !important;
	}
	.component__booking-layout{
		.prev-link{
			padding: 9px 4px 22px;
		}
	}
	.select-tour-date.booking__container{
		padding: 0;
	}
}
</style>
