<template>
  <div class="component__booking-layout">
    <div class="booking__prev prev-link" @click="backToTourInfo">
      <i class="pui-chevrone-line-left-ic prev-link__icon" />
      <pui-link to="#">
        Вернуться к деталям тура
      </pui-link>
    </div>
    <vue-select-tour-date class="booking__container" />
    <!-- {{ selectedDate }} -->
    <!-- <vue-booking-tickets class="booking__container" /> -->
    <vue-booking-cost-details class="booking__container" />
  </div>
</template>
<script>
import { mapActions, mapState } from 'vuex'
import VueSelectTourDate from './SelectTourDate'
// import VueBookingTickets from './BookingTickets'
import VueBookingCostDetails from './BookingCostDetails'

export default {
	components: {
		VueSelectTourDate,
		// VueBookingTickets,
		VueBookingCostDetails
	},
	data: () => ({
		needTickets: true
	}),
	methods: {
		...mapActions('booking', ['backToTourInfo']),
		...mapState('booking', ['selectedDate'])
	}
}
</script>
<style lang="scss">
.component__booking-layout {
  .booking {
    &__container {
      padding: 20px 16px 24px 16px;

      background-color: $white;
      @media (min-width: $md) {
        margin-bottom: 24px;
        border-radius: 6px;
      }
    }
    &__prev {
      padding: 0 16px;
      @media (min-width: $md) {
        display: none;
      }
    }
  }

  .prev-link {
    cursor: pointer;
    padding-top: 24px;
    background-color: $white;
    &__icon {
      padding-right: 5px;
    }
  }
}
</style>
