<template>
  <div class="select-tour-date">
    <div id="bookingTitle" class="text-h4 select-tour-date__title">
      {{ $LOCALE('ln_tour_booking_title') }}
    </div>
    <vue-search-people :value="peoples" @input="peoplesChanged" />
    <div class="select-tour-date__calendar">
      <pui-input
        class="select-tour-date__mobile-datepicker"
        :value="inputValue"
        :size="$ua.isFromSmartphone()? 'small' : 'large'"
        label=""
        suffix-icon="pui-chevrone-down-ic"
        :show-dropdown="showPopup"
        :editable="false"
        :mobile="$ua.isFromSmartphone()"
        :show-popup="showPopup"
        dropdown-position="right"
        @hide-popup="showPopup = false"
        @cancel-popup="showPopup = false"
        @click="showPopup = true"
      >
        <div class="select-tour-date__popup-datepicker">
          <vue-calendar
            v-model="selectedDate"
            :available-dates="availableDates"
            @navigate="monthChanged"
          />
          <div v-if="selectedDate && allPeopleCanGo" class="select-tour-date__available-positions">
            Доступно <strong class="select-tour-date__positions-count">{{ selectedDatePositions }} места</strong> на эту дату
          </div>
          <div v-else-if="!selectedDate" class="select-tour-date__available-positions">
            {{ $LOCALE('ln_common_choose_available_date') }}
          </div>
          <div v-else class="select-tour-date__available-positions select-tour-date__available-positions--error">
            {{ $LOCALE('ln_unfortunately_available_date_0') }}{{ selectedDatePositions }}{{ $LOCALE('ln_unfortunately_available_date_1') }}
          </div>
        </div>
      </pui-input>
      <div class="select-tour-date__desktop-datepicker">
        <template v-if="availableDates.length > 0">
          <vue-calendar
            v-model="selectedDate"
            :start-month="(new Date(availableDates[0])).getMonth()"
            :start-year="(new Date(availableDates[0])).getFullYear()"
            :available-dates="availableDates"
            @navigate="monthChanged"
          />
          <!-- {{ selectedDate }} -->
          <!-- {{ availableDates }} -->
          <div v-if="selectedDate && allPeopleCanGo" class="select-tour-date__available-positions">
            Доступно <strong class="select-tour-date__positions-count">{{ selectedDatePositions }} места</strong> на эту дату
          </div>
          <div v-else-if="!selectedDate" class="select-tour-date__available-positions">
            {{ $LOCALE('ln_common_choose_available_date') }}
          </div>
          <div v-else class="select-tour-date__available-positions select-tour-date__available-positions--error">
            К сожалению на данную дату
            только {{ selectedDatePositions }} свободных места
          </div>
        </template>
        <template v-else>
          <div class="no-available-dates">
            <img src="/images/calendar.svg" alt="empty icon">
            <pui-spacer />
            <p>{{ $LOCALE('ln_tour_no_available_dates') }}</p>
          </div>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex'
import Vue from 'vue'
import VueSearchPeople from '@/components/Search/People'
import VueCalendar from '@/components/Calendar'

export default {
	name: 'VueSelectTourDate',
	components: {
		VueSearchPeople,
		VueCalendar
	},
	data: () => ({
		showPopup: false
	}),
	computed: {
		...mapState('booking', ['peoples']),
		...mapGetters('booking', ['availableDates', 'selectedDatePositions', 'allPeopleCanGo', 'selectedDatePrice']),
		selectedDate: {
			get() {
				return this.$store.state.booking.selectedDate
			},
			set(value) {
				this.dateSelected(value)
			}
		},
		inputValue() {
			return this.selectedDate ? Vue.options.filters.weekDateWithYear(this.selectedDate, this.$MONTHES, this.$WEEK_DAYS) : 'Выберите дату'
		}
	},
	methods: {
		...mapActions('booking', ['monthChanged', 'dateSelected', 'peoplesChanged'])
	}
}
</script>

<style lang="scss">
.no-available-dates{
	@include flex(column, center, center);
	padding: 50px 25px;
	p{
		text-align: center;
		color: $coral-pink;
	}
}
.select-tour-date {
  &__title {
    margin-bottom: 20px;
    @media (max-width: $md) {
      font-size: 16px;
		}
  }
  &__calendar {
    margin-top: 20px;
    @media (min-width: $md) {
      padding: 12px 16px;
      border-radius: 6px;
      border: solid 2px $pale-grey;
      margin-top: 20px;
    }
  }
  &__popup-datepicker {
    padding: 16px;
  }
  &__available-positions {
    padding: 14px 16px 4px 16px;
    font-weight: 500;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: $charcoal-grey;
    &--error {
      color: $coral-pink;
    }
  }

  &__mobile-datepicker {
    @media (min-width: $md) {
      display: none;
    }
  }
  &__desktop-datepicker {
    @media (max-width: $md) {
      display: none;
    }
  }

  &__positions-count {
    font-weight: bold;
  }
}
</style>
