<template>
  <div class="booking-ticket">
    <div class="booking-ticket__header">
      {{ ticket.direction === 'there' ? 'Туда' : 'Обратно' }}&nbsp;
      {{ ticket.date | weekDate(this.$MONTHES, this.$WEEK_DAYS) }}
    </div>
    <div class="booking-ticket__content">
      <div class="booking-ticket__content-left">
        <div class="booking-ticket__label">
          {{ ticket.departureFrom }} – {{ ticket.arrivalAt }}
        </div>
        <div class="booking-ticket__text">
          {{ ticket.departureTime }} – {{ ticket.arrivalTime }}
        </div>
      </div>
      <div class="booking-ticket__content-center">
        <div class="booking-ticket__label">
          В пути
        </div>
        <div class="booking-ticket__text">
          {{ ticket.flyingDuration }}
        </div>
      </div>
      <div class="booking-ticket__content-right">
        <div class="booking-ticket__label">
          {{ ticket.ticketType }}
        </div>
        <div class="booking-ticket__text">
          {{ ticket.transfer }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
	name: 'VueTicket',
	props: {
		ticket: {
			type: Object,
			required: true
		}
	}
}
</script>

<style lang="scss">
  .booking-ticket {
    &__header {
      font-size: 14px;
      font-weight: bold;
      line-height: normal;
      color: $charcoal-grey;
      padding-bottom: 8px;
    }
    &__content {
      @include flex(row, space-between, flex-start);
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      line-height: 1.5;
    }
    &__content-center {
      margin: auto;
    }
    &__content-right {
      text-align: right;
    }
    &__label {
      color: $grey-blue;
    }
    &__text {
      color: $charcoal-grey;
    }
  }
</style>
