<template>
  <div class="tickets-search-loader">
    <vue-lottie-animation class="tickets-search-loader__animation" animation="tickets" />
    <div class="tickets-search-loader__text">
      <div class="tickets-search-loader__title">
        Мы подбираем для вас билеты…
      </div>
      <div class="tickets-search-loader__desc">
        Пожалуйста подождите, обычно это занимает
        около 40 сек.
      </div>
    </div>
  </div>
</template>

<script>
import VueLottieAnimation from '@/components/Lottie-animation'

export default {
	name: 'VueTicketsSearchLoader',
	components: {
		VueLottieAnimation
	}
}
</script>

<style lang="scss">
	.tickets-search-loader {
		@include flex(column, flex-start, center);
		&__animation {
			width: 156px;
		}
		&__text{
			@include flex(column, flex-start, center);
		}
		&__title {
			font-size: 14px;
			font-weight: 600;
			letter-spacing: normal;
			text-align: center;
			color: $charcoal-grey;
		}
		&__desc {
			width: 293px;
			font-size: 12px;
			font-weight: normal;
			line-height: 1.5;
			letter-spacing: normal;
			text-align: center;
			color: $charcoal-grey;
		}
	}
</style>
