<template>
  <div class="component__advantages">
    <el-row :gutter="0" type="flex">
      <el-col :md="24" :lg="13">
        <div class="advantages-left">
          <div class="advantages-title text-h3">
            {{ $LOCALE('ln_advantages_title') }}
          </div>
          <p class="advantages-text">
            {{ $LOCALE('ln_advantages_text') }}
          </p>
        </div>
      </el-col>
      <el-col :md="24" :lg="11">
        <div class="advantages-right">
          <div class="advantage">
            <div class="advatage-image">
              <img src="/static-assets/images/svg/mountains.svg" alt="">
            </div>
            <div class="advantage-title subtitle">
              {{ $LOCALE('ln_advantages_tips_0') }}
            </div>
          </div>
          <div class="advantage">
            <div class="advatage-image">
              <img src="/static-assets/images/svg/ticket.svg" alt="">
            </div>
            <div class="advantage-title subtitle">
              {{ $LOCALE('ln_advantages_tips_1') }}
            </div>
          </div>
          <div class="advantage">
            <div class="advatage-image">
              <img src="/static-assets/images/svg/people.svg" alt="">
            </div>
            <div class="advantage-title subtitle">
              {{ $LOCALE('ln_advantages_tips_2') }}
            </div>
          </div>
        </div>
      </el-col>
    </el-row>
  </div>
</template>
<style lang="scss">
.component__advantages{
	padding: 58px 0 58px 0;
	background-color: $pale-grey;
	margin-bottom: 92px;
	border-radius: 5px;
	@media (max-width: $lg){
		padding: 40px 60px;
		margin-bottom: 50px;
	}
	@media (max-width: $xs){
		padding: 20px 12px;
		margin-bottom: 16px;
	}
	.advantages-left{
		padding-right: 62px;
		padding-left: 78px;
		@media (max-width: $lg){
			padding: 0;
			margin-bottom: 20px;
		}
		@media (max-width: $xs){
			padding-right: 0;
			padding-left: 0;
		}
		.advantages-title{
			margin-bottom: 12px;
			@media (max-width: $xs){
				font-size: 16px;
				font-weight: bold;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.38;
				letter-spacing: normal;
				margin-bottom: 8px;
			}
		}
		.advantages-text{
			@media (max-width: $xs){
				font-size: 12px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.5;
				letter-spacing: normal;
			}
		}
	}
	.advantages-right{
		padding-left: 53px;
		padding-right: 111px;
		border-left: 2px solid $ice-blue;
		@media (max-width: $lg){
			padding: 0;
			border-left: 0 solid;
		}
		@media (max-width: $xs){
			padding: 0;
			border-left: 0 solid;
		}
		.advantage{
			margin-bottom: 38px;
			@include flex(row, flex-start, center);
			&:last-child{
				margin-bottom: 0;
			}
			@media (max-width: $xs){
				margin-bottom: 0;
				margin-top: 20px;
			}
			.advatage-image{
				width: 100%;
				max-width: 58px;
				height: 58px;
				margin-right: 12px;
				@media (max-width: $xs){
					max-width: 40px;
					height: 40px;
					margin-right: 6px;
				}
				img{
					width: 100%;
				}
			}
			.advantage-title{
				width: auto;
				display: inline-block;
				@media (max-width: $xs){
					font-size: 14px;
					font-weight: 500;
					line-height: 1.43;
				}
			}
		}
	}
}
</style>
