<template>
  <div class="component__bordered-box">
    <el-row :gutter="0" align="middle" type="flex">
      <el-col :lg="16">
        <div class="bordered-box-left">
          <div class="bordered-box-image">
            <img :src="image" alt="">
          </div>
          <div class="bordered-box-text">
            <div class="text-h4">
              <slot name="title" />
            </div>
            <p><slot name="text" /></p>
          </div>
        </div>
      </el-col>
      <el-col :lg="8">
        <div class="bordered-box-button">
          <slot name="button" />
        </div>
      </el-col>
    </el-row>
  </div>
</template>
<script>
export default {
	props: {
		title: {
			type: String,
			default: null
		},
		image: {
			type: String,
			default: null
		}
	}
}
</script>
<style lang="scss">
.component__bordered-box{
	padding: 52px 78px;
	border: 4px solid $pale-peach;
	border-radius: 5px;
	margin-bottom: 92px;
	@media (max-width: $lg){
		margin-bottom: 50px;
	}
	@media (max-width: $sm){
		padding: 30px;
		margin-bottom: 56px;
	}
	@media (max-width: $xs){
		padding: 20px 16px;
		margin-bottom: 36px;
	}
	@media (max-width: $xxs){
		padding: 20px 16px;
		margin-bottom: 36px;
	}
	.bordered-box-left{
		@include flex(row, flex-start, center);
		@media (max-width: $lg){
			margin-bottom: 30px;
		}
		@media (max-width: $sm){
			margin-bottom: 24px;
		}
		@media (max-width: $xs){
			@include flex(column, center, center);
		}
	}
	.bordered-box-image{
		max-width: 120px;
		width: 100%;
		height: 120px;
		margin-right: 60px;
		border-radius: 120px;
		@media (max-width: $sm){
			margin-right: 30px;
		}
		@media (max-width: $xs){
			margin-right: 0;
			margin-bottom: 20px;
		}
		img{
			width: 100%;
		}
	}
	.bordered-box-text{
		flex: 1;
		width: 100%;
		.text-h4{
			max-width: 290px;
			width: 100%;
			margin-bottom: 8px;
			@media (max-width: $xs){
				font-size: 16px;
				font-weight: bold;
				line-height: 1.38;
				text-align: center;
				max-width: 100%;
			}
		}
		p{
			width: 100%;
			max-width: 409px;
			@media (max-width: $xs){
				font-size: 12px;
				line-height: 1.5;
				text-align: center;
				margin: 0 auto;
			}
		}
	}
	.bordered-box-button{
		@include flex(row, flex-end, center);
		@media (max-width: $lg){
			@include flex(row, flex-start, center);
			padding-left: 180px;
		}
		@media (max-width: $sm){
			padding-left: 150px;
		}
		@media (max-width: $xs){
			padding-left: 0;
			text-align: center;
			button{
				margin: 0 auto;
			}
		}
	}
}
</style>
