<template>
  <div class="component__footer">
    <div class="container">
      <div class="footer-inner">
        <div class="footer-logo">
          <img src="/static-assets/images/logo_black.png" alt="footer logo">
          <div class="footer-copyright font-size-sm">
            © 2015–{{ new Date().getFullYear() }} Palmarius
          </div>
        </div>
        <div class="footer-nav">
          <!-- <ul class="nav">
            <li v-for="(item, key) in footerFirstNav" :key="key" class="nav-item">
              <pui-link class="font-size-sm" @click.native.prevent="$SET_PHALCON_URL(item.url)">
                {{ item.title }}
              </pui-link>
            </li>
          </ul> -->
        </div>
        <div class="footer-nav">
          <!-- <ul class="nav">
            <li v-for="(item, key) in footerSecondNav" :key="key" class="nav-item">
              <pui-link class="font-size-sm" :to="item.url">
                {{ item.title }}
              </pui-link>
            </li>
          </ul> -->
        </div>
        <div class="footer-nav">
          <!-- <div class="text-h5">Связь с нами</div> -->
          <ul class="nav">
            <!-- <li v-for="(item, key) in contactNav" :key="key" class="nav-item">
              <pui-link class="font-size-sm" :to="item.url">
                {{ item.title }}
              </pui-link>
            </li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
	data() {
		return {
			footerFirstNav: [
				{ title: this.$LOCALE('ln_about_project'), url: 'https://ru.palmarius.org/instruction/o-platforme' },
				// { title: 'Партнерская программа', url: '/' },
				// { title: 'Помощь', url: '/' },
				{ title: this.$LOCALE('ln_terms_of_use'), url: 'https://ru.palmarius.org/instruction/pol-zovatel-skoe-soglase' },
				{ title: this.$LOCALE('ln_rules'), url: 'https://ru.palmarius.org/instruction/pol-zovatel-skoe-soglase' }
			],
			footerSecondNav: [
				// { title: 'Name of section #1', url: '/' },
				// { title: 'Name of section #2', url: '/' },
				// { title: 'Name of section #3', url: '/' },
				// { title: 'Name of section #4', url: '/' },
				// { title: 'Name of section #5', url: '/' }
			],
			contactNav: [
				// { title: 'Social network #1', url: '/' },
				// { title: 'Social network #2', url: '/' },
				// { title: 'Social network #3', url: '/' }
			]
		}
	}
}
</script>
<style lang="scss">
.footer-inner{
	@include flex(row, space-between,flex-start);
	flex-wrap: wrap;
	@media (max-width: $xs){
		padding: 0 5px;
	}
	.footer-logo{
		@media (max-width: $md){
			width: 100%;
			margin-bottom: 20px;
		}
		.footer-copyright{
			color: $grey-blue;
		}
	}
	.footer-nav{
		margin-right: 100px;
		@media (max-width: $lg){
			margin-right: 40px;
		}
		@media (max-width: $md){
			width: auto;
			margin-right: 20px;
		}
		@media (max-width: $xs){
			width: calc(50% - 10px);
			margin-top: 19px;
			margin-right: 10px;
		}
		@media (max-width: 420px){
			width: 100%;
		}
		@media (max-width: $xxs){
			width: 100%;
		}
		.text-h5{
			margin-bottom: 12px;
		}
		.nav{
			.nav-item{
				margin-bottom: 16px;
				a{
					color: $charcoal-grey;
				}
			}
		}
	}
}
</style>
