<template>
  <div class="component__metrics">
    <el-row type="flex" :gutter="0">
      <el-col
        v-for="(item, key) in metrics"
        :key="key"
        :xs="12"
        :sm="12"
        :md="6"
        :lg="6"
      >
        <div class="metric-item">
          <div class="metric-num text-h2">
            {{ item.num }}
          </div>
          <div class="metric-title subtitle">
            {{ item.title }}
          </div>
        </div>
      </el-col>
    </el-row>
  </div>
</template>
<script>
export default {
	data() {
		return {
			metrics: [
				{ num: '4', title: this.$LOCALE('ln_years_on_market') },
				{ num: '500+', title: this.$LOCALE('ln_partner_companies') },
				{ num: '630', title: this.$LOCALE('ln_guided_tours') },
				{ num: '2000+', title: this.$LOCALE('ln_satisfied_tourists') }
			]
		}
	}
}
</script>
<style lang="scss">
.component__metrics{
	margin-bottom: 92px;
	@media (max-width: $lg){
		margin-bottom: 50px;
	}
	@media (max-width: $xs){
		margin-bottom: 16px;
	}
	.metric-item{
		width: 282px;
		padding: 20px 0;
		@include flex(column, center, center);
		@media (max-width: $lg){
			padding: 20px 30px;
			width: 100%;
		}
		@media (max-width: $xs){
			width: 100%;
		}
		.metric-num{
			@media (max-width: $xs){
				font-size: 24px;
				font-weight: bold;
				line-height: 1.25;
				text-align: center;
			}
		}
		.metric-title{
			text-align: center;
			@media (max-width: $xs){
				font-size: 12px;
				font-weight: normal;
				line-height: 1.5;
				text-align: center;
			}
		}
	}
}
</style>
