<template>
  <div class="component__phalcon-url">
    <form ref="form" action="https://ru.palmarius.org/ajax/setgosessid" method="POST">
      <input type="hidden" name="URL" :value="url">
      <input type="hidden" name="GOSESSID" :value="__gosessid">
    </form>
  </div>
</template>
<script>
export default {
	data() {
		return {
			url: null
		}
	},
	watch: {
		__phalcon_url(val) {
			if (val) {
				this.submit(val)
			}
		}
	},
	methods: {
		submit(url) {
			this.url = url
			setTimeout(() => {
				this.$refs.form.submit()
			}, 100)
		}
	}
}
</script>
