<template>
  <div class="component__search-form">
    <!-- <div class="plan-vacation-link">
          <pui-link to="/" icon="pui-link-ic">
            Планирование отдыха
          </pui-link>
          <pui-button icon="pui-link-ic" type="link" auto @click="$SET_PHALCON_URL('https://ru.palmarius.org/tours')">
            Планирование отдыха
          </pui-button>
        </div> -->
    <div id="search-tours" class="search-box--inner">
      <el-tabs v-model="activeTab">
        <el-tab-pane :label="$LOCALE('ln_tours')" name="tours">
          <vue-search-tour-form />
        </el-tab-pane>
        <el-tab-pane :label="$LOCALE('ln_excursions')" name="excursions">
          <vue-search-excursion-form />
        </el-tab-pane>
        <el-tab-pane name="tickets" :label="$LOCALE('ln_tickets')">
          <vue-search-ticket-form />
        </el-tab-pane>
      </el-tabs>
    </div>
  </div>
</template>
<script>
import VueSearchTourForm from '@/components/Search/TourForm'
import VueSearchTicketForm from '@/components/Search/TicketForm'
import VueSearchExcursionForm from '@/components/Search/ExcursionForm'
export default {
	components: {
		VueSearchTourForm,
		VueSearchTicketForm,
		VueSearchExcursionForm
	},
	data() {
		return {
			activeTab: 'tours'
		}
	},
	created() {
		if (this.$route.hash === '#excursions') {
			this.activeTab = 'excursions'
		} else if (this.$route.hash === '#tickets') {
			this.activeTab = 'tickets'
		} else {
			this.activeTab = 'tours'
		}
	}
}
</script>
<style lang="scss">
// .component__search-form{
// 	background-color: #fff;
// 	border-radius: 6px;
// 	padding: 28px 30px 15px;
// 	box-shadow: 0 2px 40px 0 rgba(28, 74, 115, 0.23);
// 	position: relative;
// 	@include flex(column, flex-start, center);
// 	.el-tabs__item{
// 		font-weight: 700;
// 	}
// 	.search-box--inner{
// 		width: 100%;
// 	}
// 	.plan-vacation-link{
// 		padding: 4px 8px;
// 		background-color: $pale-grey;
// 		border-radius: 6px;
// 		display: inline-block;
// 		position: absolute;
// 		top: 24px;
// 		right: 24px;
// 		z-index: 1;
// 		@media (max-width: $md){
// 			position: relative;
// 			order: 1;
// 			top: 0;
// 			right: 0;
// 		}
// 	}
// }
</style>
