<template>
  <div class="component__popular-directions">
    <div class="section-title text-h3">
      {{ $LOCALE(title) }}
    </div>
    <div v-swiper:popularDirections="swiperOption">
      <div class="swiper-wrapper">
        <nuxt-link
          v-for="(slide, key) in inputData"
          :key="key"
          :to="slideUrl(slide)"
          class="swiper-slide"
          :style="'background-image: linear-gradient(to top, rgba(35, 35, 42, 0.55), rgba(35, 35, 42, 0.55)), url(' + renderImage(slide.image, key) + ')'"
        >
          <div class="slide-title text-h3">
            <template v-if="slide.custom_class">
              {{ $LOCALE(slide.name) }}
            </template>
            <template v-else>
              {{ slide.name }}
            </template>
          </div>
          <!-- eslint-disable -->
          <div class="slide-subtitle" v-if="slide.custom_class">
			  {{slide.tournumber}} {{$NUM_SUFFIX(slide.tournumber, [
			  	$LOCALE('ln_common_offers_0'),
			  	$LOCALE('ln_common_offers_1'),
			  	$LOCALE('ln_common_offers_2')
			  ])}}
		  </div>
          <div class="slide-subtitle" v-html="slide.tournumber" v-else/>
		  <!-- eslint-enable -->
        </nuxt-link>
      </div>
    </div>
    <div class="swiper-pagination pd__swiper-pagination swiper-pagination-bullets" />
    <div class="swiper-navigation">
      <div class="swiper-button swiper-button-prev pd__swiper-button-prev">
        <i class="pui-chevrone-line-left-ic" />
      </div>
      <div class="swiper-button swiper-button-next pd__swiper-button-next">
        <i class="pui-chevrone-line-right-ic" />
      </div>
    </div>
  </div>
</template>
<script>
export default {
	props: {
		inputData: {
			type: Array,
			default() {
				return []
			}
		},
		title: {
			type: String,
			default: 'ln_slide_images_title'
		},
		urlScheme: {
			type: String,
			default: null
		}
	},
	data() {
		return {
			defaultImages: [
				'/static-assets/images/hotel/slide_bar.jpg',
				'/static-assets/images/hotel/slide_room.jpg',
				'/static-assets/images/hotel/slide_popular.jpg',
				'/static-assets/images/hotel/slide_xcursion.jpg'
			],
			swiperOption: {
				loop: false,
				slidesPerView: 4,
				slidesPerGroup: 4,
				breakpoints: {
					575: {
						slidesPerView: 'auto',
						slidesPerGroup: 1,
						spaceBetween: 15
					},
					768: {
						slidesPerView: 2,
						slidesPerGroup: 2
					},
					1240: {
						slidesPerView: 3,
						slidesPerGroup: 3
					}
				},
				spaceBetween: 24,
				pagination: {
					el: '.pd__swiper-pagination',
					dynamicBullets: false
				},
				navigation: {
					nextEl: '.pd__swiper-button-next',
					prevEl: '.pd__swiper-button-prev'
				}
			}
		}
	},
	mounted() {
		setTimeout(() => {
			this.popularDirections.update()
		}, 500)
	},
	methods: {
		slideUrl(slide) {
			if (this.urlScheme) {
				if (slide.custom_class === 'hotelXcursion') {
					return `/${this.__language}/${this.$route.params.hotel}/${slide.url}`
				}
				return `/${this.__language}${this.urlScheme}${slide.id}`
			} else {
				return `/${this.__language}${slide.url}`
			}
		},
		renderImage(image, key) {
			if (image) {
				return this.$API_IMAGE(image, [350, 200])
			} else {
				return this.defaultImages[key]
			}
		}
	}
}
</script>
<style lang="scss">
.component__popular-directions{
	position: relative;
	margin-bottom: 92px;
	margin-top: 72px;
	@media (max-width: $lg){
		margin-bottom: 50px;
	}
	@media (max-width: $xs){
		margin-top: 36px;
		margin-bottom: 36px;
	}
	.section-title{
		margin-bottom: 30px;
		@media (max-width: $xs){
			font-size: 16px;
			font-weight: bold;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.38;
			margin-bottom: 16px;
		}
	}
	.swiper-slide{
		border-radius: 5px;
		text-align: center;
		height: 182px;
		background-size: cover;
		@include flex(column, center, center);
		@media (max-width: $xs){
			width: 92%;
		}
		.slide-title{
			color: #fff;
			margin-bottom: 0;
		}
		.slide-subtitle{
			font-size: 16px;
			color: $white;
		}
	}
	.swiper-pagination{
		position: relative;
		@media (min-width: $sm){
			display: none;
		}
	}
}
</style>
