<template>
  <div class="component__special-offer">
    <div class="section-title text-h3">
      {{ title }}
    </div>
    <div v-swiper:[selector]="swiperOption">
      <div class="swiper-wrapper">
        <nuxt-link
          v-for="(slide, key) in inputData"
          :key="key"
          :to="subdomain === 'hotel'?'/' + __language + '/' + $route.params.hotel + slide.url:'/' + __language + slide.url"
          class="swiper-slide"
          :class="[wideSlides.indexOf(key) >= 0?'swiper-slide--wide':'']"
          :style="'background-image: linear-gradient(to bottom, rgba(5, 5, 6, 0.5) 0%, rgba(66, 67, 81, 0.1) 20%, rgba(66, 67, 81, 0) 50%, rgba(5, 5, 6, 0.64) 100%), url(' + $API_IMAGE(slide.image, [550, 440]) + ')'"
        >
          <div class="near-dates">
            {{ $LOCALE('ln_nearest_dates') }}:<br>
            <b>
              <span v-for="(item, keyDate) in slide.dates" :key="keyDate">
                {{ item.date | filterMonthDate }}<template v-if="(keyDate + 1) < slide.dates.length">,</template>
              </span>
            </b>
          </div>
          <div class="slide-title text-h3">
            {{ slide.title }}
          </div>
          <div class="slide-details">
            <div class="duration">
              <i class="pui-clock-ic" />
              <span>{{ slide.duration }} {{ $NUM_SUFFIX(slide.duration, [
                $LOCALE('ln_day_days_0'),
                $LOCALE('ln_day_days_1'),
                $LOCALE('ln_day_days_2')
              ]) }}</span>
            </div>
            <div class="direction">
              <i class="pui-location-ic" />
              <span>{{ slide.direction }}</span>
            </div>
          </div>
          <div class="slide-footer">
            <div class="price text-h4">
              {{ slide.price_conv | filterNum }} {{ slide.currency_conv }}
            </div>
            <p class="font-size-xs">
              {{ '*' + $LOCALE('ln_per_person') }}
            </p>
          </div>
        </nuxt-link>
      </div>
    </div>
    <div class="swiper-pagination so__swiper-pagination swiper-pagination-bullets" :class="['swiper-pagination-' + selector]" />
    <div class="swiper-navigation">
      <div class="swiper-button swiper-button-prev so__swiper-button-prev" :class="['swiper-button-prev-' + selector]">
        <i class="pui-chevrone-line-left-ic" />
      </div>
      <div class="swiper-button swiper-button-next so__swiper-button-next" :class="['swiper-button-next-' + selector]">
        <i class="pui-chevrone-line-right-ic" />
      </div>
    </div>
  </div>
</template>
<script>
import { mapState } from 'vuex'
export default {
	props: {
		inputData: {
			type: Array,
			default() {
				return []
			}
		},
		title: {
			type: String,
			default: null
		},
		selector: {
			type: String,
			default: 'mySwiper'
		}
	},
	data() {
		return {
			swiperOption: {
				loop: false,
				slidesPerView: 3,
				slidesPerGroup: 3,
				breakpoints: {
					575: {
						slidesPerView: 1,
						slidesPerGroup: 1
					},
					1200: {
						slidesPerView: 2,
						slidesPerGroup: 2
					}
				},
				spaceBetween: 24,
				pagination: {
					el: '.swiper-pagination-' + this.selector,
					dynamicBullets: false
				},
				navigation: {
					nextEl: '.swiper-button-next-' + this.selector,
					prevEl: '.swiper-button-prev-' + this.selector
				}
			}
		}
	},
	computed: {
		...mapState(['subdomain']),
		wideSlides() {
			const result = [1]
			const array = Object.keys(this.inputData)
			array.splice(0, 2)
			let i = 1
			array.forEach((el) => {
				if (i === 3) {
					result.push(parseInt(el))
					i = 1
				} else {
					i++
				}
			})
			return result
		}
	},
	mounted() {
		setTimeout(() => {
			this[this.selector].update()
		}, 500)
	},
	methods: {

	}
}
</script>
<style lang="scss">
.component__special-offer {
	position: relative;
	margin-top: 80px;
	margin-bottom: 92px;
	@media (max-width: $lg){
		margin-top: 50px;
		margin-bottom: 50px;
	}
	@media (max-width: $xs){
		margin-bottom: 36px;
		margin-top: 36px;
	}
	.section-title{
		margin-bottom: 30px;
		@media (max-width: $xs){
			font-size: 16px;
			font-weight: bold;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.38;
			margin-bottom: 16px;
		}
	}
	.swiper-slide{
		// width: calc(100%/3) !important;
		overflow: hidden;
		background-color: #eee;
		border-radius: 5px;
		background-size: auto, auto;
		background-position: 0 0, 0 0;
		background-repeat: no-repeat, no-repeat;
		padding: 20px;
		@media (max-width: $lg){
			// width: calc(50% - 12px) !important;
		}
		@media (max-width: $xs){
			// width: 100% !important;
		}
		// &.swiper-slide--wide{

		// 	// width: 50% !important;
		// 	// @media (max-width: $lg){
		// 	// 	width: calc(50% - 12px) !important;
		// 	// }
		// 	// @media (max-width: $xs){
		// 	// 	width: 100% !important;
		// 	// }
		// }
		.near-dates{
			min-height: 42px;
			color: $white;
			b{
				font-weight: 600;
			}
		}
		.slide-title{
			color: $white;
			margin-top: 195px;
			margin-bottom: 12px;
			height: 60px;
			overflow: hidden;
			text-overflow: ellipsis;
			display: block;
			max-width: 320px;
			@media (max-width: $xxs){
				margin-top: 157px;
				margin-bottom: 8px;
				max-width: 300px;
			}
		}
		.slide-details{
			margin-bottom: 20px;
			white-space: nowrap;
			@include flex(row, flex-start, center);
			div{
				color: $primary-sand	;
				margin-right: 19px;
				line-height: 1;

				@include flex(row, flex-start, center);
				&.direction{
					span{
						max-width: 100px;
					}
				}
				i{
					display: inline-block;
					margin-right: 7px;
				}
				span{
					font-weight: 600;
					overflow: hidden;
					text-overflow: ellipsis;
					display: inline-block;
					color: $white;
				}
			}
		}
		.slide-footer{
			color: $white;
			.price{
				margin-top: 16px;
				margin-bottom: 1px;
			}
		}
	}
	.swiper-pagination{
		position: relative;
		@media (min-width: $sm){
			display: none;
		}
	}
}
</style>
