<template>
  <div class="component__subscribe" :class="subdomain">
    <div class="subscribe-top">
      <el-row :gutter="0" type="flex">
        <el-col :xs="24" :lg="13">
          <div class="subscribe-left">
            <div class="subscribe-title text-h3">
              {{ $LOCALE(title) }}
            </div>
            <p class="subscribe-text">
              {{ $LOCALE(text) }}
            </p>
          </div>
        </el-col>
        <el-col :xs="24" :lg="11">
          <div v-if="subdomain !== 'hotel'" class="subscribe-right">
            <div class="subscribe-advantage">
              <i class="pui-checkbox-on-ic" />
              <p>{{ $LOCALE('ln_subscribe_form_tips')[0] }}</p>
            </div>
            <div class="subscribe-advantage">
              <i class="pui-checkbox-on-ic" />
              <p>{{ $LOCALE('ln_subscribe_form_tips')[1] }}</p>
            </div>
            <div class="subscribe-advantage">
              <i class="pui-checkbox-on-ic" />
              <p>{{ $LOCALE('ln_subscribe_form_tips')[2] }}</p>
            </div>
          </div>
        </el-col>
      </el-row>
    </div>
    <div class="subscribe-bottom">
      <no-ssr>
        <el-form ref="formSubscribe" :model="formSubscribe" :rules="formSubscribeRules" :status-icon="true" @submit.native.prevent="handleSubmit()">
          <el-row :gutter="8" type="flex">
            <el-col :xs="24" :sm="12" :md="8" :lg="5">
              <el-form-item prop="email">
                <pui-input v-model="formSubscribe.email" autocomplete="yes" :size="$IS_MOBILE?'small':'large'" :label="$LOCALE('ln_subscribe_email_or_phone')" />
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :md="8" :lg="5">
              <el-form-item>
                <pui-input
                  v-if="subdomain === 'hotel'"
                  v-model="formSubscribe.hotelDirection"
                  :label="$LOCALE('ln_direction_place')"
                  :size="$IS_MOBILE?'small':'large'"
                />
                <vue-search-direction v-else v-model="formSubscribe.direction" />
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :md="8" :lg="4">
              <el-form-item>
                <vue-search-people v-model="formSubscribe.people" />
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :md="12" :lg="7">
              <el-form-item>
                <vue-search-daterange v-model="formSubscribe.dates" :label="subdomain === 'hotel'?'ln_hotel_search_form_input_holiday_dates':null" />
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :md="12" :lg="3">
              <pui-button
                :size="$IS_MOBILE?'small':'large'"
                submit
                type="blue"
                class="subscribe-button"
                auto
                :fluid="$ua.isFromSmartphone()"
              >
                {{ $LOCALE('ln_subscribe') }}
              </pui-button>
            </el-col>
          </el-row>
        </el-form>
      </no-ssr>
    </div>
  </div>
</template>
<script>
import { mapState } from 'vuex'
import VueSearchDirection from '@/components/Search/Direction'
import VueSearchDaterange from '@/components/Search/Daterange'
import VueSearchPeople from '@/components/Search/People'
export default {
	components: {
		VueSearchDirection,
		VueSearchDaterange,
		VueSearchPeople
	},
	data() {
		return {
			formSubscribe: {
				email: null,
				direction: '0',
				hotelDirection: null,
				people: {
					adults: 1,
					children: []
				},
				dates: null
			},
			formSubscribeRules: {
				email: [
					{ required: true, message: this.$LOCALE('ln_enter_email'), trigger: ['blur'] }
					// { type: 'email', message: this.$LOCALE('ln_enter_correct_email'), trigger: ['blur'] }
				]
			}
		}
	},
	computed: {
		...mapState(['subdomain']),
		title() {
			if (this.subdomain === 'hotel') {
				return 'ln_hotel_subscribe_form_title'
			} else {
				return 'subscribe-form-title'
			}
		},
		text() {
			if (this.subdomain === 'hotel') {
				return 'ln_hotel_subscribe_form_text'
			} else {
				return 'subscribe-form-text'
			}
		}
	},
	created() {
		const now = new Date()
		const lastDate = new Date()
		lastDate.setDate(lastDate.getDate() + 3)
		this.formSubscribe.dates = this.$GET_DATE(now) + ',' + this.$GET_DATE(lastDate)
	},
	methods: {
		handleSubmit() {
			this.$refs.formSubscribe.validate((valid) => {
				if (valid) {
					this.subscribeMe()
				} else {
					return false
				}
			})
		},
		async subscribeMe() {
			let direction = 'All'
			try {
				direction = this.__directionsObject[this.formSubscribe.direction].name
			} catch (err) {}
			const data = {
				email: this.formSubscribe.email,
				direction: direction,
				adults: this.formSubscribe.people.adults,
				children: this.formSubscribe.people.children,
				dates: this.formSubscribe.dates || 'Not set'
			}
			const string = Object.entries(data)
				.map((el) => { return `${encodeURIComponent(el[0])}=${encodeURIComponent(el[1])}` })
				.join('&')
			await this.$axios.$post('https://ru.palmarius.org/ajax/subscribe', string, {
				headers: {
					'content-type': 'application/x-www-form-urlencoded'
				}
			}).then((res) => {
				if (res.success === 1) {
					// this.$notify.success({
					// 	title: this.$LOCALE('ln_common_notify_title_success'),
					// 	message: this.$LOCALE('ln_hotel_subscribe_message')
					// })
					this.$store.commit('layout/SET_STATES', {
						dialogConfirmShown: true,
						dialogConfirmContent: {
							image: '/static-assets/images/letter.png',
							title: 'ln_common_thankyou',
							message: 'ln_hotel_subscribe_message',
							button: 'ln_common_good'
						}
					})
				} else {
					this.$notify.error({
						title: this.$LOCALE('ln_common_notify_title_error'),
						message: res.message
					})
				}
			}).catch((e) => {
				console.log(e)
			})
		}
	}
}
</script>
<style lang="scss">
.component__subscribe{
	padding: 56px 0;
	background-color: $white;
	box-shadow: 0 2px 40px 0 rgba(28, 74, 115, 0.23);
	@media (max-width: $xs){
		padding: 20px 16px;
	}
	&.hotel{
		.subscribe-top {
			@media(max-width: $xs){
				margin-bottom: 0;
			}
			.subscribe-left{
				border-right: 0 solid;
			}
		}
	}
	.subscribe-top{
		margin-bottom: 44px;
		@media (max-width: $lg){
			margin-bottom: 30px;
		}
		@media (max-width: $xs){
			margin-bottom: 28px;
		}
		.subscribe-left{
			padding: 0 60px 0 102px;
			border-right: 2px solid $ice-blue;
			@media (max-width: $lg){
				padding: 0 60px;
				border-right: 0 solid;
				margin-bottom: 20px;
			}
			@media (max-width: $xs){
				padding: 0;
				border-right: 0 solid;
			}
			.subscribe-title{
				margin-bottom: 12px;
				@media (max-width: $xs){
					font-size: 16px;
					font-weight: bold;
					line-height: 1.38;
					margin-bottom: 8px;
				}
			}
			.subscribe-text{
				@media (max-width: $xs){
					font-size: 12px;
					font-weight: normal;
					line-height: 1.5;
				}
			}
		}
		.subscribe-right{
			padding: 0 102px 0 64px;
			@media (max-width: $lg){
				padding: 0 60px;
			}
			@media (max-width: $xs){
				padding: 0;
			}
			.subscribe-advantage{
				margin-bottom: 28px;
				@include flex(row, flex-start, center);
				@media (max-width: $xs){
					margin-bottom: 20px;
				}
				&:last-child{
					margin-bottom: 0;
				}
				i{
					color: $primary-green;
					margin-right: 10px;
					font-size: 20px;
					width: 20px;
					height: 20px;
					@media (max-width: $xs){
						width: 17px;
						height: 17px;
						font-size: 17px;
						margin-right: 9px;
					}
				}
				p{
					font-size: 14px;
					font-weight: 600;
					line-height: 1.43;
				}
			}
		}
	}
	.subscribe-bottom{
		width: 100%;
		padding: 0 102px;
		@media (max-width: $lg){
			padding: 0 60px;
		}
		@media (max-width: $sm){
			padding: 0 60px;
		}
		@media (max-width: $xs){
			padding: 0;
		}
		.subscribe-button{
			@media (max-width: $lg){
				width: 100%;
				min-width: auto;
			}
			@media (max-width: $xs){
				margin-top: 8px;
			}
		}
	}
	.el-form-item{
		@media (max-width: $xs){
			margin-bottom: 12px;
			&.is-error{
				margin-bottom: 22px;
			}
		}
	}
}
</style>
