<template>
  <div class="page__hotels">
    <div class="container">
      <div class="hotels-title-wrapper">
        <span class="hotels-title">{{ hotelsTitle.page_title }}</span>
        <!-- <div class="search-input">
          <pui-input />
        </div> -->
      </div>
      <vue-partners-hotels-grid :hotels="hotels" :context="hotelsContext" />
      <pui-pager
        :page="hotelsPager.page"
        :total="hotelsPager.total"
        :last-page="hotelsPager.lastpage"
        :start="hotelsPager.start"
        :page-size="hotelsPager.pagesize"
        @change="getHotels($event)"
      />
      <pui-spacer :size="90" />
      <vue-partners-resume class="vue-partners-resume" />
    </div>
  </div>
</template>
<script>
import { mapState } from 'vuex'
import VuePartnersHotelsGrid from '@/components/Partners/HotelsGrid'
import VuePartnersResume from '@/components/Partners/Resume'
export default {
	components: {
		VuePartnersHotelsGrid,
		VuePartnersResume
	},
	data() {
		return {
			title: 'Отели по всему миру',
			buttonText: 'Показать все отели',
			hotelsContext: { from: 'hotels' }
		}
	},
	computed: {
		...mapState('partners', ['hotels', 'hotelsPager', 'hotelsTitle'])
	},
	async asyncData({ store }) {
		const params = {
			page: 1,
			limit: 12
		}
		await store.dispatch('partners/GET_HOTELS', params)
	},
	beforeDestroy() {
		this.$store.commit('partners/CLEAR')
	},
	methods: {
		async getHotels(page) {
			const params = {
				limit: 12,
				page: page
			}
			console.log('PAGE', page)
			await this.$store.dispatch('partners/GET_HOTELS', params)
		}
	}
}
</script>
<style lang="scss">
.page__hotels {
  font-stretch: normal;
  letter-spacing: normal;
  color: $charcoal-grey;
  .container {
    .hotels-title-wrapper {
      padding: 32px 0 64px;
      display: flex;
      align-items: center;
      .hotels-title {
        font-size: 24px;
        font-weight: bold;
        line-height: 1.25;
      }
      .search-input {
        margin-left: auto;
      }
    }
    .pager {
      width: 100%;
      height: 60px;
      border-radius: 6px;
      background-color: $white;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 92px;
    }
  }
}
@media (max-width: $xs) {
  .page__hotels {
    .container {
      .hotels-title-wrapper {
        flex-wrap: wrap;
        padding: 20px 0;
        .hotels-title {
          font-size: 16px;
          font-weight: bold;
          line-height: 1.38;
          padding-bottom: 16px;
        }
        .search-input {
          margin: 0;
          width: 100%;
        }
      }
    }
  }
}
</style>
