<template>
  <div class="page__partners">
    <vue-partners-stats />
    <vue-partners-benefit />
    <vue-partners-hotels :hotels="hotels" :context="hotelsContext" />
    <vue-partners-grid :partners="partners" :context="partnersContext" />
  </div>
</template>
<script>
import { mapState } from 'vuex'

import VuePartnersStats from '@/components/Partners/Stats'
import VuePartnersBenefit from '@/components/Partners/Benefit'
import VuePartnersGrid from '@/components/Partners/Grid'
import VuePartnersHotels from '@/components/Partners/Hotels'

export default {
	components: {
		VuePartnersStats,
		VuePartnersBenefit,
		VuePartnersGrid,
		VuePartnersHotels
	},
	data() {
		return {
			partnersContext: { from: 'index' }, // 'index' || 'operators'
			hotelsContext: { from: 'index' }
		}
	},
	computed: {
		...mapState('partners', ['hotels', 'partners'])
	},
	async asyncData({ app, store }) {
		await store.dispatch('partners/GET_HOTELS', {
			limit: 6
		})
		await store.dispatch('partners/GET_PARTNERS', {
			limit: 12
		})
	},
	beforeDestroy() {
		this.$store.commit('partners/CLEAR')
	},
	methods: {}
}
</script>
<style lang="scss">
.page__partners {
  background-color: white;
  letter-spacing: normal;
  font-stretch: normal;
  .component__partners-stats {
	padding-top: 58px;
	@media(max-width: $xs){
		padding-top: 20px;
	}
  }
  .component__partners-benefit {
    padding-top: 36px;
    padding-bottom: 20px;
  }
  .component__partners-hotels {
    //padding-top: 20px;
    padding-bottom: 20px;
  }
  .component__partners-grid {
    padding-top: 36px;
    //padding-bottom: 0; //уточнить в зависимости от нижнего блока
  }
}
</style>
