<template>
  <div class="page__operators">
    <div class="container">
      <div class="operators-title-wrapper">
        <h1 class="operators-title">
          {{ partnersTitle.page_title }}
        </h1>
        <!-- <div class="search-input">
          <pui-input />
        </div> -->
      </div>
      <vue-partners-grid-grid
        :partners="partners"
        :context="context"
        class="vue-partners-grid-grid"
      />
      <pui-pager
        :page="partnersPager.page"
        :total="partnersPager.total"
        :last-page="partnersPager.lastpage"
        :start="partnersPager.start"
        :page-size="partnersPager.pagesize"
        @change="getPartners($event)"
      />
      <pui-spacer :size="90" />
      <vue-partners-resume class="vue-partners-resume" />
    </div>
  </div>
</template>
<script>
import { mapState } from 'vuex'
import VuePartnersGridGrid from '@/components/Partners/GridGrid'
import VuePartnersResume from '@/components/Partners/Resume'

export default {
	components: {
		VuePartnersGridGrid,
		VuePartnersResume
	},
	data() {
		return {
			context: { from: 'operators' }, // 'index' || 'operators'
			searchInput: '',
			searchPlaceholder: 'Поиск партнеров в городе или стране'
		}
	},
	computed: {
		...mapState('partners', ['partners', 'partnersPager', 'partnersTitle'])
	},
	async asyncData({ store }) {
		const params = {
			page: 1,
			limit: 27
		}
		await store.dispatch('partners/GET_PARTNERS', params)
	},
	beforeDestroy() {
		this.$store.commit('partners/CLEAR')
	},
	methods: {
		async getPartners(page) {
			const params = {
				limit: 27,
				page: page
			}
			await this.$store.dispatch('partners/GET_PARTNERS', params)
		}
	}
}
</script>
<style lang="scss">
//1440, desktop first
.page__operators {
  font-stretch: normal;
  letter-spacing: normal;
  color: $charcoal-grey;
  .container {
    .operators-title-wrapper {
      padding: 32px 0 64px;
      display: flex;
      align-items: center;
      .operators-title {
        font-size: 24px;
        font-weight: bold;
        line-height: 1.25;
      }
      .search-input {
        margin-left: auto;
      }
    }
    .vue-partners-grid-grid {
    }
    .pager {
      width: 100%;
      height: 60px;
      border-radius: 6px;
      background-color: $white;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 92px;
      box-shadow: 0 1px 8px 0 rgba(28, 74, 115, 0.12);
    }
  }
}
//320, desktop first
@media (max-width: $xs) {
  .page__operators {
    .container {
      .operators-title-wrapper {
        flex-wrap: wrap;
        padding: 20px 0;
        .operators-title {
          font-size: 16px;
          font-weight: bold;
          line-height: 1.38;
          margin-bottom: 16px;
        }
        .search-input {
          margin: 0;
          width: 100%;
        }
      }
      .vue-partners-grid-grid {
      }
    }
  }
}
</style>
