<template>
  <div v-show="activeTabName === name" class="pui-tab-pane">
    <slot />
  </div>
</template>

<script>
import { tabsEventBus } from './tabs'

export default {
	name: 'PuiTabPane',
	props: {
		label: {
			type: String,
			default: ''
		},
		name: {
			type: String,
			default: ''
		}
	},
	data: () => ({
		activeTabName: null
	}),
	computed: {
		tab() {
			return {
				name: this.name,
				label: this.label
			}
		}
	},
	mounted() {
		tabsEventBus.$emit('tab-pane-mounted', this.tab)
		tabsEventBus.$on('active-tab-change', this.handleActiveTabChange)
	},
	beforeDestroy() {
		tabsEventBus.$emit('tab-pane-will-destroy', this.tab)
		tabsEventBus.$off('active-tab-change', this.handleActiveTabChange)
	},
	methods: {
		handleActiveTabChange(activeTabName) {
			this.activeTabName = activeTabName
		}
	}
}
</script>
<style lang="scss">
.pui-tab-pane{
	padding: 0 24px 18px;
}
</style>
