<template>
  <div class="pui-tabs">
    <div class="pui-tabs__navigation sm-less-hidden">
      <div
        v-for="tab in tabs"
        :key="tab.name"
        class="pui-tabs__tab"
        :class="{
          'pui-tabs__tab--active': tab.name === value
        }"
        @click="changeActiveTab(tab)"
      >
        {{ tab.label }}
      </div>
    </div>
    <div class="pui-tabs__mobile-navigation sm-more-hidden">
      <pui-select
        :value="selectActiveOption"
        :mobile="true"
        :options="puiSelectOptions"
        size="small"
        @input="puiSelectHandler"
      />
    </div>
    <slot />
  </div>
</template>

<script>
import Vue from 'vue'
import PuiSelect from '../select'

export const tabsEventBus = new Vue()

export default {
	name: 'PuiTabs',
	components: {
		PuiSelect
	},
	model: {
		prop: 'value',
		event: 'change'
	},
	props: {
		value: {
			type: String,
			default: ''
		}
	},
	data: () => ({
		tabs: []
	}),
	computed: {
		puiSelectOptions() {
			return this.tabs.map((tab, index) => ({
				label: tab.label,
				name: tab.name,
				value: index
			}))
		},
		selectActiveOption() {
			const option = this.puiSelectOptions.find(
				option => option.name === this.value
			)
			return option ? option.value : undefined
		}
	},
	beforeMount() {
		tabsEventBus.$on('tab-pane-mounted', this.pushTab)
		tabsEventBus.$on('tab-pane-will-destroy', this.removeTab)
	},
	mounted() {
		this.emitActiveTabToBus()
	},
	destroyed() {
		tabsEventBus.$off('tab-pane-mounted', this.pushTab)
		tabsEventBus.$off('tab-pane-will-destroy', this.removeTab)
	},
	methods: {
		emitActiveTabToBus() {
			tabsEventBus.$emit('active-tab-change', this.value)
		},
		pushTab(tab) {
			this.tabs.push(tab)
		},
		removeTab(tab) {
			for (let i = 0; i < this.tabs.length; i++) {
				if (this.tabs[i].name !== tab.name) continue
				this.tabs.splice(i, 1)
				i--
			}
		},
		changeActiveTab(tab) {
			this.$emit('change', tab.name)
			tabsEventBus.$emit('active-tab-change', tab.name)
		},
		puiSelectHandler(value) {
			const option = this.puiSelectOptions.find(
				option => option.value === value
			)
			if (option) {
				this.$emit('change', option.name)
				tabsEventBus.$emit('active-tab-change', option.name)
			}
		}
	}
}
</script>

<style lang="scss">
.pui-tabs {
  &__navigation {
    @include flex(row, flex-start, flex-start);
    margin-bottom: 37px;
	padding: 18px 24px 0;
	border-bottom: 1px solid $soft-grey;
  }
  &__mobile-navigation {
    padding-bottom: 37px;
  }
  &__tab {
    cursor: pointer;
    height: 40px;
    margin-right: 24px;
    &:last-child {
      margin-right: 0;
    }
    font-size: 14px;
    font-weight: 500;
    color: $charcoal-grey;
    &--active {
      color: $primary-blue;
      border-bottom: 3px solid $clear-blue;
    }
  }
}
</style>
