<template>
  <div class="page__hotel-xcursions-index">
    <div class="container">
      <no-ssr>
        <SearchForm />
      </no-ssr>
      <pui-spacer :size="40" />
      <TourCardGrid :tours="tours" />
    </div>
  </div>
</template>
<script>
import { mapState } from 'vuex'
import TourCardGrid from '@/components/Tour/CardGrid'
import SearchForm from '@/components/Search/Form'
export default {
	components: {
		SearchForm,
		TourCardGrid
	},
	computed: {
		...mapState('search', ['tours']),
		...mapState('hotel', ['hotelXcursionSearchValues'])
	},
	watch: {
		__currency(val) {
			this.$store.dispatch('hotel/HOTEL_XCURSION_SEARCH', {
				hotel: this.$route.params.hotel,
				query: {}
			})
		}
	},
	async asyncData({ store, params }) {
		// await store.commit('search/SET_STATES', { searchFormActiveTab: 'VueSearchExcursionForm' })
		await store.dispatch('hotel/HOTEL_XCURSION_SEARCH', {
			hotel: params.hotel,
			query: {}
		})
	}
}
</script>
