<template>
  <div class="component__filter-checkboxes">
    <!-- {{ filterValues }} -->
    <pui-cascader :title="title" :info="info">
      <el-checkbox-group v-model="filterСheckboxes" @change="change()">
        <transition-group name="fadeInDown">
          <div v-for="(val) in valuesFiltered" :key="val.id" class="filter-value__wrapper">
            <el-checkbox :label="val.id" :title="val.full_name">
              {{ val.full_name || $LOCALE('ln_partner') + ' ' + val.id }}
            </el-checkbox>
          </div>
        </transition-group>
      </el-checkbox-group>
      <div v-if="filterValues && filterValues.length > defaultShown" class="filter-checkboxes-footer">
        <pui-button type="link" fluid @click="toggleShown()">
          <span v-if="!expanded">Больше вариантов</span>
          <span v-else>Свернуть</span>
        </pui-button>
      </div>
    </pui-cascader>
  </div>
</template>
<script>
export default {
	props: {
		title: {
			type: String,
			default: null
		},
		filterValues: {
			type: Array,
			default() {
				return []
			}
		},
		defaultShown: {
			type: Number,
			default: 5
		},
		info: {
			type: Object,
			default() {
				return {
					title: null,
					text: null
				}
			}
		},
		value: {
			type: Array,
			default() {
				return []
			}
		}
	},
	data() {
		return {
			filterСheckboxes: this.value,
			expanded: false
		}
	},
	computed: {
		valuesFiltered() {
			let filtered = []
			if (this.filterValues) {
				filtered = this.filterValues.filter((el, key) => {
					if (this.expanded) {
						return el
					} else {
						return (key + 1) <= this.defaultShown
					}
				})
			}
			return filtered
		}
	},
	watch: {
		filterСheckboxes(val) {
			this.$emit('input', val)
			// this.$emit('change')
		},
		value(val) {
			this.filterСheckboxes = val
		}
	},
	methods: {
		getLabeles() {

		},
		toggleShown() {
			this.expanded = !this.expanded
		},
		getMore() {
			this.$emit('get-more')
		},
		getShowing(len) {
			const showing = this.getLabeles()
			showing.length = len
			return showing
		},
		getHide(c) {
			const hide = this.getLabeles()
			for (let i = 1; i < c; i++) {
				hide.shift()
			}
			hide.shift()
			return hide
		},
		change() {
			this.$emit('change')
		},
		reset() {
			this.filterСheckboxes = []
		}
	}
}
</script>
<style lang="scss">
.component__filter-checkboxes{
	border-radius: 6px;
	background-color: $white;
	width: 100%;
	.filter-checkboxes-footer{
		padding: 20px 0 4px;
	}
}
</style>
