<template>
  <div class="component__filter-layout">
    <!-- {{ filterOpen }} -->
    <!-- {{ filterPartnersValues }} -->
    <!-- <transition name="slide-fade"></transition> -->
    <div class="filters-wrapper" :class="[filterOpen?'opened':'']">
      <div id="filters-header" class="filters-header">
        <div class="filters-title text-h4">
          Фильтровать
        </div>
        <div class="filters-close" @click="closeFilters()">
          <i class="pui-plus-ic" />
        </div>
      </div>
      <!-- {{ filterVacation }} -->
      <!-- <vue-filter-checkboxes
          v-model="filterVacation"
          :title="$LOCALE('ln_vacation_types')"
          :info="{title: 'Test', text: 'Lorem text hahaha'}"
          :filter-values="vacationValues"
        /> -->
      <!-- <pui-spacer :size="16" /> -->

      <!-- <pui-spacer :size="16" />
      <vue-filter-checkboxes
        v-model="filterIncludes"
        :title="$LOCALE('ln_tour_includes')"
        :filter-values="includesValues"
      />
      <pui-spacer :size="16" />
      <vue-filter-checkboxes
        v-model="filterTickets"
        :title="$LOCALE('ln_ticket_variant')"
        :filter-values="ticketsValues"
      /> -->
      <template>
        <vue-filter-checkboxes
          v-model="filterPartners"
          :title="$LOCALE('ln_filter_partners_title')"
          :default-shown="10"
          :filter-values="filterPartnersValues"
          @change="changeFilters()"
        />
        <!-- <pui-spacer :size="16" /> -->
      </template>

      <!-- <vue-filter-price v-model="filterPrice" disabled /> -->
      <div class="filters-footer">
        <pui-button type="sand" size="small" fluid class="filters__submit-button" @click="submitFilters()">
          Применить фильтры
        </pui-button>
        <pui-button type="blue" size="small" fluid @click="clearFilters()">
          Сбросить фильтры
        </pui-button>
      </div>
    </div>
    <div class="tour-filters--mobile">
      <pui-button auto round type="sand" @click="openFilters()">
        Фильтровать
      </pui-button>
    </div>
  </div>
</template>
<script>
import { mapState } from 'vuex'
import VueFilterCheckboxes from '@/components/Filter/Checkboxes'
// import VueFilterPrice from '@/components/Filter/Price'
export default {
	components: {
		VueFilterCheckboxes
		// VueFilterPrice
	},
	props: {
		fullMode: {
			type: Boolean,
			default() {
				return false
			}
		}
	},
	data() {
		return {
			filterOpen: !this.$IS_MOBILE,
			vacationValues: [
				{ label: 'Активный отдых', value: 0 },
				{ label: 'Туризм', value: 1 },
				{ label: 'Отдых на море', value: 2 },
				{ label: 'Экстрим', value: 3 },
				{ label: 'Ночная жизнь', value: 4 },
				{ label: 'Культурные программы', value: 5 }
			],
			includesValues: [
				{ label: 'Проживание', value: 0 },
				{ label: 'Питание', value: 1 }
			],
			ticketsValues: [
				{ label: 'Автобус', value: 0 },
				{ label: 'Самолет', value: 1 },
				{ label: 'Поезд', value: 2 },
				{ label: 'Самолет + поезд', value: 3 }
			],
			partnersValues: [

			]
		}
	},
	computed: {
		...mapState('search', ['filterPartnersValues', 'directionSlug', 'partnerSlug', 'limit', 'loc', 'dest', 'date', 'days', 'adults', 'children', 'type']),
		filterVacation: {
			get() {
				return this.$store.state.tours.filterStates.vacation
			},
			set(value) {
				const filters = this.$cookies.get('filters') || {}
				filters.vacation = value
				this.$store.commit('tours/SET_FILTER_STATES', filters)
				// this.$cookies.set('filters', filters)
			}
		},
		filterIncludes: {
			get() {
				return this.$store.state.tours.filterStates.includes
			},
			set(value) {
				const filters = this.$cookies.get('filters') || {}
				filters.includes = value
				this.$store.commit('tours/SET_FILTER_STATES', filters)
				// this.$cookies.set('filters', filters)
			}
		},
		filterTickets: {
			get() {
				return this.$store.state.tours.filterStates.tickets
			},
			set(value) {
				const filters = this.$cookies.get('filters') || {}
				filters.tickets = value
				this.$store.commit('tours/SET_FILTER_STATES', filters)
				// this.$cookies.set('filters', filters)
			}
		},
		filterPartners: {
			get() {
				return this.$store.state.search.filterPartners
			},
			set(value) {
				const filters = this.$cookies.get('filters') || {}
				filters.filterPartners = value
				this.$store.commit('search/SET_STATES', {
					filterPartners: value
				})
			}
		},
		filterPrice: {
			get() {
				return this.$store.state.search.filterPrice
			},
			set(value) {
				const filters = this.$cookies.get('filters') || {}
				filters.filterPrice = value
				this.$store.commit('search/SET_STATES', {
					filterPrice: value
				})
			}
		}
	},
	watch: {
		$IS_MOBILE(val) {
			this.filterOpen = !val
		}
	},
	beforeDestroy() {
		this.clearFilters()
	},
	created() {
		this.filterOpen = !this.$WINDOW_LESS(769)
		const filters = this.$cookies.get('filters')
		if (filters) {
			this.$store.commit('search/SET_STATES', filters)
		} else {
			this.$cookies.set('filters', {
				filterPartners: this.$store.state.search.filterPartners
			})
		}
	},
	methods: {
		openFilters() {
			this.filterOpen = true
			this.$TOGGLE_BODY_CLASS('addClass', 'fixed')
			this.$SCROLL_TO('#filters-header')
		},
		closeFilters() {
			this.$SCROLL_TO('#filters-header')
			this.filterOpen = false
			this.$TOGGLE_BODY_CLASS('removeClass', 'fixed')
		},
		async clearFilters() {
			await this.$store.commit('search/CLEAR_STATES', ['filterPartners', 'filterPrice'])
			await this.submitFilters()
			if (this.$IS_MOBILE) {
				this.closeFilters()
			}
		},
		changeFilters() {
			console.log('CHANGE FILTER')
			if (!this.$IS_MOBILE) {
				this.submitFilters()
			} else {
				return false
			}
		},
		submitFilters() {
			this.$emit('change-filters')
			if (this.$IS_MOBILE) {
				this.closeFilters()
			}
			// this.$store.commit('loading/SET_LOADING', true)
			// this.$cookies.set('filters', {
			// 	filterPartners: this.filterPartners,
			// 	filterPrice: this.filterPrice
			// })
			// const partners = this.filterPartners.join(',')
			// let params = {}
			// if (this.fullMode) {
			// 	params = {
			// 		page: 1,
			// 		limit: this.limit,
			// 		loc: this.loc,
			// 		dest: this.dest,
			// 		date: this.date,
			// 		days: this.days,
			// 		adults: this.adults,
			// 		children: this.children,
			// 		partners: partners,
			// 		type: this.type,
			// 		directionSlug: this.directionSlug,
			// 		partnerSlug: this.partnerSlug
			// 	}
			// } else {
			// 	params = {
			// 		page: 1,
			// 		limit: this.limit,
			// 		partners: partners,
			// 		type: this.type,
			// 		directionSlug: this.directionSlug,
			// 		partnerSlug: this.partnerSlug
			// 	}
			// }
			// await this.$store.dispatch('search/SEARCH', params)
			// if (this.$IS_MOBILE) {
			// 	this.closeFilters()
			// }
			// this.$store.commit('loading/SET_LOADING', false)
		}
	}
}
</script>
<style lang="scss">
.component__filter-layout{
	.filters-wrapper{
		padding-bottom: 70px !important;
		.filters-header{
			display: none;
			margin-bottom: 20px;
			flex-wrap: nowrap;
			.filters-close{
				i{
					transform: rotate(45deg);
					display: inline-block;
					color: $grey-blue;
					font-size: 16px;
				}
			}
		}
		.filters-footer{
			margin-top: 12px;
			button{
				margin-bottom: 24px;
			}
		}
		@media(max-width: $sm){
			height: 100vh;
			width: 100%;
			overflow-y: auto;
			position: fixed;
			z-index: 9;
			top: 0;
			background: $soft-grey;
			right: -100%;
			padding: 15px 15px 0;
			@include transition(.2s);
			&.opened{
				// display: block;
				right: 0;
			}
			.filters-header{
				@include flex(row, space-between, center);
			}
		}
	}
	.tour-filters--mobile{
		display: none;
		@media(max-width: $sm){
			display: block;
		}
		.pui-button{
			position: fixed;
			bottom: 40px;
			width: 212px;
			left: 0;
			right: 0;
			z-index: 8;
			margin: auto;
			box-shadow: 0 5px 24px 0 rgba(28, 74, 115, 0.2)
		}
	}
	.filters__submit-button{
		display: none;
		@media(max-width: $sm){
			display: block;
		}
	}
}
</style>
