<template>
  <div class="component__filters-vacation-price">
    <pui-cascader :title="$LOCALE('ln_price')">
      <div v-if="shown" class="price-range">
        <pui-input-plain v-model="priceFrom" v-mask="'9{0,100} ' + __currency" :disabled="disabled" class="filter-price-min" @change="changeInput()" />
        <pui-input-plain v-model="priceTo" v-mask="'9{0,100} ' + __currency" :disabled="disabled" class="filter-price-max" @change="changeInput()" />
      </div>
      <el-slider
        v-model="priceRange"
        :disabled="disabled"
        range
        :min="minPrice"
        :max="maxPrice"
        :show-tooltip="false"
      />
    </pui-cascader>
  </div>
</template>
<script>
export default {
	layout: 'clear',
	props: {
		value: {
			type: Array,
			default() {
				return [0, 0]
			}
		},
		disabled: {
			type: Boolean,
			default() {
				return false
			}
		}
	},
	data() {
		return {
			minPrice: 1000,
			maxPrice: 100000,
			priceRange: this.value,
			priceFrom: this.value[0],
			priceTo: this.value[1],
			shown: true
		}
	},
	watch: {
		priceRange: {
			handler(val) {
				this.$emit('input', val)
				this.priceFrom = val[0]
				this.priceTo = val[1]
			},
			deep: true
		},
		value(val) {
			this.priceRange = val
		},
		__currency() {
			this.shown = false
			setTimeout(() => {
				this.shown = true
			}, 100)
		}
	},
	methods: {
		changeInput() {
			let from = this.priceFrom
			let to = this.priceTo
			if (typeof this.priceFrom === 'string') {
				from = parseInt(this.priceFrom.split(' ')[0])
			}
			if (typeof this.priceTo === 'string') {
				to = parseInt(this.priceTo.split(' ')[0])
			}
			this.priceRange = [from, to]
		}
	}
}
</script>
<style lang="scss">
.component__filters-vacation-price {
  border-radius: 6px;
  background-color: $white;
  width: 100%;
  .price-range {
	display: flex;
	& > label{
		margin-right: 22px;
		&:last-child{
			margin-right: 0;
		}
	}
  }
}
</style>
