<template>
  <div class="component__filter-topbar">
    <pui-radio-group v-model="topFilter" :values="topFilterValues" instring />
  </div>
</template>
<script>
export default {
	data() {
		return {
			topFilterValues: [
				{ label: 'Оптимальные', value: 0 },
				{ label: 'Самые дешевые', value: 1 },
				{ label: 'Эксклюзивные', value: 2 }
			],
			topFilter: 0
		}
	}
}
</script>
<style lang="scss">
.component__filter-topbar{
	padding: 5px 16px;
	background-color: $white;
	margin-bottom: 20px;
	border-radius: 6px;
}
</style>
