<template>
  <div class="component__add-program">
    <div class="add-program__filter">
      <pui-select
        v-model="selectedFilter"
        :mobile="$IS_MOBILE"
        :options="options"
        size="small"
        class="add-program__select"
      />
    </div>
    <pui-button
      class="add-program__btn"
      size="medium"
      type="blue"
    >
      {{ $LOCALE("ln_add_program") }}
    </pui-button>
  </div>
  <!-- auto
      fluid -->
</template>

<script>
export default {
	data() {
		return {
			options: [{ label: 'All Travel programs', value: 'all' }, { label: 'Published', value: 'published' }, { label: 'Draft', value: 'draft' }, { label: 'Deleted', value: 'deleted' }],
			selectedFilter: ''
		}
	},
	watch: {
		selectedFilter: {
			immediate: true,
			handler: function () {
				this.$emit('change:filter', this.selectedFilter)
			}
		}

	},
	created() {
		this.selectedFilter = this.options[0].value
	}

}
</script>

<style lang="scss">
.component__add-program {
  margin-bottom: 14px;

  display: flex;

  .add-program__filter {
    padding: 16px 30px;
    background-color: $white;
    width: 100%;
    @media (max-width: $sm) {
      padding: 0px;
    }
  }
  .add-program__select {
    .el-select {
      width: 190px;
      @media (max-width: $sm) {
        width: 100%;
      }
    }
    .el-select .el-input .el-input__inner {
      background: none;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1;
      letter-spacing: normal;
      color: $grey-blue;
      padding: 0px;
    }
    .pui-native-select-wrapper select {
      background: none;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1;
      letter-spacing: normal;
      color: $grey-blue;
      padding: 16px 10px;
      border-radius: 5px;
      box-shadow: 0 5px 24px 0 rgba(28, 74, 115, 0.2);
      background-color: $white;
    }
  }
  .add-program__btn {
    @media (max-width: $sm) {
      position: fixed;
      bottom: 0px;
      left: 0px;
      right: 0px;
      width: 100%;
      border-radius: 0px;
      font-size: 14px;
      padding: 15px 0px;
      text-align: center;
      z-index: 3;
    }
  }
}
</style>
