<template>
  <div class="page__dev-flex">
    <div class="container">
      <div class="block-wrapper">
        <div class="block1">
          Title + text
        </div>
        <div class="block3">
          Stats
        </div>
        <div class="block2">
          Button
        </div>
        <div class="spacer">
          spacer
        </div>
      </div>
    </div>
  </div>
</template>
<style lang="scss">
.page__dev-flex{
	.block-wrapper{
		& > div{
			border: 1px solid red;
			width: 50%;
			@media (max-width: $xs){
				float: none;
				width: 100%;
			}
		}
	}
	.block1{
		float: left;
	}
	.block2{}
	.block3{
		height: 450px;
		float: right;
	}
	.spacer{
		width: 100% !important;
		clear: both;
	}
}
</style>
