<template>
  <div class="container">
    <div class="item item-1">
      1
    </div>
    <div class="item item-2">
      2
    </div>
    <div class="item item-3">
      3
    </div>
    <div class="item item-4">
      4
    </div>
    <div class="item item-5">
      5
    </div>
    <div class="item item-6">
      6
    </div>
    <div class="item item-7">
      7
    </div>
    <div class="item item-8">
      8
    </div>
  </div>
</template>
<style lang="scss">
html {
  background: #fff7f6;
}
.container {
  max-height: 50vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.item {
  flex: 1 1 50%;
  &.item-1 {
    height: 10px;
  }
  &.item-3 {
    flex: 1 1 30%;
  }
  height: 150px;

  text-align: center;

  background: mistyrose;
  border: 3px solid tomato;
  color: tomato;
}
</style>
