<template lang="pug">
.sandbox.container
	.controls
		//- Способ вызова формы регистрации в модалке
		pui-button(
			size='large'
			type='sand'
			@click='goModalMode'
			) Popup the registration masterbox in modal

	.content
		//- Способ положить на любой странице
		registration-form(:card='actualCard')

	// Способ подключения формы регистрации в модалке
	el-dialog(:visible.sync='showReg8nModal')
		registration-form(:card='actualCard')
</template>

<script>
import RegistrationForm from '@/components/Registration'
export default {
	layout: 'clear',
	components: {
		RegistrationForm
	},
	data() {
		return {
			showReg8nModal: false,
			//* * actualCard of ['ChooseType', 'Agent', 'Hotelier', 'Operator', 'Tourist', 'ConfirmSMS']
			actualCard: 'ChooseType'
		}
	},
	mounted() {},
	methods: {
		goModalMode() {
			this.showReg8nModal = !this.showReg8nModal
		}
	}
}
</script>

<style lang="scss">
.sandbox {
	background: white;
	.controls{
		margin: 0.5em 0;
		padding: 0.5em;
		border-bottom: 3px solid $primary-sand;
		display: flex;
		justify-content: space-around;
	}
}
</style>
