<template>
  <div class="page__dev-sms">
    <div class="container">
      <pui-sms-code v-model="code" />
      {{ code }}
    </div>
  </div>
</template>
<script>
export default {
	data() {
		return {
			code: null
		}
	}
}
</script>
