<template>
  <div class="page__dev-testapi">
    <pui-button type="blue" @click="getApi()">
      TEST
    </pui-button>
  </div>
</template>
<script>
import { apiGlobal } from '@/api/global'
export default {
	layout: 'clear',
	// async asyncData({ app }) {
	// 	await apiGlobal.getLanguages(app.$axios).then((res) => {
	// 		console.log('hi', res)
	// 	}).catch((e) => { console.log(e) })
	// 	await apiGlobal.putApiStoreByName(app.$axios, 'language', 'ru').then((res) => {
	// 		console.log(res)
	// 	}).catch((err) => { console.log(err) })
	// },
	methods: {
		async getApi() {
			await apiGlobal.getApiStore(this.$axios).then((res) => {
				console.log(res)
			}).catch((err) => { console.log(err) })
		}
	}
}
</script>
