<template>
  <div id="tours-top" class="page__dev-tours">
    <div class="container">
      <h1 class="text-h4 title">
        Мы подобрали 256 туров
      </h1>
      <el-row :gutter="24">
        <el-col :xs="24" :sm="24" :md="6" :lg="6">
          <transition name="slide-fade">
            <div v-show="filterOpen" class="filters-wrapper">
              <div id="filters-header" class="filters-header">
                <div class="filters-title text-h4">
                  Фильтровать
                </div>
                <div class="filters-close" @click="closeFilters()">
                  <i class="pui-plus-ic" />
                </div>
              </div>
              <vue-filter-checkboxes
                v-model="filters.vacation_type"
                :title="$LOCALE('ln_vacation_types')"
                :info="{title: 'Test', text: 'Lorem text hahaha'}"
                :filter-values="vacationType"
              />
              <pui-spacer :size="16" />
              <vue-filter-price v-model="filters.price" />
              <pui-spacer :size="16" />
              <vue-filter-checkboxes
                v-model="filters.tour_includes"
                :title="$LOCALE('ln_tour_includes')"
                :filter-values="tourIncludes"
              />
              <pui-spacer :size="16" />
              <vue-filter-checkboxes
                v-model="filters.ticket_variant"
                :title="$LOCALE('ln_ticket_variant')"
                :filter-values="ticketVariant"
              />
              <pui-spacer :size="16" />
              <vue-filter-checkboxes
                v-model="filters.partners"
                :title="$LOCALE('ln_partners')"
                :filter-values="partners"
              />
              <div class="filters-footer">
                <pui-button type="blue" size="small" fluid @click="clearFilters()">
                  Сбросить фильтры
                </pui-button>
                <pui-button type="sand" size="small" fluid @click="submitFilters()">
                  Применить фильтры
                </pui-button>
              </div>
            </div>
          </transition>
        </el-col>
        <el-col :xs="24" :sm="24" :md="18" :lg="18">
          <div class="tours-top-bar">
            <pui-radio-group v-model="topFilter" :values="topFilterValues" />
          </div>
          <vue-tour-card-grid />
        </el-col>
      </el-row>
    </div>
    <div class="tour-filters--mobile">
      <pui-button auto round type="sand" @click="openFilters()">
        Фильтровать
      </pui-button>
    </div>
  </div>
</template>
<script>
import VueTourCardGrid from '@/components/Tour/CardGrid'
import VueFilterCheckboxes from '@/components/Filter/Checkboxes'
import VueFilterPrice from '@/components/Filter/Price'
export default {
	components: {
		VueTourCardGrid,
		VueFilterCheckboxes,
		VueFilterPrice
	},
	data() {
		return {
			tours: [],
			filterOpen: !this.$ua.isFromSmartphone(),
			topFilterValues: [
				{ label: 'Оптимальные', value: 0 },
				{ label: 'Самые дешевые', value: 1 },
				{ label: 'Эксклюзивные', value: 2 }
			],
			topFilter: 0,
			vacationType: [
				{ label: 'Активный отдых', value: 0 },
				{ label: 'Туризм', value: 1 },
				{ label: 'Отдых на море', value: 2 },
				{ label: 'Экстрим', value: 3 },
				{ label: 'Ночная жизнь', value: 4 },
				{ label: 'Культурные программы', value: 5 }
			],
			tourIncludes: [
				{ label: 'Проживание', value: 0 },
				{ label: 'Питание', value: 1 }
			],
			ticketVariant: [
				{ label: 'Автобус', value: 0 },
				{ label: 'Самолет', value: 1 },
				{ label: 'Поезд', value: 2 },
				{ label: 'Самолет + поезд', value: 3 }
			],
			partners: [
				{ label: 'Armada Israel', value: 0 },
				{ label: 'AScom France Partner', value: 1 },
				{ label: 'BAX Trip', value: 2 },
				{ label: 'Beleon Tours', value: 3 },
				{ label: 'Brisco', value: 4 },
				{ label: 'GTV (Гранд Тур Вояж)', value: 5 },
				{ label: 'Gudauri Travel LTD', value: 6 }
			],
			filters: {
				vacation_type: [],
				tour_includes: [],
				ticket_variant: [],
				partners: [],
				price: [1000, 4000]
			}

		}
	},
	watch: {
		WINDOW_WIDTH(val) {
			if (val >= 992) {
				this.filterOpen = true
			} else {
				this.filterOpen = false
			}
		}
	},
	async asyncData({ app, store }) {
		await store.dispatch('fetchLanguages')
		const [
			data
		] = await Promise.all([
			app.$axios.$get('/api/v1.0/tours', {
				params: {
					limit: 1000
				}
			})
		])
		let pagetitle = null
		try {
			pagetitle = data.intl.pagetitle
		} catch (err) {}
		return {
			// tours: data.tours,
			pager: data.pager,
			pagetitle: pagetitle
		}
	},
	methods: {
		openFilters() {
			this.filterOpen = true
			this.$TOGGLE_BODY_CLASS('addClass', 'fixed')
			this.$SCROLL_TO('#filters-header')
		},
		closeFilters() {
			this.$SCROLL_TO('#filters-header')
			this.filterOpen = false
			this.$TOGGLE_BODY_CLASS('removeClass', 'fixed')
		},
		clearFilters() {
			this.filters.vacation_type = []
			this.filters.tour_includes = []
			this.filters.ticket_variant = []
			this.filters.partners = []
			this.filters.price = [1000, 4000]
		},
		submitFilters() {
			this.closeFilters()
		}
	}
}
</script>
<style lang="scss">
.page__dev-tours{
	.title{
		margin-bottom: 32px;
	}
	.tours-top-bar{
		padding: 5px 16px;
		background-color: $white;
		margin-bottom: 20px;
		border-radius: 6px;
	}
	.filters-wrapper{
		.filters-header{
			display: none;
			margin-bottom: 20px;
			flex-wrap: nowrap;
			.filters-close{
				i{
					transform: rotate(45deg);
					display: inline-block;
					color: $grey-blue;
					font-size: 16px;
				}
			}
		}
		.filters-footer{
			margin-top: 12px;
			button{
				margin-bottom: 24px;
			}
		}
		@media(max-width: $md){
			height: 100vh;
			width: 100%;
			overflow-y: auto;
			position: fixed;
			z-index: 99;
			top: 0;
			background: $soft-grey;
			left: 0;
			padding: 15px 15px 0;
			&.opened{
				// display: block;
			}
			.filters-header{
				@include flex(row, space-between, center);
			}
		}
	}
	.tour-filters--mobile{
		display: none;
		@media(max-width: $md){
			display: block;
		}
		.pui-button{
			position: fixed;
			bottom: 40px;
			width: 212px;
			left: 0;
			right: 0;
			z-index: 9;
			margin: auto;
			box-shadow: 0 5px 24px 0 rgba(28, 74, 115, 0.2)
		}
	}
}
</style>
