<template>
  <div class="page__dev-ui">
    <pui-rating v-model.number="rating" />
    {{ rating }}
  </div>
</template>
<script>
export default {
	layout: 'clear',
	data() {
		return {
			rating: 0
		}
	}
}
</script>
