<template>
  <div class="component">
    {{ width }}
  </div>
</template>
<script>
export default {
	layout: 'clear',
	data() {
		return {
			width: 0
		}
	},
	mounted() {
		this.width = this.setWidth()
		window.addEventListener('resize', this.setWidth)
	},
	methods: {
		setWidth() {
			this.width = document.documentElement.clientWidth
			return document.documentElement.clientWidth
		}
	}
}
</script>
<style lang="scss">
</style>
