<template>
  <TourLayout>
    <template v-slot:header>
      <vue-tour-header />
    </template>

    <template v-slot:main>
      <TourMain
        :class="{
          'hide-down-md': mobileStep === 'booking'
        }"
      />
    </template>
    <template v-slot:sidebar>
      <vue-tour-sidebar
        :class="{
          'hide-down-md': mobileStep === 'info'
        }"
      />
    </template>
  </TourLayout>
</template>

<script>
import { mapState } from 'vuex'
import TourLayout from '@/components/Tour/TourLayout'
import VueTourHeader from '@/components/Tour/Header'
import TourMain from '@/components/Tour/TourMain'
import VueTourSidebar from '@/components/Tour/Sidebar'

export default {
	name: 'TourPage',
	components: {
		TourLayout,
		VueTourHeader,
		TourMain,
		VueTourSidebar
	},
	computed: {
		...mapState('booking', ['mobileStep']),
		...mapState('tour', ['tour'])
	},
	async asyncData({ store, error, params }) {
		await store.dispatch('tour/fetchTourBySlug', params.slug)
		const tourId = store.state.tour.tour.id
		const tourDatesObj = store.state.tour.tour.dates
		const tourDatesArray = Object.keys(tourDatesObj).map(dateKey => tourDatesObj[dateKey])
		store.commit('booking/SET_TOUR_ID', tourId)

		store.commit('booking/SET_AVAILABLE_DATES', tourDatesArray)
		return {
			pagetitle: store.state.tour.tour.name
		}
	},
	beforeDestroy() {
		this.$store.commit('tour/CLEAR')
	}
}
</script>

<style lang="scss">
.hide-down-md {
	@media (max-width: $md) {
		display: none !important;
	}
}
</style>
