<template>
  <div class="component__main-backgrounds">
    <transition-group name="fade" appear>
      <div
        v-for="item in backgrounds"
        v-show="activeItem === item.id"
        :key="item.id"
        :style="{
          'background-image': 'url(' + item.image + ')'
        }"
        class="main-backgrounds-item"
        :class="[
          activeItem === item.id?'active':''
        ]"
      />
    </transition-group>
    <div class="main-backgrounds-overflow" :class="subdomain" />
  </div>
</template>
<script>
import { mapState } from 'vuex'
export default {
	data() {
		return {
			activeItem: 1,
			switchDelay: 10000
		}
	},
	computed: {
		...mapState(['subdomain']),
		...mapState('hotel', ['hotel']),
		backgrounds: {
			get() { return this.$store.state.backgrounds },
			set(val) { this.$store.commit('SET_STATES', { backgrounds: val }) }
		}
	},
	watch: {
		hotel(val) {
			if (val && val.logo) {
				const image = 'https://tickets.palmarius.org/images/' + val.logo + '?w=' + 1920 + '&h=' + 800 + '&blur=' + 0
				this.backgrounds = [
					{ id: 0, image: image }
				]
			}
		}
	},
	created() {
		this.switchSlide()
	},
	methods: {
		switchSlide() {
			const self = this
			if (this.activeItem >= (this.backgrounds.length - 1)) {
				this.activeItem = 0
			} else {
				this.activeItem++
			}
			setTimeout(() => {
				self.switchSlide()
			}, this.switchDelay)
		}
	}
}
</script>
<style lang="scss">
.component__main-backgrounds{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 720px;
	z-index: -1;
	.fade-enter-active, .fade-leave-active {
		transition: opacity 4s;
	}
	.fade-enter, .fade-leave-to {
		opacity: 0;
	}
	.main-backgrounds-item{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 720px;
		// z-index: -1;
		background-position: 0 0;
		background-position: left bottom 10px;
		background-repeat: no-repeat;
		background-size: cover;
		// display: none;
		// &.active{
		// 	display: block
		// }
	}
	.main-backgrounds-overflow{
		background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 70%, rgba(255, 255, 255, .95) 90%, #fff);
		background-position: 0 0;
		background-position: 0 0;
		background-repeat: no-repeat;
		position: absolute;
		z-index: 2;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 720px;
		&.hotel,
		&.pilgrim,
		&.piligrim{
			background-image: linear-gradient(to bottom, rgba(66, 67, 81, 0.68) 2%, rgba(66, 67, 81, 0.3) 56%, rgba(255, 255, 255, .95) 90%, #fff);
		}
		@media(max-width: $xs){
			height: 1500px;
		}
	}
}
</style>
