<template>
  <div class="accordion">
    <Collapse
      v-for="item in items"
      :key="item[idKey]"
      class="accordion__item"
      :name="item[nameKey]"
      :sub-name="item[subNameKey]"
      :content="item[contentKey]"
      :list="item[listKey]"
      :images="item[imagesKey]"
      :dangerously-h-t-m-l="dangerouslyHTML"
      :collapsed="!isItemVisible(item[idKey])"
      @change:collapsed="(v) => collapsedHandler(item[idKey], v)"
    />
  </div>
</template>

<style lang="scss">
  .accordion {
    &__item {
      margin-bottom: 12px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
</style>

<script>
import Vue from 'vue'
import Collapse from '@/components/Collapse'

export default {
	name: 'Accordion',
	components: {
		Collapse
	},
	props: {
		hideAllThenSomeItemVisible: {
			type: Boolean,
			default: true
		},
		dangerouslyHTML: {
			type: Boolean,
			default: false
		},
		items: {
			type: Array,
			required: true
		},
		idKey: {
			type: String,
			default: 'id'
		},
		nameKey: {
			type: String,
			default: 'name'
		},
		subNameKey: {
			type: String,
			default: 'subtitle'
		},
		contentKey: {
			type: String,
			default: 'content'
		},
		listKey: {
			type: String,
			default: 'list'
		},
		imagesKey: {
			type: String,
			default: 'images'
		},
		visibleItem: {
			type: Number,
			default: null
		}
	},
	data: () => ({
		visible: []
	}),
	created() {
		if (this.visibleItem) {
			this.visible.push(this.visibleItem)
		}
	},
	methods: {
		isItemVisible(id) {
			return this.visible.includes(id)
		},
		collapsedHandler(targetId, collapsed) {
			if (collapsed) {
				const itemIndex = this.visible.findIndex(id => id === targetId)
				this.visible.splice(itemIndex, 1)
				return
			}

			if (this.hideAllThenSomeItemVisible) {
				Vue.set(this, 'visible', [targetId])
			} else {
				this.visible.push(targetId)
			}
		}
	}
}
</script>
