<template>
  <div class="calendar">
    <div class="calendar__navigation">
      <div class="calendar__arrow" @click="prevMonth">
        <i class="pui-arrow-left-ic" />
      </div>
      <div class="calendar__month-name">
        {{ currentMonthName }} {{ currentYear }}
      </div>
      <div class="calendar__arrow" @click="nextMonth">
        <i class="pui-arrow-right-ic" />
      </div>
    </div>
    <div class="calendar__week-header">
      <div v-for="day in weekDaysNames" :key="day" class="calendar__day-name">
        {{ day }}
      </div>
    </div>
    <div class="calendar__weeks">
      <div v-for="{ startOfWeekISO, days } in weeks" :key="startOfWeekISO" class="calendar__week">
        <div
          v-for="{ date, disabled, dateISO, dateObj } in days"
          :key="dateISO"
          class="calendar__date"
          :class="{
            'calendar__date--selected': isSelected(dateObj),
            'calendar__date--disabled': disabled
          }"
          @click="selectDate(dateObj, disabled)"
        >
          {{ date }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import { isEqualDates, getStartOfWeek, getEndOfWeek } from '@/utils'

export default {
	name: 'VueCalendar',
	model: {
		prop: 'value',
		event: 'change'
	},
	props: {
		startMonth: {
			type: Number,
			default() {
				return (new Date()).getMonth()
			}
		},
		startYear: {
			type: Number,
			default() {
				return (new Date()).getFullYear()
			}
		},
		value: Date,
		availableDates: {
			type: Array,
			required: false,
			default: null
		},
		isDateAvailable: {
			type: Function,
			required: false,
			default: null
		}
	},
	data() {
		return {
			currentMonth: this.startMonth,
			currentYear: this.startYear
		}
	},
	computed: {
		weekDaysNames() {
			return [
				this.$LOCALE('ln_week_day_short_1'),
				this.$LOCALE('ln_week_day_short_2'),
				this.$LOCALE('ln_week_day_short_3'),
				this.$LOCALE('ln_week_day_short_4'),
				this.$LOCALE('ln_week_day_short_5'),
				this.$LOCALE('ln_week_day_short_6'),
				this.$LOCALE('ln_week_day_short_0')
			]
		},
		monthsNames() {
			return [
				this.$LOCALE('ln_month_full_0'),
				this.$LOCALE('ln_month_full_1'),
				this.$LOCALE('ln_month_full_2'),
				this.$LOCALE('ln_month_full_3'),
				this.$LOCALE('ln_month_full_4'),
				this.$LOCALE('ln_month_full_5'),
				this.$LOCALE('ln_month_full_6'),
				this.$LOCALE('ln_month_full_7'),
				this.$LOCALE('ln_month_full_8'),
				this.$LOCALE('ln_month_full_9'),
				this.$LOCALE('ln_month_full_10'),
				this.$LOCALE('ln_month_full_11')
			]
		},
		currentMonthName() {
			return this.monthsNames[this.currentMonth]
		},
		startOfMonth() {
			return new Date(this.currentYear, this.currentMonth, 1)
		},
		endOfMonth() {
			return new Date(this.currentYear, this.currentMonth + 1, 0)
		},
		startOfFirstWeek() {
			return getStartOfWeek(this.startOfMonth)
		},
		endOfLastWeek() {
			return getEndOfWeek(this.endOfMonth)
		},
		weeks() {
			const dateItterator = new Date(this.startOfFirstWeek)
			const weeks = [{
				startOfWeek: dateItterator,
				startOfWeekISO: dateItterator.toISOString(),
				days: [
					{
						date: dateItterator.getDate(),
						dateObj: new Date(dateItterator),
						dateISO: dateItterator.toISOString(),
						disabled: this.isDateDisabled(dateItterator)
					}
				]
			}]
			while (true) {
				let currWeek = weeks[weeks.length - 1]
				if (currWeek.days.length === 7) {
					dateItterator.setDate(dateItterator.getDate() + 1)
					weeks.push({
						startOfWeek: dateItterator,
						startOfWeekISO: dateItterator.toISOString(),
						days: []
					})
					currWeek = weeks[weeks.length - 1]
				} else {
					dateItterator.setDate(dateItterator.getDate() + 1)
				}
				currWeek.days.push({
					date: dateItterator.getDate(),
					dateObj: new Date(dateItterator),
					dateISO: dateItterator.toISOString(),
					disabled: this.isDateDisabled(dateItterator)
				})
				if (isEqualDates(dateItterator, this.endOfLastWeek)) {
					return weeks
				}
			}
		}
	},
	mounted() {
		this.emitNavigateEvent()
	},
	methods: {
		nextMonth() {
			if ((this.currentMonth + 1) > 11) {
				this.currentMonth = 0
				this.currentYear += 1
			} else {
				this.currentMonth += 1
			}
			this.emitNavigateEvent()
		},
		prevMonth() {
			if ((this.currentMonth - 1) < 0) {
				this.currentMonth = 11
				this.currentYear -= 1
			} else {
				this.currentMonth -= 1
			}
			this.emitNavigateEvent()
		},
		emitNavigateEvent() {
			this.$emit('navigate', { month: this.currentMonth, year: this.currentYear })
		},
		isSelected(dateObj) {
			return this.value && isEqualDates(dateObj, this.value)
		},
		selectDate(dateObj, disabled) {
			if (!disabled) {
				this.$emit('change', dateObj)
				console.log(dateObj)
			}
		},
		isDateDisabled(date) {
			if (this.availableDates) {
				return !this.availableDates.some(found => isEqualDates(found, date))
			}
			if (this.isDateAvailable) {
				return !this.isDateAvailable(date)
			}
			return false
		}
	}
}
</script>

<style lang="scss" scoped>
  .calendar {
		user-select: none;
		padding: 16px;
		&__navigation {
			@include flex(row, space-between, center);
			margin-bottom: 18px;
			font-size: 16px;
			font-weight: 600;
			line-height: 1.38;
			letter-spacing: normal;
			color: $charcoal-grey;
		}
		&__arrow {
			cursor: pointer;
		}
		&__month-name {
			margin: auto;
			&::first-letter{
				text-transform: uppercase;
			}
		}
		&__week-header {
			@include flex(row, space-between, center);
			font-size: 14px;
			font-weight: normal;
			line-height: 1.43;
			color: $grey-blue;
			margin-bottom: 18px;
		}
		&__day-name {
			@include flex(row, center, center);
			width: 32px;
			height: 32px;
		}
		&__weeks {
			@include flex(column, flex-start, flex-start);
		}
		&__week {
			width: 100%;
			@include flex(row, space-between, center);
			margin-bottom: 12px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		&__date {
			@include flex(row, center, center);
			width: 32px;
			height: 32px;
			font-size: 14px;
			font-weight: 500;
			line-height: 1.43;
			color: $charcoal-grey;
			border-radius: 50%;
			cursor: pointer;
			&--disabled {
				cursor: auto;
				opacity: 0.3;
			}
			&--selected {
				color: $white;
				background-color: $primary-sand;
			}
		}
  }
</style>
