<template>
  <div class="collapse" :class="{ 'collapse--collapsed': collapsed }">
    <div class="collapse__name-row" @click="toggle">
      <h3 class="collapse__name">
        {{ name }}
        <span v-if="subName" class="collapse__subname">{{ subName }}</span>
      </h3>
      <i class="pui-chevrone-down-ic collapse__toggle" />
    </div>
    <div v-show="!collapsed" class="collapse__content">
      <!-- <div v-if="dangerouslyHTML" ref="inner" class="collapse__inner" v-html="content" />
      <div v-else ref="inner" class="collapse__inner">
        {{ content }}
      </div>-->
      <div v-if="list.length > 0" class="collapse__list">
        <ul>
          <li v-for="(item, key) in list" :key="key">
            <span>{{ item.intro }}</span>
          </li>
        </ul>
      </div>
      <div v-else ref="inner" class="collapse__inner">
        {{ content }}
      </div>
      <div v-if="images" class="collapse__images">
        <vue-tour-gallery :images="images" />
      </div>
    </div>
  </div>
</template>

<script>
import VueTourGallery from '@/components/Tour/GalleryDev'
// фолбэк на случай если на момент извлечения maxHeight элемент был скрыт в доме по внешним причинам
const MAX_HEIGHT_FALLBACK = 9999

export default {
	name: 'Collapse',
	components: {
		VueTourGallery
	},
	model: {
		prop: 'collapsed',
		event: 'change:collapsed'
	},
	props: {
		name: {
			type: String,
			required: false,
			default: ''
		},
		subName: {
			type: String,
			default: ''
		},
		dangerouslyHTML: {
			type: Boolean,
			default: false
		},
		content: {
			type: [String, Array],
			required: true
		},
		list: {
			type: Array,
			default() {
				return []
			}
		},
		images: {
			type: Array,
			required: false,
			default() {
				return []
			}
		},
		collapsed: {
			type: Boolean,
			default: false
		}
	},
	data: () => ({
		maxHeight: null
	}),
	computed: {
		listMode() {
			if (typeof this.content === 'object') {
				return true
			} else {
				return false
			}
		},
		contentStyle() {
			return !this.collapsed && this.maxHeight
				? { maxHeight: this.maxHeight }
				: {}
		}
	},
	mounted() {
		// this.getContentHeight()
	},
	methods: {
		getContentHeight() {
			this.$nextTick(() => {
				let height = MAX_HEIGHT_FALLBACK
				if (this.$refs.inner) {
					height = this.$refs.inner.clientHeight
				}
				this.maxHeight = height + 'px'
			})
		},
		toggle() {
			this.$emit('change:collapsed', !this.collapsed)
		}
	}
}
</script>

<style lang="scss">
.collapse {
  cursor: pointer;
  border-radius: 6px;
  background-color: $pale-grey;

  &__name-row {
    padding: 20px 16px;
    user-select: none;
    @include flex(row, space-between, center);
    @media (min-width: $md) {
      padding: 24px;
    }
  }

  &__toggle {
    transform: scaleY(-1);
    transition: transform 0.25s ease-out;
  }

  &--collapsed {
    .collapse__toggle {
      transform: scaleY(1);
    }
    .collapse__content {
      padding-top: 0px;
    }
  }

  &__name {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.38;
    color: $charcoal-grey;
  }

  &__subname {
    margin-top: 2px;
    display: block;
    width: 100%;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: $charcoal-grey;
  }

  &__content {
    padding: 21px 16px 20px;
    // transition: max-height 0.25s ease-in-out;
    &--shadow {
      position: fixed;
      top: 0;
    }
  }

  &__list {
    ul {
      li {
        list-style: none;
        margin-bottom: 20px;
        @include flex(row, flex-start, flex-start);
        &:last-child {
          margin-bottom: 0;
        }
        &:before {
          content: "";
          display: inline-block;
          width: 8px;
          height: 8px;
          border-radius: 8px;
          background-color: $primary-sand;
          margin-right: 8px;
          margin-top: 6px;
        }
        span {
          display: inline-block;
          width: calc(100% - 16px);
        }
      }
    }
  }

  &__images {
    margin-top: 27px;
  }

  &__inner {
    padding-top: 4px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.43;
    color: $charcoal-grey;
  }
}
</style>
