<template>
  <div :class="blockName">
    <el-tag
      v-for="tag in dynamicTags"
      :key="tag"
      closable
      effect="dark"
      :title="tag"
      :disable-transitions="false"
      @close="handleClose(tag)"
    >
      {{ tag }}
    </el-tag>
    <el-input
      v-if="inputVisible"
      ref="saveTagInput"
      v-model="inputValue"
      class="input-new-tag"
      size="mini"
      @keyup.enter.native="handleInputConfirm"
      @blur="handleInputConfirm"
    />
    <el-button
      v-else
      class="button-new-tag"
      @click="showInput"
    >
      Добавить тег
    </el-button>
  </div>
</template>

<script>
export default {
	props: {
		target: {
			type: Array,
			default: function () {
				return null
			}
		}
	},
	data() {
		return {
			inputVisible: false,
			inputValue: ''
		}
	},
	computed: {
		blockName() { return 'dinamically-tags' },
		dynamicTags() {
			return this.target || []
		}
	},
	methods: {
		handleClose(tag) {
			this.dynamicTags.splice(this.dynamicTags.indexOf(tag), 1)
		},
		showInput() {
			this.inputVisible = true
			this.$nextTick((_) => {
				this.$refs.saveTagInput.$refs.input.focus()
			})
		},
		handleInputConfirm() {
			const inputValue = this.inputValue
			if (inputValue && !this.dynamicTags.includes(this.inputValue)) {
				this.dynamicTags.push(inputValue)
				// console.log('tags: ', this.dynamicTags)
				this.$emit('confirmed', this.dynamicTags)
			}
			this.inputVisible = false
			this.inputValue = ''
		}
	}
}
</script>

<style lang="scss">
$block-name: '.dinamically-tags';
#{$block-name} {
  background-color: $pale-grey;
  border-radius: 5px;
  padding: 12px;
  padding-bottom: 0;
  font-size: 14px;
  min-height: 178px;

  .el-tag {
    font-size: 14px;
    padding: 0 12px 0 8px;
    height: 26px;
    line-height: 26px;
    box-sizing: content-box;
    margin-right: 10px;
    margin-bottom: 12px;

    &__close {
      background-color: $white;
    }

    .el-icon-close {
      &:before {
        color: $primary-blue;
      }
    }
  }
  .button-new-tag {
    margin-bottom: 12px;
    height: 24px;
    line-height: 24px;
    padding: 0 8px;
    box-sizing: content-box;
  }
  .input-new-tag {
    width: 90px;
    vertical-align: bottom;
    margin-bottom: 12px;

    .el-input__inner {
      padding: 0 8px;
    }
  }
  .el-button {
    font-size: 14px;
    background-color: $very-light-blue;
    color: $primary-blue;
    font-size: 14px;
    font-weight: 500;
    border-color: $very-light-blue;
  }
  .el-input--mini {
    font-size: 14px;
  }
}
</style>
