<template>
  <wysiwyg
    v-model="inputValue"
    :class="blockName"
    placeholder="Ваше описание"
    v-on="$listeners"
  />
</template>

<script>
export default {
	props: {
		target: {
			type: String,
			default: ''
		}
	},
	computed: {
		blockName() { return 'html-editor' },
		inputValue: {
			get: function () {
				return this.target
			},
			set: function () { }
		}
	}
}
</script>

<style lang="scss">
$block-name: '.html-editor';
#{$block-name} {
  background-color: $pale-grey;
  border-radius: 5px;
	border: 0 none;
  padding: 12px;
  font-size: 14px;
  margin-bottom: 12px;
	display: block;

	.editr--toolbar {
		display: inline-flex;
		border: 0 none;
		border-radius: 16px;
		box-shadow: 0 1px 8px 0 rgba(28, 74, 115, 0.12);
		background-color: $white;

		a {
			&:hover,
			&:active,
			&:focus {
				background-color: $very-light-blue;
			}

			$paddingX: 5px;
			padding-left: $paddingX;
			padding-right: $paddingX;
		}

		& > div {
			min-width: 32px;

			a {
				margin: 0;
				width: 100%;
			}

			&:first-child {
				a {
					border-radius: 16px 0 0 16px;
					padding-left: 10px;
				}
			}

			&:last-child {
				a {
					border-radius: 0 16px 16px 0;
					padding-right: 10px;
				}
			}
		}
	}

	.editr--content {
		$paddingX: 2px;
		padding-left: $paddingX;
		padding-left: $paddingX;

		color: $grey-blue;
		font-size: 14px;

		&:empty:before {
			color: $grey-blue;
		}

		span {
			background-color: $pale-grey !important;
		}

		b {
			font-weight: 600;
		}
		i {
			font-style: italic;
		}
	}
}
</style>
