<template>
  <div class="loading-page">
    <!-- <p>Loading...</p> -->
  </div>
</template>
<script>
export default {
	data() {
		return {}
	},
	methods: {
		start() {
			this.$store.commit('loading/SET_LOADING', true)
		},
		finish() {
			setTimeout(() => {
				this.$store.commit('loading/SET_LOADING', false)
			}, 1000)
		}
	}
}
</script>
