<template>
  <div />
</template>

<script>
export default {
	/* eslint-disable no-mixed-spaces-and-tabs */
	name: 'VueLottieAnimation',
	props: {
		animation: {
			type: String,
			required: true
		}
	},
	computed: {
		animationPublicPath() {
			return `/static-assets/lottie-animations/${this.animation}.json`
		}
	},
	mounted() {
    // используем dynamic import
    // чтобы довольно тяжелый lottie-web
    // не попал в основной бандл
    import('lottie-web').then((bodymovin) => {
    	bodymovin.loadAnimation({
    		wrapper: this.$el,
    		animType: 'svg',
    		loop: true,
    		path: this.animationPublicPath
    	})
    })
	}
}
</script>
