<template>
  <label class="radio">
    <input
      class="radio__input"
      type="radio"
      :value="value"
      :checked="checked"
      @input="handleInput"
    >
    <div class="radio__marker">
      <i v-show="checked" class="pui-checkbox-on-ic" />
    </div>
    {{ label }}
  </label>
</template>

<script>
import { radioEventBus } from './Radio-group'

export default {
	name: 'VueRadio',
	props: {
		label: {
			type: String,
			default: ''
		},
		value: {
			type: null,
			default: ''
		}
	},
	data: () => ({
		checked: false
	}),
	mounted() {
		radioEventBus.$on('externalValueChanged', this.updateChecked)
	},
	beforeDestroy() {
		radioEventBus.$off('externalValueChanged', this.updateChecked)
	},
	methods: {
		handleInput() {
			radioEventBus.$emit('intentToChangeValue', this.value)
			this.checked = true
		},
		updateChecked(value) {
			this.checked = value === this.value
		}
	}
}
</script>

<style lang="scss">
  .radio {
    cursor: pointer;
    @include flex(row, "flex-start", "center");
    font-size: 14px;
    font-weight: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: $charcoal-grey;
    padding: 9px 0px;

    &__marker {
      width: 20px;
      height: 20px;
      line-height: 20px;
      border-radius: 50%;
      font-size: 11px;
      text-align: center;
      color: $white;
      border: 2px solid $grey-blue;
      margin-right: 8px;

    }
    &__input {
      display: none;
    }
    &__input:checked + .radio__marker {
      background-color: $primary-blue;
      border: 2px solid $primary-blue;
    }
  }
</style>
