<template>
  <div>
    <slot />
  </div>
</template>

<script>
import Vue from 'vue'

export const radioEventBus = new Vue()

export default {
	name: 'VueRadioGroup',
	model: {
		prop: 'value',
		event: 'change'
	},
	props: {
		value: {
			type: null,
			default: null
		}
	},
	watch: {
		value() {
			this.passValueToEventBus()
		}
	},
	mounted() {
		radioEventBus.$on('intentToChangeValue', this.changeExternalValue)
		this.passValueToEventBus()
	},
	beforeDestroy() {
		radioEventBus.$off('intentToChangeValue', this.changeExternalValue)
	},
	methods: {
		changeExternalValue(value) {
			this.$emit('change', value)
		},
		passValueToEventBus() {
			radioEventBus.$emit('externalValueChanged', this.value)
		}
	}
}
</script>
