<template>
  <div :class="[blockName]">
    <div :class="`${blockName}__header`">
      <slot name="header" />
    </div>
    <div :class="`${blockName}__content`">
      <slot />
    </div>
    <div :class="`${blockName}__footer`">
      <slot name="footer" />
    </div>
  </div>
</template>

<script>
export default {
	computed: {
		blockName() { return 'sticky-footer' }
	}
}
</script>

<style lang="scss">
$block-name: '.sticky-footer';
#{$block-name} {
  display: flex;
  flex-direction: column;

  // &__header { }

  &__content {
    flex: 1 0 auto;
  }

  &__footer {
    flex: 0 0 auto;
  }
}

#{$block-name},
html,
body,
#__layout,
#__nuxt {
    height: 100%;
}
</style>
