<template>
  <div class="component__tagSearch">
    <el-tag
      v-for="tag in selectedTags"
      :key="tag.id"
      closable
      :disable-transitions="true"
      @close="deleteTag(tag)"
    >
      {{ tag.name }}
    </el-tag>
    <div v-click-outside="hideTagList" class="tagSearch__addTagWrapper">
      <el-button class="tagSearch__newTag" @click="displayTagList">
        Добавить тег
      </el-button>

      <template v-if="$IS_MOBILE">
        <pui-popup
          :show="showTagList"
          :popup-full-height="true"
          @hide-popup="hideTagList"
          @cancel-popup="hideTagList"
          @scroll="onScrollTagList"
        >
          <template v-slot:header>
            <div class="subtitle">
              Выберете теги
            </div>
            <!-- <div style="height: 52px;" /> -->
            <pui-input v-model="searchTagFild" label="Поиск по тегам" />
          </template>

          <ul class="tagSearch__tagList tagList">
            <el-checkbox-group v-model="checkList">
              <el-checkbox
                v-for="tag in spiceResult"
                :key="tag.id"
                :label=" tag.id"
              >
                {{ tag.name }}
              </el-checkbox>
            </el-checkbox-group>
          </ul>

          <template v-slot:footer>
            <pui-button fluid class="tagList__btn" type="blue" @click="addTags">
              Добавить теги
            </pui-button>
          </template>
        </pui-popup>
      </template>
      <template v-else>
        <transition name="el-zoom-in-top">
          <div v-show="showTagList" ref="addTegBtn" class="pui-input-dropdown">
            <div class="pui-input-dropdown--inner" :style="'width: ' + dropdownWidth">
              <pui-input v-model="searchTagFild" class="tagSearch__input" label="Поиск по тегам" />
              <ul
                class="tagSearch__tagList tagList"
                :class="[
                  dropdownScroll?'scrollable':'',
                ]"
                @scroll="onScrollTagList"
              >
                <el-checkbox-group :value="checkList" @input="checkboxInput">
                  <el-checkbox
                    v-for="tag in spiceResult"
                    :key="tag.id"
                    :label=" tag.id"
                  >
                    {{ tag.name }}
                  </el-checkbox>
                </el-checkbox-group>
              </ul>
              <div class="tagSearch__btn-container">
                <pui-button class="tagList__btn " type="blue" @click="addTags">
                  Добавить теги
                </pui-button>
              </div>
            </div>
          </div>
        </transition>
      </template>
    </div>
  </div>
</template>
<script>
export default {
	props: {
		selectedTags: {
			type: Array,
			default: () => []
			// validator: function (value) {
			// 	console.log(value.map(el => el.id))

			// 	// Значение должно соответствовать одной из этих строк
			// 	return true
			// }
		},
		tagList: {
			type: Array,
			default: () => [
			]
			// validator: function (value) {
			// 	console.log(value.map(el => el.id))

			// 	// Значение должно соответствовать одной из этих строк
			// 	return true
			// }
		}
	},
	data() {
		return {
			dropdownScroll: false,
			showTagList: false,
			searchTagFild: '',
			spiceEndNumber: 20,

			dropdownWidth: '320px',
			checkList: []
		}
	},
	computed: {
		resultsFiltered() {
			const resultsFiltered = this.tagList.filter((el) => {
				if (this.searchTagFild) {
					return el.name
						.toLowerCase()
						.includes(this.searchTagFild.toLowerCase())
				} else {
					return el
				}
			})

			return resultsFiltered
		},

		spiceResult() {
			if (this.resultsFiltered.length > 20) {
				return this.resultsFiltered.slice(0, this.spiceEndNumber)
			}
			return this.resultsFiltered
		}
	},
	watch: {
		resultsFiltered: {
			handler: function (val) {
				this.spiceEndNumber = 20
				if (val.length > 8) {
					this.dropdownScroll = true
				} else {
					this.dropdownScroll = false
				}
			},
			immediate: true
		}

	},
	created() {
		if (this.selectedTags) {
			const selectedId = this.selectedTags.map(el => el.id)
			this.checkList = selectedId
		}
	},

	methods: {
		checkboxInput(e) {
			this.checkList = e
		},
		onScrollTagList(event) {
			const wrapper = event.target
			const list = this.$IS_MOBILE ? wrapper.firstElementChild.firstElementChild : wrapper.firstElementChild

			const scrollTop = wrapper.scrollTop
			const wrapperHeight = wrapper.offsetHeight
			const listHeight = list.offsetHeight

			const diffHeight = listHeight - wrapperHeight

			if (diffHeight <= scrollTop) {
				this.spiceEndNumber = this.spiceEndNumber + 20
			}
		},
		deleteTag(tag) {
			this.showTagList = false
			const indexForDelet = this.checkList.findIndex(el => el === tag.id)
			if (indexForDelet === -1) {
				alert('indexForDelet - 1')
			}
			this.checkList.splice(indexForDelet, 1)
			this.$emit('change:tags', this.checkList)
		},
		displayTagList() {
			this.showTagList = true
			// прокрутка в начало дня
			if (!this.$IS_MOBILE) {
				setTimeout(() => {
					this.$refs.addTegBtn.scrollIntoView({ behavior: 'smooth', block: 'start', inline: 'nearest' })
				}, 200)
			}
		},
		hideTagList(e) {
			// иначе вызывается всегда при любом клике
			if (this.showTagList) {
				this.searchTagFild = ''
				this.spiceEndNumber = 20
				this.checkList = []
				this.showTagList = false
			}
		},
		addTags() {
			this.searchTagFild = ''
			this.spiceEndNumber = 20
			this.showTagList = false
			this.$emit('change:tags', this.checkList)
		}
	}
}
</script>
<style lang="scss">
.component__tagSearch {
  border-radius: 5px;
  padding: 12px;
  background-color: $white;
  min-height: 190px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  .tagSearch__input {
    padding: 0px;
    .pui-input {
      background: none;
      border: none;
      border-radius: 0px;
      border-bottom: 1px solid $ice-blue;
      .el-input__inner {
        color: $grey-blue;
        font-weight: normal;
      }
    }
  }
  .subtitle {
    margin-bottom: 15px;
  }
  .tagSearch__btn-container {
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    padding: 12px 16px;
  }
  .tagList__btn {
    display: block;
    padding: 0px 12px;
    width: 100%;
    margin-top: 16px;
  }
  .tagList {
    &.scrollable {
      max-height: 311px;
      overflow-y: auto;
    }
    .el-checkbox {
      margin-right: 0px;
      padding: 12px;
    }
    .is-checked {
      .el-checkbox__label {
        color: $primary-blue;
      }
    }

    .el-checkbox__input {
      white-space: nowrap;
      cursor: pointer;
      outline: none;
      display: inline-block;
      line-height: 1;
      position: relative;
      vertical-align: middle;
      order: 1;
    }
    .el-checkbox__label {
      padding-left: 0px;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.43;
      letter-spacing: normal;
      color: $charcoal-grey;
    }
  }
  .tagSearch__addTagWrapper {
    position: relative;
  }
  .tagSearch__newTag {
    background-color: $very-light-blue;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: $primary-blue;
    padding: 4px 8px;
    // width: 114px;

    // height: 28px;
    @include flex(row, center, center);
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .el-tag {
    border-radius: 6px;
    background-color: $primary-blue;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: $white;
    margin-right: 10px;
    margin-bottom: 10px;

    display: flex;
    text-overflow: ellipsis;
    display: block;
    /* max-width: 239px; */
    /* height: 28px; */
    margin-bottom: 10px;
    overflow: hidden;
    padding-right: 30px;
    position: relative;

    // display: flex;
    // align-items: center;
    // white-space: unset;
    // line-height: 1.7;
    // height: auto;
    // padding: 3px 10px;
  }
  .el-tag__close {
    background-color: $white;
    border-radius: 50%;
    flex: none;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 7px;
  }
  .el-tag .el-tag__close:hover {
    color: #050000;
    background-color: $white;
  }
  .pui-input-dropdown {
    position: absolute;
    left: -20px;
    top: 100%;
    line-height: 1;
    max-height: 500px;
    overflow-y: hidden;
    overflow-x: hidden;
    border-radius: 6px;
    position: absolute;
    z-index: 2;
    background-color: $white;
    box-shadow: 0 5px 24px 0 rgba(28, 74, 115, 0.2);
  }
}
</style>
