<template>
  <div class="tags">
    <div
      v-for="tag in tags"
      :key="tag[idKey]"
      class="tags__tag"
      @click="searchByTag(tag.id)"
    >
      <slot :tag="tag">
        {{ tag[textKey] }}
      </slot>
    </div>
  </div>
</template>

<script>
export default {
	name: 'Tags',
	props: {
		tags: {
			type: Array,
			required: true
		},
		idKey: {
			type: String,
			default: 'id'
		},
		textKey: {
			type: String,
			default: 'name'
		}
	},
	methods: {
		searchByTag(id) {
			// generate date range
			let beginDate = new Date().setDate(new Date().getDate() + 1)
			let endDate = new Date(beginDate).setMonth(new Date(beginDate).getMonth() + 6)
			beginDate = this.$GET_DATE(beginDate)
			endDate = this.$GET_DATE(endDate)
			const date = beginDate + ',' + endDate
			// go to search page with all queries and tag id
			this.$router.push({
				path: '/' + this.__language + '/search',
				query: {
					page: 1,
					limit: 5,
					loc: null,
					dest: 0,
					date: date,
					days: '1,28',
					adults: 1,
					children: null,
					partners: null,
					type: this.__tour.type || 'tour',
					tags: id
				}
			})
		}
	}
}
</script>

<style lang="scss">
.tags {
  @include flex(row, flex-start, flex-start);
  overflow-x: scroll;
  @media (min-width: $sm) {
    flex-wrap: wrap;
    overflow: auto;
  }
  &__tag {
	cursor: pointer;
    flex-shrink: 0;
    padding: 4px 8px;
    border-radius: 6px;
    background-color: $pale-grey;
    color: $primary-blue;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
    margin-right: 12px;
	margin-bottom: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
}
</style>
