<template>
  <label class="toggle" :class="{ 'toggle--reverse': reverse }">
    <input
      v-show="false"
      v-model="innerValue"
      type="checkbox"
      class="toggle__checkbox"
    >
    <div class="toggle__switch" />
    <span class="toggle__label">
      <slot>
        {{ label }}
      </slot>
    </span>
  </label>
</template>

<style lang="scss">
.toggle {
  @include flex(row, flex-start, center);
  &--reverse {
    @include flex(row-reverse, flex-start, center);
  }
  box-sizing: border-box;
  cursor: pointer;
}
.toggle__switch {
  box-sizing: border-box;
  display: inline-block;
  background: $cloudy-blue;
  border-radius: 10px;
  width: 35px;
  height: 20px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
  &:before,
  &:after {
    box-sizing: border-box;
    content: "";
  }
  &:before {
    box-sizing: border-box;
    display: block;
    background: $white;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: left 0.25s;
  }
  .toggle:hover &:before {
    box-sizing: border-box;
    background: $white;
  }
  .toggle__checkbox:checked + & {
    box-sizing: border-box;
    background: $primary-blue;
    &:before {
      box-sizing: border-box;
      left: 17px;
    }
  }
}
.toggle__label {
  box-sizing: border-box;
  margin: 0 10px;
}
</style>

<script>
export default {
	name: 'Toggle',
	model: {
		prop: 'value',
		event: 'checked'
	},
	props: {
		reverse: {
			type: Boolean,
			default: false
		},
		label: {
			type: String,
			default: ''
		},
		value: {
			type: Boolean,
			default: false
		}
	},
	computed: {
		innerValue: {
			get() {
				return this.value
			},
			set(v) {
				this.$emit('checked', v)
			}
		}
	}
}
</script>
