<template>
  <el-upload

    multiple
    class="component__uploader"
    action="https://tickets.palmarius.org:443/images/upload"
    :file-list="fileList"
    :show-file-list="false"
    :before-upload="beforeImageUpload"
    :on-success="successLoad"
    :on-progress="loadImage"
  >
    <template v-if="photoList">
      <div
        v-for="(image, index) in photoList"
        :key="index"
        class="uploader__image"
        :class="[image.uniq ? '': 'uploader__image--unUniq']"
        @click.stop=""
      >
        <img v-lazy="`https://tickets.palmarius.org/images/${image.url}`" class="uploader-avatar">
        <button class="uploder__remove-btn" @click="removeImage(image.url,$event)">
          <!-- <i class="pui-icon-close" /> -->
        </button>
        <div class="uploader__warning">
          картинка дублируется
        </div>
      </div>
    </template>
    <i v-for="empty in kolEmpty" :key="empty" class="el-icon-plus uploader-icon" />
    <i class="el-icon-plus uploader-icon" />
  </el-upload>
</template>

<script>
export default {
	props: {

		photoList: {
			type: Array,
			default: () => ([])
		}
	},
	data() {
		return {
			fileList: []
			// loading: false
		}
	},
	computed: {
		kolEmpty() {
			const kolImages = this.photoList ? this.photoList.length : 0
			if (kolImages === 0) return 2
			if (kolImages === 1) return 1
			return 0
		}
	},
	methods: {
		loadImage(event, file, fileList) {
			// console.log(event)
			// console.log(file)
			this.loading = true
		},
		successLoad(res, file, fileList) {
			const massSuccess = fileList.filter((el) => {
				return el.status === 'success'
			})

			if (massSuccess.length === fileList.length) {
				this.$emit('addImage', fileList)
				this.fileList = []

				this.$emit('loading', false)
			}
		},
		removeImage(url, e) {
			e.stopPropagation()
			console.log('removeImage из Uploader')

			this.$emit('removeImage', url)
		},
		beforeImageUpload(file) {
			// const isJPG = file.type === 'image/jpeg'
			const isLt2M = file.size / 1024 / 1024 < 32
			// if (!isJPG) {
			// 	this.$message.error('Avatar picture must be JPG format!')
			// }
			if (!isLt2M) {
				this.$message.error('Avatar picture size can not exceed 32MB!')
				return isLt2M
			}
			this.$emit('loading', true)
			return isLt2M
			// return isJPG && isLt2M
		}
	}
}
</script>
<style lang="scss">
.component__uploader {
  .uploder__remove-btn {
    cursor: pointer;
    z-index: 5;
    position: absolute;
    top: 5px;
    right: 5px;
    background: white;
    border-radius: 50%;
    border: none;
    width: 25px;
    height: 25px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;

    &:before,
    &:after {
      position: absolute;
      left: 11.5px;
      content: " ";
      height: 17px;
      width: 2px;
      background-color: #333;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
  .uploader__image {
    z-index: 2;
    height: 100%;
    position: relative;
    width: 140px;
    height: 120px;
    border: 1px dashed $white;
    border-radius: 6px;
    flex: none;
    cursor: pointer;
    margin-bottom: 24px;

    &:not(:nth-child(3n + 3)) {
      margin-right: 17px;
    }
    &:hover {
      border-color: #409eff;
    }
    @media (max-width: $xs) {
      width: 100%;
      margin-right: 0px;
      margin-bottom: 12px;
      height: 140px;
    }
  }
  .uploader__warning {
    display: none;
    color: $dull-orange;
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-weight: 500;
    text-align: center;
    background: white;
    right: 5px;
    border-radius: 16px;
    font-size: 12px;
  }
  .el-upload {
    // background-color: $white;
    // width: 140px;
    // height: 120px;
    // border: 1px dashed $white;
    // border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
    cursor: auto;

    position: relative;
    overflow: hidden;
    .uploader-icon {
      font-size: 28px;
      color: #8c939d;
      width: 140px;
      height: 120px;
      line-height: 120px;
      text-align: center;
      background-color: $white;
      border: 1px dashed $white;
      border-radius: 6px;
      margin-bottom: 24px;
      &:hover {
        border-color: #409eff;
      }
      &:not(:nth-child(3n + 3)) {
        margin-right: 17px;
      }
      @media (max-width: $xs) {
        width: 100%;
        margin-bottom: 12px;
        height: 140px;
        &:not(:nth-child(3n + 3)) {
          margin-right: 0px;
        }
      }
    }
    // @media (max-width: $xs) {
    //   width: 100%;
    //   margin-bottom: 12px;
    //   height: 140px;
    // }
  }
  .uploader__image--unUniq {
    .uploader__warning {
      display: block;
    }
  }

  .uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 140px;
    height: 120px;
    line-height: 120px;
    text-align: center;
    cursor: pointer;
  }
  .uploader-avatar {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
  }
}
</style>
