<template>
  <div class="admin">
    <div class="container">
      <ul>
        <li>1 шаг</li>
        <li>
          <nuxt-link :to="`/${__language}/newTour/step2`">
            2 шаг
          </nuxt-link>
        </li>
        <li>3 шаг</li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
	layout: 'admin',

	mounted() {}
}
</script>
