<template>
  <div class="component__mobile-currency-switcher">
    <select v-model="currency" dir="rtl" @change="chooseCurrency(currency)">
      <option v-for="(item, key) in __currencies" :key="key" :value="item.code" :label="item.code + ' - ' + $LOCALE(`ln_${item.code}`)">
        {{ item.code + ' - ' + $LOCALE(`ln_${item.code}`) }}
      </option>
    </select>
  </div>
</template>
<script>
// import { mapState } from 'vuex'
export default {
	data() {
		return {

		}
	},
	computed: {
		currency: {
			get() {
				return this.$store.state.currency
			},
			set(val) {
				this.$store.dispatch('SET_API_STORE_BY_NAME', ['currency', val])
				setTimeout(() => {
					this.$store.commit('SET_STATES', { currency: val })
				}, 3000)
				// this.$router.go()
			}
		}
	},
	created() {
		// console.log(this.currency, this.__currency)
	},
	methods: {
		chooseCurrency(currency) {
			// this.$store.commit('SET_CURRENCY', currency)

			// this.currencyDialog = false

		}
	}
}
</script>
<style lang="scss">
.component__mobile-currency-switcher{
	select{
		line-height: 1;
		background-color: transparent;
		border: 0px solid;
		color: $charcoal-grey;
		font-size: 14px;
		font-weight: 600;
		-webkit-appearance: none;  /*Removes default chrome and safari style*/
		-moz-appearance: none; /* Removes Default Firefox style*/
		text-indent: 0.01px; /* Removes default arrow from firefox*/
		text-overflow: "";  /*Removes default arrow from firefox*/
		&:focus{
			outline: none;
		}
	}
}
</style>
