<template>
  <div class="component__mobile-navigation">
    <button class="mobile-navigation-button open" @click="shown = true">
      <i class="pui-menu-ic" />
    </button>
    <transition name="slide-fade">
      <div v-show="shown" class="mobile-navigation-container">
        <div class="mobile-navigation-header">
          <div class="text-h4">
            {{ $LOCALE('ln_menu') }}
          </div>
          <button class="mobile-navigation-button close" @click="shown = false">
            <i class="pui-plus-ic" />
          </button>
        </div>
        <div class="mobile-navigation-body">
          <!-- динамическая мобильная навигация зависящая от страници -->
          <pui-cells>
            <pui-cell
              v-for="(item, key) in dynamicNavigation"
              :key="key"
              :label="$LOCALE(item.name)"
              :type="item.type?'button':'link'"
              :link-url="item.url"
              @click="$SET_PHALCON_URL(item.url)"
            />
            <pui-cell :label="$LOCALE('ln_registration')" type="button" @click="openRegDialog()" />
          </pui-cells>
          <pui-cells>
            <pui-cell :label="$LOCALE('ln_language')">
              <vue-header-language-switcher />
            </pui-cell>
            <pui-cell :label="$LOCALE('ln_currency')">
              <!-- <vue-currency-switcher /> -->
              <vue-header-mobile-currency-switcher />
            </pui-cell>
          </pui-cells>
          <pui-cells>
            <pui-cell
              v-for="(item, key) in navigation"
              :key="key"
              :label="$LOCALE(item.name)"
              :type="item.type?'button':'link'"
              :link-url="item.url"
              @click="$SET_PHALCON_URL(item.url)"
            />
            <pui-cell :label="$LOCALE('ln_registration')" type="button" @click="openRegDialog()" />
          </pui-cells>
        </div>
      </div>
    </transition>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import VueHeaderLanguageSwitcher from '@/components/Header/LanguageSwitcher'
import VueHeaderMobileCurrencySwitcher from '@/components/Header/Mobile/CurrencySwitcher'
export default {
	components: {
		VueHeaderLanguageSwitcher,
		VueHeaderMobileCurrencySwitcher
	},
	data() {
		return {
			shown: false
		}
	},
	computed: {
		...mapGetters(['navigation', 'dynamicNavigation'])
	},
	watch: {
		shown(val) {
			if (val) {
				this.$TOGGLE_BODY_CLASS('addClass', 'fixed')
			} else {
				this.$TOGGLE_BODY_CLASS('removeClass', 'fixed')
			}
		},
		__currency(val) {
			this.shown = false
		},
		$route: {
			handler(val) {
				this.shown = false
			},
			deep: true
		}
	},
	methods: {
		openRegDialog() {
			this.$store.commit('regLogin/SET_REG_DIALOG', true)
		}
	}
}
</script>
<style lang="scss">
.component__mobile-navigation {
  margin-left: 22px;
  @media (max-width: $md) {
    margin-left: 20px;
  }
  .mobile-navigation-button {
    width: 28px;
    height: 28px;
    padding: 6px 5px 5px;
    line-height: 1;
    border: 0 solid;
    color: $white;
    background-color: $primary-sand;
    border-radius: 4.4px;
    &.open {
    }
    &.close {
      i {
        transform: rotate(45deg);
        font-size: 13px;
      }
    }
    i {
      font-size: 17px;
      height: 12px;
      display: inline-block;
    }
  }
  .mobile-navigation-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    padding: 18px 15px;
    background-color: $pale-grey;
    .mobile-navigation-header {
      @include flex(row, space-between, center);
    }
    .mobile-navigation-body {
      margin-top: 20px;
      overflow-y: auto;
      height: calc(100vh - 84px);
    }
  }
}
.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-leave-active {
  transition: all 0.3s ease;
}
.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(50%);
  opacity: 0;
}
</style>
