<template>
  <div class="admin">
    <div class="container">
      <nuxt-link :to="`/${__language}/account/partner`">
        <h1> назад к моим турам</h1>
      </nuxt-link>
      <ul>
        <li>1 шаг</li>
        <li>
          <nuxt-link :to="`/${__language}/tour/${$route.params.id}/edit/step2`">
            2 шаг
          </nuxt-link>
        </li>
        <li>3 шаг</li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
	layout: 'admin',

	mounted() {}
}
</script>
