<template>
  <div class="page__tour-program">
    <VueHeader title="Создание тура" @saveTour="saveTour" />

    <div class="tour-program__container">
      <div class="tour-program__title">
        Программа тура {{ tour.program ? tour.program.days.length : 0 }} дня
      </div>
      <div class="tour-program__text">
        Добавьте описание программы для каждого дня
      </div>
      <template v-if="tour.program">
        <VueNewTourDaysList class="tour-program__days-list" :program="tour.program" :visible-item="1" @change:program="changeProgram" />
      </template>

      <div class="tour-program__footer">
        <nuxt-link :to="`/${__language}/tour/${$route.params.id}/edit`">
          <pui-button
            class="tour-program__back-btn"
            size="small"
            type="white"
            icon="pui-icon-arrow-left"
          >
            Назад
          </pui-button>
        </nuxt-link>
        <!-- <nuxt-link :to=""> -->
        <pui-button class="tour-program__ready-btn" size="small" type="blue" @click="saveTour">
          Готово
        </pui-button>
        <!-- </nuxt-link> -->
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import VueHeader from '@/components/NewTour/Header.vue'
import VueNewTourDaysList from '@/components/NewTour/DaysList'
export default {
	components: {
		VueHeader,
		VueNewTourDaysList
	},
	data() {
		return {
		}
	},
	layout: 'admin',
	// async asyncData({ store, params }) {

	// },
	computed: {
		...mapGetters('editTour', ['tour'])
	},
	async fetch({ store, params }) {
		// this.$store.commit('loading/SET_LOADING', true)
		await store.dispatch('tours/GET_TOUR_DAY_TAGS')
		await store.dispatch('editTour/GET_TOUR', params.id)
		// this.$store.commit('loading/SET_LOADING', false)
	},

	// async created() {

	// },
	methods: {
		...mapActions('editTour', ['UPDATE_TOUR', 'SAVE_TOUR']),
		changeProgram(program) {
			const tourId = this.$route.params.id
			this.UPDATE_TOUR({ program: program, id: tourId })
		},
		async saveTour() {
			this.$store.commit('loading/SET_LOADING', true)
			const id = this.$route.params.id
			await	this.SAVE_TOUR(id)
			this.$store.commit('loading/SET_LOADING', false)
			this.$router.push(`/${this.__language}/tour/${id}/edit`)
		}
	}

}
</script>

<style lang="scss">
.page__tour-program {
  .tour-program__container {
    max-width: 486px;
    margin: 56px auto;

    @media (max-width: $xs) {
      margin-top: 24px;
      padding: 0px 15px;
      max-width: 100%;
    }
  }
  .tour-program__footer {
    margin-top: 68px;
    display: flex;
    justify-content: flex-end;
    @media (max-width: $xs) {
      justify-content: space-between;
    }
  }
  .tour-program__back-btn {
    width: 136px;
    min-width: 50px;
    span + i {
      order: -1;
      margin-right: 8px;
    }
    @media (max-width: $xs) {
      width: 81px;
    }
  }
  .tour-program__ready-btn {
    width: 162px;
    min-width: 100px;
    @media (max-width: $xs) {
      width: 132px;
      height: 44px;
    }
  }
  .tour-program__title {
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: $charcoal-grey;
    margin-bottom: 12px;
    @media (max-width: $xs) {
      font-size: 16px;
    }
  }
  .tour-program__text {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: $grey-blue;
    @media (max-width: $xs) {
      font-size: 12px;
    }
  }
  .tour-program__days-list {
    margin-top: 12px;
  }
}
</style>
