<template>
  <div class="component__hotel-service-card">
    <div v-if="services.length === 0" class="empty">
      {{ $LOCALE('ln_tours_list_empty') }}
    </div>
    <template v-else>
      <div v-for="(item, key) in services" :key="key" class="service-card__item" @click.prevent="bookService(item)">
        <div class="item__image" :style="'background-image: url(' + $API_IMAGE(item.image, cardImageSize, 0) + ');'" />
        <div class="item__title">
          {{ item.title }}
        </div>
        <div class="item__price">
          <p v-if="item.price_conv !== 0">
            {{ item.price_conv | filterNum }} {{ item.currency_conv }}
          </p>
          <p v-else>
            {{ $LOCALE('ln_common_free') }}
          </p>
          <!-- <span>{{ $LOCALE('ln_hotel_service_card_price_subtitle') }}</span> -->
        </div>
        <div class="item__footer">
          <button>
            <template v-if="item.auto_price">
              {{ $LOCALE('ln_common_order_verb') }}
            </template>
            <template v-else>
              {{ $LOCALE('ln_common_show_details') }}
            </template>
          </button>
        </div>
        <!-- {{ item }} -->
      </div>
    </template>
    <HotelServiceDialog v-model="serviceOrder" />
  </div>
</template>
<script>
import { mapState } from 'vuex'
import HotelServiceDialog from '@/components/Hotel/Service/Dialog'
export default {
	components: {
		HotelServiceDialog
	},
	props: {
		services: {
			type: Array,
			default() {
				return []
			}
		}
	},
	computed: {
		...mapState('hotel', ['hotel']),
		cardImageSize() {
			return [400, 186]
		}
	},
	data() {
		return {
			serviceOrder: {
				quantity: 1,
				roomNumber: null
			}
		}
	},
	methods: {
		bookService(item) {
			if (item.auto_price) {
				this.$store.commit('hotel/SET_STATES', { hotelServiceDialog: true })
				this.$store.commit('hotel/SET_STATES', { hotelService: item })
			} else {
				this.$router.push({
					path: '/' + this.__language + '/' + this.$route.params.hotel + '/' + item.slug
				})
			}
		}
	}
}
</script>
<style lang="scss">
.component__hotel-service-card{
	@include flex(row, flex-start, flex-start);
	flex-wrap: wrap;
	.service-card__item{
		background-color: $white;
		border-radius: 6px;
		width: calc(100% / 4 - 18px);
		margin: 0 24px 24px 0;
		overflow: hidden;
		&:nth-child(4n){
			margin-right: 0;
		}
		@media(max-width: $md){
			width: calc(100% / 3 - 16px);
			&:nth-child(2n){
				margin-right: 24px;
			}
			&:nth-child(3n){
				margin-right: 0;
			}
			&:nth-child(4n){
				margin-right: 24px;
			}
		}
		@media(max-width: $sm){
			width: calc(100% / 2 - 24px);
			&:nth-child(2n){
				margin-right: 0;
			}
			&:nth-child(3n){
				margin-right: 24px;
			}
		}
		@media(max-width: $xs){
			width: 100%;
			margin-right: 0;
			&:nth-child(3n){
				margin-right: 0;
			}
		}
		.item__image{
			height: 186px;
			width: 100%;
			background-size: auto;
			background-position: center;
		}
		.item__title{
			padding: 0 16px 0;
			margin: 18px 0 12px;
			height: 52px;
			overflow: hidden;
			text-overflow: ellipsis;
			font-size: 20px;
			font-weight: bold;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.3;
			letter-spacing: normal;
			color: $charcoal-grey;
		}
		.item__price{
			padding: 0 16px;
			line-height: 1;
			p{
				font-size: 20px;
				font-weight: 500;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.2;
				letter-spacing: normal;
				color: $primary-green;
			}
			span{
				font-size: 12px;
				font-weight: normal;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.5;
				letter-spacing: normal;
				color: $grey-blue;
				margin-top: 2px;
				display: block;
			}
		}
		.item__footer{
			button{
				margin-top: 24px;
				width: 100%;
				padding: 14px;
				background-color: $white;
				color: $primary-blue;
				border: 1px solid $pale-grey;
				border-width: 1px 0 0 0;
				font-size: 16px;
				font-weight: bold;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.38;
				letter-spacing: normal;
				text-align: center;
				cursor: pointer;
			}
		}
	}
}
</style>
