<template>
  <div class="component__hotel-service-dialog">
    <el-dialog
      :visible.sync="hotelServiceDialog"
      :fullscreen="$IS_MOBILE"
      width="486px"
      :close="handleClose"
    >
      <template v-slot:title>
        {{ $LOCALE('ln_hotel_service_request') }}
      </template>
      <div v-loading="loading" class="dialog__inner">
        <el-form ref="form" :model="form" :rules="formRules" @keypress.native.enter="submitForm()">
          <div class="service__quantity">
            <label>{{ $LOCALE('ln_common_quantity') }}</label>
            <el-input-number v-model="form.quantity" :min="1" />
          </div>
          <div class="service__room-number">
            <el-form-item prop="roomNumber">
              <pui-input
                v-model="form.roomNumber"
                :size="$IS_MOBILE?'small':'large'"
                :label="$LOCALE('ln_hotel_service_form_room_numder')"
              />
            </el-form-item>
          </div>

          <div class="service__button">
            <pui-button fluid type="blue" :size="$IS_MOBILE?'small':'medium'" @click="submitForm()">
              {{ $LOCALE('ln_hotel_service_form_button') }}
            </pui-button>
          </div>
        </el-form>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import { mapState } from 'vuex'
export default {
	props: {
		value: {
			type: Object,
			default() {
				return {
					quantity: 1,
					roomNumber: null
				}
			}
		}
	},
	data() {
		return {
			form: this.value,
			loading: false,
			formRules: {
				roomNumber: [
					{ required: true, message: this.$LOCALE('ln_hotel_service_dialog_enter_room_number'), trigger: ['change', 'blur'] }
				]
			}
		}
	},
	computed: {
		...mapState('hotel', ['hotel', 'hotelService']),
		hotelServiceDialog: {
			get() { return this.$store.state.hotel.hotelServiceDialog },
			set(val) { this.$store.commit('hotel/SET_STATES', { hotelServiceDialog: val }) }
		}
	},
	watch: {
		form: {
			handler(val) {
				this.$cookies.set('roomNumber', val.roomNumber)
				this.$emit('input', val)
			},
			deep: true
		},
		hotelServiceDialog(val) {
			if (val) {
				const roomNumber = this.$cookies.get('roomNumber')
				if (roomNumber) {
					this.form.roomNumber = roomNumber
				}
			}
		}
	},
	created() {

	},
	methods: {
		handleClose(done) {
			// this.state = 'form'
			this.hotelServiceDialog = false
			done()
		},
		submitForm() {
			this.$refs.form.validate((valid) => {
				if (valid) {
					this.loading = true
					const result = this.$store.dispatch('hotel/HOTEL_SERVICE_BOOKING', {
						hotel_id: this.hotel.id,
						service_id: this.hotelService.id,
						quantity: this.form.quantity,
						room: parseInt(this.form.roomNumber)
					})
					console.log(result)
					setTimeout(() => {
						this.loading = false
						this.hotelServiceDialog = false
						this.$store.commit('layout/SET_STATES', {
							dialogConfirmShown: true,
							dialogConfirmContent: {
								image: '/static-assets/images/letter.png',
								title: 'ln_common_thankyou',
								message: 'ln_hotel_service_dialog_message',
								button: 'ln_hotel_service_dialog_button'
							}
						})
					}, 300)
				}
			})
		}
	}
}
</script>
<style lang="scss">
.component__hotel-service-dialog{
	.el-input-number{
		line-height: 2;
		span{
			background-color: $primary-blue;
		}
	}

	.el-dialog__header{
		// padding: 40px 32px 31px;
		font-size: 20px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.2;
		letter-spacing: normal;
		color: $charcoal-grey;
	}
	.service__quantity{
		margin-bottom: 27px;
		@include flex(row, space-between, center);
		label{
			font-size: 16px;
			font-weight: 600;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.38;
			letter-spacing: normal;
			color: $charcoal-grey;
		}
	}
	.service__room-number{
		margin-bottom: 27px;
	}
	.service__button{
		padding-bottom: 40px;
	}
}
</style>
