<template>
  <div class="component__day" :class="{ 'day--collapsed': collapsed }">
    <div ref="dayTab" class="day__name-row" @click="toggle">
      <h3 class="day__name">
        День {{ day.dayNumber }}
      </h3>
      <i class="pui-chevrone-down-ic day__toggle" />
    </div>
    <div v-show="!collapsed" class="day__content">
      <!-- в  el-input нет события enter-->
      <div @keyup.enter="pressEnterInTexarea">
        <el-input
          v-model="program"
          class="day__textarea"
          type="textarea"
          :autosize="{ minRows: 7}"
          placeholder="Для того чтобы удобно представить информацию туриста, каждая временная точка - это новая строка. Для добавления новой строки используйте символ —."
          @blur="changeDayProgram"
          @focus="addDashInTextarea"
        />
      </div>

      <!-- <VueTextEditor placeholder="enter your content..." /> -->
      <div class="day__subtitle">
        Что входит в стомость тура
      </div>
      <div class="day__text">
        Рекомендуем добавить фото, которые понятно описывают
        события определенного дня.
        <nuxt-link to="#">
          Хорошие примеры фото
        </nuxt-link>
      </div>
      <div class="day__uploader-container">
        <VueUploadPhotoList :selected-images="day.images" @change:images="changeImages" />
      </div>

      <div class="day__subtitle">
        Достопримечательности этого дня
      </div>
      <div class="day__text">
        Указывая достопримечательности, вы помогаете туристам
        находить ваш тур. Заполнение данного параметра
        увеличивает продажи.
      </div>
      <div class="day__sight-container">
        <VueTagSearch :tag-list="tags" :selected-tags="day.tags" @change:tags="changeTags" />
      </div>
    </div>
  </div>
</template>

<script>
import VueTagSearch from '@/components/TagSearch'

import VueUploadPhotoList from '@/components/NewTour/UploadPhotoList'

export default {
	name: 'Day',
	components: {
		VueTagSearch,
		VueUploadPhotoList
	},
	model: {
		prop: 'collapsed',
		event: 'change:collapsed'
	},
	props: {
		tags: {
			type: Array,
			default: () => {
				return []
			}
		},
		day: {
			type: Object,
			required: true
		},

		collapsed: {
			type: Boolean,
			default: false
		}
	},
	data: () => ({
		showSightList: false,
		program: '',
		images: []
	}),

	created() {
		if (this.day.program) {
			let resStr = ''

			this.day.program.map((dayProgram) => {
				const startTime = dayProgram.start_time
					? `[${dayProgram.start_time}]`
					: ''
				const description = dayProgram.description
					? `(${dayProgram.description})`
					: ''

				resStr += `- ${dayProgram.intro} ${description} ${startTime}\n\n`
			})

			this.program = resStr
		} else {
			this.program = ''
		}
	},

	methods: {
		pressEnterInTexarea() {
			this.program = this.program + '\n-'
		},
		addDashInTextarea(e) {
			if (this.program === '') {
				this.program = '-'
			}
		},
		changeDayProgram() {
			this.program = this.program.trim()
			if (this.program === '-') {
				this.program = ''
				return
			}
			console.log(this.program)
			if (this.program === '') {
				const day = JSON.parse(JSON.stringify(this.day))
				day.program = []
				this.$emit('change:day', day)
				return
			}
			if (this.program && this.program !== '') {
				// const program = []

				const programBloks = this.program.split(/(^|\n)[\s]*-/).filter((el) => {
					return el !== '\n' && el !== ''
				})

				const resProgram = programBloks.map((block) => {
					const programDay = {
						start_time: '',
						intro: '',
						description: ''
					}
					const time = block.match(/\[[\d\s]{1,5}:[\d\s]{1,5}\]/)

					if (time) {
						programDay.start_time = time[0].replace(/\[|\]/g, '').trim()
						block = block.replace(/\[[\d\s]{1,5}:[\d\s]{1,5}\]/, '').trim()
					}

					const description = block.match(/\([\w\W\s]+\)/)

					if (description) {
						programDay.description = description[0]
							.replace(/\(|\)/g, '')
							.trim()
						block = block.replace(/\([\w\W\s]+\)/, '').trim()
					}
					programDay.intro = block.trim()
					return programDay
				})

				const day = JSON.parse(JSON.stringify(this.day))
				day.program = resProgram
				this.$emit('change:day', day)
			}
		},

		changeImages(images) {
			const day = JSON.parse(JSON.stringify(this.day))
			day.images = images
			console.log('changeImages из Day', day)
			this.$emit('change:day', day)
		},
		toggle() {
			setTimeout(() => {
				this.$refs.dayTab.scrollIntoView({ behavior: 'smooth' })
				// this.$SCROLL_TO('.addTegBtn')
				// console.log(this.$refs.addTegBtn.$el, 'мотаем')
				// this.$refs.addTegBtn.$el.scrollIntoView(false)
			}, 100)
			this.$emit('change:collapsed', !this.collapsed)
		},
		changeTags(tagsIdMass) {
			const tags = []
			tagsIdMass.map((tag) => {
				const tagById = this.tags.find((el) => {
					return el.id === tag
				})
				tags.push(tagById)
			})

			const day = JSON.parse(JSON.stringify(this.day))
			day.tags = tags
			this.$emit('change:day', day)
		}
	}
}
</script>

<style lang="scss">
.component__day {
  border-radius: 6px;
  background-color: $pale-grey;

  .day__name-row {
    cursor: pointer;
    padding: 20px 16px;
    user-select: none;
    @include flex(row, space-between, center);
    @media (min-width: $md) {
      padding: 21px;
    }
  }

  .day__text {
    font-size: 14px;
    margin-bottom: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: $grey-blue;
    @media (max-width: $xs) {
      font-size: 12px;
    }
  }

  .day__subtitle {
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: $charcoal-grey;
    @media (max-width: $xs) {
      font-size: 14px;
    }
  }

  .day__toggle {
    transform: scaleY(-1);
    transition: transform 0.25s ease-out;
  }

  .day__name {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.38;
    color: $charcoal-grey;
  }

  .day__content {
    padding: 0px 16px 20px;
    transition: max-height 0.25s ease-in-out;
    @media (max-width: $xs) {
      padding: 0px 12px 20px;
    }

    &--shadow {
      position: fixed;
      top: 0;
    }
  }
  .day__textarea .el-textarea__inner {
    margin-bottom: 24px;
    border-radius: 5px;
    background-color: $white;
    border: none;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: $grey-blue;
  }
}
.day--collapsed {
  .day__toggle {
    transform: scaleY(1);
  }
  .day__content {
    padding-top: 0px;
  }
}
</style>
