<template>
  <div class="component__days-list">
    <vue-new-tour-day
      v-for="day in program.days"
      :key="day.id"
      :tags="tags"
      class="days-list__item"
      :day="day"
      :collapsed="!isItemVisible(day.dayNumber)"
      @change:collapsed="(v) => collapsedHandler(day.dayNumber, v)"
      @change:day="changeDay"
    />
  </div>
</template>

<style lang='scss'>
.days-list {
  &__item {
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
</style>

<script>
import Vue from 'vue'
import { mapGetters } from 'vuex'
import VueNewTourDay from '@/components/NewTour/Day'

export default {
	name: 'DaysList',
	components: {
		VueNewTourDay
	},
	props: {
		hideAllThenSomeItemVisible: {
			type: Boolean,
			default: true
		},
		visibleItem: {
			type: Number,
			default: 1
		},
		program: {
			type: Object,
			required: true
		}
	},
	data: () => ({
		visible: []
	}),
	computed: {
		...mapGetters('tours', ['tags'])
		// ...mapGetters('editTour', ['draftProgram'])
	},
	// async asyncData({ store, params }) {
	// 	await store.dispatch('tours/GET_TOUR_DAY_TAGS')
	// },
	created() {
		if (this.visibleItem) {
			this.visible.push(this.visibleItem)
		}
	},
	methods: {
		// mapActions('tours', ['GET_TOUR_DAY_TAGS']),
		// ...mapActions('editTour', ['UPDATE_DRAFT']),
		isItemVisible(dayNumber) {
			return this.visible.includes(dayNumber)
		},
		collapsedHandler(dayNumber, collapsed) {
			if (collapsed) {
				const itemIndex = this.visible.findIndex(
					dayInArray => dayInArray === dayNumber
				)
				this.visible.splice(itemIndex, 1)
				return
			}

			if (this.hideAllThenSomeItemVisible) {
				Vue.set(this, 'visible', [dayNumber])
			} else {
				this.visible.push(dayNumber)
			}
		},
		changeDay(day) {
			const indexDayInProgramm = this.program.days.findIndex(
				(oldDayInDayProgram) => {
					return oldDayInDayProgram.id === day.id
				}
			)

			const program = JSON.parse(JSON.stringify(this.program))
			program.days[indexDayInProgramm] = day
			console.log('changeImages из DAysList', program)
			console.log('До UPDATE_DRAFT')
			this.$emit('change:program', program)
			// this.UPDATE_DRAFT({ program: program })
			// console.log('После UPDATE_DRAFT', program)
		}
	}
}
</script>
