<template>
  <header class="component__newTour-header">
    <div class="container newTour-header__container">
      <div class="newTour-header__logo">
        <div class="newTour-header__img">
          <img src="/static-assets/images/logo/Logo-1x1-color.svg" alt="Logo">
        </div>
        <div class="newTour-header__title">
          {{ title }}
        </div>
      </div>

      <div class="newTour-header__menu">
        <div class="newTour-header__last-save">
          Последнее сохранение 3 часа назад
        </div>
        <a href="#" class="newTour-header__exit" @click.prevent="$emit('saveTour')">Сохранить и выйти</a>
      </div>
    </div>
  </header>
</template>
<script>
export default {
	props: ['title']
}
</script>

<style lang="scss">
.component__newTour-header {
  padding: 20px 0px;
  background-color: $soft-grey;
  @media (max-width: $xs) {
    padding: 16px 0px;
  }
  .newTour-header__container {
    display: flex;
    justify-content: space-between;
  }
  .newTour-header__logo {
    display: flex;
    align-items: center;
  }
  .newTour-header__title {
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: $charcoal-grey;
    @media (max-width: $xs) {
      display: none;
    }
  }
  .newTour-header__menu {
    display: flex;
    align-items: center;
  }
  .newTour-header__last-save {
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: $grey-blue;
    margin-right: 24px;
    @media (max-width: $sm) {
      display: none;
    }
  }
  .newTour-header__exit {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: right;
    color: $primary-blue;
    @media (max-width: $xs) {
      font-size: 12px;
    }
  }
  .newTour-header__exit:hover {
    text-decoration: underline;
  }
  .newTour-header__img {
    margin-right: 12px;
    width: 36px;

    @media (max-width: $xs) {
      width: 28px;
    }
  }
  .newTour-header__img img {
    width: 100%;
  }
}
</style>
