<template>
  <div v-loading="loading" class="component__uploderList">
    <VueUploader
      :photo-list="filteredSelectedImages"
      class="uploderList__img"
      @addImage="addImage"
      @removeImage="removeImage"
      @loading="setLoading"
    />
  </div>
</template>

<script>
import VueUploader from '@/components/Uploader'
export default {
	components: {
		VueUploader
	},
	props: {
		selectedImages: {
			type: Array,
			default: () => []
		}
	},
	data() {
		return {
			// uniqImg: []
			loading: false
		}
	},

	computed: {
		kolEmpty() {
			const kolImages = this.selectedImages ? this.selectedImages.length : 0
			if (kolImages === 0) return 2
			if (kolImages === 1) return 1
			return 0
		},
		filteredSelectedImages() {
			const uniqImg = []
			if (this.selectedImages) {
				return this.selectedImages.map((image) => {
					const unique = uniqImg.indexOf(image) === -1
					uniqImg.push(image)
					return {
						url: image,
						uniq: unique
					}
				})
			} else {
				return []
			}
		}
	},

	methods: {
		setLoading(loading) {
			this.loading = loading
		},
		addImage(fileList) {
			let selectedImages = this.selectedImages
				? JSON.parse(JSON.stringify(this.selectedImages))
				: []
			const urlList = fileList.map((el) => {
				return el.response.file
			})

			//
			selectedImages = [...selectedImages, ...urlList]
			this.$emit('change:images', selectedImages)
		},
		removeImage(url) {
			const index = this.selectedImages.findIndex(el => el === url)
			this.selectedImages.splice(index, 1)
			this.$emit('change:images', this.selectedImages)
		}
	}
}
</script>
<style lang="scss">
.component__uploderList {
  .el-loading-mask {
    bottom: 23px;
  }
}
</style>
