<template>
  <!-- BOOKING DIALOG -->
  <el-dialog
    :visible.sync="bookingDialog"
    width="575px"
    append-to-body=""
    :fullscreen="$ua.isFromSmartphone()"
    :before-close="handleClose"
    custom-class="booking-form-dialog"
  >
    <template v-if="state === 'form'" v-slot:title>
      <div class="text-h4">
        {{ $LOCALE('ln_book_tour') }}
      </div>
    </template>
    <template v-if="state === 'form'">
      <el-form ref="bookingForm" :model="bookingForm" :rules="bookingFormRules">
        <el-row :gutter="10">
          <el-col :xs="24" :sm="24">
            <div class="text-h6">
              {{ $LOCALE('ln_choose_start_tour_date') }}
            </div>
            <el-form-item prop="date">
              <vue-tour-datepicker v-model="bookingForm.date" :tour-dates="tourDates" />
            </el-form-item>
          </el-col>
          <!-- <el-col :xs="24" :sm="12">
            <div class="text-h6">
              {{ $LOCALE('ln_choose_condition') }}
            </div>
            <el-form-item prop="conditions">
              <pui-select
                v-model="bookingForm.conditions"
                :mobile="$ua.isFromSmartphone()"
                :options="tourTypeOptions"
                :size="$ua.isFromSmartphone()?'small':'large'"
              />
            </el-form-item>
          </el-col> -->
          <el-col :xs="24" :sm="12">
            <div class="text-h6">
              {{ $LOCALE('ln_your_email') }}
            </div>
            <el-form-item prop="contact_email">
              <pui-input v-model="bookingForm.contact_email" type="email" :size="$ua.isFromSmartphone()?'small':'large'" :label="$LOCALE('ln_your_email')" />
            </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="12">
            <div class="text-h6">
              {{ $LOCALE('ln_people_in_tour') }}
            </div>
            <el-form-item>
              <vue-people v-model="people" />
            </el-form-item>
          </el-col>
          <el-col :xs="24">
            <div class="text-h6">
              {{ $LOCALE('ln_your_phone_number') }}
            </div>
            <el-form-item prop="contact_phone">
              <pui-input
                v-model="bookingForm.contact_phone"
                :mask="{
                  mask: __phone_mask,
                  showMaskOnHover: false
                }"
                :label="$LOCALE('ln_your_phone')"
                :size="$ua.isFromSmartphone()?'small':'large'"
              />
            </el-form-item>
          </el-col>
          <el-col :xs="24">
            <div class="text-h6">
              {{ }}
            </div>
            <el-form-item prop="whatsapp">
              <el-switch v-model="bookingForm.isWhatsapp" :active-value="true" :inactive-value="false" :active-text="$LOCALE('ln_whatsapp')" />
            </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="24">
            <div v-if="tourPrice" class="booking-tour-price">
              <el-form-item class="tour-price">
                <div class="text-h6">
                  {{ $LOCALE('ln_tour_price_per_person') }}
                </div>
                <span>{{ tourPrice.price_conv | filterNum }} {{ __currency }}</span>
              </el-form-item>
            </div>
          </el-col>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <pui-button type="blue" :fluid="$ua.isFromSmartphone()" @click="handleSubmitBooking()">
          {{ $LOCALE('ln_confirm_booking') }}
        </pui-button>
        <div class="tips">
          {{ $LOCALE('ln_booking_button_tips') }}
        </div>
      </span>
    </template>
    <template v-else>
      <div class="dialog-confirm">
        <div class="dialog-image">
          <img src="/static-assets/images/letter.png" alt="">
        </div>
        <div class="dialog-message">
          <h2>{{ $LOCALE('ln_common_notify_title_success') }}!</h2>
          <p>{{ $LOCALE('ln_tour_order_success_message') }}</p>
        </div>
        <div class="dialog-button">
          <pui-button type="blue" @click="clickBackwardButton()">
            {{ $LOCALE('ln_tour_order_dialog_button') }}
          </pui-button>
        </div>
      </div>
    </template>
  </el-dialog>
</template>
<script>
import { mapState } from 'vuex'
import VueTourDatepicker from '@/components/Tour/Datepicker'
import VuePeople from '@/components/Search/People'

export default {
	components: {
		VueTourDatepicker,
		VuePeople
	},
	props: {},
	data() {
		const validEmail = (rule, value, callback) => {
			if (!value && !this.bookingForm.contact_phone) {
				callback(new Error(this.$LOCALE('ln_field_required')))
			} else if (value) {
				const regxp = new RegExp('[^@]+@[^@]+\\.[^@]+')
				if (regxp.test(value)) {
					callback()
				} else {
					callback(new Error(this.$LOCALE('ln_enter_correct_email')))
				}
			} else {
				callback()
			}
		}
		const validPhone = (rule, value, callback) => {
			if (!value && !this.bookingForm.contact_email) {
				callback(new Error(this.$LOCALE('ln_field_required')))
			} else {
				callback()
			}
		}
		return {
			state: 'form',
			tourTypeOptions: [
				{ label: this.$LOCALE('ln_econom'), value: 1 },
				{ label: this.$LOCALE('ln_standart'), value: 2 },
				{ label: this.$LOCALE('ln_all_in'), value: 3 }
			],
			people: {
				adults: 1,
				children: []
			},
			bookingFormRules: {
				date: [
					{ required: true, message: this.$LOCALE('ln_field_required'), trigger: 'change' }
				],
				tour_date: [
					{ required: true, message: this.$LOCALE('ln_field_required'), trigger: 'blur' }
				],
				conditions: [
					{ required: true, message: this.$LOCALE('ln_field_required'), trigger: 'blur' }
				],
				contact_phone: [
					{ validator: validPhone, trigger: 'change' }
				],
				contact_email: [
					{ validator: validEmail, trigger: 'change' }
				]
			}
		}
	},
	computed: {
		...mapState(['subdomain']),
		...mapState('tour', ['tour']),
		...mapState('booking', ['selectedDate']),
		bookingDialog: {
			get() { return this.$store.state.booking.bookingDialog },
			set(val) { this.$store.commit('booking/SET_STATES', { bookingDialog: val }) }
		},
		bookingForm: {
			get() { return this.$store.state.booking.bookingForm },
			set(val) {
				this.$store.commit('booking/SET_STATES', {
					bokingForm: val
				})
			}
		},
		tourDates() {
			if (this.tour) {
				return Object.keys(this.tour.dates)
			}
			return []
		},
		tourPrice() {
			if (this.tour) {
				return this.tour.dates[this.bookingForm.date]
			}
			return {}
		}
	},
	watch: {
		shown(val) {
			this.bookingDialog = val
		},
		selectedDate(val) {
			this.bookingForm.date = this.$GET_DATE(val)
		}
	},
	methods: {
		open(date) {
			this.bookingDialog = true
			this.$TOGGLE_BODY_CLASS('addClass', 'fixed')
			// this.bookingForm.date = date
		},
		handleClose(done) {
			this.$TOGGLE_BODY_CLASS('removeClass', 'fixed')
			done()
		},
		async submitBooking() {
			this.$store.commit('loading/SET_LOADING', true)
			this.bookingForm.tour = this.tour.id
			this.bookingForm.tour_date = this.tourPrice.id
			this.bookingForm.person = [
				{
					'passport_birthdate': '18.10.1966',
					'passport_country': 'RU',
					'passport_firstname': 'Василий',
					'passport_secondname': 'Иваныч',
					'passport_lastname': 'Букирующий',
					'passport_sernum': '1324 4653745',
					'passport_xpire': '10.01.2025',
					'booker': true
				}
			]
			for (let i = 2; i <= this.people.adults; i++) {
				this.bookingForm.person.push({
					'passport_birthdate': '03.08.1964',
					'passport_country': 'PL',
					'passport_firstname': 'Ядвига',
					'passport_secondname': 'Зденековна',
					'passport_lastname': 'Взрослый',
					'passport_sernum': '3452 7546543',
					'passport_xpire': '10.01.2025'
				})
			}
			for (let i = 1; i <= this.people.children.length; i++) {
				this.bookingForm.person.push({
					'passport_birthdate': '03.08.1964',
					'passport_country': 'PL',
					'passport_firstname': 'Ядвига',
					'passport_secondname': 'Зденековна',
					'passport_lastname': 'Ребёнок',
					'passport_sernum': '3452 7546543',
					'passport_xpire': '10.01.2025'
				})
			}
			// console.log(this.bookingForm)
			await this.$axios.$post('/api/v1.0/tours/booking', this.bookingForm).then((res) => {
				// console.log(res)
				if (res.success) {
					this.state = 'message'
				} else {
					this.$notify.error({
						title: this.$LOCALE('ln_error')
					})
				}
				this.$store.commit('loading/SET_LOADING', false)
			}).catch((e) => { console.log(e) })
		},
		clickBackwardButton() {
			this.state = 'form'
			this.$TOGGLE_BODY_CLASS('removeClass', 'fixed')
			this.bookingDialog = false
			if (this.subdomain === 'hotel') {
				this.$router.push({ path: '/' + this.__language + '/' + this.$route.params.hotel + '/xcursions' })
			} else {
				// this.$router.push({ path: '/' + this.__language })
			}
		},
		handleSubmitBooking() {
			// console.log(this.bookingForm)
			this.$refs.bookingForm.validate((valid) => {
				if (valid) {
					this.submitBooking()
				} else {
					return false
				}
			})
		}
	}
}
</script>
<style lang="scss">
.booking-form-dialog{
	.dialog-footer{
		padding: 20px;
		flex-direction: column !important;
		.tips{
			text-align: center;
			margin-top: 10px;
		}
	}
}
</style>
