<template>
  <div class="component__tour-calendar">
    <legend>
      {{ $LOCALE('ln_choose_nearest_dates') }}
    </legend>
    <div v-for="(item, key) in tourDatesFiltered" :key="key" class="tour-calendar-item" @click="$emit('click', key)">
      <div class="tour-calendar-date">
        <div class="date">
          {{ renderDate(key)[2] }}
        </div>
        <div class="month">
          {{ $MONTHES[renderDate(key)[1] - 1] }}
        </div>
      </div>
      <div v-if="item" class="tour-calendar-price">
        от {{ item.price_conv | filterNum }} {{ __currency }}
      </div>
    </div>
    <div class="tour-calendar-more-dates" @click="$emit('click')">
      <span>
        Больше дат
      </span>
      <i class="pui-arrow-right-ic" />
    </div>
  </div>
</template>
<script>
export default {
	props: {
		// get tour dates, which include price price_conv and id
		tourDates: {
			type: Object,
			default() {
				return {}
			}
		}
	},
	computed: {
		tourDatesFiltered() {
			const result = {}
			const keys = Object.keys(this.tourDates)
			for (let i = 0; i <= 2; i++) {
				if (keys[i]) {
					result[keys[i]] = this.tourDates[keys[i]]
				}
			}
			return result
		}
	},
	methods: {
		// render given date to format like '04 April'
		renderDate(date) {
			let result = []
			result = date.split('-').map(el => parseInt(el))
			if (result.length === 3) {
				return result
			} else {
				return false
			}
		}
	}
}
</script>
<style lang="scss">
.component__tour-calendar{
	@include flex(row, flex-start, center);
	flex-wrap: wrap;
	legend{
		width: 100%;
		font-size: 16px;
		color: $white;
		margin-bottom: 5px;
	}
	.tour-calendar-more-dates{
		color: $white;
		cursor: pointer;
		padding: 14px 15px;
		border-radius: 6px;
		background-color: rgba(0, 0, 0, 0.5);
		line-height: 1;
		margin-bottom: 10px;
		span{
			display: inline-block;
			margin-right: 5px;
		}
	}
	.tour-calendar-item{
		color: $white;
		cursor: pointer;
		margin-right: 10px;
		margin-bottom: 10px;
		padding: 7px 15px;
		border-radius: 6px;
		background-color: rgba(0,0,0,.5);
		text-align: center;
		.tour-calendar-date{
			line-height: 1;
			margin-bottom: 3px;
			@include flex(row, flex-start, flex-end);
			.date{
				font-size: 18px;
				margin-right: 10px;
			}
		}
		.tour-calendar-price{
			color: $primary-sand	;
			font-size: 12px;
			line-height: 1;
		}
	}
}
</style>
