<template>
  <div class="component__tour-card-grid-small">
    <nuxt-link v-for="(item, key) in tours" :key="key" :to="subdomain === 'hotel'?'/' + __language + '/' + $route.params.hotel + item.url:'/' + __language + item.url" class="card-grid-item">
      <!-- <div class="item-image big" :style="'background-image: url(' + $API_IMAGE(item.image, [230, 350]) + ')'" /> -->
      <div class="item-image small" :style="'background-image: url(' + $API_IMAGE(item.image, [575, 160]) + ')'" />
      <div class="item-content">
        <div class="item-title text-h4">
          {{ item.title }}
        </div>
        <div class="item-metrics">
          <div class="metric-time">
            <i class="pui-clock-ic" />
            <span>{{ item.duration + ' ' + $NUM_SUFFIX(item.duration, [
              $LOCALE('ln_day_days_0'),
              $LOCALE('ln_day_days_1'),
              $LOCALE('ln_day_days_2')
            ]) }}</span>
          </div>
          <div class="metric-direction">
            <i class="pui-location-ic" />
            <span>{{ item.direction || '-' }}</span>
          </div>
          <div v-if="item.dates" class="metric-available">
            <i class="pui-user-ic" />
            <span
              :class="[
                item.dates[item.activeDate].people_left <= 3?'metric-available--warning':''
              ]"
            >
              <!-- <em v-if="item.dates[item.activeDate].people_left <= 3">{{ $LOCALE('ln_places_left') }}</em>  -->
              {{ item.dates[item.activeDate].people_left }} {{ $NUM_SUFFIX(item.dates[item.activeDate].people_left, [
                $LOCALE('ln_place_places_0'),
                $LOCALE('ln_place_places_1'),
                $LOCALE('ln_place_places_2')
              ]) }}</span>
          </div>
        </div>
        <div class="item-dates">
          <div v-if="item.dates" class="dates-times">
            <label class="item-label">{{ $LOCALE('ln_nearest_dates') }}</label>
            <div class="dates">
              <label v-for="(date, keyDate) in item.dates" :key="keyDate" :class="[keyDate === item.activeDate?'active':'']" @click.prevent="clickDate(key, keyDate)">
                <!-- <input v-model="item.activeDate" type="radio" :value="date.date"> -->
                <span>{{ date.date | filterMonthDate }}</span>
              </label>
            </div>
            <template v-if="renderTimeArray(item.dates, item.activeDate)">
              <pui-spacer :size="16" />
              <label class="item-label">{{ $LOCALE('ln_start') }}</label>
              <div class="times">
                <label v-for="(time, keyTime) in renderTimeArray(item.dates, item.activeDate)" :key="keyTime" :class="[time === item.activeTime?'active':'']" @click.prevent="clickTime(key, item.activeDate, time)">
                  <!-- <input v-model="item.activeTime" type="radio" :value="time"> -->
                  <span>{{ time }}</span>
                </label>
              </div>
            </template>
          </div>
          <div v-else>
            <span class="tips" style="opacity: 0.6">Нет доступных дат</span>
          </div>
        </div>
        <!-- <div class="item-tickets">
          <label class="item-label">{{ $LOCALE('ln_tickets_from_city') + __user_location.name }}</label>
          <el-popover
            placement="bottom-end"
            width="232"
            trigger="click"
          >
            <template slot:content>
              <div v-loading="ticketLoading" class="tickets">
                <div class="tickets__title">
                  {{ $LOCALE('ln_tickets_from_city') + __user_location.name }}
                </div>
                <div class="ticket-item">
                  <div class="ticket-item__label">
                    {{ $LOCALE('ln_plane') }}
                  </div>
                  <div class="ticket-item__price">
                    {{ $LOCALE('ln_price_from') }} {{ tickets.price | filterNum }} RUB
                  </div>
                </div>
              </div>
            </template>
            <pui-button slot="reference" auto type="link" @click.native.prevent="getTickets(item.direction_id)">
              {{ $LOCALE('ln_show_route_and_price') }}
            </pui-button>
          </el-popover>
        </div> -->
        <pui-spacer :size="30" />
        <!-- <div class="item-includes">
          <label class="item-label">{{ $LOCALE('ln_tour_includes') }}</label>
          <div class="item-includes-inner">
            <span v-for="(incl, keyIncl) in item.includes" :key="keyIncl" class="text-h6">{{ incl }}</span>
          </div>
        </div> -->
        <div v-if="item.dates" class="item-price" @click.prevent="openInfo()">
          <div v-if="item.dates[item.activeDate].old_price_conv > item.dates[item.activeDate].price_conv" class="item-price--old">
            {{ item.dates[item.activeDate].old_price_conv | filterNum }} {{ item.currency_conv }}
          </div>
          <div class="item-price--new text-h3">
            <span>{{ item.dates[item.activeDate].price_conv | filterNum }} {{ item.currency_conv }}
              <el-popover
                v-if="item.currency !== item.currency_conv"
                placement="bottom-end"
                width="200"
                trigger="hover"
              >
                <template slot:content>
                  <p>{{ $LOCALE('ln_tours_list_price_description') }} <strong>{{ item.dates[item.activeDate].price | filterNum }} {{ $REMOVE_SPACES(item.currency) || 'USD' }}</strong></p>
                </template>
                <i slot="reference" class="pui-info-ic" />
              </el-popover>
            </span>
            <span class="item-price__tips">{{ $LOCALE('ln_tour_price_tips') }}</span>
          </div>
          <!-- <div class="item-price-tips">
            <span>Хотите дешевле?</span>
          </div> -->
        </div>
        <div v-else class="item-price" @click.prevent="openInfo()">
          <div class="item-price--new text-h3">
            <span>{{ item.price_conv | filterNum }} {{ item.currency_conv }}
              <el-popover
                v-if="item.currency !== item.currency_conv"
                placement="bottom-end"
                width="200"
                trigger="hover"
              >
                <template slot:content>
                  <p>{{ $LOCALE('ln_tours_list_price_description') }} <strong>{{ item.price | filterNum }} {{ item.currency }}</strong></p>
                </template>
                <i slot="reference" class="pui-info-ic" />
              </el-popover>
            </span>
            <span class="item-price__tips">{{ $LOCALE('ln_tour_price_tips') }}</span>
          </div>
        </div>
        <div class="item-rate text-h5">
          {{ (Math.random() + 4).toFixed(1) }}
        </div>
        <!-- <div class="item-favorite">
          <button @click.prevent="setFavorite(item.id)">
            <i v-if="!checkFavorite(item.id)" class="pui-fav-line-ic" />
            <i v-else class="pui-fav-fill-ic" />
          </button>
        </div> -->
      </div>
    </nuxt-link>
  </div>
</template>
<script>
import { mapState } from 'vuex'
export default {
	props: {
		tours: {
			type: Array,
			default() {
				return [

				]
			}
		}
	},
	data() {
		return {
			tickets: {
				from: null,
				from_direct: null,
				price: 0,
				price_direct: 0,
				type: 'plane'
			},
			ticketLoading: false,
			userFavorite: [302]
		}
	},
	computed: {
		...mapState(['subdomain']),
		...mapState('loading', ['loading'])
	},
	created() {

	},
	methods: {
		openInfo() {
			console.log('hi')
		},
		checkFavorite(id) {
			return this.userFavorite.indexOf(id) >= 0
		},
		clickDate(tourKey, dateKey) {
			this.$store.commit('tour/CHOOSE_DATE', { tourKey, dateKey })
			try {
				this.clickTime(tourKey, dateKey, this.tours[tourKey].dates[dateKey].start_time[0])
			} catch (err) { console.log(err) }
		},
		clickTime(tourKey, dateKey, time) {
			this.$store.commit('tour/CHOOSE_TIME', { tourKey, dateKey, time })
		},
		renderTimeArray(array, key) {
			if (array[key]) {
				return array[key].start_time
			} else {
				return null
			}
		},
		setFavorite(id) {
			const index = this.userFavorite.indexOf(id)
			if (index >= 0) {
				this.userFavorite.splice(index, 1)
			} else {
				this.userFavorite.push(id)
			}
		},
		async getTickets(from, to) {
			this.ticketLoading = true
			await this.$axios.$get('/tickets/v1/tickets/minprice', {
				params: {
					from: from || 75,
					to: to || 131,
					date_from: '2019-11-19',
					date_to: '2019-11-27',
					lang: 'ru'
				}
			}).then((res) => {
				console.log(res)
				this.tickets = res
				this.ticketLoading = false
			})
		}
	}
}
</script>
<style lang="scss">
.component__tour-card-grid-small{
	@include flex(row, flex-start, flex-start);
	flex-wrap: wrap;
	.card-grid-item{
		width: 100%;
		background-color: $white;
		margin-bottom: 20px;
		border-radius: 6px;
		overflow: hidden;
		cursor: pointer;
		position: relative;
		overflow: visible;
		@include flex(row, flex-start, flex-start);
        flex-direction: column;
        width: calc(100% / 3 - 14px);
        margin-right: 21px;
        .item-title{
            min-height: 48px;
        }
        &:nth-child(3n){
            margin-right: 0;
        }
		&:last-child{
			margin-bottom: 0;
		}
		&:last-child{
			margin-bottom: 0;
		}
		@media(max-width: $md){
			width: calc(50% - 10px);
			margin-right: 20px;
		}
		@media(max-width: $xs){
			width: 100%;
			margin-right: 0 !important;
		}
		.item-image{
			background-size: auto;
			background-position: center;
            border-radius: 6px 6px 0 0;
            width: 100%;
            height: 160px;
		}
		.item-content{
			padding: 24px 20px;
			flex-grow: 1;
			width: 100%;
			@media(max-width: $md){
				padding: 20px 0;
			}
			& > div{
				margin-bottom: 14px;
				@media(max-width: $md){
					padding-left: 11px;
					padding-right: 11px;
				}
			}
			.item-label{
				color: $grey-blue;
				margin-bottom: 4px;
				display: inline-block;
				height: 20px;
			}
			.item-title{
				margin-bottom: 12px;
				color: $charcoal-grey;
				width: calc(100% - 46px);
			}
			.item-metrics{
				color: $grey-blue;
				@include flex(row, flex-start, center);
				padding-bottom: 12px;
				margin-bottom: 12px;
				border-bottom: .5px solid $ice-blue;
				& > div{
					margin-right: 15px;
					@include flex(row, flex-start, center);
					i{
						font-size: 12px;
						& + span{
							margin-left: 4px;
						}
					}
					&:last-child{
						margin-right: 0;
					}
					&.metric-direction{
						span{
							white-space: nowrap;
							max-width: 85px;
							text-overflow: ellipsis;
							overflow: hidden;
							width: 100%;
							display: inline-block
						}
					}
					&.metric-available{
						span{
							&.metric-available--warning{
								color: $coral-pink;
								em{
									@media(max-width: $md){
										display: none;
									}
								}
							}
						}
					}
				}
			}
			.item-dates{
				padding-bottom: 12px;
				margin-bottom: 12px;
				border-bottom: .5px solid $ice-blue;
				.dates-times{
					.dates{
						@include flex(row, flex-start, center);
						label{
							color: $charcoal-grey;
							margin-right: 12px;
							cursor: pointer;
							font-weight: 600;
							&:last-child{
								margin-right: 0;
							}
							&.active{
								span{
									color: $primary-blue;
									border-color: $primary-blue;
								}
							}
							input{
								display: none;
							}
							span{
								border-bottom: 2px solid transparent;
								display: inline-block;
							}
						}
					}
					.times{
						@include flex(row, flex-start, center);
						label{
							color: $charcoal-grey;
							margin-right: 12px;
							cursor: pointer;
							font-weight: 600;
							&:last-child{
								margin-right: 0;
							}
							&.active{
								span{
									color: $primary-blue;
									border-color: $primary-blue;
								}
							}
							input{
								display: none;
							}
							span{
								border-bottom: 2px solid transparent;
								display: inline-block;
							}
						}
					}
				}
			}
			.item-tickets{
				position: relative;
				display: inline-block;
			}
			.item-includes{
				margin-bottom: 20px;
				// @media(max-width: $md){
				// 	margin-bottom: 20px;
				// }
				.item-includes-inner{
					color: $charcoal-grey;
					height: 20px;
					span{
						margin-right: 12px;
						&:last-child{
							margin-right: 0;
						}
					}
				}
			}
			.item-price{
				position: relative;
				right: auto;
				bottom: auto;
				// right: 24px;
				// bottom: 24px;
				text-align: left;
				margin-bottom: 0;
				.item-price__tips{
					font-size: 12px;
					font-weight: normal;
					font-stretch: normal;
					font-style: normal;
					line-height: 1.5;
					letter-spacing: normal;
					color: $grey-blue;
					width: 100%;
					display: block;
				}
				.item-price--old{
					color: $brown-grey;
					text-decoration: line-through;
				}
				.item-price--new{
					color: $charcoal-grey;
					@include flex(row, flex-start, center);
					flex-wrap: wrap;
					i{
						color: $grey-blue;
						font-size: 16px;
					}
				}
				.item-price-tips{
					color: $primary-blue;
				}
			}
			.item-rate{
				position: absolute;
				// top: 24px;
				// right: 20px;
				// width: 46px;
				// height: 46px;
				color: $white;
				background-color: $primary-sand;
				border-radius: 46px;
				margin-bottom: 12px;
				@include flex(row, center, center);
				width: 36px;
				height: 36px;
				top: 8px;
				right: 8px;
				@media(max-width: $md){

				}
			}
			.item-favorite{
				position: absolute;
				bottom: 45px;
				right: 22px;
				top: auto;
				padding: 0;
				margin-bottom: 0;
				height: 20px;
				overflow: hidden;
				@media(max-width: $md){

				}
				button{
					cursor: pointer;
					background-color: transparent;
					border: 0 solid;
					font-size: 20px;
					padding: 0;
					color: $grey-blue;
					i{
						&.pui-fav-fill-ic{
							color: $coral-pink;
						}
					}
				}
			}
		}
	}
}
.tickets{
	// padding: 12px 16px;
	.tickets__title{
		font-size: 16px;
		font-weight: 600;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.38;
		letter-spacing: normal;
		color: $charcoal-grey;
		margin-bottom: 12px;
	}
	.ticket-item{
		@include flex(row, flex-start, center);
		.ticket-item__label{
			font-size: 14px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.43;
			letter-spacing: normal;
			color: $charcoal-grey;
			margin-right: 22px;
		}
		.ticket-item__price{
			font-size: 14px;
			font-weight: 600;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.43;
			letter-spacing: normal;
			color: $primary-blue;
		}
	}
}
</style>
