<template>
  <div class="component__form-datepicker">
    <pui-input v-model="inputValue" :label="$LOCALE('ln_common_choose_date')" :editable="false" :size="$ua.isFromSmartphone()?'small':'large'" @click="handleClick()" />
    <el-date-picker
      ref="datepicker"
      v-model="inputValue"
      type="date"
      placeholder="Pick a day"
      value-format="yyyy-MM-dd"
      :picker-options="pickerOptions()"
    />
  </div>
</template>
<script>
export default {
	props: {
		tourDates: {
			type: Array,
			default() {
				return []
			}
		},
		value: {
			type: String,
			default: null
		}
	},
	data() {
		return {
			inputValue: this.value
		}
	},
	watch: {
		inputValue(val) {
			this.$emit('input', val)
		},
		value(val) {
			this.inputValue = val
		}
	},
	methods: {
		pickerOptions(time) {
			const self = this
			const options = {
				disabledDate(time) {
					const fullDate = self.$GET_DATE(time)
					return self.tourDates.indexOf(fullDate) < 0
				}
			}
			return options
		},
		handleClick() {
			this.$refs.datepicker.focus()
			document.activeElement.blur()
		}
	}
}
</script>
<style lang="scss">
.component__form-datepicker{
	position: relative;
	.el-date-editor{
		position: absolute;
		bottom: 0;
		left: 0;
		opacity: 0;
		z-index: -999;
	}
}
</style>
