<template>
  <div class="component__tour-gallery">
    <div class="tour-swiper">
      <div
        v-cloak
        v-swiper:swiper="swiperOption"
        class="swiper"
      >
        <div class="swiper-wrapper">
          <div
            v-for="(item, key) in inputData"
            :key="key"
            class="swiper-slide"
            @click="openSlide(key)"
          >
            <img
              :src="$API_IMAGE(item, [250, 130])"
              alt=""
            >
          </div>
        </div>
      </div>
      <div class="swiper__navigation">
        <div class="swiper-button swiper-button-prev">
          <i class="fal fa-chevron-left" />
        </div>
        <div class="swiper-button swiper-button-next">
          <i class="fal fa-chevron-right" />
        </div>
      </div>
    </div>
    <el-dialog
      :visible.sync="swiperDialogVisible"
      :width="DIALOG_WIDTH + 'px'"
      center
      append-to-body
      :fullscreen="$ua.isFromSmartphone()"
      custom-class="swiper__dialog"
      :before-close="handleClose"
    >
      <div class="tour-swiper__dialog">
        <vue-tour-image-slider
          :input-data="inputData"
          :active-item="activeSlide"
        />
      </div>
    </el-dialog>
  </div>
</template>
<script>
import VueTourImageSlider from '@/components/Tour/ImageSlider'
export default {
	components: {
		VueTourImageSlider
	},
	props: {
		inputData: {
			type: Array,
			default() {
				return []
			}
		}
	},
	data() {
		return {
			activeSlide: 1,
			swiperDialogVisible: false,
			swiperOption: {
				slidesPerView: 7,
				slidesPerGroup: 1,
				breakpoints: {
					575: {
						slidesPerView: 2,
						slidesPerGroup: 2
					},
					767: {
						slidesPerView: 4,
						slidesPerGroup: 4
					},
					991: {
						slidesPerView: 5,
						slidesPerGroup: 5
					},
					1199: {
						slidesPerView: 5,
						slidesPerGroup: 5
					},
					1327: {
						slidesPerView: 6,
						slidesPerGroup: 6
					}
				},
				autoHeight: true,
				spaceBetween: 0,
				navigation: {
					nextEl: '.swiper-button-next',
					prevEl: '.swiper-button-prev'
				}
			}
		}
	},
	methods: {
		openSlide(id) {
			this.activeSlide = id
			this.swiperDialogVisible = true
		},
		handleClose(done) {
			done()
		},
		swiperDialogOpen() {
			// console.log('Swiper opened')
		}
	}
}
</script>
<style lang="scss">
.component__tour-gallery{
	padding: 3px 0;
	background-color: $pale;
	position: relative;
	.tour-swiper{
		position: relative;
		.swiper{
			overflow: hidden;
			width: 100%;
			.swiper-wrapper{
				@include flex(row, flex-start, center);
				width: 100%;
				.swiper-slide{
					cursor: pointer;
					flex-shrink: 0;
					padding: 0 2px;
					position: relative;
					overflow: hidden;
					// width: 10%;
					// @media (max-width: $lg){
					// 	width: 16.6%;
					// }
					// @media (max-width: $md){
					// 	width: 20%;
					// }
					// @media (max-width: $sm){
					// 	width: 20%;
					// }
					// @media (max-width: $xs){
					// 	width: 25%;
					// }
					// @media (max-width: $xxs){
					// 	width: 50%;
					// }
					// img{
					// 	display: block;
					// 	width: 100%;
					// }
				}
			}
		}
		.swiper__navigation{
			.swiper-button{
				font-size: .8em;
				position: absolute;
				top: 0;
				bottom: 0;
				background-color: rgba(0,0,0,.6);
				width: 30px;
				height: 30px;
				margin: auto;
				cursor: pointer;
				@include flex(row, center, center);
				color: #fff;
			}
			.swiper-button-prev{
				left: 10px;
			}
			.swiper-button-next{
				right: 10px;
			}
		}
	}
}
.swiper__dialog{
	&.el-dialog{
		background-color: transparent;
	}
	.el-dialog__headerbtn{
		z-index: 99;
		i{
			color: #fff !important;
			font-size: 1.5em !important;
		}
	}
	&.is-fullscreen{
		@include flex(row, center, center);
	}
	.el-dialog__header{
		padding: 0 !important;
	}
	.el-dialog__body{
		padding: 0 !important;
		width: 100%;
	}
	.tour-swiper__dialog{
		position: relative;
	}
}
</style>
