<template>
  <div class="components__tour-gallery">
    <div class="gallery-list">
      <div
        v-for="(item, key) in imagesFiltered"
        :key="key"
        :ref="'image' + key"
        class="gallery-list__item"
        :class="[(key + 1) === imagesFiltered.length?'gallery-list__item--last':'']"
        :style="'background-image: url(' + $API_IMAGE(item, imageSize) + ');'"
        @click.prevent="openSlide(key)"
      >
        <div v-if="(key + 1) === imagesFiltered.length && images.length - maxCount > 0" class="item--last__inner">
          ещё {{ images.length - maxCount }} фото
        </div>
      </div>
    </div>
    <el-dialog
      :visible.sync="swiperDialog"
      :width="DIALOG_WIDTH + 'px'"
      center
      append-to-body
      :fullscreen="$ua.isFromSmartphone()"
      custom-class="swiper__dialog"
      :before-close="handleClose"
    >
      <div class="tour-swiper__dialog">
        <vue-tour-image-slider
          :input-data="images"
          :active-item="activeSlide"
        />
      </div>
    </el-dialog>
  </div>
</template>
<script>
import VueTourImageSlider from '@/components/Tour/ImageSlider'
export default {
	components: {
		VueTourImageSlider
	},
	props: {
		maxCount: {
			type: Number,
			default: 6
		},
		images: {
			type: Array,
			default() {
				return [
					'5df8a0f45ab29e3fc36af0f81051dd80.jpeg',
					'5df8a0f45ab29e3fc36af0f81051dd80.jpeg',
					'5df8a0f45ab29e3fc36af0f81051dd80.jpeg',
					'5df8a0f45ab29e3fc36af0f81051dd80.jpeg',
					'5df8a0f45ab29e3fc36af0f81051dd80.jpeg',
					'5df8a0f45ab29e3fc36af0f81051dd80.jpeg',
					'5df8a0f45ab29e3fc36af0f81051dd80.jpeg'
				]
			}
		}
	},
	data() {
		return {
			swiperDialog: false,
			activeSlide: 0,
			imageSize: [420, 170]
		}
	},
	computed: {
		imagesFiltered() {
			return this.images.slice(0, this.maxCount)
		}
	},
	methods: {
		openSlide(id) {
			this.activeSlide = id
			this.swiperDialog = true
		},
		handleClose(done) {
			done()
		},
		swiperDialogOpen() {
			// console.log('Swiper opened')
		}
	}
}
</script>
<style lang="scss">
.components__tour-gallery{
	.gallery-list{
		@include flex(row, flex-start, center);
		flex-wrap: wrap;
		.gallery-list__item{
			width: calc(33.333% - 16px);
			height: 164px;
			margin-top: 24px;
			border-radius: 6px;
			background-size: auto;
			background-position: center;
			background-repeat: no-repeat;
			margin-right: 24px;
			cursor: pointer;
			@media(max-width: $md){
				width: calc((100% - 24px) / 2);
			}
			@media(max-width: $xs){
				width: 100%;
				margin-right: 0;
			}
			&:nth-child(1){
				margin-top: 0;
			}
			&:nth-child(2){
				margin-top: 0;
				@media(max-width: $xs){
					margin-top: 24px;
				}
			}
			&:nth-child(3){
				margin-top: 0;
				@media(max-width: $md){
					margin-top: 24px;
				}
			}
			&:nth-child(3n){
				margin-right: 0;
				@media(max-width: $md){
					margin-right: 24px;
				}
				@media(max-width: $xs){
					margin-right: 0;
				}
			}
			&:nth-child(2n){
				@media(max-width: $md){
					margin-right: 0;
				}
			}
			&--last{
				position: relative;
				color: $white;
				font-size: 16px;
				font-weight: 600;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.38;
				letter-spacing: normal;
				text-align: center;
				overflow: hidden;
				.item--last__inner{
					position: absolute;
					top: 0;
					bottom: 0;
					right: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: rgba(0, 0, 0, 0.44);
					@include flex(row, center, center);
				}
			}
		}
	}
}
.swiper__dialog{
	&.el-dialog{
		background-color: transparent;
	}
	.el-dialog__headerbtn{
		z-index: 99;
		i{
			color: #fff !important;
			font-size: 1.5em !important;
		}
	}
	&.is-fullscreen{
		@include flex(row, center, center);
	}
	.el-dialog__header{
		padding: 0 !important;
	}
	.el-dialog__body{
		padding: 0 !important;
		width: 100%;
	}
	.tour-swiper__dialog{
		position: relative;
	}
}
</style>
