<template>
  <div class="component__tours-grid">
    <div v-if="inputData.length === 0" class="tips">
      {{ $LOCALE('ln_no_tours') }}
    </div>
    <nuxt-link
      v-for="(tour, key) in inputData"
      :key="key"
      :to="tour.url"
      class="tour-grid__item"
    >
      <div class="tour__inner">
        <div
          :style="'background-image: url(' + $API_IMAGE(tour.image, [350, 210]) + ')'"
          class="tour__image small"
        />
        <div
          :style="'background-image: url(' + $API_IMAGE(tour.image, [550, 210]) + ')'"
          class="tour__image big"
        />
        <div class="tour__body">
          <div class="tour__title">
            <div class="text-h4">
              {{ tour.title }}
            </div>
          </div>
          <div class="tour__metrics">
            <div class="metric-item">
              <i class="fas fa-clock" />
              <span>{{ tour.duration }} {{ $NUM_SUFFIX(tour.duration, ['день','дня','дней']) }}</span>
            </div>
            <div class="metric-item">
              <i class="fas fa-map-marker-alt" />
              <span>{{ tour.direction || '-' }}</span>
            </div>
            <div class="metric-item">
              <i class="fas fa-users" />
              <span>{{ tour.min_pax }} - {{ tour.max_pax }}</span>
            </div>
          </div>
          <div class="tour__footer">
            <div class="tour__price">
              <div class="tour__price--new">
                {{ tour.price | filterNum }} {{ tour.currency }}
              </div>
              <div
                v-if="tour.old_price > tour.price"
                class="tour__price--old"
              >
                {{ tour.old_price | filterNum }} {{ tour.currency }}
              </div>
            </div>
            <div class="tour-bottom">
              <div class="tour-bottom-left">
                <span class="tour__price--description">на 1 человека</span>
                <div v-if="tour.price_conv !== tour.price" class="tour__exchange">
                  ~{{ tour.price_conv | filterNum }} {{ tour.currency_conv }}
                </div>
              </div>
              <div class="tour-button">
                <pui-button auto type="sand">
                  Подробнее
                </pui-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nuxt-link>
  </div>
</template>
<script>
export default {
	props: {
		inputData: {
			type: Array,
			default() {
				return []
			}
		}
	},
	data() {
		return {
			pulsate: null
		}
	},
	created() {
		this.bounceTicket()
	},
	methods: {
		bounceTicket() {
			// let selector = parseInt(Math.random() * (this.inputData.length - 1) + 1);
			// if(selector === this.pulsate){
			// 	this.bounceTicket()
			// }else{
			// 	this.pulsate = selector
			// 	setTimeout(() => {
			// 		this.bounceTicket()
			// 	}, 3000)
			// }
		}
	}
}
</script>
<style lang="scss">
.component__tours-grid{
	margin: 20px 0 10px;
	@include flex(row, flex-start, flex-start);
	flex-wrap: wrap;
	.tour-grid__item{
		width: 25%;
		padding: 10px;
		@media (max-width: $lg){
			width: 33%;
		}
		@media (max-width: $md){
			width: 50%;
		}
		@media (max-width: $xs){
			width: 100%;
			padding: 0 0 20px;
		}
		.tour__inner{
			box-shadow: 0 0 10px rgba(0,0,0,.05);
			background-color: #fff;
			position: relative;
			.tour__image{
				height: 200px;
				background-size: auto;
				background-position: center;
				background-repeat: no-repeat;
				@media (max-width: $xxs){
					&.small{
						display: block;
					}
					&.big{
						display: none;
					}
				}
				@media (min-width: $xxs) and (max-width: $xs){
					&.small{
						display: none;
					}
					&.big{
						display: block;
					}
				}
				@media (min-width: $xs){
					&.small{
						display: block;
					}
					&.big{
						display: none;
					}
				}
			}
			.tour__tickets{
				position: absolute;
				right: 10px;
				// padding: 20px;
				width: 50px;
				height: 50px;
				margin-top: -25px;
				border-radius: 100px;
				background-color: #fff;
				box-shadow: 0 0 10px rgba(0,0,0,.1);
				// box-shadow: 0 0 2px rgba(204,169,44, 0.4);
				@include flex(row, center, center);
				i{
					color: $primary-sand	;
				}
			}
			.tour__body{
				padding: 30px 15px 20px;
			}
			.tour__title{
				.text-h4{
					margin: 0 0 5px;
					line-height: 1.2;
					height: 50px;
					overflow: hidden;
					text-overflow: ellipsis;
					color: $charcoal-grey;
					width: 100%;
					display: inline-block;
				}
			}
			.tour__metrics{
				@include flex(row, space-between, center);
				.metric-item{
					text-align: center;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					i{
						color: $brown-grey;
						font-size: .85em;
						margin-right: 3px;
					}
					span{
						color: $charcoal-grey;
						font-size: .9em;
					}
				}
			}
			.tour__footer{
				margin-top: 5px;
				@include flex(column, space-between, flex-end);
				.tour__price{
					width: 100%;
					@include flex(row, space-between, center);
					.tour__price--old{
						text-decoration: line-through;
						color: $charcoal-grey;
						font-size: .85em;
						white-space: nowrap;
					}
					.tour__price--new{
						font-size: 1.3em;
						margin-top: 10px;
						color: $charcoal-grey;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}
				.tour-bottom{
					width: 100%;
					@include flex(row, space-between, center);
					.tour-bottom-left{
						.tour__price--description{
							font-style: italic;
							color: $charcoal-grey;
							font-size: .85em;
						}
						.tour__exchange{
							color: $charcoal-grey;
							margin-top: 5px;
						}
					}
				}
				.tour__button{
					width: 50%;
				}
			}
		}
	}
}
</style>
