<template>
  <div
    class="component__tour-header"
    :style="'background-image: linear-gradient(to top, rgba(5, 5, 6, 0.64), rgba(66, 67, 81, 0.3)), url(' + tourBackground + ');'"
  >
    <div class="container">
      <pui-breadcrumbs v-if="subdomain !== 'hotel'" :links="breadcrumbs" />
      <div class="header__bottom">
        <div class="header__bottom--left">
          <h1 class="tour-header__title">
            {{ tour.name }}
          </h1>
          <div v-if="($route.name).includes('-tour-')" class="tour-header__direction">
            <i class="pui-location-ic" />
            <span>{{ tour.direction }}</span>
          </div>
        </div>
        <div class="header__bottom--right">
          <div class="tour-header__review">
            <div class="review-counter">
              32 {{ $NUM_SUFFIX(32, [
                $LOCALE('ln_reviews_0'),
                $LOCALE('ln_reviews_1'),
                $LOCALE('ln_reviews_2'),
              ]) }}
            </div>
            <div class="review-rating">
              4.3
            </div>
          </div>
          <div class="tour-header__favorite-button">
            <button>
              <i class="pui-fav-line-ic" />
              <span>{{ $LOCALE('ln_add_to_favorites') }}</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapState, mapGetters } from 'vuex'
export default {
	data() {
		return {

		}
	},
	computed: {
		...mapGetters(['mainPageUrl']),
		...mapState('tour', ['tour']),
		...mapState(['language', 'subdomain']),
		tourBackground() {
			let image = '5df8a0f45ab29e3fc36af0f81051dd80.jpeg'
			try {
				image = this.tour.images[0]
			} catch (err) { console.log(err) }
			return this.$API_IMAGE(image, [this.WINDOW_WIDTH, 570], 3)
		},
		breadcrumbs() {
			if (this.subdomain === 'hotel') {
				return [
					{ label: 'ln_main_page', path: '/' + this.language + '/' + this.$route.params.hotel }
					// { label: 'search_tours', path: '/' + this.language + '/tours' }
				]
			} else {
				return [
					{ label: 'ln_main_page', path: '/' + this.language },
					{ label: 'ln_search_tours', path: '/' + this.language + '/tours' }
				]
			}
		}
	}
}
</script>
<style lang="scss">
.component__tour-header{
	margin-top: -106px;
	padding-top: 120px;
	padding-bottom: 39px;
	z-index: 0;
	position: relative;
	// height: 540px;
	margin-bottom: 40px;
	background-position: center;
	background-size: auto;
	background-repeat: no-repeat;
	@media(max-width: $sm){
		// height: 420px;
		margin-top: -55.94px;
		padding-top: 60px;
		padding-bottom: 20px;
		margin-bottom: 24px;
	}
	.header__bottom{
		@include flex(row, space-between, center);
		margin-top: 269px;
		@media(max-width: $sm){
			margin-top: 220px;
			@include flex(column, flex-start, center);
		}
		.header__bottom--left{
			@media(max-width: $sm){
				width: 100%;
				margin-bottom: 8px;
			}
		}
		.header__bottom--right{
			@include flex(column, flex-end, flex-end);
			width: 155px;
			@media(max-width: $sm){
				width: 100%;
				@include flex(row, space-between, center);
			}
		}
		.tour-header__title{
			font-size: 32px;
			font-weight: bold;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.5;
			letter-spacing: normal;
			color: $white;
			margin-bottom: 4px;
			@media(max-width: $sm){
				font-size: 20px;
				font-weight: bold;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.2;
				letter-spacing: normal;
			}
		}
		.tour-header__direction{
			i{
				font-size: 12px;
				color: $primary-sand;
				margin-right: 8px;
			}
			span{
				font-size: 14px;
				font-weight: 500;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.43;
				letter-spacing: normal;
				color: $white;
			}
		}
		.tour-header__review{
			margin-bottom: 16px;
			@include flex(row, flex-end, center);
			@media(max-width: $sm){
				margin-bottom: 0;
				@include flex(row-reverse, flex-end, center);
			}
			.review-counter{
				font-size: 14px;
				font-weight: 500;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.43;
				letter-spacing: normal;
				color: $white;
				margin-right: 12px;
				@media(max-width: $sm){
					margin-right: 0;
				}
			}
			.review-rating{
				width: 48px;
				height: 48px;
				background-color: $primary-sand;
				color: $white;
				font-size: 16px;
				font-weight: bold;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.38;
				letter-spacing: normal;
				border-radius: 48px;
				@include flex(row, center, center);
				@media(max-width: $sm){
					width: 36px;
					height: 36px;
					font-size: 14px;
					font-weight: 500;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.43;
					letter-spacing: normal;
					text-align: center;
					margin-right: 12px;
				}
			}
		}
		.tour-header__favorite-button{
			button{
				padding: 4px 10px;
				background-color: $primary-blue;
				cursor: pointer;
				color: $white;
				line-height: 1;
				border-radius: 6px;
				border: 0 solid;
				@include flex(row, center, center);
				@media(max-width: $sm){
					background-color: transparent;
					span{
						display: none;
					}
				}
				i{
					font-size: 15px;
					margin-right: 5px;
					height: 15px;
					overflow: hidden;
					display: inline-block;
					@media(max-width: $sm){
						font-size: 20px;
						height: 20px;
					}
				}
				span{
					font-size: 14px;
					font-weight: 500;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.43;
					letter-spacing: normal;
				}
			}
		}
	}
}
</style>
