<template>
  <div ref="sliderContainer" class="component__image-slider">
    <div
      v-cloak
      :ref="selector"
      v-swiper:[selector]="swiperOption"
      class="swiper"
    >
      <div class="swiper-wrapper">
        <div
          v-for="(item, key) in inputData"
          :key="key"
          class="swiper-slide"
        >
          <img
            :ref="'img' + key"
            :data-src="renderImage(item)"
            alt="slide image"
            @load="sequentialLoad(key + 1)"
          >
          <!-- <div class="swiper-lazy-preloader" /> -->
        </div>
      </div>
    </div>
    <div class="swiper__navigation">
      <div class="swiper-button" :class="['swiper-dialog-button-prev','swiper-dialog-button-prev-' + selector]">
        <i class="fal fa-chevron-left" />
      </div>
      <div class="swiper-button" :class="['swiper-dialog-button-next','swiper-dialog-button-next-' + selector]">
        <i class="fal fa-chevron-right" />
      </div>
    </div>
  </div>
</template>
<script>
export default {
	props: {
		inputData: {
			type: Array,
			default() {
				return []
			}
		},
		activeItem: {
			type: Number,
			default: 0
		},
		selector: {
			type: String,
			default: 'mySwiper'
		}
	},
	data() {
		return {
			width: null,
			height: null,
			containerWidth: null,
			swiperOption: {
				slidesPerView: 1,
				slidesPerGroup: 1,
				spaceBetween: 0,
				navigation: {
					nextEl: '.swiper-dialog-button-next-' + this.selector,
					prevEl: '.swiper-dialog-button-prev-' + this.selector
				},
				on: {
					slideChange: function () {
						setTimeout(() => {
							this.updateSize()
						}, 100)
					}
				}
			}
		}
	},
	watch: {
		activeItem(val) {
			setTimeout(() => {
				this.$refs[this.selector].swiper.slideTo(val, 500)
			}, 100)
		},
		WINDOW_WIDTH(val) {
			this.containerWidth = this.$refs.sliderContainer.offsetWidth
		}
	},
	mounted() {
		this.containerWidth = this.$refs.sliderContainer.offsetWidth
	},
	updated() {
		this.sequentialLoad(0)
	},
	methods: {
		renderImage(img) {
			const width = this.containerWidth
			const height = parseInt(width * 0.7)
			return this.$API_IMAGE(img, [width, height])
		},
		updateSwiper() {
			setTimeout(() => {
				this.$refs[this.selector].swiper.update()
			}, 100)
		},
		sequentialLoad(key) {
			if (this.$refs['img' + key]) {
				if (this.$refs['img' + key][0]) {
					this.$refs['img' + key][0].src = this.$refs['img' + key][0].dataset.src
					this.updateSwiper()
				}
			}
		}
	}
}
</script>
<style lang="scss">
.component__image-slider{
	position: relative;
	.swiper{
		overflow: hidden;
		.swiper-wrapper{
			@include flex(row, flex-start, center);
			.swiper-slide{
				flex-shrink: 0;
				width: 100%;
				img{
					display: block;
					width: 100%;
				}
			}
		}
	}
	.swiper-button{
		font-size: .8em;
		position: absolute;
		top: 0;
		background-color: rgba(0,0,0,.6);
		width: 30px;
		height: 100%;
		z-index: 9;
		cursor: pointer;
		@include flex(row, center, center);
		color: #fff;
		&:focus{
			outline: none;
		}
		&.swiper-dialog-button-prev{
			left: 0;
		}
		&.swiper-dialog-button-next{
			right: 0;
		}
	}
}
</style>
