<template>
  <div class="component__tour-load-more">
    <pui-button v-if="pager.page * limit < pager.total" fluid type="white" size="small" @click="loadMoreTours()">
      {{ $LOCALE('ln_show_more_tours') }}
    </pui-button>
  </div>
</template>
<script>
import { mapState } from 'vuex'
export default {

	props: {
		fullMode: {
			type: Boolean,
			default() {
				return false
			}
		},
		tourType: {
			type: String,
			default: 'both'
		}
	},
	computed: {
		...mapState('search', ['pager', 'tours', 'tags', 'directionSlug', 'partnerSlug', 'loc', 'dest', 'date', 'days', 'adults', 'children', 'filterPartners', 'limit', 'type'])
	},
	watch: {
		tours(val) {
			// this.$store.commit('loading/SET_LOADING', false)
		}
	},
	methods: {
		async loadMoreTours() {
			this.$store.commit('loading/SET_LOADING', true)
			let partners = null
			try { partners = this.filterPartners.join(',') } catch (err) { console.log(err) }
			let params = {}
			if (this.fullMode) {
				params = {
					page: this.pager.page + 1,
					limit: 5,
					loc: this.loc,
					dest: this.dest,
					date: this.date,
					days: this.days,
					adults: this.adults,
					children: this.children,
					partners: partners,
					type: this.type,
					directionSlug: this.directionSlug,
					partnerSlug: this.partnerSlug,
					tags: this.tags
				}
			} else {
				params = {
					page: this.pager.page + 1,
					limit: 5,
					partners: partners,
					type: this.type,
					directionSlug: this.directionSlug,
					partnerSlug: this.partnerSlug,
					tags: this.tags
				}
			}
			await this.$store.dispatch('search/SEARCH_LOAD_MORE', params)
			this.$store.commit('loading/SET_LOADING', false)
		}
	}
}
</script>
