<template>
  <div class="component__tour-sidebar">
    <vue-operator-link :title="tourOnwer.name" :logo="tourOnwer.logo" :link="tourOnwer.tours_link" />
    <!-- <vue-operator-chat /> -->
    <vue-booking-layout />
  </div>
</template>
<script>
import { mapState } from 'vuex'
// import VueOperatorChat from '@/components/Operator/Chat'
import VueOperatorLink from '@/components/Operator/Link'
import VueBookingLayout from '@/components/Booking/Layout'
export default {
	components: {
		// VueOperatorChat,
		VueOperatorLink,
		VueBookingLayout
	},
	computed: {
		...mapState('tour', ['tour']),
		tourOnwer() {
			return this.tour && this.tour.owner ? this.tour.owner : {}
		}
	}
}
</script>
<style lang="scss">
.component__tour-sidebar {
}
</style>
