<template>
  <div class="tour-helpful">
    <h2 class="tour-helpful__title">
      {{ $LOCALE('ln_tour_useful_information_title') }}
    </h2>
    <ul class="tour-helpful__list">
      <li v-if="tour.economy > 0" class="tour-helpful__item">
        <img
          class="tour-helpful__icon"
          src="/static-assets/images/svg/lamp-ic.svg"
        >
        <div>
          Покупая этот тур вы экономите <strong>{{ tour.economy |filterNum }} {{ tour.currency_conv }}</strong>
        </div>
      </li>
      <li class="tour-helpful__item">
        <img
          class="tour-helpful__icon"
          src="/static-assets/images/svg/lamp-ic.svg"
        >
        <div>
          {{ $LOCALE('ln_tour_useful_information_avg_spendings') }}
          <strong v-if="subdomain === 'hotel'">15 USD</strong>
          <strong v-else>{{ tour.avg_expenses }} {{ tour.currency_conv }}</strong>
        </div>
      </li>
      <li v-if="tour.installment !== -1" class="tour-helpful__item">
        <img
          class="tour-helpful__icon"
          src="/static-assets/images/svg/lamp-ic.svg"
        >
        <div>
          {{ $LOCALE('ln_tour_useful_information_installments_0') }} {{ tour.installment }}% {{ $LOCALE('ln_tour_useful_information_installments_1') }}
        </div>
      </li>
    </ul>
  </div>
</template>

<style lang="scss">
.tour-helpful {
  &__title {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.38;
    color: $charcoal-grey;
    padding-bottom: 19px;
    @media (min-width: $md) {
      font-size: 20px;
      line-height: 1.2;
      padding-bottom: 22px;
    }
  }

  &__icon {
    padding-right: 14px;
  }

  &__item {
    @include flex(row, flex-start, center);
    padding: 11px 0;
    @media (min-width: $md) {
      padding: 8px 0;
    }
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
    }
    font-size: 14px;
    font-weight: 500;
    color: var(--charcoal-grey);
    strong {
      white-space: nowrap;
      font-weight: bold;
    }
  }
}
</style>

<script>
import { mapState } from 'vuex'
export default {
	name: 'TourHelpful',
	props: {
		tour: {
			type: Object,
			required: true
		}
	},
	computed: {
		...mapState(['subdomain'])
	}
}
</script>
