<template>
  <div class="tour-services">
    <h3 class="tour-services__title">
      Дополнительные услуги
    </h3>
    <div class="tour-services__list">
      <div
        v-for="service in services"
        :key="service.id"
        class="tour-services__service tour-service"
      >
        <div class="tour-service__name-row">
          <h4 class="tour-service__name">
            {{ service.title }}
          </h4>
          <div v-if="service.popular" class="tour-service__popular">
            Популярно
          </div>
        </div>
        <div class="tour-service__content-row">
          <div class="tour-service__left-col">
            <div class="tour-service__description">
              {{ service.description }}
            </div>
          </div>
          <div class="tour-service__right-col">
            <div>
              <div class="tour-service__price">
                {{ service.price_conv }} {{ currencyConv }}
              </div>
              <div class="tour-service__price-comment">
                {{ service.personal ? "За всех туристов" : "За 1 человека" }}
              </div>
            </div>
            <Toggle
              :value="isTheServiceSelected(service)"
              class="tour-service__toggle"
              reverse
              @checked="(checked) => serviceSelected(service, checked)"
            >
              <span class="tour-service__toggle-label">
                Включить в тур
              </span>
            </Toggle>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Toggle from '@/components/Toggle'

export default {
	name: 'TourServices',
	components: {
		Toggle
	},
	props: {
		currencyConv: {
			type: String,
			required: true
		},
		services: {
			type: Array,
			required: true
		},
		selectedServices: {
			type: Array,
			required: true
		}
	},
	data: () => ({
		check: false
	}),
	methods: {
		isTheServiceSelected({ id }) {
			return Boolean(this.selectedServices.find(service => service.id === id))
		},
		serviceSelected(service, checked) {
			if (checked) {
				this.$emit('select:service', service)
			} else {
				this.$emit('unselect:service', service)
			}
		}
	}
}
</script>

<style lang="scss">
.tour-services {
  &__title {
    padding-bottom: 16px;
    font-size: 16px;
    font-weight: bold;
    color: $charcoal-grey;
    @media (min-width: $md) {
      font-size: 20px;
      padding-bottom: 20px;
    }
  }
}

.tour-service {
  margin-top: 12px;
  &:first-child {
    margin-top: 0;
  }
  padding: 20px 16px;
  border-radius: 6px;
  background-color: $pale-grey;
  @media (min-width: $md) {
    padding: 24px;
  }

  &__content-row {
    @include flex(column, flex-start, flex-start);
    @media (min-width: $md) {
      @include flex(row, space-between, flex-start);
    }
  }

  &__left-col {
    @include flex(column, flex-start, flex-start);

    @media (min-width: $md) {
      max-width: 390px;
    }
  }

  &__name-row {
    @include flex(row, flex-start, flex-end);
  }

  &__name {
    font-size: 16px;
    font-weight: bold;
    color: $charcoal-grey;
  }

  &__popular {
    padding-left: 6px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: normal;
    color: $coral-pink;
  }

  &__description {
    padding-top: 8px;
    padding-bottom: 16px;
    font-size: 14px;
    font-weight: normal;
    color: $charcoal-grey;
    @media (min-width: $md) {
      padding-bottom: 4px;
    }
  }

  &__price {
    padding-bottom: 2px;
    font-size: 16px;
    font-weight: 600;
    color: $charcoal-grey;
    @media (min-width: $md) {
      text-align: right;
    }
  }

  &__price-comment {
    padding-bottom: 12px;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.5;
    color: $grey-blue;
    @media (min-width: $md) {
      text-align: right;
    }
  }

  &__right-col {
    @include flex(row, space-between, flex-start);
    @media (max-width: $md) {
      padding-top: 16px;
      width: 100%;
    }
    @media (min-width: $md) {
      @include flex(column, flex-start, flex-end);
    }
  }

  &__toggle {
    font-size: 12px;
    font-weight: normal;
    line-height: 1.5;
    color: $charcoal-grey;
  }

  &__toggle-label {
    @media (max-width: $md) {
      display: none;
    }
  }
}
</style>
