<template>
  <div class="tour-main">
    <pui-tabs v-model="activeTab">
      <pui-tab-pane :label="$LOCALE('ln_tour_tab_general_info')" name="info">
        <TourInfo />
      </pui-tab-pane>
      <pui-tab-pane v-if="tour.days.length > 0" :label="subdomain === 'hotel'?$LOCALE('ln_xcursion_program'):$LOCALE('ln_common_tour_program')" name="program">
        <TourProgram />
      </pui-tab-pane>
      <pui-tab-pane v-if="tour.images.length > 0" :label="$LOCALE('ln_common_gallery')" name="gallery">
        <vue-tour-gallery :images="tour.images" />
      </pui-tab-pane>
      <!-- <pui-tab-pane label="Отзывы" name="feedback">
        No content
      </pui-tab-pane> -->
    </pui-tabs>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import TourInfo from './TourInfo'
import TourProgram from './TourProgram'
import VueTourGallery from '@/components/Tour/GalleryDev'

export default {
	name: 'TourMain',
	components: {
		TourInfo,
		TourProgram,
		VueTourGallery
	},
	data: () => ({
		activeTab: 'info'
	}),
	computed: {
		...mapState(['subdomain']),
		...mapState('tour', ['tour'])
	}
}
</script>

<style lang="scss">
$card-paddings: 18px 24px !default;
.tour-main {
  background-color: $white;
  // padding: $card-paddings;
  @media (max-width: $xs) {
    padding-left: 6px;
    padding-right: 6px;
  }
}
</style>
