<template>
  <div class="tour-discounts">
    <h3 class="tour-discounts__title">
      {{ $LOCALE('ln_tour_benefits_title') }}
    </h3>
    <div
      v-for="discount in discounts"
      :key="discount.discount.code"
      class="tour-discounts__item"
    >
      <!-- {{ discount }} -->
      <div class="tour-discounts__item-name-row">
        <div class="tour-discounts__item-name">
          {{ discount.discount.name }}
        </div>
        <pui-button v-if="false" type="link" auto>
          Как воспользоваться?
        </pui-button>
      </div>
      <div v-if="discount.discount.description" class="tour-discounts__description">
        {{ discount.discount.description }}
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.tour-discounts {
  &__title {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: normal;
    color: $charcoal-grey;
    padding-bottom: 16px;
    @media (min-width: $md) {
      font-size: 20px;
      padding-bottom: 20px;
    }
  }

  &__item {
    padding: 20px 16px;
    border-radius: 6px;
    background-color: $pale-grey;
    margin-bottom: 12px;
    &:last-child {
      margin-bottom: 0;
    }
    @media (min-width: $md) {
      padding: 24px;
    }
  }

  &__item-name-row {
    @include flex(column, flex-start, flex-start);
    @media (min-width: $md) {
      @include flex(row, space-between, center);
    }
  }

  &__item-name {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.38;
    color: $charcoal-grey;
    padding-bottom: 8px;
    @media (min-width: $md) {
      padding-bottom: 0;
    }
  }

  &__description {
    padding-top: 4px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.43;
    color: $charcoal-grey;
  }
}
</style>

<script>
export default {
	name: 'TourDiscounts',
	props: {
		discounts: {
			type: Array,
			required: true
		}
	}
}
</script>
