<template>
  <div class="component__tour-layout">
    <slot name="header" />
    <div id="tourContainer" class="container">
      <div class="tour-layout">
        <div class="tour-layout__main">
          <slot name="main" />
        </div>
        <no-ssr>
          <div class="tour-layout__sidebar">
            <slot name="sidebar" />
          </div>
        </no-ssr>
        <div class="tour-layout__footer">
          <slot name="footer" />
        </div>
      </div>
    </div>
    <!-- <BookingDialog /> -->
    <pui-button
      v-if="mobileStep === 'info' && componentDidMount"
      class="tour-layout__button--mobile"
      fixed
      fluid
      size="medium"
      type="blue"
      icon="pui-arrow-right-ic"
      @click="handleBooking()"
    >
      {{ $LOCALE('ln_tour_booking_button_go_booking') }}
    </pui-button>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
// import BookingDialog from '@/components/Booking/Dialog'
export default {
	name: 'TourLayout',
	components: {
		// BookingDialog
	},
	data: function () {
		return {
			componentDidMount: false
		}
	},
	computed: {
		...mapState('booking', ['mobileStep'])
	},
	mounted() {
		// TODO: сделать это изящнее
		this.componentDidMount = true
	},
	methods: {
		...mapActions('booking', ['toBooking']),
		handleBooking() {
			// this.$refs.bookingDialog.open()
			this.$store.commit('booking/SET_STATES', {
				bookingDialog: true
			})
			this.$TOGGLE_BODY_CLASS('addClass', 'fixed')
		}
	}
}
</script>

<style lang="scss">
$sidebar-width-lg: 384px !default;
$sidebar-width-md: 340px !default;
$space: 24px !default;

.tour-layout {
  @include flex(column, flex-start, flex-start);
  flex-wrap: wrap;
  @media (min-width: $md) {
    @include flex(row, space-between, flex-start);
  }
  &__main {
    width: 100%;
    @media (min-width: $md) {
      width: calc(100% - #{$sidebar-width-md + $space});
    }
    @media (min-width: $lg) {
      width: calc(100% - #{$sidebar-width-lg + $space});
    }
    @media (max-width: $xs) {
      order: 2;
    }
  }

  &__sidebar {
    display: block;
    width: 100%;
    @media (max-width: $xs) {
      order: 1;
    }
    @media (min-width: $md) {
      width: $sidebar-width-md;
    }
    @media (min-width: $lg) {
      width: $sidebar-width-lg;
    }
  }
  &__footer{
    display: block;
    width: 100%;
    @media (max-width: $xs) {
      order: 3;
    }
  }
  &__button--mobile {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    @media (max-width: $md) {
      display: block;
    }
  }
}
</style>
