<template>
  <div class="tour-questions">
    <h3 class="tour-questions__title">
      Ответы на частые вопросы
    </h3>
    <Accordion
      :items="questions || []"
      id-key="question"
      name-key="question"
      content-key="answer"
    />
  </div>
</template>

<style lang="scss">
.tour-questions {
  &__title {
    padding-bottom: 16px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.2;
    color: $charcoal-grey;
    @media (min-width: $md) {
      font-size: 20px;
      padding-bottom: 20px;
    }
  }
}
</style>

<script>
import Accordion from '@/components/Accordion'

export default {
	name: 'TourQuestions',
	components: {
		Accordion
	},
	props: {
		questions: {
			type: Array,
			required: false,
			default: () => []
		}
	}
}
</script>
