<template>
  <div class="tour-info">
    <TourDesc :tour="tour" />
    <Tags :tags="tour.tags" />
    <TourDetails
      v-if="(tour.include && tour.include.length) || (tour.xclude && tour.xclude.length)"
      :include="tour.include"
      :xclude="tour.xclude"
      class="tour-info__cost-details"
    />
    <TourHelpful :tour="tour" class="tour-info__helpful" />
    <VisaRequirements v-if="false" class="tour-info__visa" />
    <!-- v-if="tour.visa" -->
    <TourMap
      v-if="tour.days && tour.days[0]"
      :first-day="tour.days[0]"
      class="tour-info__map"
    />
    <!-- <TourServices
      v-if="tour.services.length > 0"
      :currency-conv="tour.currency_conv"
      :services="tour.services"
      :selected-services="services"
      class="tour-info__services"
      @select:service="addService"
      @unselect:service="REMOVE_SERVICE"
    /> -->
    <TourDiscounts v-if="tour.discounts.length > 0" :discounts="tour.discounts" class="tour-info__discounts" />
    <TourQuestions
      v-if="tour.qa"
      class="tour-info__questions"
      :questions="tour.qa"
    />
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'

// ui
import Tags from '@/components/Tags'

// blocks
import TourDesc from '@/components/Tour/TourDesc'
import TourDetails from '@/components/Tour/TourDetails'
import TourHelpful from '@/components/Tour/TourHelpful'
import VisaRequirements from '@/components/Tour/VisaRequirements'
// import TourServices from '@/components/Tour/TourServices'
import TourDiscounts from '@/components/Tour/TourDiscounts'
import TourQuestions from '@/components/Tour/TourQuestions'
import TourMap from '@/components/Tour/TourMap'

export default {
	name: 'TourInfo',
	components: {
		TourMap,
		TourQuestions,
		Tags,
		TourDiscounts,
		TourDetails,
		TourDesc,
		// TourServices,
		TourHelpful,
		VisaRequirements
	},
	computed: {
		...mapState('tour', ['tour']),
		...mapState('booking', ['services'])
	},
	methods: {
		...mapMutations('booking', [
			'ADD_SERVICE',
			'REMOVE_SERVICE',
			'CLEAR_SERVICES'
		]),
		addService(service) {
			console.log(service)
			this.ADD_SERVICE({ service, tour: this.tour })
		},
		removeService(service) {
			this.REMOVE_SERVICE(service)
		}
	}
}
</script>

<style lang="scss">
.tour-info {
  &__cost-details {
    margin-top: 36px;
    @media (min-width: $md) {
      margin-top: 44px;
    }
  }
  &__helpful {
    margin-top: 36px;
    @media (min-width: $md) {
      margin-top: 60px;
    }
  }
  &__visa {
    margin-top: 27px;
    @media (min-width: $md) {
      margin-top: 35px;
    }
  }
  &__map {
    margin-top: 36px;
    @media (min-width: $md) {
      margin-top: 60px;
    }
  }
  &__services {
    margin-top: 36px;
    @media (min-width: $md) {
      margin-top: 60px;
    }
  }
  &__discounts {
    margin-top: 36px;
    @media (min-width: $md) {
      margin-top: 60px;
    }
  }
  &__questions {
    margin-top: 36px;
    margin-bottom: 36px;
    @media (min-width: $md) {
      margin-top: 60px;
      margin-bottom: 40px;
    }
  }
}
</style>
