<template>
  <div class="tour-details">
    <div v-if="include" class="tour-details__col">
      <h3 class="tour-details__title">
        {{ $LOCALE('ln_tour_included') }}
      </h3>
      <ul class="tour-details__list">
        <li
          v-for="service in includeFiltered"
          :key="service.name"
          class="tour-details__service tour-details__service--include"
        >
          <i class="pui-checkbox-on-ic tour-details__icon tour-details__icon--include" />
          {{ service.name }}
        </li>
      </ul>
    </div>
    <div v-if="xclude" class="tour-details__col">
      <h3 class="tour-details__title">
        {{ $LOCALE('ln_tour_pay_extra') }}
      </h3>
      <ul class="tour-details__list">
        <li
          v-for="service in xcludeFiltered"
          :key="service.name"
          class="tour-details__service tour-details__service--exclude"
        >
          <i class="pui-close-ic tour-details__icon tour-details__icon--exclude" />
          {{ service.name }}
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
export default {
	name: 'TourDetails',
	props: {
		include: {
			type: Array,
			required: true
		},
		xclude: {
			type: Array,
			required: true
		}
	},
	computed: {
		includeFiltered() {
			return this.include.filter((el) => { return el.name })
		},
		xcludeFiltered() {
			return this.xclude.filter((el) => { return el.name })
		}
	}
}
</script>
<style lang="scss">
.tour-details {
  @include flex(column, flex-start, flex-start);
  @media (min-width: $md) {
    @include flex(row, flex-start, flex-start);
  }
  &__col {
    @media (min-width: $md) {
      max-width: 260px;
      margin-right: 126px;
    }
    margin-bottom: 24px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__title {
    padding-bottom: 16px;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: $charcoal-grey;
  }

  &__service {
    @include flex(row, flex-start, flex-start);
    padding-bottom: 16px;
    &:last-child {
      padding-bottom: 0;
    }
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: $charcoal-grey;
  }
  &__icon {
    padding-right: 10px;
    &--include {
      color: $primary-green;
    }

    &--exclude {
      color: $coral-pink;
    }
  }
}
</style>
