<template>
  <div class="component__tour-program">
    <h2 class="text-h4">
      {{ $LOCALE('ln_tour_route') }}
    </h2>
    <pui-spacer :size="12" />
    <pui-tags-chevron :tags="places" />
    <pui-spacer :size="12" />
    <!-- <pui-link to="/ru">
      {{ $LOCALE('ln_tour_show_on_map') }}
    </pui-link>-->
    <!-- {{ program }} -->
    <!-- {{ tour }} -->
    <!-- {{ tour.dates }} -->
    <!-- <pui-spacer :size="32" /> -->
    <Accordion
      :items="program || []"
      :visible-item="program[0]?program[0].id:null"
      id-key="id"
      name-key="day"
      sub-name-key="date"
      content-key="description"
      list-key="program"
      images-key="images"
      :hide-all-then-some-item-visible="false"
    />
  </div>
</template>
<script>
import { mapState } from 'vuex'
import Accordion from '@/components/Accordion'
export default {
	components: {
		Accordion
	},
	data() {
		return {

		}
	},
	computed: {
		...mapState('tour', ['tour']),
		nearDate() {
			let date = null
			const selectedDate = this.$store.state.booking.selectedDate
			if (selectedDate) {
				date = this.$GET_DATE(selectedDate)
			} else {
				try {
					date = Object.keys(this.tour.dates)[0]
				} catch (err) {
					console.log(err)
				}
			}
			return date
		},
		program() {
			return this.tour.days.map((el, key) => {
				let dateString = null
				if (this.nearDate) {
					const date = new Date(this.nearDate)
					date.setDate(date.getDate() + key)
					console.log(date)
					dateString = date.getDate() + ' ' + this.$LOCALE(`ln_month_full_alt_${date.getMonth()}`) + ', ' + this.$LOCALE(`ln_week_day_full_${date.getDay()}`)
				}
				let program = []
				if (!el.program) {
					const programArray = el.description.split('\n').filter(el => el)
					console.log(programArray)
					programArray.forEach((prog) => {
						program.push({
							id: 0,
							start_time: '',
							intro: prog,
							description: null
						})
					})
				} else {
					program = el.program
				}
				const newEl = {
					id: el.id,
					day: this.$LOCALE('ln_common_a_day') + ' ' + (key + 1),
					date: dateString,
					title: el.title || 'Не хватает данных',
					subtitle: el.subtitle || 'Не хватает данных',
					description: el.description || 'Данный раздел в разработке',
					end_points: el.end_points,
					program: program,
					start_points: el.start_points,
					tags: el.tags,
					images: el.images
				}
				return newEl
			})
		},
		places() {
			const tourDays = this.tour.days || []
			const array = tourDays.map((el, key) => {
				let result = ''
				try {
					result = el.start_points[0].point.name
				} catch (err) {
					console.log(err)
				}
				return result
			})
			return array.filter((el) => {
				return el
			})
		}
	},
	created() {
		console.warn('TOUR', this.tour)
	}
}
</script>
