<template>
  <div class="tour-map">
    <h3 class="tour-map__title">
      {{ $LOCALE('ln_tour_meet_guide_title') }}
    </h3>
    <div class="tour-map__text" v-html="firstDay.description" />

    <no-ssr>
      <GmapMap
        :center="meetPoint"
        :zoom="7"
        map-type-id="terrain"
        style="width: 100%; height: 300px"
      >
        <GmapMarker
          :position="meetPoint"
          :clickable="true"
          :draggable="true"
          @click="center=meetPoint"
        />
      </GmapMap>
    </no-ssr>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
	name: 'TourMap',
	props: {
		firstDay: {
			type: Object,
			required: true
		}
	},
	computed: {
		...mapState('tour', ['tour']),
		meetPoint() {
			let result = { lat: 0, lon: 0 }
			try {
				result = { lat: this.tour.days[0].start_points[0].point.latitude, lng: this.tour.days[0].start_points[0].point.longitude }
			} catch (err) { console.log(err) }
			return result
		}
	}
}
</script>

<style lang="scss">
.tour-map {
  &__title {
    padding-bottom: 16px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.2;
    color: $charcoal-grey;
    @media (min-width: $md) {
      font-size: 20px;
      padding-bottom: 12px;
    }
  }

  &__text {
    padding-bottom: 16px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.43;
    color: $charcoal-grey;
    @media (min-width: $md) {
      padding-bottom: 20px;
    }

    strong {
      font-weight: bold;
    }
  }

  &__map {
  }
}
</style>
