<template>
  <div class="tour-desc">
    <div class="tour-desc__top">
      <div class="tour-desc__left">
        <h1 class="tour-desc__title">
          {{ tour.name }}
        </h1>
      </div>
      <div class="tour-desc__right">
        <div class="tour-desc__price">
          {{ tour.price_conv | filterNum }} {{ tour.currency_conv }}
        </div>
        <!-- do not show text below if not a tour		 -->
        <div v-if="($route.name).includes('-tour-')" class="tour-desc__price-comment">
          {{ $LOCALE('ln_common_person_price') }}
        </div>
      </div>
    </div>
    <div class="tour-desc__markers">
      <div class="tour-desc__marker">
        <i class="pui-clock-ic tour-desc__marker-icon" />
        {{ tour.duration }} {{ $NUM_SUFFIX(tour.duration, [
          $LOCALE('ln_day_days_0'),
          $LOCALE('ln_day_days_1'),
          $LOCALE('ln_day_days_2')
        ]) }}
      </div>
      <div class="tour-desc__marker">
        <i class="pui-location-ic tour-desc__marker-icon" />
        {{ tour.direction }}
      </div>
    </div>
    <div class="tour-desc__bottom">
      <div class="tour-desc__text" v-html="tour.description" />
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
	name: 'TourDesc',
	props: {
		tour: {
			type: Object,
			required: true
		}
	},
	computed: {
		...mapState(['subdomain'])
	}
}
</script>

<style lang="scss">
.tour-desc {
  &__top {
    @include flex(column, flex-start, flex-start);
    @media (min-width: $md) {
      @include flex(row, space-between, flex-start);
    }
  }
  &__left{
	@media(min-width: $md){
		padding-right: 50px;
	}
  }
  &__right {
    margin-top: 16px;
    @media (min-width: $md) {
      margin-top: 0;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
	margin-bottom: 10px;
    color: $charcoal-grey;
    @media (min-width: $md) {
      font-size: 24px;
      line-height: 1.25;
    }
  }

  &__price {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
	white-space: nowrap;
    color: $charcoal-grey;
    @media (min-width: $md) {
      text-align: right;
      font-size: 24px;
      line-height: 1.25;
    }
  }

  &__price-comment {
	white-space: nowrap;
    font-size: 12px;
    line-height: 1.5;
    text-align: left;
    color: $grey-blue;
    @media (min-width: $md) {
      text-align: right;
    }
  }

  &__markers {
    @include flex(row, flex-start, flex-start);
    margin-top: 16px;
    @media (min-width: $md) {
      margin-top: 0px;
    }
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
    color: $charcoal-grey;
  }

  &__marker {
    margin-right: 19px;
  }

  &__marker-icon {
    color: $primary-sand;
    padding-right: 7px;
  }

  &__text {
    padding: 16px 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.63;
    color: $charcoal-grey;
    @media (min-width: $md) {
      padding: 24px 0;
      font-size: 16px;
    }
  }
}
</style>
