<template>
  <div class="visa-requirements">
    <img class="visa-requirements__icon" src="/static-assets/images/svg/docs-ic.svg">
    <div class="visa-requirements__main">
      <h4 class="visa-requirements__title">
        Визовые требования
      </h4>
      <div class="visa-requirements__text">
        Для поездки может потребоваться стандартная или транзитная виза, Указанные требования приведены исключительно для справки, Свяжитесь с посольством
        или Министерством иностранных дел вашей страны для получения подробной информации. Компания Кми.сот не несет ответственности в случае, если
        пассажиру отказано в посадке на борт или въезде в страну из-за проблем с визой.
      </div>
      <nuxt-link class="visa-requirements__link" to="/">
        Показать визовую справку
      </nuxt-link>
    </div>
  </div>
</template>

<style lang="scss">
.visa-requirements {
  @include flex(column, flex-start, center);
  padding: 20px 16px;
  background-color: $pale-grey;
  border-radius: 6px;
  @media (min-width: $md) {
    @include flex(row, flex-start, flex-start);
    padding: 20px;
  }

  &__main {
    width: 100%;
    padding-top: 20px;
    @media (min-width: $md) {
      padding-top: 4px;
      padding-left: 20px;
      width: auto;
    }
  }

  &__title {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.38;
    color: $charcoal-grey;
  }

  &__text {
    padding-top: 4px;
    padding-bottom: 8px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.43;
    color: $charcoal-grey;
  }

  .visa-requirements__link,
  .visa-requirements__link:hover,
  .visa-requirements__link:active,
  .visa-requirements__link:focus {
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    color: $primary-blue;
  }
}
</style>
