/* theme color */
$--color-primary: $primary-blue;
$--color-success: $primary-green;
$--color-warning: $primary-sand;
$--color-danger: $coral-pink;
$--color-info: $pale-grey;

/* buttons */
$--button-font-weight: 700;
$--border-width-base: 2px;
/* icon font path, required */
$--font-path: "~element-ui/lib/theme-chalk/fonts";
@import "~element-ui/packages/theme-chalk/src/index";

/* BUTTONS */
.el-button {
  &.el-button--success {
    &.is-plain {
      background-color: transparent;
      border-color: $primary-sand;
    }
  }
  &.shadowed {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
}
.el-button {
  &:before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: red !important;
  }
  &.is-loading {
    &:before {
      width: 100%;
      transition: width 3s linear;
    }
  }
}
/* SWITCH */
.el-switch__core {
  width: 35px !important;
}
.el-switch__label {
  &.is-active {
    color: $charcoal-grey;
  }
}
/* CHECKBOX */
.el-checkbox {
  @include flex(row, flex-start, center);
  padding: 10px 0;
  &.is-disabled {
    opacity: 0.5;
  }
  .el-checkbox__label {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .el-checkbox__input {
    &.is-checked {
      .el-checkbox__inner {
        border-color: $primary-blue;
        background-color: $primary-blue;
        &:after {
          display: inline-block;
        }
      }
    }
    &.is-disabled + span.el-checkbox__label {
      color: $charcoal-grey;
    }
    .el-checkbox__inner {
      @include flex(row, center, center);
      width: 20px;
      height: 20px;
      border-radius: 20px;
      border-color: $grey-blue;
      overflow: hidden;
      &:hover {
        border-color: $primary-blue;
      }
      &:after {
        display: none;
        color: #fff;
        font-family: "pui icon";
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\005a";
        left: 3px;
        top: 4px;
        font-size: 10px;
        -webkit-transform: rotate(0);
        transform: rotate(0);
        background-color: transparent;
        width: 100%;
        height: 100%;
        position: relative;
        // background-color: #fff;
        border-radius: 100px;
        border: 0 solid;
      }
    }
    .el-checkbox__original {
    }
  }
}
/* RADIO */
.el-radio {
  &.is-checked {
  }
  .el-radio__input {
    &.is-checked {
      .el-radio__inner {
        border-color: $primary-blue;
      }
    }
    .el-radio__inner {
      width: 20px;
      height: 20px;
      border-color: $grey-blue;
      &:after {
        width: 10px;
        height: 10px;
      }
    }
    .el-radio__original {
    }
  }
}
/* FORMS */
.el-form {
  width: 100%;
}
.el-form-item__content {
  line-height: 1; //it effects on icons inside pui-input
}
.el-form-item {
  &.is-error {
    input {
      color: $coral-pink;
    }
  }
  .el-icon-circle-close {
    &:before {
      display: none;
    }
  }
  .el-input__icon {
    &.el-input__validateIcon {
      &.el-icon-circle-check {
        color: $primary-green;
        &:before {
          content: "\005a";
          display: inline-block;
          font-family: "pui icons";
          font-style: normal;
          font-weight: normal;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
      }
    }
  }
}
.el-autocomplete {
  width: 100%;
}
.el-input-number {
  width: 116px;
  span {
    width: 28px !important;
    height: 28px;
    line-height: 1;
    background-color: $primary-sand;
    color: $white;
    border-radius: 6px;
    border: 0 solid;
    padding: 7px 5px;
    &:hover {
      color: $white;
    }
    &.el-input-number__decrease {
    }
    &.el-input-number__increase {
    }
    &.is-disabled {
      background-color: $ice-blue;
      color: $white;
    }
  }
  .el-input {
    input {
      padding: 0 28px;
      height: 30px;
      border: 0 solid;
    }
  }
}
.el-select {
  &.el-select--mini {
    width: 116px;
    .el-input {
      .el-input__inner {
        height: 40px;
        padding: 10px auto 12px 8px;
      }
    }
  }
  .el-input {
    .el-input__inner {
      font-size: 14px;
      font-weight: 600;
      background-color: $pale-grey;
      border-color: transparent;
      &:focus {
        outline: none;
        border-color: $primary-sand;
      }
    }
    // .el-select__caret {
    //   transform: rotate(180deg);
    //   &.is-reverse {
    //     transform: rotate(0deg);
    //   }
    // }
  }
}
.el-select__caret {
  &:before {
    content: "\004e";
    display: inline-block;
    font-family: "pui icon";
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $grey-blue;
    position: absolute;
    top: 4px;
    right: 7px;
    font-size: 11px;
  }
}
/* LAYOUTS */
.el-row {
  width: 100%;
  @media (max-width: $md) {
    margin: 0 !important;
    .el-col {
      padding: 0 !important;
    }
  }
}
.el-row--flex {
  flex-wrap: wrap;
}
/* TABS */
.el-tabs__nav-wrap {
  &:after {
    background-color: transparent;
  }
}
.el-tabs__active-bar {
  height: 3px;
  padding: 0 6px;
  box-sizing: content-box;
  display: none;
}
.el-tabs__header {
  margin-bottom: 32px;
}
.el-tabs__item {
  height: 25px;
  line-height: 25px;
  padding: 0 10px;
  // padding: 0 8px 0 8px !important;
  &:last-child {
    margin-right: 0;
  }
}
.el-tabs__content {
  overflow: visible;
}
.el-tabs__nav-wrap.is-scrollable {
  padding: 0;
}
.el-tabs__nav-next,
.el-tabs__nav-prev {
  display: none;
}
/* DIALOGS */
.el-dialog__wrapper {
  .el-dialog {
    .el-dialog__header {
      padding: 40px 32px 32px;
      img {
        // padding: 0 36px;
        margin: 0 auto 10px;
        width: 100%;
        max-width: 200px;
        left: 0;
        right: 0;
        display: block;
      }
      @media (max-width: $sm) {
        padding: 36px 15px 24px;
      }
      .el-dialog__headerbtn {
        i {
          color: $grey-blue;
          font-size: 20px;
        }
      }
    }
    .el-dialog__body {
      padding: 0 32px;
      word-break: break-word;
      @media (max-width: $sm) {
        padding: 0 15px;
      }
      .el-checkbox {
        margin-right: 0;
      }
    }
    .el-dialog__footer {
      padding: 18px;
      border-top: 2px solid $ice-blue;
      @media (max-width: $xs) {
        padding: 15px 0;
        width: 100%;
      }
      .dialog-footer {
        @include flex(row, center, center);
        p {
          margin-right: 8px;
        }
      }
    }
  }
}
.popper__arrow {
  display: none !important;
}
/* DATEPICKER */
.el-date-table td.start-date span,
.el-date-table td.end-date span,
.el-date-table td.in-range div,
.el-date-table td.end-date div:hover,
.el-date-table td.start-date div:hover {
  background-color: $primary-sand;
  color: $white;
}
.el-picker-panel__body {
  padding: 16px;
}
.el-picker-panel__content {
  margin: 0;
}
.el-date-range-picker {
  .el-picker-panel__content {
    padding: 0;
    &.is-left {
      padding-right: 9px;
    }
    &.is-right {
      padding-left: 9px;
    }
  }
}
.el-date-table {
  th {
    color: $grey-blue;
    border-bottom: 0 solid;
    font-size: 14px;
  }
  td {
    font-weight: 600;
    font-size: 14px;
    &.available {
      &:hover {
        color: $primary-sand;
      }
    }
    &.disabled div {
      background-color: $soft-grey;
    }
    &.today {
      span {
        color: $primary-sand;
      }
    }
  }
}
// NOTIFICATIONS
.el-notification {
  @media (max-width: $xs) {
    width: 100%;
    left: 0;
    right: 0;
    top: 0 !important;
    border-radius: 0;
    border: 0 solid;
  }
}
.el-notification__content {
  p {
    font-size: 12px;
  }
}
// HIDE YEAR CALENDAR ARROWS
.el-icon-d-arrow-right,
.el-icon-d-arrow-left {
  display: none;
}
.el-slider__runway {
  background-color: $pale-grey;
}
.el-slider__button {
  background-color: $primary-sand;
  border: 4px solid $white;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  box-shadow: 0 2px 8px 0 rgba(28, 74, 115, 0.2);
}
.el-slider__bar {
  background-color: $primary-sand;
}
.el-slider__runway {
  &.disabled {
    .el-slider__button {
      background-color: $light-periwinkle;
    }
  }
}
.el-popover {
  z-index: 7 !important;
  p {
    word-break: normal;
  }
  strong {
    font-weight: 600;
  }
}
.el-dialog__wrapper {
  z-index: 9999;
}
