.el-button {
  @media all and (max-width: $xxs) {
    margin: 10px 0;
  }
  & + .el-button {
    margin-left: 20px;

    @media all and (max-width: $xxs) {
      margin-left: 0;
    }
  }
  &--text {
    color: $primary-blue;
    font-weight: 400;

    &.is-disabled {
      color: $grey-blue;
    }
  }
  &--primary {
    color: $white;
    background-color: $primary-blue;
    border-color: $primary-blue;
    font-weight: 400;
    padding: 12px 30px;

    &.is-disabled {
      color: $grey-blue;
      background-color: $ice-blue;
      border-color: $ice-blue;
    }
  }
}
