@media (min-width: $sm){
	@include scrollbars(6px, $ice-blue);
}
body{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	letter-spacing: normal;
	color: $charcoal-grey;
	&.fixed{
		position: fixed;
		overflow: hidden;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		// top: 0;
	}
}
.text-h1{
	font-size: 56px;
	font-weight: 900;
	line-height: 1.11;
}
.text-h2{
	font-size: 40px;
	font-weight: bold;
	line-height: 1.2;
}
.text-h3{
	font-size: 24px;
	font-weight: bold;
	line-height: 1.25;
}
.text-h4{
	font-size: 20px;
	font-weight: bold;
	line-height: 1.2;
}
.text-h5{
	font-size: 16px;
	font-weight: bold;
	line-height: 1.38;
}
.text-h6{
	font-size: 14px;
	font-weight: 600;
	line-height: 1.43;
}
p{
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.63;
	letter-spacing: normal;
	word-break: normal;
	&.text{
		margin-bottom: 10px;
	}
}
.subtitle{
	font-size: 14px;
	font-weight: 600;
	line-height: 1.38;
	letter-spacing: normal;
}
.font-size-sm{
	font-size: 14px;
	line-height: 1.43;
	font-weight: normal !important;
	letter-spacing: normal;
}
.font-size-xs{
	font-size: 14px;
	line-height: 1.5;
	font-weight: normal;
	letter-spacing: normal;
}
.tips{
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	letter-spacing: normal;
	color: $grey-blue;
}
.container {
    width: 100%;
    padding: 0 24px;
	margin: 0 auto;
	@media (max-width: $xxl){
        max-width: 1400px;
    }
    @media (max-width: $xl){
        max-width: 1200px;
    }
    @media (max-width: $lg){
        max-width: 992px;
    }
    @media (max-width: $md){
		max-width: 768px;
		padding: 0 16px;
    }
    @media (max-width: $sm){
        max-width: 100%;
    }
    @media (max-width: $xs){
		max-width: 100%;
		padding: 0 10px;
	}
	@media (max-width: $xxs){
        max-width: 100%;
    }
	@media (min-width: $xxl){
        max-width: 1400px;
    }
}
[v-cloak]{
	display: none;
}
// SELECT
.native-select-wrapper{
	position: relative;
	&:after{
		content: '\0048';
		display: inline-block;
		font-family: 'pui icons';
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		color: $grey-blue;
		position: absolute;
		top: 40%;
		right: 10px;
		font-size: 11px;
	}
	.native-select{
		width: 116px;
		padding: 11px 5px;
		line-height: 1;
		background-color: $pale-grey;
		border: 2px solid $pale-grey;
		color: $charcoal-grey;
		border-radius: 6px;
		font-size: 14px;
		font-weight: 600;
		-webkit-appearance: none;  /*Removes default chrome and safari style*/
		-moz-appearance: none; /* Removes Default Firefox style*/
		text-indent: 0.01px; /* Removes default arrow from firefox*/
		text-overflow: "";  /*Removes default arrow from firefox*/
		&:focus{
			border: 2px solid $primary-sand	;
			outline: none;
		}
	}
}
// FLOATING LABLE
.floating-label {
	position: relative;
	background-color: $pale-grey;
	border: 2px solid $pale-grey;
	border-radius: 5px;
	padding: 10px 0;
	&.floating-label--focused{
		border: 2px solid $primary-sand	;
		@include transition(.5s);
	}
	label {
		z-index: 1;
		top: 22px;
		width: 100%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		padding-left: 10px;
		padding-right: 40px;
		position: absolute;
		@include transition(0.3s);
		color: $grey-blue;
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.43;
		letter-spacing: normal;
		&.floated {
			font-size: 12px;
			top: 8px;
			padding-left: 10px;
		}
	}
	input {
	  border: 0 solid;
	  background-color: transparent;
	  font-weight: 700;
	  padding-left: 10px;
	}
}
.is-error{
	.floating-label{
		border-color: $coral-pink;
	}
}
.is-success{
	.floating-label{
		border-color: $primary-green;
	}
}
input{
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
// BUTTONS

// SWIPER
.swiper-pagination{
	width: 100%;
	line-height: 0;
	margin-top: 12px;
	height: 8px;
	.swiper-pagination-bullet{
		margin-right: 8px;
		&:last-child{
			margin-right: 0;
		}
		&-active{
			background-color: $primary-sand	;
		}
	}
}
.swiper-button-next,
.swiper-button-prev{
	background-image: none;
    width: 44px;
    height: 44px;
    padding: 13px 0;
    margin: 0;
    background: $pale-grey;
	border-radius: 44px;
	text-align: center;
	top: 54%;
	z-index: 8;
	&:focus{
		outline: none;
	}
	@media (max-width: $xs){
		display: none;
	}
	&.swiper-button-disabled{
		display: none;
	}
}
.swiper-button-next{
	right: -22px;
	@media (max-width: $sm){
		right: 10px;
	}
}
.swiper-button-prev{
	left: -22px;
	@media (max-width: $sm){
		left: 10px;
	}
}

// LOCATION & DIRECTION RESULTS
.location-results,
.direction-results{
	.results-group{
		.group-title{
			background-color: $soft-grey;
			padding: 9px 16px;
			color: $grey-blue;
		}
		.group-items{
			.group-item{
				padding: 14px 16px;
				line-height: 1;
				cursor: pointer;
				border-bottom: 1px solid $ice-blue;
				&:hover{
					background-color: $pale;
					@media (max-width: $xs){
						background-color: transparent;
					}
				}
				&.active{
					background-color: $pale;
				}
				h6{
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				span{
					color: $grey-blue;
				}
			}
		}
	}
}
.space-between{
	@include flex(row, space-between, center);
}
.center{
	@include flex(row, center, center);
	flex-wrap: wrap;
}
// REMOVE INPUT AUTOCOMPLETE
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px $pale-grey inset !important;
}
// PLACEHOLDERS
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: $grey-blue !important;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	// line-height: 1.43;
}
::-moz-placeholder { /* Firefox 19+ */
	color: $grey-blue !important;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	// line-height: 1.43;
}
:-ms-input-placeholder { /* IE 10+ */
	color: $grey-blue !important;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	// line-height: 1.43;
}
:-moz-placeholder { /* Firefox 18- */
	color: $grey-blue !important;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	// line-height: 1.43;
}
/* ADAPTIVE HELPERS */
.xxs-less-hidden{
	@media (max-width: $xxs){
		display: none !important;
	}
}
.xs-less-hidden{
	@media (max-width: $xs){
		display: none !important;
	}
}
.sm-less-hidden{
	@media (max-width: $sm){
		display: none !important;
	}
}
.md-less-hidden{
	@media (max-width: $md){
		display: none !important;
	}
}
.lg-less-hidden{
	@media (max-width: $lg){
		display: none !important;
	}
}
.xl-less-hidden{
	@media (max-width: $xl){
		display: none !important;
	}
}
.xxl-less-hidden{
	@media (max-width: $xxl){
		display: none !important;
	}
}
.xxs-more-hidden{
	@media (min-width: $xxs){
		display: none !important;
	}
}
.xs-more-hidden{
	@media (min-width: $xs){
		display: none !important;
	}
}
.sm-more-hidden{
	@media (min-width: $sm){
		display: none !important;
	}
}
.md-more-hidden{
	@media (min-width: $md){
		display: none !important;
	}
}
.lg-more-hidden{
	@media (min-width: $lg){
		display: none !important;
	}
}
.xl-more-hidden{
	@media (min-width: $xl){
		display: none !important;
	}
}
.xxl-more-hidden{
	@media (min-width: $xxl){
		display: none !important;
	}
}
.flex-row{
	@include flex(row, flex-start, center);
}
.page-title{
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 32px;
	line-height: 1.25;
	@media (max-width: $xs){
		font-size: 20px;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.2;
		letter-spacing: normal;
		margin-bottom: 32px;
	}
}
// SEARCH FORM
.search-form-wrapper{
	margin-top: 30px;
	margin-bottom: 40px;
}
// PAGE TRANSITION
.page-enter-active, .page-leave-active {
	transition: opacity .5s;
}
.page-enter, .page-leave-active {
	opacity: 0;
}
// SLIDE ANIMATION
.slide-fade-enter-active {
	transition: all .3s ease;
}
.slide-fade-leave-active {
	transition: all .3s ease;
}
.slide-fade-enter, .slide-fade-leave-to{
	transform: translateX(50%);
	opacity: 0;
}
//TOURS SEARCH
.search,
.tours{
	.page-title{
		margin-top: 30px;
		margin-bottom: 32px;
	}
}
// DIALOG CONFIRM MESSAGE
.dialog-confirm{
	.dialog-image{
		width: 80px;
		margin: 0 auto;
		right: 0;
		left: 0;
		img{
			width: 100%;
		}
	}
	.dialog-message{
		margin-top: 32px;
		margin-bottom: 52px;
		text-align: center;
		h2{
			font-size: 16px;
			font-weight: 600;
			text-align: center;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.38;
			letter-spacing: normal;
			text-align: center;
			color: var(--charcoal-grey);
			margin-bottom: 4px;
		}
		p{
			text-align: center;
			font-size: 14px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.43;
			letter-spacing: normal;
			text-align: center;
			color: $charcoal-grey;
		}

	}
	.dialog-button{
		padding-bottom: 46px;
		@include flex(row, center, center);
	}
}