<template>
  <el-form>
    <el-form-item :label="label">
      <el-switch
        v-model="inputValue"
        v-on="$listeners"
      />
    </el-form-item>
  </el-form>
</template>

<script>
export default {
	props: {
		label: {
			type: String,
			default: ''
		},
		target: {
			type: Boolean,
			default: false
		}
	},
	computed: {
		inputValue: {
			get: function () {
				return this.target
			},
			set: function () { }
		}
	}
}
</script>
