<template>
  <div :class="blockName">
    <slot />
  </div>
</template>

<script>
export default {
	computed: {
		blockName() { return 'tour-create-content-block' }
	}
}
</script>

<style lang="scss">
$block-name: '.tour-create-content-block';
#{$block-name} {
  margin: 28px 0 44px;
  color: $grey-blue;
  font-size: 14px;

  .text-h5 {
    color: $charcoal-grey;
  }

  p {
    margin-bottom: 16px;
  }
}
</style>
