<template>
  <div :class="blockName">
    <el-tabs
      v-model="tabsValue"
      type="border-card"
      @tab-click="onTabsClick"
    >
      <el-tab-pane
        v-for="(item, index) of target"
        :key="index"
        :label="item.name"
      >
        <div :class="`${blockName}__item`">
          <div :class="`${blockName}__name`">
            {{ item.name }}
          </div>
          <div :class="`${blockName}__describe`">
            {{ item.describe }}
          </div>
        </div>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
import { TourInfoFoodType } from '@/store/createTour'
export default {
	props: {
		target: {
			type: Array,
			default: function () {
				return [TourInfoFoodType]
			}
		}
	},
	data() {
		return {
			tabIndex: this.currentTabIndex
		}
	},
	computed: {
		blockName() { return 'tour-info-food' },
		currentTabIndex() {
			const found = this.target.find(e => e.isSelected)
			if (!found) {
				return 0
			}
			return this.target.indexOf(found)
		},
		tabsValue: {
			get: function () {
				return String(this.currentTabIndex)
			},
			set: function () { }
		}
	},
	methods: {
		changeTarget(tab) {
			const target = this.target.map((e, index) => ({
				name: e.name,
				describe: e.describe,
				isSelected: Number(tab.index) === index
			}))
			this.$emit('changeFood', target)
		},
		onTabsClick(tab, event) {
			this.changeTarget(tab)
		}
	}
}
</script>

<style lang="scss">
$block-name: '.tour-info-food';
#{$block-name} {

	&__item {
		display: flex;
		align-items: center;
		color: $charcoal-grey;
		min-height: 78px;
	}
	&__name {
		padding: 0 40px;
		font-size: 16px;
		font-weight: 600;
		text-transform: uppercase;
	}
	&__describe {
		flex-grow: 1;
		font-size: 12px;
		padding: 7px 30px 7px 0;
		line-height: 1.4;
		max-width: 280px;
	}

	.el-tabs--border-card {
		background: transparent;
		border: 0 none;
		box-shadow: none;

		& > .el-tabs__header {
			border: 0 none;
			background-color: $pale-grey;
			border-radius: 6px;

			.el-tabs__item {
				flex-grow: 1;
				text-align: center;
				padding: 8px 0;
				font-size: 16px;
				text-transform: uppercase;
				color: $primary-blue;
				height: auto;
				border: 0 none;

				&.is-active {
					border-radius: 6px;
					background-color: $primary-blue;
					color: $white;
				}

				&:last-child,
				&:nth-child(2) {
					padding: 8px 0;
				}
			}
		}

		& > .el-tabs__content {
			margin-top: 20px;
			background-color: $pale-grey;
			border-radius: 6px;
			padding: 0;
		}
	}

	.el-tabs__nav {
		float: none;
		display: flex;
		align-items: center;
		justify-content: space-around;
		border-radius: 6px;
	}
}
</style>
