<template>
  <footer :class="`${blockName}`">
    <div class="container" :class="`${blockName}__inner`">
      <div :class="`${blockName}__actions`">
        <el-row>
          <el-button type="text" disabled>
            Предосмотр
          </el-button>
          <el-button type="primary" disabled>
            Опубликовать
          </el-button>
        </el-row>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
	computed: {
		blockName() { return 'tour-create-footer' }
	}
}
</script>

<style lang="scss">
$block-name: '.tour-create-footer';
#{$block-name} {
  background-color: $white;
  box-shadow: 0 0 1px 0 $cloudy-blue;
  min-height: 64px;
  padding: 0;

  &,
  &__actions,
  &__inner {
    display: flex;
    align-items: center;
  }

  &__actions {
    @media all and (max-width: $xxs) {
      text-align: center;
    }
  }

  &__inner {
    justify-content: center;
  }
}
footer {
  display: block;
}
</style>
