<template>
  <div :class="blockName">
    <h2 class="text-h4">
      Добро пожаловать{{ username ? `, ${username}` : '' }}!
    </h2>
    <p>Мы разделили процесс создания тура на 4 ключевые шага для вашего удобства. Прогресс заполнения сохраняется.</p>
  </div>
</template>

<script>
export default {
	props: {
		username: {
			type: String,
			default: ''
		}
	},
	computed: {
		blockName() { return 'tour-create-greeting' }
	}
}
</script>

<style lang="scss">
$block-name: '.tour-create-greeting';
#{$block-name} {
  margin-bottom: 24px;

  .text-h4 {
    margin-bottom: 5px;
  }
}
</style>
