<template>
  <div :class="blockName">
    <div
      v-for="(item, index) of target"
      :key="index"
    >
      <div :class="`${blockName}__item`">
        <el-input
          v-model="item.name"
          placeholder="Название объекта. Например: Гостиница SunNice 4*"
          @change="chanchedInput"
        />
        <el-input
          v-model="item.link"
          placeholder="Ссылка на объект, для демонстрации туристам."
          @change="chanchedInput"
        />
        <el-button
          :class="`${blockName}__delete`"
          icon="el-icon-error"
          circle
          @click="deleteHotel(index)"
        />
      </div>
    </div>
    <el-button
      :class="`${blockName}__add`"
      type="primary"
      plain
      @click="addHotel"
    >
      Добавить еще объект
    </el-button>
  </div>
</template>

<script>
import { TourInfoHotel } from '@/store/createTour'
export default {
	props: {
		target: {
			type: Array,
			default: function () {
				return [TourInfoHotel]
			}
		}
	},
	computed: {
		blockName() { return 'habitation-card' }
	},
	watch: {
		target(value) {
			this.$emit('changeHabitation', value)
		}
	},
	methods: {
		addHotel() {
			this.target.push(new TourInfoHotel())
		},
		deleteHotel(index) {
			this.target.splice(index, 1)
		},
		chanchedInput() {
			this.$emit('changeHabitation', this.target)
		}
	}
}
</script>

<style lang="scss">
$block-name: '.habitation-card';
#{$block-name} {

	&__item {
		background-color: $pale-grey;
		border-radius: 6px;
		padding: 14px 20px;
		margin: 16px 0;
		position: relative;
	}

	.el-input {
		margin: 6px 0;

		&__inner {
			height: 52px;
			line-height: 52px;
			border-color: $white;
			color: $charcoal-grey;
		}
	}

	&__delete {
		padding: 10px;
    border: 0 none;
    background: transparent;
    position: absolute;
    top: -20px;
		right: -20px;
		cursor: pointer;

		&:hover,
		&:focus {
			background-color: transparent;
		}

		.el-icon-error {
			font-size: 20px;
			color: $brown-grey;

			&:hover {
				color: $primary-blue;
			}
		}
	}

	&__add.el-button {
			width: 100%;
			background-color: $pale-grey;
			border-color: $pale-grey;
			color: $primary-blue;
			padding: 17px 30px;

			&:hover,
			&:focus {
				background-color: $pale-grey;
				border-color: $pale-grey;
				color: $primary-blue;
			}
	}
}
</style>
