<template>
  <header :class="`${blockName}`">
    <div class="container" :class="`${blockName}__inner`">
      <div :class="`${blockName}__heading`">
        <vue-header-logo />
        <span :class="`${blockName}__title`">
          {{ $LOCALE('create-tour-header-title') }}
        </span>
      </div>
      <div :class="`${blockName}__actions`">
        <span :class="`${blockName}__time-save`">
          Последнее сохранение 3 часа назад
        </span>
        <el-button type="text" @click="saveAndExit">
          Сохранить и выйти
        </el-button>
      </div>
    </div>
  </header>
</template>

<script>
import VueHeaderLogo from '@/components/TourCreate/Logo'
export default {
	components: {
		VueHeaderLogo
	},
	computed: {
		blockName() { return 'tour-create-header' }
	},
	methods: {
		saveAndExit() {
			console.log('saveAndExit')
		}
	}
}
</script>

<style lang="scss">
$block-name: '.tour-create-header';
#{$block-name} {
  background-color: $soft-grey;
  min-height: 76px;

  &,
  &__inner,
  &__actions,
  &__heading {
    display: flex;
    align-items: center;
  }

  &__inner {
    justify-content: space-between;

    @media all and (max-width: $xs) {
      padding: 0 15px;
    }
  }

  // &__heading { }

  &__title {
    margin: 0 14px;
    font-size: 16px;
    font-weight: 600;

    @media all and (max-width: $xs) {
      display: none;
    }
  }

  &__time-save {
    color: $grey-blue;
    margin: 0 24px;
    font-size: 12px;

    @media all and (max-width: $sm) {
      display: none;
    }
  }

  // &__actions { }
}
header {
  display: block;
}
</style>
