<template>
  <nuxt-link :to="'/' + language" class="tour-create-logo" />
</template>
<script>
import { mapState } from 'vuex'
export default {
	computed: {
		...mapState(['language'])
	}
}
</script>
<style lang="scss">
$block-name: '.tour-create-logo';
#{$block-name} {
	display: inline-block;
	// width: 100%;
	// max-width: 38px;
	width: 38px;
	height: 38px;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-image: url('/static-assets/images/logo/Palm_color.svg');
	// @media (min-width: $md) and (max-width: $lg){
	// 	width: 40px;
	// 	height: 40px;
	// 	background-image: url('/images/logo/Logo-1x1-color.svg');
	// }
}
</style>
