<template>
  <div
    :class="blockName"
  >
    <template v-if="!isEditMode">
      <div
        :class="`${blockName}__helper`"
        @click="editMode"
      >
        <template v-if="textarea">
          <pre>{{ textarea }}</pre>
        </template>
        <template v-else>
          <p>
            Для того чтобы удобно представить информацию туристам,
            каждая услуга - это новая строка. Для добавления новой
            строки используйте символ -. Вы также можете добавить
            дополнительную информацию об услуге поместив её
            в круглы скобки.
          </p>
          <p>
            <b>Пример:</b><br>
            - Трансфер в/из аэропорта<br>
            (Трансфер включен в программу тура)
          </p>
        </template>
      </div>
    </template>
    <template v-else>
      <div
        :class="`${blockName}__input`"
        @mouseover="focus"
      >
        <el-input
          ref="textarea"
          v-model="textarea"
          v-click-outside="helperMode"
          type="textarea"
          :rows="9"
          placeholder=""
          @focus="focus"
          @change="changedTextarea"
        />
      </div>
    </template>
  </div>
</template>

<script>
export default {
	props: {
		target: {
			type: Array,
			default: function () {
				return []
			}
		}
	},
	data() {
		return {
			textarea: '',
			isEditMode: false,
			isFocused: false
		}
	},
	computed: {
		blockName() { return 'tour-create-options-set' }
	},
	watch: {
		target: function (newVal) {
			this.textarea = this.arrayToString(newVal)
		}
	},
	methods: {
		editMode() {
			this.isEditMode = true
		},
		focus() {
			this.isFocused = true
		},
		helperMode() {
			if (!this.isFocused) {
				this.isEditMode = true
			} else {
				this.isEditMode = false
				this.isFocused = false
			}
		},
		changedTextarea() {
			const data = this.stringToArray(this.textarea)
			this.$emit('changeList', data)
		},
		stringToArray(array) {
			return array
				.replace(/\n/g, '') // delete '\n'
				.split(/-\s/) // split by '- '
				.filter(e => e) // delete empty
				.map((e) => {
					let name = null
					let descr = null
					if (!e.includes('(')) {
						name = e.trim()
					} else {
						const ar = e.split('(') // split by '('
						name = ar[0].trim()
						descr = String(ar[1])
							.replace(/\)/g, '') // delete ')'
							.trim()
					}
					return { name, descr }
				})
		},
		arrayToString(str) {
			return str
				.map((e) => {
					let value = `- ${e.name}`
					if (e.descr) {
						value = `${value}\n(${e.descr})`
					}
					return value
				})
				.join('\n')
		}
	}
}
</script>

<style lang="scss">
$block-name: '.tour-create-options-set';
#{$block-name} {
  background-color: $pale-grey;
  border-radius: 6px;
  padding: 16px;
  font-size: 14px;
  color: $grey-blue;

  b {
    font-weight: 600;
  }
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }

  .el-textarea__inner {
    background-color: $pale-grey;
    border-color: $pale-grey;
    padding: 0;
  }

  &__helper {
    min-height: 193px;
  }
}
</style>
