<template>
  <div
    :class="blockName"
  >
    <div
      :class="`${blockName}__filler`"
      :style="`width: ${progressWidth}%;`"
    />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
	computed: {
		...mapGetters('createTour', [
			'tourInfoProgress'
		]),
		blockName() { return 'tour-create-step-progress' },
		progressWidth() {
			let width = 0
			if (this.$route.name.indexOf('tour-create-step-one') !== -1) {
				width = this.tourInfoProgress
			}
			return width
		}
	}
}
</script>

<style lang="scss">
$block-name: '.tour-create-step-progress';
#{$block-name} {

  &,
  &__filler {
    height: 8px;
  }

  &__filler {
    background-color: $powder-blue;
    width: 35%;
    transition: width .6s ease;
  }
}
</style>
