<template>
  <nuxt-link
    :class="`${blockName}`"
    :to="link"
  >
    <span :class="`${blockName}__content`">
      <span :class="`${blockName}__step`">
        Шаг {{ step }}
      </span>
      <span :class="`${blockName}__title`">
        {{ title }}
        <span :class="`${blockName}__arrow`" />
      </span>
      <span :class="`${blockName}__describe`">
        {{ describe }}
      </span>
    </span>
    <span :class="`${blockName}__progress`">
      <span :style="`width: ${progressWidth}%;`" />
    </span>
  </nuxt-link>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
	props: {
		step: {
			type: Number,
			default: 1
		},
		title: {
			type: String,
			default: ''
		},
		describe: {
			type: String,
			default: ''
		},
		link: {
			type: String,
			default: ''
		}
	},
	computed: {
		...mapGetters('createTour', [
			'tourInfoProgress'
		]),
		blockName() { return 'tour-create-step' },
		progressWidth() {
			let width = 0
			if (this.step === 1) {
				width = this.tourInfoProgress
			}
			return width
		}
	}
}
</script>

<style lang="scss">
$block-name: '.tour-create-step';
#{$block-name} {
  // min-height: 136px;
  border-radius: 6px;
  box-shadow: 0 0 1px 0 $cloudy-blue;
  padding: 20px;
  margin: 20px 0 18px;

  @media all and (max-width: $xs) {
    padding: 12px;
    margin: 8px 0 6px;
  }

  &__progress {
    height: 8px;
    border-radius: 8px;
    background-color: $pale-grey;
    font-size: 0;
    margin-top: 16px;

    @media all and (max-width: $xs) {
      margin-top: 8px;
    }

    span {
      display: block;
      height: 8px;
      border-radius: 8px;
      background-color: $powder-blue;
    }
  }

  // &__content { }

  &__step {
    font-size: 16px;
    font-weight: 600;
    color: $charcoal-grey;

    @media all and (max-width: $xs) {
      font-size: 14px;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 600;
    margin: 2px 0;
    color: $charcoal-grey;
    line-height: 1.2;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media all and (max-width: $xs) {
      font-size: 16px;
      margin: 5px 0;
    }
  }

  &__describe {
    color: $grey-blue;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @media all and (max-width: $xs) {
      font-size: 14px;
    }
  }

  &__arrow {
    $size: 24px;
    width: $size;
    height: $size;
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('/images/svg/arrow-left-dark.svg');

    @media all and (max-width: $xs) {
      display: none;
    }
  }

  &,
  &__progress,
  &__content,
  &__step,
  &__describe {
    display: block;
  }
}
</style>
