<template>
  <TourLayout>
    <template v-slot:header>
      <vue-tour-header />
      <!-- {{ tour }} -->
    </template>

    <template v-slot:main>
      <TourMain
        :class="{
          'hide-down-md': mobileStep === 'booking'
        }"
      />
    </template>
    <template v-slot:sidebar>
      <vue-tour-sidebar
        :class="{
          'hide-down-md': mobileStep === 'info'
        }"
      />
    </template>
    <template v-slot:footer>
      <pui-spacer :size="120" />
      <h3 class="text-h3">
        {{ $LOCALE('ln_tour_offers_nearby') }}
      </h3>
      <pui-spacer :size="30" />
      <vue-tour-card-grid-small :tours="toursNearBy" />
    </template>
  </TourLayout>
</template>

<script>
import { mapState } from 'vuex'
import TourLayout from '@/components/Tour/TourLayout'
import VueTourHeader from '@/components/Tour/Header'
import TourMain from '@/components/Tour/TourMain'
import VueTourSidebar from '@/components/Tour/Sidebar'
import VueTourCardGridSmall from '@/components/Tour/CardGridSmall'

export default {
	name: 'TourPage',
	components: {
		TourLayout,
		VueTourHeader,
		TourMain,
		VueTourSidebar,
		VueTourCardGridSmall
	},
	watch: {
		__currency(val) {
			this.$store.dispatch('tour/fetchTourBySlug', this.$route.params.slug)
		}
	},
	computed: {
		...mapState(['subdomain']),
		...mapState('booking', ['mobileStep']),
		...mapState('tour', ['tour', 'toursNearBy'])
	},
	async asyncData({ store, error, params }) {
		await store.dispatch('tour/fetchTourBySlug', params.slug)
		const tourId = store.state.tour.tour.id
		const tourDatesObj = store.state.tour.tour.dates || []
		store.commit('booking/SET_TOUR_ID', tourId)
		const tourDatesArray = Object.keys(tourDatesObj).map(dateKey => tourDatesObj[dateKey])
		store.commit('booking/SET_AVAILABLE_DATES', tourDatesArray)
		// console.log('RESULTS', store.state.tour.tour, tourDatesObj, tourDatesArray)
		if (store.state.subdomain === 'hotel') {
			await store.dispatch('hotel/HOTEL_XCURSION_SEARCH', { hotel: params.hotel, query: {}, page: 'tour' })
		} else {
			await store.dispatch('tour/GET_TOURS_NEAR_BY')
		}
		return {
			pagetitle: store.state.tour.tour.name
		}
	},
	beforeDestroy() {
		this.$store.commit('tour/CLEAR')
	}
}
</script>

<style lang="scss">
.hide-down-md {
	@media (max-width: $md) {
		display: none !important;
	}
}
</style>
