<template>
  <div class="component__search-auto">
    <pui-input
      v-model="inputValue"
      :label="$LOCALE(label)"
      :size="$IS_MOBILE?'small':'large'"
      :mobile="$IS_MOBILE"
      :show-dropdown="shown"
      :show-popup="showPopup"
      :popup-full-height="true"
      :popup-show-input="true"
      :editable="!$IS_MOBILE"
      :popup-button-disabled="!inputValue"
      @popup-input-focus="clear()"
      @hide-dropdown="hideDropdown"
      @hide-popup="hidePopup()"
      @cancel-popup="cancelPopup()"
      @click="handleClick()"
      @blur="handleBlur()"
      @keydown="typing"
    >
      <div v-if="!results.error" class="search-results">
        <div v-for="(itemGroup , key) in results" :key="key" class="search-results__item-group">
          <div v-for="(item) in itemGroup" :key="item.id" class="item" @click="chooseItem(item, key)">
            <img :src="$SHOW_ICON(item.id, item.class_id)">
            <div class="item-content">
              <p>{{ item.name }}</p>
              <span>{{ $LOCALE('ln_hotel_search_subtitle_' + key) }}</span>
            </div>
          </div>
        </div>
      </div>
    </pui-input>
  </div>
</template>
<script>
export default {
	props: {
		results: {
			type: [Object, Array],
			default() {
				return []
			}
		},
		label: {
			type: String,
			default: 'Service name'
		},
		itemName: {
			type: String,
			default: 'name'
		},
		itemId: {
			type: String,
			default: 'id'
		},
		itemSubtitle: {
			type: String,
			default: null
		},
		locationData: {
			type: String,
			default: 'id'
		},
		value: {
			type: [Number, Array, String],
			default: null
		}
	},
	data() {
		return {
			inputValue: this.value,
			localValue: this.value,
			shown: false,
			showPopup: false
		}
	},
	computed: {
		searchForm: {
			get() {
				return this.$store.state.hotel.searchForm
			},
			set(val) {
				this.$store.commit('hotel/SET_STATES', {
					searchForm: val
				})
			}
		},
		hotelServiceAutoValues: {
			get() { return this.$store.state.hotel.hotelServiceAutoValues },
			set(val) { this.$store.commit('hotel/SET_STATES', { hotelServiceAutoValues: val }) }
		}
	},
	watch: {
		inputValue(val) {
			this.$emit('input', val)
		},
		hotelServiceAutoValues(val) {
			console.log(val)
			const keys = Object.keys(val)
			keys.forEach((key) => {
				if (val[key] && val[key].length > 0) {
					this.shown = true
				}
			})
		}
	},
	created() {

	},
	methods: {
		typing(val) {
			// console.log('val', val)
			if (val && val.length > 2) {
				// console.log('search', val, val.length)
				this.searchQuery(val)
			} else {
				this.hotelServiceAutoValues = []
			}
		},
		chooseItem(item, type) {
			console.log('choseItem', item, type)
			this.inputValue = item.name
			if (type === 'services') {
				this.searchForm.name = item.name
			} else if (type === 'classes') {
				this.searchForm.name = null
				this.searchForm.dest = item.id
			}
			setTimeout(() => {
				this.hotelServiceAutoValues = []
				this.$emit('autosearch')
			}, 100)

			// // this.$emit('clear')
			// this.shown = false
			// this.localValue = item[this.itemName]
			// this.$emit('input', item[this.itemName])
		},
		clear() {
			console.log('clear')
			this.localValue = null
			this.inputValue = null
			this.searchForm.name = null
			this.searchForm.dest = null
			this.$emit('clear')
			this.$emit('input', null)
		},
		hideDropdown() {
			// console.log('hodeDropdown')
			this.shown = false
		},
		hidePopup() {
			console.log('hidePopup')
			this.showPopup = false
			this.$emit('clear')
		},
		cancelPopup() {
			console.log('cancelPopup')
			this.showPopup = false
			this.$emit('clear')
			this.localValue = null
			this.inputValue = null
		},
		handleClick() {
			this.searchForm.name = null
			this.searchForm.dest = null
			this.clear()
		},
		async searchQuery(query) {
			await this.$store.dispatch('hotel/HOTEL_SERVICE_AUTO', { search: this.inputValue })
		},
		handleBlur() {
			console.log('handleBlur')
			this.showPopup = true
			// setInterval(() => {
			// 	this.shown = false
			// }, 100)
		}
	}
}
</script>
<style lang="scss">
.component__search-auto{
	.search-results{
		.search-results__item-group{
			border-bottom: 1px solid $ice-blue;
			&:last-child{
				border-bottom: 0 solid;
			}
			.item{
				cursor: pointer;
				padding: 14px 12px;
				@include flex(row, flex-start, center);
				border-bottom: 1px solid $ice-blue;
				&:last-child{
					border-bottom: 0 solid;
				}
				img{
					width: 36px;
					height: 36px;
					margin-right: 12px;
				}
				.item-content{
					p{
						font-size: 14px;
						font-weight: 500;
						font-stretch: normal;
						font-style: normal;
						line-height: 1.43;
						letter-spacing: normal;
						color: $charcoal-grey;
					}
					span{
						display: inline-block;
						font-size: 12px;
						margin-top: 6px;
						font-weight: normal;
						font-stretch: normal;
						font-style: normal;
						line-height: 1.5;
						letter-spacing: normal;
						color: $grey-blue;
					}
				}
			}
		}
		// &__list{
		// 	&-item{
		// 		background-color: $white;
		// 		padding: 14px 16px;
		// 		cursor: pointer;
		// 		&:hover{
		// 			background-color: $pale;
		// 		}
		// 		&-title{
		// 			font-size: 14px;
		// 			font-weight: 500;
		// 			font-stretch: normal;
		// 			font-style: normal;
		// 			line-height: 1.43;
		// 			letter-spacing: normal;
		// 			color: $charcoal-grey;
		// 		}
		// 		&-subtitle{
		// 			font-size: 12px;
		// 			font-weight: normal;
		// 			font-stretch: normal;
		// 			font-style: normal;
		// 			line-height: 1.5;
		// 			letter-spacing: normal;
		// 			color: $grey-blue;
		// 		}
		// 	}
		// }
	}
}
</style>
