<template>
  <div class="component__daterange">
    <pui-input
      v-model="daterangeName"
      :size="$IS_MOBILE?'small':'large'"
      :label="$LOCALE(label)"
      suffix-icon="pui-calendar-ic"
      :editable="false"
      :mobile="$IS_MOBILE"
      :popup-full-height="true"
      :show-popup="showPopup"
      :popup-button-disabled="!daterange[0] || !daterange[1]"
      :popup-no-padding="true"
      @hide-popup="hidePopup()"
      @cancel-popup="cancelPopup()"
      @click="handleClick()"
    >
      <template v-slot:popup-header>
        <div class="daterange-mobile-header">
          <table>
            <thead>
              <tr>
                <th>{{ $LOCALE('ln_week_day_short_1') }}</th>
                <th>{{ $LOCALE('ln_week_day_short_2') }}</th>
                <th>{{ $LOCALE('ln_week_day_short_3') }}</th>
                <th>{{ $LOCALE('ln_week_day_short_4') }}</th>
                <th>{{ $LOCALE('ln_week_day_short_5') }}</th>
                <th>{{ $LOCALE('ln_week_day_short_6') }}</th>
                <th>{{ $LOCALE('ln_week_day_short_0') }}</th>
              </tr>
            </thead>
          </table>
        </div>
      </template>
      <div class="daterange-mobile-body">
        <pui-infinity-calendar v-model="daterange" />
      </div>
    </pui-input>
    <template v-if="!$IS_MOBILE">
      <el-date-picker
        v-if="type === 'daterange'"
        ref="daterange"
        v-model="daterange"
        type="daterange"
        format="dd-MM-yyyy"
        value-format="yyyy-MM-dd"
        :clearable="false"
        :picker-options="pickerOptions"
      />
      <el-date-picker
        v-else
        ref="daterange"
        v-model="date"
        type="date"
        format="dd-MM-yyyy"
        value-format="yyyy-MM-dd"
        :clearable="false"
        :picker-options="pickerOptions"
      />
    </template>
  </div>
</template>
<script>
export default {
	props: {
		value: {
			type: String,
			default: '2019-10-03,2020-04-05'
		},
		label: {
			type: String,
			default: 'ln_convenient_date_range'
		},
		type: {
			type: String,
			default: 'daterange'
		}
	},
	data() {
		return {
			date: null,
			showPopup: false,
			daterange: [],
			daterangeName: null,
			focused: false,
			pickerOptions: {
				disabledDate(time) {
					return time.getTime() < Date.now() - 1000 * 60 * 60 * 24
				},
				firstDayOfWeek: 1
			}
		}
	},
	watch: {
		daterange(val) {
			if (val.length === 2) {
				this.daterangeName = this.renderDate(val[0]) + ' - ' + this.renderDate(val[1])
			}
			try {
				this.$emit('input', val.join(','))
			} catch (err) {
				this.$emit('input', null)
			}
		},
		date(val) {
			console.log(val)
			if (val) {
				const now = this.$GET_DATE(new Date())
				if (now === val) {
					this.daterangeName = this.$LOCALE('ln_common_today')
				} else {
					this.daterangeName = this.renderDate(val)
				}
				this.$emit('input', val)
			} else {
				this.$emit('input', null)
			}
		}
	},
	created() {
		if (this.value) {
			if (this.type === 'daterange') {
				this.daterange = this.value.split(',')
			} else {
				this.date = this.value
			}
		}
	},
	methods: {
		renderDate(d) {
			let result = ''
			if (d) {
				const date = new Date(d)
				const day = date.getDate()
				const weekDay = date.getDay()
				const month = date.getMonth()
				result = day + ' ' + this.$MONTHES[month] + ', ' + this.$WEEK_DAYS[weekDay]
			} else {}
			return result
		},
		hidePopup() {
			this.showPopup = false
			if (!this.daterange.length || !this.daterange[1].length) {
				this.clear()
			}
		},
		cancelPopup() {
			this.showPopup = false
			this.clear()
		},
		handleClick() {
			this.clear()
			if (this.$IS_MOBILE || this.$WINDOW_LESS(575)) {
				this.showPopup = true
			} else {
				this.$refs.daterange.focus()
			}
		},
		clear() {
			this.daterangeName = null
			this.daterange = []
		}
	}
}
</script>
<style lang="scss">
.component__daterange{
	position: relative;
	.el-date-editor{
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: -99999;
		opacity: 0;
		width: 0;
		height: 0;
		overflow: hidden;
		padding: 0;
		border: 0 solid;
	}
	.daterange-mobile-header{
		padding: 47px 0 0;
		border-bottom: 1px solid $ice-blue;
		& > table{
			background: #fff;
			font-size: 13px;
			width: 100%;
			border-collapse: separate;
			table-layout: fixed;
			& > thead > tr > th{
				height: 30px;
				text-align: center;
				font-weight: 400;
				width: 14.28571%;
				vertical-align: middle;
				color: $grey-blue;
			}
		}
	}
	.daterange-mobile-body{
		padding: 0;
	}
}
</style>
