<template>
  <div class="component__search-days">
    <pui-input
      v-model="daysRendered"
      :size="$IS_MOBILE?'small':'large'"
      :label="$LOCALE('ln_duration_in_days')"
      suffix-icon="pui-chevrone-down-ic"
      :mobile="$IS_MOBILE"
      :show-dropdown="shown"
      :dropdown-scroll="false"
      :editable="false"
      :show-popup="showPopup"
      :popup-button-disabled="dayrange.length < 1"
      dropdown-width="264px"
      @hide-popup="showPopup = false"
      @cancel-popup="cancelPopup()"
      @hide-dropdown="hideDropdown"
      @click="handleClick()"
      @blur="handleBlur()"
    >
      <template v-slot:popup-header>
        <div class="text-h5">
          {{ $LOCALE('ln_number_of_days') }}
        </div>
        <span class="tips">{{ $LOCALE('ln_number_of_days_tips') }}</span>
      </template>
      <template v-if="!$IS_MOBILE">
        <div class="days-header">
          <div class="text-h5">
            {{ $LOCALE('ln_number_of_days') }}
          </div>
          <span class="tips">{{ $LOCALE('ln_number_of_days_tips') }}</span>
        </div>
      </template>
      <pui-dayrange v-model="dayrange" @complete="hideDropdown" />
    </pui-input>
  </div>
</template>
<script>
export default {
	props: {
		value: {
			type: Array,
			default() {
				return [1, 28]
			}
		}
	},
	data() {
		return {
			dayrange: this.value,
			shown: false,
			showPopup: false,
			daysRendered: null
		}
	},
	watch: {
		dayrange(val) {
			if (val.length > 0) {
				const begin = val[0]
				const end = val[1] || null
				this.daysRendered = this.renderDays(begin, end)
				if (begin && !end) {
					this.$emit('input', [begin, begin])
				} else if (begin && end) {
					this.$emit('input', [begin, end])
				}
			} else {
				this.shown = true
			}
		}
	},
	created() {
		if (this.$route.query.days) {
			this.dayrange = this.$route.query.days.split(',')
			this.daysRendered = this.renderDays(this.dayrange[0], this.dayrange[1])
		} else {
			this.daysRendered = this.renderDays(this.dayrange[0], this.dayrange[1])
		}
	},
	methods: {
		renderDays(begin, end) {
			let result = null
			if (begin) {
				if ((begin && !end) || begin === end) {
					result = begin + ' ' + this.$NUM_SUFFIX(begin, [
						this.$LOCALE('ln_day_days_0'),
						this.$LOCALE('ln_day_days_1'),
						this.$LOCALE('ln_day_days_2')
					])
				} else {
					result = this.$LOCALE('ln_from') + ' ' + begin + ' ' + this.$LOCALE('ln_to') + ' ' + end + ' ' + this.$LOCALE('ln_days')
				}
			}
			return result
		},
		hideDropdown() {
			this.shown = false
		},
		clear() {
			this.dayrange = []
			this.daysRendered = null
		},
		cancelPopup() {
			this.showPopup = false
			this.clear()
		},
		handleClick() {
			this.clear()
			if (this.$IS_MOBILE) {
				this.showPopup = true
			} else {
				this.shown = true
			}
		},
		handleBlur() {
			this.shown = false
		}
	}
}
</script>
<style lang="scss">
.component__search-days{
	position: relative;
	.days-header{
		padding: 16px;
	}
}
</style>
