<template>
  <div class="component__search-direction">
    <pui-input
      v-model="directionName"
      :label="$LOCALE('ln_direction_place')"
      :size="$IS_MOBILE?'small':'large'"
      :mobile="$IS_MOBILE"
      :show-dropdown="shown"
      :show-popup="showPopup"
      :editable="!$IS_MOBILE"
      :popup-full-height="true"
      :popup-button-disabled="!directionName"
      :popup-show-input="true"
      @popup-input-focus="clear()"
      @hide-dropdown="hideDropdown()"
      @hide-popup="hidePopup()"
      @cancel-popup="cancelPopup()"
      @click="handleClick()"
      @blur="handleBlur()"
    >
      <div class="direction-results">
        <div v-for="(group, key) in resultsFiltered" :key="key" class="results-group">
          <div class="group-title font-size-xs">
            {{ key }}
          </div>
          <div class="group-items">
            <div
              v-for="(item, keyItem) in group"
              :key="keyItem"
              class="group-item"
              :class="[
                activeItem(item.name)?'active':''
              ]"
              @click="chooseDirection(item.id, item.name)"
            >
              <div class="text-h6">
                {{ item.name }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </pui-input>
  </div>
</template>
<script>
export default {
	props: {
		value: {
			type: Number,
			default: 0
		}
	},
	data() {
		return {
			direction: this.value,
			countryNames: [],
			shown: false,
			showPopup: false
		}
	},
	computed: {
		directionName: {
			get() { return this.$store.state.search.directionName },
			set(val) { this.$store.commit('search/SET_STATES', { directionName: val }) }
		},
		countryNamesObject() {
			const obj = {}
			this.countryNames.forEach((el) => {
				obj[el.val] = el.title
			})
			return obj
		},
		resultsFiltered() {
			const data = this.__directions.filter((el) => {
				if (this.directionName) {
					return el.name.toLowerCase().includes(this.directionName.toLowerCase())
				} else {
					return el
				}
			})
			const resultsFiltered = {
				'All': [
					{
						id: 0,
						country: 'All',
						name: this.$LOCALE('ln_all_directions')
					}
				]
			}
			data.forEach((el) => {
				if (resultsFiltered[el.country]) {
					resultsFiltered[el.country].push(el)
				} else {
					resultsFiltered[el.country] = []
					resultsFiltered[el.country].push(el)
				}
			})
			return resultsFiltered
		}
	},
	watch: {
		// direction(val){}
		// directionName(val) {
		// 	if (Object.keys(this.resultsFiltered).length > 0) {
		// 		this.shown = true
		// 	} else {
		// 		this.shown = false
		// 	}
		// }
	},
	created() {
		this.init()
	},
	methods: {
		async init() {
			if (this.__directions.length === 0) {
				await this.$store.dispatch('GET_DIRECTIONS')
			}
			try {
				this.directionName = this.__directionsObject[this.direction].name
			} catch (err) {
				console.log(err)
				this.directionName = this.$LOCALE('ln_all_directions')
			}
		},
		activeItem(name) {
			return (name === this.directionName)
		},
		hideDropdown() {
			this.shown = false
		},
		hidePopup() {
			this.showPopup = false
		},
		cancelPopup() {
			this.showPopup = false
			this.direction = 0
			this.directionName = this.$LOCALE('ln_all_directions')
		},
		clear() {
			this.direction = null
			this.$emit('input', this.direction)
			this.directionName = null
		},
		// handleFocus() {
		// 	this.shown = true
		// },
		handleBlur() {
			// this.shown = false
		},
		handleClick() {
			this.clear()
			this.showPopup = true
			this.shown = true
		},
		async getCountryName(code) {
			await this.$axios.$get('/api/v1.0/library/country/' + code).then((res) => {
				this.countryNames.push(res)
			}).catch((e) => {
				console.log(e)
			})
		},
		chooseDirection(id, name) {
			this.direction = id
			this.$emit('input', this.direction)
			this.directionName = name
			this.shown = false
		}
	}
}
</script>
<style lang="scss">
.component__search-direction{
	position: relative;
}
</style>
