<template>
  <div
    class="component__search-excursion-form"
    :class="[['lang', 'lang-hotel'].indexOf($route.name) < 0 && !$IS_MOBILE?'instring':'']"
  >
    <el-form :model="form" :status-icon="true">
      <div class="search-excursion-form-inner">
        <div class="search-tour-form-direction">
          <vue-search-direction v-model="direction" />
        </div>
        <div class="search-tour-form-daterange">
          <vue-search-daterange v-model="daterange" :label="daterangeLabel" :type="subdomain === 'hotel'?'date':'daterange'" />
        </div>
        <div class="search-tour-form-people">
          <vue-search-people v-model="people" />
        </div>
      </div>
    </el-form>
    <div class="form-button">
      <pui-button
        :size="$FORM_BUTTON_SIZE"
        icon="pui-arrow-right-ic"
        shadow
        :type="['pilgrim', 'piligrim'].indexOf(subdomain) >= 0?'sand':'blue'"
        :fluid="$IS_MOBILE"
        @click="searchSubmit()"
      >
        {{ $LOCALE('ln_search_tours_alt') }}
      </pui-button>
    </div>
  </div>
</template>
<script>
import { mapState } from 'vuex'
import VueSearchDirection from '@/components/Search/Direction'
import VueSearchDaterange from '@/components/Search/Daterange'
import VueSearchPeople from '@/components/Search/People'
export default {
	components: {
		VueSearchDirection,
		VueSearchDaterange,
		VueSearchPeople
	},
	data() {
		return {
		}
	},
	computed: {
		...mapState(['language', 'subdomain']),
		...mapState('hotel', ['hotel']),
		...mapState(['subdomain']),
		...mapState('search', ['pager', 'chosenTabType', 'type', 'limit', 'tags']),
		form() {
			return {
				direction: this.direction,
				daterange: this.daterange,
				people: this.people
			}
		},
		direction: {
			get() { return this.$store.state.search.dest },
			set(val) { this.$store.commit('search/SET_STATES', { dest: val }) }
		},
		daterange: {
			get() { return this.$store.state.search.date },
			set(val) { this.$store.commit('search/SET_STATES', { date: val }) }
		},
		days: {
			get() { return this.$store.state.search.days },
			set(val) { this.$store.commit('search/SET_STATES', { days: val }) }
		},
		people: {
			get() {
				return {
					adults: this.$store.state.search.adults,
					children: this.$store.state.search.children
				}
			},
			set(val) {
				this.$store.commit('search/SET_STATES', {
					adults: val.adults,
					children: val.children
				})
			}
		},
		daterangeLabel() {
			if (this.subdomain === 'hotel') {
				return 'ln_common_choose_date'
			} else {
				return 'ln_convenient_date_range'
			}
		}
	},
	created() {
		this.prepareStates()
	},
	methods: {
		prepareStates(variabled) {
			let children = []
			// PREPARE DATES
			let beginDate = new Date().setDate(new Date().getDate() + 1)
			let endDate = new Date(beginDate).setMonth(new Date(beginDate).getMonth() + 6)
			beginDate = this.$GET_DATE(beginDate)
			endDate = this.$GET_DATE(endDate)
			const date = beginDate + ',' + endDate
			try {
				children = this.$route.query.children.split(',')
				children = children.filter((el) => {
					return el.length > 0
				})
				children = children.map((el) => {
					return { age: el }
				})
			} catch (err) {}
			// prepare hotel xcursion form
			const hotelXcursionForm = {
				dest: null,
				date: null
			}
			if (this.subdomain === 'hotel') {
				hotelXcursionForm.dest = 1
				const now = new Date()
				const lastDate = new Date()
				lastDate.setDate(lastDate.getDate() + 3)
				hotelXcursionForm.date = this.$GET_DATE(now)
			}

			const states = {
				dest: parseInt(this.$route.query.dest) || hotelXcursionForm.dest || 0,
				date: this.$route.query.date || hotelXcursionForm.date || date,
				adults: parseInt(this.$route.query.adults) || 1,
				children: children || []
				// type: 'xcursion'
			}
			this.$store.commit('search/SET_STATES', states)
			if (variabled) {
				try { states.days = states.days.join(',') } catch (err) {}
				return states
			}
		},
		async searchSubmit() {
			let children = this.people.children
			children = children.map((el) => {
				return el.age
			})
			children = children.join(',')

			if (this.subdomain === 'hotel') {
				const query = {
					dest: this.direction,
					date: this.daterange,
					adults: this.people.adults,
					children: children
				}
				this.$router.push({
					path: '/' + this.language + '/' + this.$route.params.hotel + '/search',
					query: query
				})
				if (this.$route.name === 'lang-hotel-search') {
					await this.$store.commit('loading/SET_LOADING', true)
					await this.$store.dispatch('hotel/HOTEL_XCURSION_SEARCH', { hotel: this.hotel.slug, query })
					// const partnersQuery = query
					// partnersQuery.limit = null
					// await this.$store.dispatch('search/GET_ACTIVE_PARTNERS', partnersQuery)
					await this.$store.commit('loading/SET_LOADING', false)
				}
			} else {
				const query = {
					page: 1,
					limit: this.limit,
					dest: this.direction,
					date: this.daterange,
					adults: this.people.adults,
					children: children,
					partners: '',
					type: 'xcursion',
					tags: this.tags
				}

				const filters = {
					filterPartners: []
				}
				this.$cookies.set('filters', filters)
				await this.$store.commit('search/SET_STATES', filters)
				this.$router.push({
					path: '/' + this.language + '/search',
					query: query
				})
				if (this.$route.name === 'lang-search') {
					await this.$store.commit('loading/SET_LOADING', true)
					await this.$store.dispatch('search/SEARCH', query)
					const partnersQuery = query
					partnersQuery.limit = null
					await this.$store.dispatch('search/GET_ACTIVE_PARTNERS', partnersQuery)
					await this.$store.commit('loading/SET_LOADING', false)
				}
				this.$store.commit('search/SET_STATES', {
					type: 'xcursion',
					pagetitleEnding: this.$NUM_SUFFIX(this.pager.total, [
						this.$LOCALE(`ln_search_title_endings_${this.type}_0`),
						this.$LOCALE(`ln_search_title_endings_${this.type}_1`),
						this.$LOCALE(`ln_search_title_endings_${this.type}_2`)
					])
				})
			}
			if (this.$IS_MOBILE) {
				await this.$store.commit('search/SET_STATES', { dialogShown: false })
			}
		}
	}
}
</script>
<style lang="scss">
.component__search-excursion-form{
	width: 100%;
	&.instring{
		@media(min-width: $xs){
			@include flex(row, flex-start, flex-start);
			.search-excursion-form-inner{
				& > div{
					margin-bottom: 0;
					padding: 0 4px;
				}
			}
			.form-button{
				padding-bottom: 0;
				padding-left: 4px;
				.pui-button{
					margin-top: 0;
					box-shadow: none;
					min-width: 84px;
					span{
						display: none;
					}
					i{
						margin-left: 0;
					}
				}
			}
		}
	}
	.form-button{
		@include flex(row, center, center);
		// padding: 0 0 30px;
		.pui-button{
			margin-top: 20px;
			// box-shadow: 0 2px 12px 0 rgba(45, 120, 230, 0.56);
		}
	}
	.search-excursion-form-inner{
		@include flex(row, flex-start, flex-start);
		flex-wrap: wrap;
		& > div{
			margin-bottom: 10px;
			padding: 0 5px;
			&.search-tour-form-direction{
				width: 33.3%;
				order: 1;
				@media (max-width: $md){
					width: 50%;
					order: 1;
				}
				@media (max-width: $xs){
					width: 100%;
					padding: 0;
				}
			}
			&.search-tour-form-daterange{
				width: 33.3%;
				order: 3;
				@media (max-width: $md){
					width: 100%;
					padding: 0;
					order: 3;
				}
				@media (max-width: $xs){
					width: 100%;
					padding: 0;
					order: 3;
				}
			}
			&.search-tour-form-people{
				width: 33.3%;
				order: 4;
				// @media (max-width: $lg){
				// 	width: 28%;
				// 	order: 3;
				// }
				@media (max-width: $md){
					width: 50%;
					padding: 0 0 0 5px;
					order: 2;
				}
				@media (max-width: $xs){
					width: 100%;
					padding: 0;
				}
			}
		}
	}
}
</style>
