<template>
  <div
    class="component__search-form"
    :class="[$route.name !== 'index'?'search-form--notindex':'']"
  >
    <pui-tabs-slider v-model="searchFormActiveTab" :tabs="tabs" :color="tabsColor" @click="clickTab($event)" />
    <button v-if="$route.name !== 'lang' && $IS_MOBILE" class="search-input--mobile" @click="dialogShown = true">
      <i class="pui-search-ic" />
      <span>{{ $LOCALE('ln_search_form_title') }}</span>
    </button>
    <component :is="searchFormActiveTab" v-else />
    <el-dialog
      :visible.sync="dialogShown"
      :title="$LOCALE(dialogTitle)"
      custom-class="search-dialog"
      fullscreen
    >
      <component :is="searchFormActiveTab" />
    </el-dialog>
  </div>
</template>
<script>
import { mapState } from 'vuex'
import VueSearchTourForm from '@/components/Search/TourForm'
import VueSearchExcursionForm from '@/components/Search/ExcursionForm'
import VueSearchTicketForm from '@/components/Search/TicketForm'
import VueSearchServiceForm from '@/components/Search/ServiceForm'
import VueSearchPilgrimForm from '@/components/Search/PilgrimForm'
export default {
	components: {
		VueSearchTourForm,
		VueSearchExcursionForm,
		VueSearchTicketForm,
		VueSearchServiceForm,
		VueSearchPilgrimForm
	},
	data() {
		return {
			mobileInput: 'Some'
		}
	},
	computed: {
		...mapState('search', ['type', 'chosenTabType']),
		...mapState(['subdomain']),
		searchFormActiveTab: {
			get() { return this.$store.state.search.searchFormActiveTab },
			set(val) { this.$store.commit('search/SET_STATES', { searchFormActiveTab: val }) }
		},
		dialogTitle() {
			let title = 'Поиск'
			this.tabs.every((el) => {
				if (el.value === this.searchFormActiveTab) {
					title = el.title
					return false
				} else {
					return true
				}
			})
			return title
		},
		dialogShown: {
			get() { return this.$store.state.search.dialogShown },
			set(val) { this.$store.commit('search/SET_STATES', { dialogShown: val }) }
		},
		tabs() {
			if (this.subdomain === 'hotel') {
				return [
					{ name: 'service', value: 'VueSearchServiceForm', title: 'ln_common_search_services' },
					{ name: 'xcursion', value: 'VueSearchExcursionForm', title: 'ln_common_xcursions' }
				]
			} else if (this.subdomain === 'pilgrim' || this.subdomain === 'piligrim') {
				return [
					{ name: 'tour', value: 'VueSearchPilgrimForm', title: 'ln_common_tours' },
					{ name: 'xcursion', value: 'VueSearchExcursionForm', title: 'ln_common_xcursions' },
					{ name: 'ticket', value: 'VueSearchTicketForm', title: 'ln_common_tickets' }
				]
			} else {
				return [
					{ name: 'tour', value: 'VueSearchTourForm', title: 'ln_common_tours' },
					{ name: 'xcursion', value: 'VueSearchExcursionForm', title: 'ln_common_xcursions' },
					{ name: 'ticket', value: 'VueSearchTicketForm', title: 'ln_common_tickets' }
				]
			}
		},
		tabsColor() {
			const pilgrimDomains = ['pilgrim', 'piligrim']
			if (pilgrimDomains.indexOf(this.subdomain) >= 0) {
				return '#e8b65f'
			} else {
				return '#4592ff'
			}
		}
	},
	watch: {
		searchFormActiveTab(val) {
			let tab = this.tabs.filter((el) => {
				return el.value === val
			})
			if (tab.length === 0) {
				tab = [{ name: 'tour', value: 'VueSearchTourForm', title: 'Поиск туров' }]
			}
			this.$store.commit('search/SET_STATES', {
				type: tab[0].name
			})
		}
	},
	created() {
		// if(this.chosenTabType)
		if (this.subdomain === 'hotel' && (this.$route.name === 'lang-hotel-xcursions' || this.$route.name === 'lang-hotel-search')) {
			this.searchFormActiveTab = 'VueSearchExcursionForm'
		} else if (this.subdomain === 'hotel') {
			this.searchFormActiveTab = this.$cookies.get('searchForm') || 'VueSearchServiceForm'
		} else if (this.subdomain === 'pilgrim' || this.subdomain === 'piligrim') {
			this.searchFormActiveTab = 'VueSearchPilgrimForm'
		} else {
			this.searchFormActiveTab = 'VueSearchTourForm'
		}

		try {
			this.searchFormActiveTab = this.tabs.filter((el) => { return el.name === this.$route.query.type })[0].value
		} catch (err) { console.log(err) }
		// if (this.$cookies.get('formTab')) {
		// 	this.searchFormActiveTab = this.$cookies.get('formTab')
		// } else {
		// 	this.searchFormActiveTab = 'VueSearchTourForm'
		// 	this.$cookies.set('formTab', this.searchFormActiveTab)
		// }
	},
	methods: {
		clickTab(val) {
			console.log('val', val)
			if (['VueSearchExcursionForm', 'VueSearchServiceForm'].indexOf(val) >= 0 && this.subdomain === 'hotel') {
				this.$cookies.set('searchForm', val)
				this.$router.push({
					path: '/' + this.__language + '/' + this.$route.params.hotel
				})
			}
		}
	}
}
</script>
<style lang="scss">
.component__search-form{
    background-color: #fff;
	border-radius: 6px;
	padding: 28px 30px 36px;
	box-shadow: 0 2px 40px 0 rgba(28, 74, 115, 0.23);
	position: relative;
	@include flex(column, flex-start, flex-start);
	&.search-form--notindex{
		padding-bottom: 32px;
		@media(max-width: $xs){
			padding-bottom: 24px;
		}
	}
    @media(max-width: $xs){
        padding: 12px 12px 24px;
    }
	.search-input--mobile{
		background-color: $pale-grey;
		border: 0px solid;
		border-radius: 5px;
		width: 100%;
		text-align: left;
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.43;
		letter-spacing: normal;
		padding: 16px 10px;
		i{
			margin-right: 10px;
			color: $grey-blue;
		}
		span{
			color: $grey-blue;
		}
		div{

		}
	}
}
.search-dialog{
	.el-dialog__header{
		padding-top: 20px !important;
	}
	.el-dialog__title{
		font-size: 16px;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.38;
		letter-spacing: normal;
	}
}
</style>
