<template>
  <div class="component__search_hotel-name">
    <pui-input
      v-model="hotelName"
      :size="$IS_MOBILE?'small':'large'"
      :label="$LOCALE('ln_hotel_search_form_input_hotel_name')"
      @focus="openDialog()"
    />
  </div>
</template>
<script>
export default {
	components: {

	},
	props: {
		value: {
			type: String,
			default: null
		}
	},
	data() {
		return {}
	},
	computed: {
		hotelName: {
			get() {
				return this.value
			},
			set(val) {
				this.$emit('input', val)
			}
		}
	},
	methods: {
		async openDialog() {
			await this.$store.dispatch('hotel/GET_HOTELS')
			this.$store.commit('hotel/SET_STATES', {
				hotelDialogShown: true
			})
		}
	}
}
</script>
