<template>
  <div class="component__search-location">
    <pui-input
      v-model="locationName"
      :label="label"
      :size="$IS_MOBILE?'small':'large'"
      :mobile="$IS_MOBILE"
      :show-dropdown="shown"
      :show-popup="showPopup"
      :popup-full-height="true"
      :popup-show-input="true"
      :editable="!$IS_MOBILE"
      :popup-button-disabled="!location"
      @popup-input-focus="clear()"
      @hide-dropdown="hideDropdown"
      @hide-popup="hidePopup()"
      @cancel-popup="cancelPopup()"
      @click="handleClick()"
      @blur="handleBlur()"
    >
      <div class="location-results">
        <div v-for="(group, key) in results" :key="key" class="results-group">
          <div class="group-title font-size-xs">
            {{ group.name }}
          </div>
          <div class="group-items">
            <div
              v-for="(item, keyItem) in group.children"
              :key="keyItem"
              class="group-item"
              :class="[
                locationName === item.children[0].name?'active':''
              ]"
              @click="chooseLocation(item.children[0])"
            >
              <div class="text-h6">
                {{ item.children[0].name }}
              </div>
              <span class="font-size-xs">{{ item.name }}</span>
            </div>
          </div>
        </div>
      </div>
    </pui-input>
  </div>
</template>
<script>
export default {
	props: {
		label: {
			type: String,
			default: 'Location'
		},
		// locationData - to choose wich type of data you want to get from chosen location, possible values are id or geopoint ([lat,lon])
		locationData: {
			type: String,
			default: 'id'
		},
		value: {
			type: [Number, Array],
			default: null
		}
	},
	data() {
		return {
			locationName: null,
			location: this.value,
			results: [],
			shown: false,
			showPopup: false
		}
	},
	watch: {
		results(val) {
			if (val.length > 0) {
				this.shown = true
			} else {
				this.shown = false
			}
		},
		locationName(val) {
			this.$emit('change-name', val)
			if (val) {
				if (val.length >= 2 && !this.location) {
					this.searchQuery(val)
				}
			}
		}
	},
	created() {
		if (this.location) {
			this.getLocationByID(this.$route.query.loc).then((res) => {
				this.locationName = res.name
			})
		}
	},
	methods: {
		clear() {
			this.location = null
			this.locationName = null
			this.results = []
			this.$emit('input', null)
		},
		hideDropdown() {
			this.shown = false
			if (!this.location) {
				this.locationName = null
			}
		},
		hidePopup() {
			this.showPopup = false
			this.results = []
		},
		cancelPopup() {
			this.showPopup = false
			this.results = []
			this.locationName = null
			this.location = null
		},
		handleClick() {
			this.shown = true
			this.showPopup = true
			this.clear()
		},
		async searchQuery(query) {
			await this.$axios.$get('/api/v1.0/library/geopoint/auto?search=' + query).then((res) => {
				try {
					this.results = res
				} catch (err) {
					this.results = []
				}
			}).catch((e) => {
				console.log(e)
			})
		},
		chooseLocation(location) {
			if (this.locationData === 'geopoint') {
				this.location = [location.lat, location.lon]
			} else {
				this.location = location.id
			}
			this.locationName = location.name
			this.shown = false
			this.$emit('input', this.location)
		},
		async getLocationByID(id) {
			const promise = await new Promise((resolve) => {
				this.$axios.$get('https://rest.palmarius.org:10443/api/v1.0/library/geopoint/' + this.$route.query.loc).then((res) => {
					resolve(res)
				}).catch((e) => { console.log(e) })
			})
			return promise
		},
		handleBlur() {
			// setInterval(() => {
			// 	this.shown = false
			// }, 100)
		}
	}
}
</script>
<style lang="scss">
.component__search-location{
	position: relative;
}
</style>
