<template>
  <div class="component__search-people">
    <pui-input
      v-model="peopleName"
      :size="$IS_MOBILE?'small':'large'"
      :label="$LOCALE('ln_person_in_trip')"
      suffix-icon="pui-chevrone-down-ic"
      :show-dropdown="shown"
      :editable="false"
      :mobile="$IS_MOBILE"
      :show-popup="showPopup"
      dropdown-position="right"
      @hide-popup="showPopup = false"
      @cancel-popup="showPopup = false"
      @hide-dropdown="hideDropdown"
      @click="handleClick()"
    >
      <div class="people-dropdown">
        <div class="people-item people-adults">
          <div class="text-h6">
            {{ $LOCALE('ln_adults') }}
          </div>
          <el-input-number v-model="adults" size="small" :min="1" @focus="$REMOVE_FOCUS()" />
        </div>
        <div class="people-item people-children">
          <div class="text-h6">
            {{ $LOCALE('ln_children') }}
          </div>
          <el-input-number v-model="children" size="small" :min="0" @focus="$REMOVE_FOCUS()" />
        </div>
        <div v-if="childrenList.length" class="people-children-list">
          <div v-for="(child, key) in childrenList" :key="key" class="children-item">
            <div class="text-h6">
              {{ $LOCALE('ln_age_of_child') }}
            </div>
            <el-select
              v-if="!$IS_MOBILE"
              v-model="child.age"
              size="mini"
              @input="(age) => changeChildAge(child, age)"
              @focus="$REMOVE_FOCUS"
              @visible-change="$REMOVE_FOCUS"
            >
              <el-option
                v-for="(age) in agesLocal"
                :key="age.value"
                :value="age.value"
                :label="age.label"
              />
            </el-select>
            <div v-else class="native-select-wrapper">
              <select v-model="child.age" class="native-select" @input="(age) => changeChildAge(child, age)">
                <option
                  v-for="(age) in agesLocal"
                  :key="age.value"
                  :value="age.value"
                  :label="age.label"
                >
                  {{ age.label }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </pui-input>
  </div>
</template>
<script>
export default {
	props: {
		value: {
			type: Object,
			default() {
				return {
					adults: 1,
					children: []
				}
			}
		}
	},
	data() {
		return {
			shown: false,
			showPopup: false,
			peopleName: null,
			adults: this.value.adults,
			children: this.value.children.length,
			// делаем deep clone чтобы избежать случайной мутации внешнего объекта
			childrenList: this.value.children.map(ch => ({ ...ch })),
			agesLocal: [
				{ label: `1-23 ${this.$LOCALE('ln_monthes_acronim')}`, value: 1 },
				{ label: `2 ${this.$LOCALE('ln_year_years_1')}`, value: 2 },
				{ label: `3 ${this.$LOCALE('ln_year_years_1')}`, value: 3 },
				{ label: `4 ${this.$LOCALE('ln_year_years_1')}`, value: 4 },
				{ label: `5 ${this.$LOCALE('ln_year_years_2')}`, value: 5 },
				{ label: `6 ${this.$LOCALE('ln_year_years_2')}`, value: 6 },
				{ label: `7 ${this.$LOCALE('ln_year_years_2')}`, value: 7 },
				{ label: `8 ${this.$LOCALE('ln_year_years_2')}`, value: 8 },
				{ label: `9 ${this.$LOCALE('ln_year_years_2')}`, value: 9 },
				{ label: `10 ${this.$LOCALE('ln_year_years_2')}`, value: 10 },
				{ label: `11 ${this.$LOCALE('ln_year_years_2')}`, value: 11 },
				{ label: `12 ${this.$LOCALE('ln_year_years_2')}`, value: 12 },
				{ label: `13 ${this.$LOCALE('ln_year_years_2')}`, value: 13 },
				{ label: `14 ${this.$LOCALE('ln_year_years_2')}`, value: 14 },
				{ label: `15 ${this.$LOCALE('ln_year_years_2')}`, value: 15 },
				{ label: `16 ${this.$LOCALE('ln_year_years_2')}`, value: 16 },
				{ label: `17 ${this.$LOCALE('ln_year_years_2')}`, value: 17 }
			]
		}
	},
	watch: {
		adults(val) {
			const people = {
				adults: this.adults,
				children: this.childrenList
			}
			this.setPeopleName()
			this.$emit('input', people)
		},
		children(newVal, oldVal) {
			if (newVal < oldVal) {
				this.childrenList.pop()
			} else {
				this.childrenList.push({ age: 1 })
			}
			const people = {
				adults: this.adults,
				children: this.childrenList
			}
			this.setPeopleName()
			this.$emit('input', people)
		}
	},
	created() {
		this.setPeopleName()
	},
	methods: {
		changeChildAge(child, age) {
			// child.age = age
			this.$emit('input', {
				adults: this.adults,
				children: this.childrenList
			})
		},
		setPeopleName() {
			const adults = this.adults + ' ' + this.$LOCALE('ln_adults_acronim')
			const children =
        ' ' + this.children + ' ' + this.$LOCALE('ln_children_acronim')
			if (this.children > 0) {
				this.peopleName = adults + children
			} else {
				this.peopleName = adults
			}
		},
		clear() {},
		hideDropdown() {
			this.shown = false
		},
		handleClick() {
			this.clear()
			if (this.$IS_MOBILE) {
				this.showPopup = true
			} else {
				this.shown = true
			}
		},
		onClose() {
			this.shown = false
		}
	}
}
</script>
<style lang="scss">
.component__search-people {
  .people-dropdown {
    padding: 24px 16px;
    .people-item {
      margin-bottom: 24px;
      @include flex(row, space-between, center);
      &:last-child {
        margin-bottom: 0;
      }
      &.people-adults {
      }
      &.people-children {
      }
    }
    .people-children-list {
      .children-item {
        @include flex(row, space-between, center);
        margin-bottom: 12px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
</style>
