<template>
  <div
    class="component__search-service-form"
    :class="[['lang', 'lang-hotel'].indexOf($route.name) < 0 && !$IS_MOBILE?'instring':'']"
  >
    <el-form :model="searchForm" :status-icon="true">
      <div class="search-service__inner">
        <div class="search-service-form__hotel-name">
          <vue-search-hotel-name v-model="hotel.full_name" />
        </div>
        <div class="search-service-form__service-name">
          <vue-search-auto
            v-model="searchForm.name"
            item-id="class_id"
            :item-subtitle="$LOCALE('ln_hotel_services')"
            label="ln_hotel_search_form_input_service_name"
            :results="hotelServiceAutoValues"
            item-group
            @clear="clearService()"
            @autosearch="searchSubmit()"
          />
        </div>
        <div class="search-service-form__daterange">
          <vue-search-daterange v-model="searchForm.daterange" type="date" label="ln_common_choose_date" />
        </div>
      </div>
    </el-form>
    <div class="form-button">
      <pui-button
        :size="$FORM_BUTTON_SIZE"
        icon="pui-arrow-right-ic"
        shadow
        type="blue"
        :fluid="$IS_MOBILE"
        @click="searchSubmit()"
      >
        {{ $LOCALE('ln_hotel_search_form_submit_button') }}
      </pui-button>
    </div>
  </div>
</template>
<script>
import VueSearchHotelName from '@/components/Search/HotelName'
import VueSearchAuto from '@/components/Search/Auto'
import VueSearchDaterange from '@/components/Search/Daterange'
export default {
	components: {
		VueSearchHotelName,
		VueSearchAuto,
		VueSearchDaterange
	},
	data() {
		return {

		}
	},
	computed: {
		hotelServiceAutoValues: {
			get() { return this.$store.state.hotel.hotelServiceAutoValues },
			set(val) { this.$store.commit('hotel/SET_STATES', { hotelServiceAutoValues: val }) }
		},
		hotel: {
			get() {
				return this.$store.state.hotel.hotel
			},
			set(val) {
				this.$store.commit('hotel/SET_STATES', {
					hotel: val
				})
			}
		},
		searchForm: {
			get() {
				return this.$store.state.hotel.searchForm
			},
			set(val) {
				this.$store.commit('hotel/SET_STATES', {
					searchForm: val
				})
			}
		}
	},
	created() {
		const now = new Date()
		// const lastDate = new Date()
		// lastDate.setDate(lastDate.getDate() + 3)
		this.searchForm.daterange = this.$GET_DATE(now)
		if (this.$route.query.name) {
			this.searchForm.name = this.$route.query.name
		}
		//  + ',' + this.$GET_DATE(lastDate)
	},
	methods: {
		clearService() {
			this.hotelServiceAutoValues = []
		},
		async searchSubmit() {
			await this.$store.commit('search/SET_STATES', { dialogShown: false })
			// await this.$store.dispatch('hotel/HOTEL_SERVICE_SEARCH')
			const path = '/' + this.__language + '/' + this.hotel.slug + '/service/search'
			const query = {}
			if (this.searchForm.dest) {
				query.dest = this.searchForm.dest
			} else {
				query.name = this.searchForm.name
			}
			this.$router.push({
				path,
				query
			})
			if (this.$route.name === 'lang-hotel-service-search') {
				this.$store.commit('loading/SET_LOADING', true)
				await this.$store.dispatch('hotel/HOTEL_SERVICE_SEARCH', { query, hotel: this.hotel.slug }).then(() => {
					this.$store.commit('loading/SET_LOADING', false)
				})
			}
		}
	}
}
</script>
<style lang="scss">
.component__search-service-form{
  width: 100%;
  &.instring{
		@media(min-width: $xs){
			@include flex(row, flex-start, flex-start);
			.search-service__inner{
				& > div{
					margin-bottom: 0;
					padding: 0 4px;
				}
			}
			.form-button{
				width: auto;
				margin-top: 0;
				padding-bottom: 0;
				padding-left: 4px;
				.pui-button{
					margin-top: 0;
					box-shadow: none;
					min-width: 84px;
					span{
						display: none;
					}
					i{
						margin-left: 0;
					}
				}
			}
		}
	}
  .el-form{
    width: 100%;
    .search-service__inner{
		@include flex(row, flex-start, center);
		flex-wrap: wrap;
		& > div{
			padding: 0 4px;
			@media(max-width: $xs){
				width: 100% !important;
				margin-bottom: 12px;
			}
		}
	}

    .search-service-form__hotel-name{
      width: 40%;
    }
    .search-service-form__service-name{
      width: 30%;
    }
    .search-service-form__daterange{
      width: 30%;
    }

  }
  .form-button{
      margin-top: 36px;
      width: 100%;
      @include flex(row, center, center);
      @media(max-width: $xs){
        margin-top: 8px;
      }
    }
}
</style>
