<template>
  <div class="component__search-ticket-form" :class="[['lang', 'lang-hotel'].indexOf($route.name) < 0 && !$IS_MOBILE?'instring':'']">
    <el-form ref="form" :model="form" :rules="formRules">
      <div class="search-ticket-form-inner">
        <div class="search-ticket-form-location">
          <el-form-item prop="fromName">
            <vue-search-location v-model="form.from" :label="$LOCALE('ln_departure_city')" location-data="geopoint" @change-name="form.fromName = $event" />
          </el-form-item>
        </div>
        <div class="search-ticket-form-direction">
          <el-form-item prop="toName">
            <vue-search-location v-model="form.to" :label="$LOCALE('ln_final_destination')" location-data="geopoint" @change-name="form.toName = $event" />
          </el-form-item>
        </div>
        <div class="search-ticket-form-daterange">
          <el-form-item prop="date">
            <vue-search-daterange v-model="form.date" />
          </el-form-item>
        </div>
        <div class="search-ticket-form-people">
          <el-form-item>
            <vue-search-people v-model="form.people" :ages="childrenAges" />
          </el-form-item>
        </div>
      </div>
    </el-form>
    <div class="form-button">
      <pui-button
        :size="$FORM_BUTTON_SIZE"
        shadow
        icon="pui-arrow-right-ic"
        :type="['pilgrim', 'piligrim'].indexOf(subdomain) >= 0?'sand':'blue'"
        :fluid="$IS_MOBILE"
        @click="handleSubmit()"
      >
        {{ $LOCALE('ln_search_tickets') }}
      </pui-button>
    </div>
  </div>
</template>
<script>
import { mapState } from 'vuex'
import VueSearchLocation from '@/components/Search/Location'
import VueSearchDaterange from '@/components/Search/Daterange'
import VueSearchPeople from '@/components/Search/People'
export default {
	components: {
		VueSearchLocation,
		VueSearchDaterange,
		VueSearchPeople
	},
	data() {
		return {
			form: {
				from: null,
				fromName: null,
				to: null,
				toName: null,
				date: null,
				people: {
					adults: 1,
					children: []
				}
			},
			formRules: {
				fromName: [
					{ required: true, message: this.$LOCALE('ln_field_required'), trigger: ['blur'] }
				],
				toName: [
					{ required: true, message: this.$LOCALE('ln_field_required'), trigger: ['blur'] }
				],
				date: [
					{ required: true, message: this.$LOCALE('ln_field_required'), trigger: ['blur'] }
				]
			},
			childrenAges: [
				{ label: '2-11', value: 2, syntax: 5 }
			]
		}
	},
	computed: {
		...mapState(['subdomain'])
	},
	created() {
		if (this.$route.query.adults) {
			this.form.people.adults = parseInt(this.$route.query.adults)
		}
		if (this.$route.query.children) {
			let children = []
			try {
				children = this.$route.query.children.split(',')
			} catch (err) {}
			children.forEach((el) => {
				const elInt = parseInt(el)
				if (elInt > 1) {
					this.form.people.children.push({ age: 2 })
				} else {
					this.form.people.children.push({ age: elInt })
				}
			})
		}
	},
	methods: {
		handleSubmit() {
			this.$refs.form.validate((valid) => {
				if (valid) {
					this.submitForm()
				} else {
					return false
				}
			})
		},
		submitForm() {
			let children = ''
			if (this.form.people.children.length > 0) {
				children = this.form.people.children.map(el => el.age).join(',')
			}
			this.$SET_PHALCON_URL(`https://ru.palmarius.org/tickets&from=${this.form.from.join(',')}&to=${this.form.to.join(',')}&date=${this.form.date}&adults=${this.form.people.adults}&children=${children}`)
		}
	}
}
</script>
<style lang="scss">
.component__search-ticket-form{
	width: 100%;
	&.instring{
		@media(min-width: $xs){
			@include flex(row, flex-start, flex-start);
			.search-ticket-form-inner{
				& > div{
					margin-bottom: 0;
					padding: 0 4px;
				}
			}
			.form-button{
				padding-bottom: 0;
				padding-left: 4px;
				.pui-button{
					margin-top: 0;
					box-shadow: none;
					min-width: 84px;
					span{
						display: none;
					}
					i{
						margin-left: 0;
					}
				}
			}
		}
	}
	.form-button{
		@include flex(row, center, center);
		// padding: 0 0 30px;
		.pui-button{
			// box-shadow: 0 2px 12px 0 rgba(45, 120, 230, 0.56);
			@media (max-width: $xs){
				margin-top: 20px;
			}
		}
	}
	.search-ticket-form-inner{
		@include flex(row, flex-start, center);
		flex-wrap: wrap;
		& > div{
			padding: 0 5px;
			margin-bottom: 10px;
			width: 25%;
			&.search-ticket-form-location{
				width: 22%;
				@media (max-width: $lg){
					width: 50%;
				}
				@media (max-width: $xs){
					width: 100%;
				}
			}
			&.search-ticket-form-direction{
				width: 22%;
				@media (max-width: $lg){
					width: 50%;
				}
				@media (max-width: $xs){
					width: 100%;
				}
			}
			&.search-ticket-form-daterange{
				width: 31%;
				@media (max-width: $lg){
					width: 50%;
				}
				@media (max-width: $xs){
					width: 100%;
				}
			}
			&.search-ticket-form-people{
				@media (max-width: $lg){
					width: 50%;
				}
				@media (max-width: $xs){
					width: 100%;
				}
			}
		}
	}
	.el-form-item{
		margin-bottom: 20px;
		@media (max-width: $xs){
			margin-bottom: 0;
			&.is-error{
				margin-bottom: 20px;
			}
		}
	}

}
</style>
