<template>
  <div
    class="component__search-tour-form"
    :class="[['lang', 'lang-hotel'].indexOf($route.name) < 0 && !$IS_MOBILE?'instring':'']"
  >
    <el-form :model="form" :status-icon="true">
      <div class="search-tour-form-inner">
        <div class="search-tour-form-location">
          <vue-search-location v-model="location" :label="$LOCALE('ln_departure_city')" />
        </div>
        <div class="search-tour-form-direction">
          <vue-search-direction v-model="direction" />
        </div>
        <div class="search-tour-form-daterange">
          <vue-search-daterange v-model="daterange" />
        </div>
        <div class="search-tour-form-days">
          <vue-search-days v-model="days" />
        </div>
        <div class="search-tour-form-people">
          <vue-search-people v-model="people" />
        </div>
      </div>
    </el-form>
    <div class="form-button">
      <pui-button
        :size="$FORM_BUTTON_SIZE"
        icon="pui-arrow-right-ic"
        shadow
        type="blue"
        :fluid="$IS_MOBILE"
        @click="searchSubmit()"
      >
        {{ $LOCALE('ln_search_tours_alt') }}
      </pui-button>
    </div>
  </div>
</template>
<script>
import { mapState } from 'vuex'
import VueSearchLocation from '@/components/Search/Location'
import VueSearchDirection from '@/components/Search/Direction'
import VueSearchDaterange from '@/components/Search/Daterange'
import VueSearchDays from '@/components/Search/Days'
import VueSearchPeople from '@/components/Search/People'
export default {
	components: {
		VueSearchLocation,
		VueSearchDirection,
		VueSearchDaterange,
		VueSearchDays,
		VueSearchPeople
	},
	props: {

	},
	data() {
		return {}
	},
	computed: {
		...mapState(['language']),
		...mapState('search', ['limit', 'pager', 'chosenTabType', 'type']),
		form() {
			return {
				location: this.location,
				direction: this.direction,
				days: this.days,
				daterange: this.daterange,
				people: this.people
			}
		},
		location: {
			get() { return this.$store.state.search.loc },
			set(val) { this.$store.commit('search/SET_STATES', { loc: val }) }
		},
		direction: {
			get() { return this.$store.state.search.dest },
			set(val) { this.$store.commit('search/SET_STATES', { dest: val }) }
		},
		daterange: {
			get() { return this.$store.state.search.date },
			set(val) { this.$store.commit('search/SET_STATES', { date: val }) }
		},
		days: {
			get() { return this.$store.state.search.days },
			set(val) { this.$store.commit('search/SET_STATES', { days: val }) }
		},
		people: {
			get() {
				return {
					adults: this.$store.state.search.adults,
					children: this.$store.state.search.children
				}
			},
			set(val) {
				this.$store.commit('search/SET_STATES', {
					adults: val.adults,
					children: val.children
				})
			}
		},
		tourType: {
			get() { return this.$store.state.search.type },
			set(val) { this.$store.commit('search/SET_STATES', { type: val }) }
		}
	},
	created() {
		this.prepareStates()
	},
	methods: {
		prepareStates(variabled) {
			let children = []
			let days = [1, 28]
			// PREPARE DATES
			let beginDate = new Date().setDate(new Date().getDate() + 1)
			let endDate = new Date(beginDate).setMonth(new Date(beginDate).getMonth() + 6)
			beginDate = this.$GET_DATE(beginDate)
			endDate = this.$GET_DATE(endDate)
			const date = beginDate + ',' + endDate
			try {
				children = this.$route.query.children.split(',')
				children = children.filter((el) => {
					return el.length > 0
				})
				children = children.map((el) => {
					return { age: parseInt(el) }
				})
			} catch (err) {}
			try {
				days = this.$route.query.days.split(',')
				days = days.filter((el) => {
					return el.length > 0
				})
			} catch (err) {}
			const states = {
				loc: parseInt(this.$route.query.loc) || null,
				dest: parseInt(this.$route.query.dest) || 0,
				date: this.$route.query.date || date,
				days: days,
				adults: parseInt(this.$route.query.adults) || 1,
				children: children || []
				// type: 'tour'
			}
			this.$store.commit('search/SET_STATES', states)
			if (variabled) {
				try { states.days = states.days.join(',') } catch (err) {}
				return states
			}
		},
		async searchSubmit() {
			let children = this.people.children
			children = children.map((el) => {
				return el.age
			})
			children = children.join(',')
			const query = {
				page: 1,
				limit: this.limit,
				loc: this.location,
				dest: this.direction,
				date: this.daterange,
				days: this.days.join(','),
				adults: this.people.adults,
				children: children,
				partners: '',
				type: 'tour'
			}

			const filters = {
				filterPartners: []
			}
			this.$cookies.set('filters', filters)
			await this.$store.commit('search/SET_STATES', filters)
			this.$router.push({
				path: '/' + this.language + '/search',
				query: query
			})
			console.log('NAME', this.$route.name)
			if (this.$route.name === 'lang-search') {
				await this.$store.commit('loading/SET_LOADING', true)
				await this.$store.dispatch('search/SEARCH', query)
				const partnersQuery = query
				partnersQuery.limit = null
				await this.$store.dispatch('search/GET_ACTIVE_PARTNERS', partnersQuery)
				await this.$store.commit('loading/SET_LOADING', false)
			}
			this.$store.commit('search/SET_STATES', {
				type: 'tour',
				pagetitleEnding: this.$NUM_SUFFIX(this.pager.total, [
					this.$LOCALE(`ln_search_title_endings_${this.type}_0`),
					this.$LOCALE(`ln_search_title_endings_${this.type}_1`),
					this.$LOCALE(`ln_search_title_endings_${this.type}_2`)
				])
			})
			if (this.$IS_MOBILE) {
				await this.$store.commit('search/SET_STATES', { dialogShown: false })
			}
		}
	}

}
</script>
<style lang="scss">
.component__search-tour-form{
	width: 100%;
	&.instring{
		@media(min-width: $lg){
			@include flex(row, flex-start, flex-start);
			.search-tour-form-inner{
				& > div{
					margin-bottom: 0;
					padding: 0 4px;
				}
			}
			.form-button{
				padding-bottom: 0;
				padding-left: 4px;
				.pui-button{
					margin-top: 0;
					box-shadow: none;
					min-width: 84px;
					span{
						display: none;
					}
					i{
						margin-left: 0;
					}
				}
			}
		}
	}
	.form-button{
		@include flex(row, center, center);
		.pui-button{
			margin-top: 20px;
			// box-shadow: 0 2px 12px 0 rgba(45, 120, 230, 0.56);
		}
	}
	.search-tour-form-inner{
		@include flex(row, flex-start, flex-start);
		flex-wrap: wrap;
		& > div{
			margin-bottom: 10px;
			padding: 0 5px;
			&.search-tour-form-location{
				width: 19%;
				order: 0;
				@media (max-width: $lg){
					width: 50%;
				}
				@media (max-width: $md){
					padding: 0 5px 0 0;
				}
				@media (max-width: $xs){
					width: 100%;
					padding: 0;
				}
			}
			&.search-tour-form-direction{
				width: 19%;
				order: 1;
				@media (max-width: $lg){
					width: 50%;
				}
				@media (max-width: $md){
					padding: 0 0 0 5px;
				}
				@media (max-width: $xs){
					width: 100%;
					padding: 0;
				}
			}
			&.search-tour-form-days{
				width: 18%;
				order: 2;
				@media (max-width: $lg){
					width: 22%;
					order: 3;
				}
				@media (max-width: $md){
					width: 50%;
					padding: 0 5px 0 0;
					order: 3;
				}
				@media (max-width: $xs){
					width: 100%;
					padding: 0;
					order: 2;
				}
			}
			&.search-tour-form-daterange{
				width: 26%;
				order: 3;
				@media (max-width: $lg){
					order: 1;
					width: 50%;
					order: 2;
				}
				@media (max-width: $md){
					width: 100%;
					padding: 0;
					order: 2;
				}
				@media (max-width: $xs){
					width: 100%;
					padding: 0;
					order: 3;
				}
			}
			&.search-tour-form-people{
				width: 18%;
				order: 4;
				@media (max-width: $lg){
					width: 28%;
					order: 3;
				}
				@media (max-width: $md){
					width: 50%;
					padding: 0 0 0 5px;
					order: 4;
				}
				@media (max-width: $xs){
					width: 100%;
					padding: 0;
				}
			}
		}
	}
}
</style>
