<template>
  <el-row class="page__tour-create-index">
    <el-col :md="10">
      <vue-tour-create-greeting :username="username" />
      <vue-tour-create-step
        v-for="(item, index) of steps"
        :key="index"
        :step="index + 1"
        :title="item.title"
        :describe="item.describe"
        :link="item.link"
      />
    </el-col>
    <el-col :md="4">
      &nbsp;
    </el-col>
    <!-- <el-col :md="10">
      Стоимость на сайте
    </el-col> -->
  </el-row>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import VueTourCreateGreeting from '@/components/TourCreate/Greeting'
import VueTourCreateStep from '@/components/TourCreate/Step'
const stepPath = '/dev/tour/create/step-'
export default {
	layout: 'tourCreate',
	components: {
		VueTourCreateGreeting,
		VueTourCreateStep
	},
	computed: {
		...mapState(['user', 'language']),
		username() {
			if (this.user && this.user.username) {
				return this.user.username
			}
			return 'Екатерина'
		},
		steps() {
			return [
				{
					title: 'Информация о туре',
					describe: 'Локация, описание, преимущества, фотогаллерея',
					link: `/${this.language}${stepPath}one`
				},
				{
					title: 'Программа тура',
					describe: 'Точки маршрута, дни тура, встреча с гидом',
					link: `/${this.language}${stepPath}one`
				},
				{
					title: 'Даты, стоимость и скидки',
					describe: 'Точки маршрута, дни тура, встреча с гидом',
					link: `/${this.language}${stepPath}one`
				},
				{
					title: 'Способ оплаты',
					describe: 'Выбор способа оплаты тура',
					link: `/${this.language}${stepPath}one`
				}
			]
		}
	},
	mounted() {
		this.GET_LOCALLY_CREATE_TOUR()
	},
	methods: {
		...mapActions('createTour', [
			'GET_LOCALLY_CREATE_TOUR'
		])
	}
}
</script>
