<template>
  <el-row type="flex" justify="center" class="page__tour-create-step-one">
    <el-col :sm="14" :md="10">
      <h1 class="text-h4">
        Информация для туристов
      </h1>
      <vue-tour-create-content-block>
        <h2 class="text-h5">
          Ключевые особенности
        </h2>
        <p>С помощью ключевых особенностей, вы помогаете туристам лучше подобрать тур. Рекомендуем указать 3-7 тегов.</p>
        <vue-dinamically-tag-list
          :target="tourFeatures"
          @confirmed="changeFeatures"
        />
      </vue-tour-create-content-block>
      <vue-tour-create-content-block>
        <h2 class="text-h5">
          Описание тура
        </h2>
        <p>Сделайте описание максимально привлекальным и понятным для туристов. Ознакомьтесь с <a href="#!">хорошими примерами описания</a>.</p>
        <vue-html-editor
          :target="tourDescription"
          @change="changeDescription"
        />
        <p>(Минимальное число символов: 100)</p>
      </vue-tour-create-content-block>
      <vue-tour-create-content-block>
        <h2 class="text-h5">
          Проживание
        </h2>
        <p>Гостиницы или объекты, в которых будут проживать ваши туристы во время всего тура. Объектов может быть несколько</p>
        <Vue-tour-create-checkbox
          label="Включить проживание в стомость"
          :target="tourHabitationIncluded"
          @change="changeTourHabitationIncluded"
        />
        <vue-tour-create-habitation
          :target="tourHotels"
          @changeHabitation="changeTourHotels"
        />
      </vue-tour-create-content-block>
      <vue-tour-create-content-block>
        <h2 class="text-h5">
          Питание
        </h2>
        <p>Расскажите своим туристам про питание в туре. Что ожидает туристов, особенности блюд.</p>
        <Vue-tour-create-checkbox
          label="Включить питание в стомость"
          :target="tourFoodIncluded"
          @change="changeTourFoodIncluded"
        />
        <vue-tour-create-food
          :target="tourFood"
          @changeFood="changeTourFood"
        />
      </vue-tour-create-content-block>
      <vue-tour-create-content-block>
        <h2 class="text-h5">
          Что входит в стомость тура
        </h2>
        <p>Укажите преимущества, услуги, которые входят в стоимость тура.</p>
        <vue-tour-create-options-set
          :target="tourPreset"
          @changeList="changeFeaturesIncluded"
        />
      </vue-tour-create-content-block>
      <vue-tour-create-content-block>
        <h2 class="text-h5">
          Что не входит в стомость тура
        </h2>
        <p>Укажите преимущества, услуги, которые не входят в стоимость тура.</p>
        <vue-tour-create-options-set
          :target="tourAbsent"
          @changeList="changeFeaturesNotIncluded"
        />
      </vue-tour-create-content-block>
    </el-col>
  </el-row>
</template>

<script>
import { mapMutations, mapState, mapActions } from 'vuex'
import VueTourCreateContentBlock from '@/components/TourCreate/ContentBlock'
import VueTourCreateFood from '@/components/TourCreate/Food'
import VueTourCreateHabitation from '@/components/TourCreate/Habitation'
import VueTourCreateOptionsSet from '@/components/TourCreate/OptionsSet'
import VueDinamicallyTagList from '@/components/DinamicallyTagList'
import VueHtmlEditor from '@/components/HtmlEditor'
import VueTourCreateCheckbox from '@/components/TourCreate/Checkbox'

export default {
	layout: 'tourCreate',
	components: {
		VueTourCreateContentBlock,
		VueTourCreateHabitation,
		VueTourCreateOptionsSet,
		VueDinamicallyTagList,
		VueTourCreateFood,
		VueHtmlEditor,
		VueTourCreateCheckbox
	},
	data() {
		return {
			// hotels: [],
		}
	},
	computed: {
		...mapState('createTour', {
			tourInfo: state => state.tour.info,
			tourFeatures: state => state.tour.info.features,
			tourDescription: state => state.tour.info.description,
			tourHabitationIncluded: state => state.tour.info.habitation.isIncludedInPrice,
			tourHotels: state => state.tour.info.habitation.hotels,
			tourFoodIncluded: state => state.tour.info.food.isIncludedInPrice,
			tourFood: state => state.tour.info.food.types,
			tourPreset: state => state.tour.info.featuresIncluded,
			tourAbsent: state => state.tour.info.featuresNotIncluded
		})
	},
	mounted() {
		this.GET_LOCALLY_CREATE_TOUR()
	},
	methods: {
		...mapActions('createTour', [
			'GET_LOCALLY_CREATE_TOUR',
			'SAVE_LOCALLY_CREATE_TOUR'
		]),
		...mapMutations('createTour', [
			'SET_INFO_FEATURES',
			'SET_INFO_DESCRIPTION',
			'SET_INFO_HABITATION_INCLUDED',
			'SET_INFO_FOOD_INCLUDED',
			'SET_INFO_HOTELS',
			'SET_INFO_FOOD',
			'SET_INFO_FEATURES_PRESENT',
			'SET_INFO_FEATURES_ABSENT'
		]),
		changeFeatures(data) {
			this.SET_INFO_FEATURES(data)
			this.SAVE_LOCALLY_CREATE_TOUR()
		},
		changeDescription(data) {
			this.SET_INFO_DESCRIPTION(data)
			this.SAVE_LOCALLY_CREATE_TOUR()
		},
		changeTourHabitationIncluded(value) {
			this.SET_INFO_HABITATION_INCLUDED(value)
			this.SAVE_LOCALLY_CREATE_TOUR()
		},
		changeTourHotels(value) {
			this.SET_INFO_HOTELS(value)
			this.SAVE_LOCALLY_CREATE_TOUR()
		},
		changeTourFoodIncluded(value) {
			this.SET_INFO_FOOD_INCLUDED(value)
			this.SAVE_LOCALLY_CREATE_TOUR()
		},
		changeTourFood(value) {
			this.SET_INFO_FOOD(value)
			this.SAVE_LOCALLY_CREATE_TOUR()
		},
		changeFeaturesIncluded(value) {
			this.SET_INFO_FEATURES_PRESENT(value)
			this.SAVE_LOCALLY_CREATE_TOUR()
		},
		changeFeaturesNotIncluded(value) {
			this.SET_INFO_FEATURES_ABSENT(value)
			this.SAVE_LOCALLY_CREATE_TOUR()
		}
	}
}
</script>
