<template>
  <div class="app layout-clear">
    <div class="main-content">
      <div class="container">
        <nuxt />
      </div>
    </div>
  </div>
</template>
<script>
export default {
	middleware: ['session']
}
</script>
<style lang="scss" scope>
.layout-clear{
	background-color: $soft-grey;
}
</style>
