<template>
  <div v-loading.fullscreen.lock="__loading" class="app" :class="[$route.name]">
    <header>
      <div class="container">
        <div class="header--inner">
          <vue-header-logo />
          <div class="md-less-hidden flex-row">
            <vue-header-navigation />
          </div>
          <div class="language-currency md-less-hidden">
            <vue-header-language-switcher />
            <vue-header-currency-switcher />
          </div>
          <div class="header-right-side">
            <vue-header-buttons />
            <vue-header-mobile-navigation class="md-more-hidden" />
          </div>
        </div>
      </div>
    </header>
    <div class="main-content">
      <nuxt />
    </div>
    <div class="main-subscribe">
      <div class="container">
        <!-- <vue-block-subscribe /> -->
      </div>
    </div>
    <footer>
      <vue-block-footer />
    </footer>
    <vue-block-phalcon-form ref="phalconForm" />
    <DialogConfirm />
    <HotelDialog />
  </div>
</template>
<script>
import { mapState } from 'vuex'
import HotelDialog from '@/components/Hotel/Dialog'
import VueHeaderMobileNavigation from '@/components/Header/Mobile/Navigation'
import VueHeaderLogo from '@/components/Header/Logo'
import VueHeaderNavigation from '@/components/Header/Navigation'
import VueHeaderButtons from '@/components/Header/Buttons'
import VueBlockFooter from '@/components/Block/Footer'
import VueHeaderLanguageSwitcher from '@/components/Header/LanguageSwitcher'
import VueHeaderCurrencySwitcher from '@/components/Header/CurrencySwitcher'
import VueBlockPhalconForm from '@/components/Block/PhalconForm'
// import VueBlockSubscribe from '@/components/Block/Subscribe'
import DialogConfirm from '@/components/Dialog/Confirm'
export default {
	middleware: ['session', 'route'],
	components: {
		HotelDialog,
		VueHeaderMobileNavigation,
		VueHeaderLogo,
		VueHeaderNavigation,
		VueHeaderButtons,
		VueBlockFooter,
		VueHeaderLanguageSwitcher,
		VueHeaderCurrencySwitcher,
		// VueBlockSubscribe,
		VueBlockPhalconForm,
		DialogConfirm
	},
	computed: {
		...mapState(['subdomain']),
		route() {
			return this.$route
		},
		direction: {
			get() { return this.$store.state.search.dest },
			set(val) { this.$store.commit('search/SET_STATES', { dest: val }) }
		}
	},
	watch: {
		route(val) {
			this.$store.commit('SET_ROUTE_PATH', val)

			if (this.subdomain === 'hotel' && val.name === 'lang') {
				this.$store.commit('hotel/SET_STATES', { hotelDialogShown: true })
			}
		}

	},
	mounted() {
		this.$store.commit('SET_ROUTE_PATH', this.route)
	}
}
</script>
<style lang="scss">
header {
  position: relative;
  z-index: 9;
  .header--inner {
    padding: 62px 0;
    background: url("/static-assets/images/svg/airplane-big.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right 150px top 0;
    @include flex(row, space-between, center);
    flex-wrap: wrap;
    @media (max-width: $md) {
      padding: 32px 0;
      background-position: right 80px top 0;
    }
    @media (max-width: $sm) {
      padding: 18px 0 18px;
    }
    .header-right-side {
      @include flex(row, flex-end, center);
    }
  }
}
.language-currency {
  @include flex(row, space-between, center);
}
.main-subscribe {
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    transparent 0%,
    transparent 50%,
    #f5f8fa 51%,
    #f5f8fa 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    transparent 0%,
    transparent 50%,
    #f5f8fa 51%,
    #f5f8fa 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 50%,
    #f5f8fa 51%,
    #f5f8fa 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f8fa',GradientType=0 ); /* IE6-9 */
  padding-bottom: 60px;
  margin-top: 100px;
  @media (max-width: $xs) {
    padding-bottom: 32px;
    margin-top: 50px;
    // margin-bottom: 50px;
  }
}
footer {
  background-color: $pale-grey;
  padding: 0 0 60px;
}
.app {
  background-color: $soft-grey;
  &.lang,
  &.lang-hotel {
    background-color: transparent;
    .header--inner {
      background: none;
    }
  }
  &.partners {
    background-color: $white;
  }
}
.dev-tour-slug,
.lang-tour-slug,
.lang-hotel-slug,
.lang-hotel-tour-slug {
  @media (max-width: $xs) {
    background-color: $white;
  }
  header {
    .header--inner {
      background: none;
      padding-bottom: 0;
    }
  }
}
</style>
