
<template>
  <div class="error__page">
    <div class="container">
      <div class="error__wrapper">
        <div class="error__image">
          <img src="/static-assets/images/artwork-bag.png" alt="">
        </div>
        <div class="error__content">
          <div class="error__code">
            {{ errorState.code }}
          </div>
          <div class="error__text">
            <h1 class="text-h2 error__title">
              {{ errorState.title }}
            </h1>
            <div class="error__message">
              {{ errorState.message }}
            </div>
            <div class="error__button">
              <pui-button type="blue" :fluid="$IS_MOBILE" @click="$router.go(-1)">
                {{ $LOCALE('ln_go_back') }}
              </pui-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
	name: 'NuxtError',
	props: {
		error: {
			type: Object,
			default() {
				return {
					statusCode: null
				}
			}
		}
	},
	computed: {
		errorState() {
			if (this.error.statusCode === 404) {
				return {
					code: '404',
					title: this.$LOCALE('ln_page_not_found_title'),
					message: this.$LOCALE('ln_page_not_found_text')
				}
			} else {
				return {
					code: '500',
					title: this.$LOCALE('ln_server_error_title'),
					message: this.$LOCALE('ln_server_error_text')
				}
			}
		}
	}
}
</script>
<style lang="scss">
	.error__page{
		@media(max-width: $lg){
			.error__wrapper{
				.error__image{}
				.error__content{
					width: 60%;
					.error__code{

					}
				}
			}
		}
		.error__wrapper{
			@include flex(row, flex-start, flex-start);
			@media(max-width: $md){
				flex-direction: column-reverse;
			}
			@media(max-width: $xs){
				padding: 0 30px;
				flex-direction: column;
			}
			.error__image{
				margin-top: 240px;
				width: 40%;
				@media(max-width: $md){
					width: 80%;
					margin-top: 20px;
				}
				@media(max-width: $xs){
					width: 100%;
					margin: 0 auto;
				}
				img{
					width: 100%;
				}
			}
			.error__content{
				width: 60%;
				@media(max-width: $md){
					width: 100%;
				}
				.error__code{
					font-size: 300px;
					font-weight: bold;
					font-style: normal;
					font-stretch: normal;
					line-height: normal;
					letter-spacing: normal;
					color: $soft-grey;
					@media(max-width: $lg){
						font-size: 250px;
					}
					@media(max-width: $sm){
						font-size: 200px;
					}
					@media(max-width: $xs){
						display: none;
					}
				}
				.error__text{
					margin-top: -140px;
					margin-left: 100px;
					@media(max-width: $sm){
						margin-top: -100px;
					}
					@media(max-width: $xs){
						margin-top: 0px;
						margin-left: 0px;
						text-align: center;
					}
					.error__title{
						@media(max-width: $lg){
							font-size: 30px;
						}
						@media(max-width: $sm){
							font-size: 25px;
						}
						@media(max-width: $xs){
							font-size: 20px;
						}
					}
					.error__message{
						font-size: 16px;
						font-weight: normal;
						font-style: normal;
						font-stretch: normal;
						line-height: 1.63;
						letter-spacing: normal;
					}
					.error__button{
						margin-top: 40px;
					}
				}
			}
		}
	}
</style>
