<template>
  <div
    v-loading.fullscreen.lock="__loading"
    class="app"
    :class="[$route.name, blockName]"
  >
    <vue-sticky-footer>
      <template v-slot:header>
        <vue-tour-create-header />
        <vue-tour-create-step-progress v-if="isStepProgressShow" />
      </template>
      <template v-slot:default>
        <div class="container" :class="`${blockName}__content`">
          <nuxt />
        </div>
      </template>
      <template v-slot:footer>
        <vue-tour-create-footer />
      </template>
    </vue-sticky-footer>
  </div>
</template>

<script>
import 'vue-wysiwyg/dist/vueWysiwyg.css'
import VueTourCreateHeader from '@/components/TourCreate/Header'
import VueTourCreateFooter from '@/components/TourCreate/Footer'
import VueStickyFooter from '@/components/StickyFooter'
const VueTourCreateStepProgressLazy = () => import('@/components/TourCreate/StepProgress')
export default {
	components: {
		VueStickyFooter,
		VueTourCreateHeader,
		VueTourCreateStepProgress: VueTourCreateStepProgressLazy,
		VueTourCreateFooter
	},
	computed: {
		blockName() { return 'tour-create' },
		isStepProgressShow() {
			return this.$route.name.indexOf('tour-create-step-') !== -1
		}
	}
}
</script>

<style lang="scss">
// @import "~vue-wysiwyg/dist/vueWysiwyg.css";
$block-name: '.tour-create';
#{$block-name} {
  &.app {
    height: 100%;
    background-color: $white;
  }
  &__content {
    $marginY: 50px;
    margin-top: $marginY;
    margin-bottom: $marginY;

    @media all and (max-width: $xs) {
      padding: 0 15px;
      $marginY: 24px;
      margin-top: $marginY;
      margin-bottom: $marginY;
    }

    .el-form-item {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__label {
        text-align: left;
        flex-grow: 1;
        line-height: 1.4;
      }
    }
  }
  a {
    color: $primary-blue;
  }
}
html,
body,
#__layout,
#__nuxt {
  height: 100%;
}
</style>
