<template>
  <div class="component__operator-chat">
    <pui-button type="green" size="mini" fluid class="mobile-button">
      {{ $LOCALE('ln_operator_chat') }}
    </pui-button>
  </div>
</template>
<script>
export default {
	data() {
		return {}
	}
}
</script>
<style lang="scss">
.component__operator-chat{
	margin-bottom: 16px;
	.mobile-button{
		display: none;
		@media(max-width: $xs){
			display: block;
		}
	}
}
</style>
