<template>
  <div class="component__operator-link">
    <img :src="logo || '/static-assets/images/svg/placeholder.svg'" alt="">
    <div class="operator__content">
      <div class="operator__title">
        {{ title }}
      </div>
      <nuxt-link :to="link">
        {{ $LOCALE('ln_organizator_information') }}
      </nuxt-link>
    </div>
  </div>
</template>

<script>
export default {
	props: {
		title: {
			type: String,
			default: ''
		},
		logo: {
			type: String,
			default: ''
		},
		link: {
			type: String,
			default: ''
		}
	}
}
</script>

<style lang="scss">
.component__operator-link {
  padding: 14px 16px;
  background-color: $white;
  border-radius: 6px;
  margin-bottom: 24px;
  @include flex(row, flex-start, center);
  @media (max-width: $xs) {
    margin-bottom: 16px;
    background-color: $pale-grey;
    padding: 16px 12px;
  }
  img {
    margin-right: 14px;
    width: 78px;
    @media (max-width: $xs) {
      width: 52px;
    }
  }
  .operator__content {
    .operator__title {
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.38;
      letter-spacing: normal;
      @media (max-width: $xs) {
        // font-size: 16px;
        // font-weight: bold;
        // font-style: normal;
        // font-stretch: normal;
        // line-height: 1.38;
        // letter-spacing: normal;
      }
    }
    a {
      font-size: 14px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.43;
      letter-spacing: normal;
      color: $primary-blue;
      @media (max-width: $xs) {
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
      }
    }
  }
}
</style>
