<template>
  <div class="page__account-partner">
    <add-program @change:filter="changeFilter" />
    <template v-if="slicedMyTours.length > 0">
      <vue-tour-card-grid :partner-template="true" :tours="slicedMyTours">
        <template v-slot:partnerTemplate="slotProps">
          active: {{ slotProps.item.active }}
          deleted: {{ slotProps.item.deleted }}
          <div class="account-partner__link-wrapper" @click.prevent>
            <div class="item-label">
              {{ $LOCALE("ln_affiliate_link") }}
            </div>
            <div class="account-partner__link">
              http://palmarius.org/partners/{{ slotProps.item.owner.promo_code }}
            </div>
          </div>
          <div class="account-partner__actions">
            <button v-for="(action, index) in slotProps.item.desktopActions" :key="index" class="account-partner__action-btn" :class="action.itemClass" @click.prevent="action.method(slotProps.item.id)">
              <div class="account-partner__action-icon " :class="action.iconClass" />
              <div class="account-partner__action-text">
                {{ $LOCALE(action.text) }}
              </div>
            </button>

            <!-- <button class="account-partner__action-btn account-partner__action-btn--red" @click.prevent="openDeleteConfirm(slotProps.item.id)">
              <div class="account-partner__action-icon  " />
              <div class="account-partner__action-text">
                {{ $LOCALE("ln_delete_program") }}
              </div>
            </button>
            <button class="account-partner__action-btn" @click.prevent="editTour(slotProps.item.id)">
              <div class="account-partner__action-icon pui-edit-ic" />
              <div class="account-partner__action-text">
                {{ $LOCALE("ln_edit_program") }}
              </div>
            </button>
            <button class="account-partner__action-btn" @click.prevent>
              <div class="account-partner__action-icon pui-notification-ic" />
              <div class="account-partner__action-text">
                {{ $LOCALE("ln_notifications") }}
              </div>
            </button>

            <button v-if="slotProps.item.active" class="account-partner__action-btn" @click.prevent="openUnpublishConfirm(slotProps.item.id)">
              <div class="account-partner__action-icon pui-close-ic" />
              <div class="account-partner__action-text">
                {{ $LOCALE("ln_unpublish") }}
              </div>
            </button>

            <button v-else class="account-partner__action-btn" @click.prevent="openPublishConfirm(slotProps.item.id)">
              <div class="account-partner__action-icon pui-checkbox-on-ic" />
              <div class="account-partner__action-text">
                {{ $LOCALE("ln_publish") }}
              </div>
            </button> -->
          </div>

          <div
            class="account-partner__badge"
            :class="slotProps.item.badge.class"
          >
            {{ $LOCALE(slotProps.item.badge.text) }}
          </div>
          <!--
          <div
            class="account-partner__badge"
            :class="{
              'account-partner__badge--deleted':
                slotProps.item.deleted,
              'account-partner__badge--publish':
                slotProps.item.active && !slotProps.item.deleted,
              'account-partner__badge--draft':
                !slotProps.item.active && !slotProps.item.deleted,
              'account-partner__badge--rejected':
                false,

            }"
          >
            {{ slotProps.item.deleted ? $LOCALE("ln_deleted") :
              slotProps.item.active ? $LOCALE("ln_published") : $LOCALE("ln_draft")
            }}
          </div> -->
          <div class="account-partner__statistic">
            <span class="account-partner__statistic-icon pui-stats-ic" />
          </div>

          <pui-dropdown
            class="account-partner__mobile-actions"
            width="300px"
            position="right"
          >
            <template v-slot:reference>
              <div class="account-partner__mobile-actions-btn">
                <div class="mobile-actions " @click.prevent>
                  <div class="mobile-actions__main-icon pui-more-ic" />
                </div>
              </div>
            </template>
            <div class="mobile-actions__list">
              <div v-for="(action, index) in slotProps.item.mobileActions" :key="index" class="mobile-actions__item" :class="action.itemClass" @click.prevent="action.method(slotProps.item.id)">
                <div class="mobile-actions__icon" :class="action.iconClass" />
                <div class="mobile-actions__text">
                  {{ $LOCALE(action.text) }}
                </div>
              </div>

              <!-- <button v-for="(action, index) in slotProps.item.desktopActions" :key="index" class="account-partner__action-btn" :class="action.itemClass" @click.prevent="action.method(slotProps.item.id)">
              <div class="account-partner__action-icon " :class="action.iconClass" />
              <div class="account-partner__action-text">
                {{ $LOCALE(action.text) }}
              </div>
            </button> -->
              <!--
              <div v-if="slotProps.item.active" class="mobile-actions__item" @click.prevent="openUnpublishConfirm(slotProps.item.id)">
                <div class="mobile-actions__icon pui-close-ic" />
                <div class="mobile-actions__text">
                  {{ $LOCALE("ln_unpublish") }}
                </div>
              </div>
              <div v-else class="mobile-actions__item" @click.prevent="openPublishConfirm(slotProps.item.id)">
                <div class="mobile-actions__icon pui-checkbox-on-ic" />
                <div class="mobile-actions__text">
                  {{ $LOCALE("ln_publish") }}
                </div>
              </div>
              <div class="mobile-actions__item " @click.prevent>
                <div class="mobile-actions__icon pui-notification-ic" />
                <div class="mobile-actions__text">
                  {{ $LOCALE("ln_notifications") }}
                </div>
              </div>
              <div class="mobile-actions__item " @click.prevent>
                <div class="mobile-actions__icon pui-stats-ic" />
                <div class="mobile-actions__text">
                  {{ $LOCALE("ln_statistic") }}
                </div>
              </div>
              <div class="mobile-actions__item" @click.prevent="editTour(slotProps.item.id)">
                <div class="mobile-actions__icon pui-edit-ic" />
                <div class="mobile-actions__text">
                  {{ $LOCALE("ln_edit_program") }}
                </div>
              </div>
              <div class="mobile-actions__item" @click.prevent="openDeleteConfirm(slotProps.item.id)">
                <div class="mobile-actions__icon" />
                <div class="mobile-actions__text">
                  {{ $LOCALE("ln_delete_program") }}
                </div>
              </div> -->
            </div>
          </pui-dropdown>
        </template>
      </vue-tour-card-grid>
      <pui-spacer />
      <template>
        <button v-if="filteredMyTours.length !== slicedMyTours.length" class="account-partner__load-more" @click="moreTour">
          {{ $LOCALE("ln_show_more_tours") }}
        </button>
      </template>
    </template>
    <template v-else>
      Туров нет
    </template>

    <el-dialog
      :visible.sync="unpublishConfirm"
      class="account-partner__dialog dialog"
    >
      <div class="dialog__head">
        Unpublish program
      </div>
      <div class="dialog__body">
        The tourist program will remove from publication. Tourists won't be able to see it. Are you sure you want to do this?
      </div>

      <div class="dialog__footer">
        <button class="dialog__confirm" @click="unpublish">
          Unpublish
        </button>
        <button class="dialog__reject" @click="unpublishConfirm = false">
          No, Thanks
        </button>
      </div>
    </el-dialog>

    <el-dialog
      :visible.sync="publishConfirm"
      class="account-partner__dialog dialog"
    >
      <div class="dialog__head">
        Publish program
      </div>
      <div class="dialog__body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores tenetur laudantium perspiciatis explicabo quod nihil libero officiis qui, dolorem deleniti eum veritatis, vel quis voluptates impedit. Architecto est incidunt necessitatibus.
      </div>

      <div class="dialog__footer">
        <button class="dialog__confirm" @click="publish">
          Publish
        </button>
        <button class="dialog__reject" @click="publishConfirm = false">
          No, Thanks
        </button>
      </div>
    </el-dialog>

    <el-dialog
      :visible.sync="deleteConfirm"
      class="account-partner__dialog dialog"
    >
      <div class="dialog__head">
        Delete program
      </div>
      <div class="dialog__body">
        You are going to delete the program. After this action, all program data will delete. Are you sure?
      </div>

      <div class="dialog__footer">
        <button class="dialog__confirm dialog__confirm--red" @click="deleteTour">
          Delete program
        </button>
        <button class="dialog__reject" @click="deleteConfirm = false">
          No, Thanks
        </button>
      </div>
    </el-dialog>
  </div>
</template>

<script>

import { mapState, mapActions } from 'vuex'
import AddProgram from '@/components/Account/Partner/TouristProgram/AddProgram.vue'
import VueTourCardGrid from '@/components/Tour/CardGrid'

export default {
	components: {
		AddProgram,
		VueTourCardGrid

	},
	data() {
		return {
			confirmId: '',
			collTours: 4,
			unpublishConfirm: false,
			publishConfirm: false,

			deleteConfirm: false,

			selectedFilter: 'all'
		}
	},
	methods: {
		...mapActions('editTour', ['UNPUBLISH_TOUR', 'DELETE_TOUR', 'PUBLISH_TOUR']),
		changeFilter(filter) {
			this.selectedFilter = filter
		},
		moreTour() {
			this.collTours = this.collTours + 4
		},
		editTour(id) {
			this.$router.push(`/${this.__language}/tour/${id}/edit`)
		},
		openUnpublishConfirm(id) {
			this.confirmId = id
			this.unpublishConfirm = true
		},
		openPublishConfirm(id) {
			this.confirmId = id
			this.publishConfirm = true
		},
		openDeleteConfirm(id) {
			this.confirmId = id
			this.deleteConfirm = true
		},
		async unpublish() {
			this.$store.commit('loading/SET_LOADING', true)

			await this.UNPUBLISH_TOUR(this.confirmId)
			await this.$store.dispatch('tours/GET_MY_TOURS')
			this.unpublishConfirm = false
			this.$store.commit('loading/SET_LOADING', false)
		},
		async publish() {
			this.$store.commit('loading/SET_LOADING', true)
			await this.PUBLISH_TOUR(this.confirmId)
			await this.$store.dispatch('tours/GET_MY_TOURS')
			this.publishConfirm = false
			this.$store.commit('loading/SET_LOADING', false)
		},
		async deleteTour() {
			this.$store.commit('loading/SET_LOADING', true)
			await this.DELETE_TOUR(this.confirmId)
			await this.$store.dispatch('tours/GET_MY_TOURS')
			this.deleteConfirm = false
			this.$store.commit('loading/SET_LOADING', false)
		}
	},

	computed: {
		...mapState('tours', ['myTours']),
		tours() {
			if (!this.myTours) return []
			return this.myTours.map((tour) => {
				const desktopActions = [
					{
						text: 'ln_delete_program',
						iconClass: '',
						itemClass: 'account-partner__action-btn--red',
						method: this.openDeleteConfirm

					}, {
						text: 'ln_edit_program',
						iconClass: 'pui-edit-ic',
						itemClass: '',
						method: this.editTour

					}, {
						text: 'ln_notifications',
						iconClass: 'pui-notification-ic',
						itemClass: '',
						method: () => {}

					}, {
						text: 'ln_unpublish',
						iconClass: ' pui-close-ic',
						itemClass: '',
						method: this.openUnpublishConfirm

					}]

				const mobileActions = [
					{
						text: 'ln_unpublish',
						iconClass: ' pui-close-ic',
						itemClass: '',
						method: this.openUnpublishConfirm

					}, {
						text: 'ln_notifications',
						iconClass: 'pui-notification-ic',
						itemClass: '',
						method: () => {}

					},
					{
						text: 'ln_statistic',
						iconClass: 'pui-stats-ic',
						itemClass: '',
						method: () => {}

					}, {
						text: 'ln_edit_program',
						iconClass: 'pui-edit-ic',
						itemClass: '',
						method: this.editTour

					},
					{
						text: 'ln_delete_program',
						iconClass: '',
						itemClass: '',
						method: this.openDeleteConfirm

					} ]

				let badge = {
					class: 'account-partner__badge--publish',
					text: 'ln_published'
				}
				if (tour.active === false) {
					badge = {
						class: 'account-partner__badge--draft',
						text: 'ln_draft'
					}
					desktopActions[3] = {
						text: 'ln_publish',
						iconClass: 'pui-checkbox-on-ic',
						itemClass: '',
						method: this.openPublishConfirm

					}
				}
				if (tour.deleted === true) {
					badge = {
						class: 'account-partner__badge--deleted',
						text: 'ln_deleted'
					}
					desktopActions[3] = {
						text: 'ln_publish',
						iconClass: 'pui-checkbox-on-ic',
						itemClass: '',
						method: this.openPublishConfirm

					}
				}

				return {
					...tour,
					badge,
					mobileActions,
					desktopActions

				}
			})
		},
		filteredMyTours() {
			if (!this.tours)	return []
			if (this.tours) {
				if (this.selectedFilter === 'all') {
					return this.tours.filter(el => el.deleted !== true)
				} else if (this.selectedFilter === 'published') {
					return this.tours.filter(el => el.active === true && el.deleted !== true)
				} else if (this.selectedFilter === 'draft') {
					return this.tours.filter(el => el.active === false && el.deleted !== true)
				} else if (this.selectedFilter === 'deleted') {
					return this.tours.filter(el => el.deleted === true)
				}
				// return this.myTours.slice(0, this.collTours)
			}
			return []
		},
		slicedMyTours() {
			if (this.filteredMyTours) {
				return this.filteredMyTours.slice(0, this.collTours)
			} else {
				return []
			}
		}
	},
	async fetch({ store }) {
		await store.dispatch('tours/GET_MY_TOURS')
	}

}
</script>

<style lang="scss">
.page__account-partner {
  .account-partner__user-info {
  }
  .account-partner__link-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;
  }

  .account-partner__link {
    user-select: all;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: $primary-blue;
  }
  .account-partner__actions {
    display: flex;
    @media (max-width: $lg) {
      flex-wrap: wrap;
    }
    @media (max-width: $sm) {
      display: none;
    }
  }
  .account-partner__action-btn {
    cursor: pointer;
    padding: 8px;
    border-radius: 5px;
    background: transparent;
    border: 1px solid $powder-blue;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: $primary-blue;
    margin-right: 8px;
    display: flex;
    align-items: center;
    &:hover {
      background: $primary-blue;
      color: $white;
    }
    @media (max-width: $lg) {
      margin-bottom: 8px;
    }
    &--red {
      border: solid 1px $salmon-pink;
      color: $coral-pink;
      &:hover {
        background: $coral-pink;
        color: $white;
      }
    }
  }
  .account-partner__action-icon {
    margin-right: 2px;
    height: 18px;
    width: 18px;
    display: flex;
    align-items: center;
  }
  .account-partner__action-text {
  }
  .account-partner__badge {
    position: absolute;
    top: 24px;
    right: 22px;
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;

    &--publish {
      color: $primary-green;
      //border: solid 1px $jade-green;
      background-color: #eaf9f0;
    }
    &--moderate {
      // border: solid 1px #007aff;
      background-color: #ecf4ff;
      color: $primary-blue;
    }
    &--rejected {
      color: $coral-pink;
      //border: solid 1px $coral-pink;
      background-color: #ffedee;
    }
    &--draft {
      color: $grey-blue;
      //border: solid 1px $coral-pink;
      background-color: $soft-grey;
    }
    &--deleted {
    }
    @media (max-width: $md) {
      top: 17px;
      left: 12px;
      right: auto;
    }
  }

  .account-partner__statistic {
    padding: 13px;
    position: absolute;
    top: 76px;
    right: 22px;
    background-color: $pale-grey;
    //  background-color: $grey-blue;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    &:hover .account-partner__statistic-icon {
      color: $clear-blue;
    }
    @media (max-width: $md) {
      display: none;
    }
  }
  .account-partner__statistic-icon {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $grey-blue;
  }
  .account-partner__load-more {
    cursor: pointer;
    background-color: $white;
    text-align: center;

    width: 100%;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    padding: 20px;

    font-stretch: normal;
    font-style: normal;

    letter-spacing: normal;

    text-align: center;

    color: $primary-blue;
  }
  .account-partner__dialog {
  }
  .dialog {
    .el-dialog {
      width: 486px !important;
      @media (max-width: $sm) {
        width: 94% !important;
      }
    }
    .el-dialog__header {
      padding: 0px;
      padding-top: 40px;
      @media (max-width: $sm) {
        padding-top: 20px;
      }
    }
    .el-dialog__headerbtn {
    }
    .el-dialog__header .el-dialog__headerbtn i {
      font-size: 22px;
      color: $brown-grey;
    }
    .el-dialog__close {
      &:before {
        display: none;
        font-family: "pui icon";
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\0052";
      }
    }
    .el-dialog__body {
      padding-bottom: 40px;
      @media (max-width: $sm) {
        padding-bottom: 20px;
      }
    }
  }
  .dialog__head {
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: $charcoal-grey;
    margin-bottom: 16px;
    @media (max-width: $sm) {
      font-size: 16px;
      margin-bottom: 8px;
    }
  }
  .dialog__body {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: normal;
    color: $charcoal-grey;
    margin-bottom: 24px;
    @media (max-width: $sm) {
      font-size: 14px;
      line-height: 1.43;
      margin-bottom: 20px;
    }
  }
  .dialog__footer {
    display: flex;
    @media (max-width: $sm) {
      flex-direction: column;
    }
  }
  .dialog__confirm {
    cursor: pointer;
    border: none;
    padding: 12px 40px;
    border-radius: 6px;
    background-color: $primary-blue;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: $white;
    @media (max-width: $sm) {
      width: 100%;
    }
    &:hover {
      background-color: $clear-blue;
    }
    &--red {
      background-color: $salmon-pink;
      &:hover {
        background-color: $coral-pink;
      }
    }
  }
  .dialog__reject {
    cursor: pointer;
    border: none;
    padding: 12px 40px;
    border-radius: 6px;
    background-color: transparent;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: $charcoal-grey;
    @media (max-width: $sm) {
      width: 100%;
    }
  }
  .account-partner__mobile-actions {
    position: absolute;
    top: 136px;
    right: 12px;
    display: none;
    .pui-dropdown-tooltip.pui-dropdown--right {
      right: -12px;
      top: 55px;
    }
    @media (max-width: $sm) {
      display: block;
    }
  }

  .account-partner__mobile-actions-btn {
    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 12px 0 rgba(28, 74, 115, 0.2);
    background-color: $white;
    border-radius: 50%;
  }
  .pui-dropdown-reference--active {
    .account-partner__mobile-actions-btn {
      background: $primary-blue;
    }
    .mobile-actions__main-icon {
      color: $white;
      &:before {
        content: "\0050";
      }
    }
  }

  .mobile-actions {
  }
  .mobile-actions__main-icon {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $primary-blue;
  }

  .mobile-actions__list {
  }
  .mobile-actions__item {
    display: flex;
    align-items: center;
    padding: 14px 13px;
    border-bottom: 1px solid $ice-blue;
  }
  .mobile-actions__icon {
    color: $primary-blue;
    width: 17px;
    height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 13px;
  }

  .mobile-actions__text {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: $charcoal-grey;
  }
  .pui-notification-ic {
  }
  .pui-stats-ic {
  }
  .pui-edit-ic {
  }
}
</style>
