<template>
  <div class="page__account-partner">
    <h1>Reservation</h1>

    <!-- <vue-tour-card-grid :tours="tours" /> -->
    <!-- <pui-spacer /> -->
    <!-- <vue-tour-load-more /> -->
  </div>
</template>

<script>

export default {
	components: {

	},
	data() {
		return {}
	}

}
</script>

<style lang="scss">
.page__account-partner {
  .account-partner__user-info {
  }
}
</style>
