<template>
  <div class="pui-infinity-calendar">
    <div class="infinity-calendar-week-days">
      <div
        v-for="(item,index) in data"
        :key="index"
        class="infinity-calendar-month"
      >
        <div
          class="subtitle"
          @click="setMonthRange( (month+index)>12?(month + index - 12):(month + index), (month+index)>12?(year+1):year )"
        >
          <span>{{ (month+index)>12?monthNames[month + index - 13]:monthNames[month + index - 1] }} {{ (month+index)>12?(year+1):year }}</span>
        </div>
        <div class="infinity-calendar-days">
          <table>
            <tbody>
              <tr
                v-for="(week, key) in item"
                :key="key"
              >
                <td
                  v-for="(day, keyDay) in week"
                  :key="keyDay"
                  @click="select(day)"
                >
                  <div
                    class="infinity-calendar-day"
                    :class="[
                      isSingle(day) || begin === end?'single':'',
                      isActive(day)?'active':'',
                      isInRange(day)?'range':'',
                      isDisable(day)?'disable':'',
                      isBegin(day)?'start':(isEnd(day)?'end': ''),
                      isToday(day)?'today':'',
                      !day.day?'empty':''
                    ]"
                  >
                    <div class="infinity-calendar-day--inner">
                      {{ day.day || '00' }}
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
	name: 'PuiInfinityCalendar',
	props: {
		value: {
			type: Array,
			default() {
				return []
			}
		},
		monthLength: {
			type: Number,
			default: 13
		},
		beginText: {
			type: String,
			default: 'Начало'
		},
		endText: {
			type: String,
			default: 'Конец'
		},
		isReverseAllow: {
			type: Boolean,
			default() {
				return true
			}
		},

		start: {
			type: Object,
			default: function () {
				return {}
			}
		},
		last: {
			type: Object,
			default: function () {
				return {}
			}
		},
		beginDate: {
			type: Object,
			default: function () {
				return {}
			}
		},
		endDate: {
			type: Object,
			default: function () {
				return {}
			}
		}
	},
	data() {
		return {
			data: [],
			year: (new Date()).getFullYear(),
			month: (new Date()).getMonth() + 1,
			begin: {},
			end: {},
			lastDate: '',
			monthNames: [
				'Январь',
				'Февраль',
				'Март',
				'Апрель',
				'Май',
				'Июнь',
				'Июль',
				'Август',
				'Сентябрь',
				'Октябрь',
				'Ноябрь',
				'Декабрь'
			]
		}
	},
	watch: {
		beginDate(val) {
			this.begin = val
		},
		endDate(val) {
			this.end = val
		},
		last(val) {
			this.lastDate = val
		},
		begin(val) {
			if (!val) {
				this.$emit('clear')
			}
		},
		end(val) {
			if (!val) {
				this.$emit('clear')
			}
		},
		value(val) {
			if (!val.length) {
				this.begin = {}
				this.end = {}
			}
			// if (val[0]) {
			// 	const begin = val[0].split('-')
			// 	this.begin = {
			// 		year: begin[0],
			// 		month: begin[1],
			// 		day: begin[2]
			// 	}
			// }
			// if (val[1]) {
			// 	const end = val[0].split('-')
			// 	this.end = {
			// 		year: end[0],
			// 		month: end[1],
			// 		day: end[2]
			// 	}
			// }
		}
	},
	mounted() {
		this.end = this.endDate
		this.begin = this.beginDate
		this.lastDate = this.last
		this.tableDate()
	},
	methods: {
		setMonthRange(month, year) {
			const today = new Date()
			if ((today.getMonth() + 1) === month) {
				this.begin = {
					year: year,
					month: month < 10 ? '0' + month : month,
					day: today.getDate() < 10 ? '0' + today.getDate() : today.getDate().toString()
				}
			} else {
				this.begin = {
					year: year,
					month: month < 10 ? '0' + month : month,
					day: '01'

				}
			}
			this.end = {
				year: year,
				month: month < 10 ? '0' + month : month,
				day: new Date(year, month, 0).getDate().toString()

			}
			this.$emit('input', [this.renderDate(this.begin), this.renderDate(this.end)])
		},
		isToday(day) {
			const now = new Date()
			const today = {
				day: now.getDate(),
				month: now.getMonth() + 1,
				year: now.getFullYear()
			}
			if (parseFloat(day.day) === today.day &&
				parseFloat(day.month) === today.month &&
				parseFloat(day.year) === today.year) {
				return true
			} else {
				return false
			}
		},
		// 是否为不可选择日期
		isDisable(day) {
			const start = this.start
			const lastDate = this.lastDate

			const s1 = (new Date(start.year + '-' + start.month + '-' + start.day)).getTime()
			const s2 = (new Date(lastDate.year + '-' + lastDate.month + '-' + lastDate.day)).getTime()
			const s = (new Date(day.year + '-' + day.month + '-' + day.day)).getTime()

			return !!((s1 > s || s2 < s))
		},
		isSingle(day) {
			const begin = this.begin
			const end = this.end
			let result = false
			if (begin === day && !end) {
				result = true
			}
			return result
		},
		// 是否选中
		isActive(day) {
			const begin = this.begin
			const end = this.end
			const s1 = (new Date(begin.year + '-' + begin.month + '-' + begin.day)).getTime()
			const s2 = (new Date(end.year + '-' + end.month + '-' + end.day)).getTime()
			const s = (new Date(day.year + '-' + day.month + '-' + day.day)).getTime()
			return !!((s === s1 || s === s2))
		},
		// 是否为开始日期
		isBegin(day) {
			const begin = this.begin
			const s1 = (new Date(begin.year + '-' + begin.month + '-' + begin.day)).getTime()
			const s = (new Date(day.year + '-' + day.month + '-' + day.day)).getTime()
			return s === s1
		},
		// 是否为结束日期
		isEnd(day) {
			const end = this.end
			const s1 = (new Date(end.year + '-' + end.month + '-' + end.day)).getTime()
			const s = (new Date(day.year + '-' + day.month + '-' + day.day)).getTime()
			return s === s1
		},
		// 选中日期
		select(day) {
			if (this.isDisable(day)) return

			if (!this.begin || (this.begin && this.end)) {
				this.begin = day
				this.end = ''
			} else if (this.begin && !this.end) {
				// 若不支持反向选择，则选中日期
				if (!this.isReverseAllow &&
				this.getDaysSize((this.begin.year + '-' + this.begin.month + '-' + this.begin.day),
					(day.year + '-' + day.month + '-' + day.day)) <= 0
				) {
					return
				}
				// 反选日期
				if (this.isOpposite(day, this.begin)) {
					this.end = this.begin
					this.begin = day
				} else {
					this.end = day
				}
				// 选中日期
			}
			this.$emit('input', [this.renderDate(this.begin), this.renderDate(this.end)])
		},
		renderDate(date) {
			let result = ''
			let i = 1
			for (const key in date) {
				result = result + date[key] + (i < 3 ? '-' : '')
				i++
			}
			return result
		},
		// 判断是否反转日期
		isOpposite(end, begin) {
			const s1 = (new Date(begin.year + '-' + begin.month + '-' + begin.day)).getTime()
			const s2 = (new Date(end.year + '-' + end.month + '-' + end.day)).getTime()

			return s2 < s1
		},
		// 查看是否是已经选中的日期区间中
		isInRange(day) {
			if (!day) return
			const begin = this.begin
			const end = this.end
			const s1 = (new Date(begin.year + '-' + begin.month + '-' + begin.day)).getTime()
			const s2 = (new Date(end.year + '-' + end.month + '-' + end.day)).getTime()
			const s = (new Date(day.year + '-' + day.month + '-' + day.day)).getTime()
			if ((s < s2) && (s > s1)) return true
		},
		// 获取天数差
		getDaysSize(set1, set2) {
			const s1 = new Date(set1)
			const s2 = new Date(set2)

			const days = s2.getTime() - s1.getTime()
			const time = parseInt(days / (1000 * 60 * 60 * 24))
			return time
		},
		// 获取周几
		getWeekday(date) {
			const mydate = new Date(date)
			const myday = mydate.getDay() - 1// 注:0-6对应为星期日到星期六
			return myday
		},

		// 将数据格式化表格日期格式
		monthDate(year, month) {
			// 或取当前月份最后一天的日期
			let day = new Date(year, month, 0)
			const lastDay = day.getDate()
			// 计算当前月份第一天是星期几
			const weekday = this.getWeekday(year + '-' + month + '-01')
			// 定义存放当前月份的数组
			const data = []
			// 定义日期表格数组
			const result = []
			// 计算出当前月份每一天到数组中
			for (day = 1; day <= lastDay; day++) {
				day = day < 10 ? '0' + day : day.toString()

				data.push({ year, month, day })
			}

			// 补全日期前几天
			for (let i = 0; i < weekday; i++) {
				data.unshift('')
			}
			// 切成6行
			for (let i = 0, len = data.length; i < len; i += 7) {
				result.push(data.slice(i, i + 7))
			}
			// 补全日期后几天
			const length = result[(result.length - 1)].length
			if (length < 7) {
				for (let i = 0; i < (7 - length); i++) {
					result[(result.length - 1)].push('')
				}
			}

			return result
		},
		// 初始化表格数据
		tableDate() {
			const monthLength = this.monthLength
			const data = []
			// var date = new Date();
			const year = this.year // 获取完整的年份(4位)
			const month = this.month // 获取当前月份

			for (let i = 0; i < monthLength; i++) {
				const y = (month + i) > 12 ? year + 1 : year
				const m = (month + i) > 12 ? (month + i - 12) : (month + i)
				const re = this.monthDate(y, m < 10 ? '0' + m : m)
				data.push(re)
			}
			// console.warn(data)
			this.data = data
		}

	}

}
</script>
<style lang="scss">
.pui-infinity-calendar{
	width: 100%;
	// height: 120%;
	top: 0;
	left: 0;
	background-color: #fff;
	z-index:24;
}
// .dpb-title{
// 	height: 50px;
// 	text-align: center;
// 	line-height: 50px;
// 	background: #fff;
// 	font-size: 15px;
// 	position: relative;

// }
// .dpb-title>span{
// 	position: absolute;
// 	right: 12px;
// 	line-height: 50px;
// 	font-size: 13px;
// }
.infinity-calendar-week-days{
	position: relative;
	width: 100%;
	// height: 75%;
	overflow: auto;
	padding-bottom: 50px;

}
.infinity-calendar-month{
	padding-top: 28px;
	&:first-child{
		padding-top: 10px;
	}
	.subtitle{
		text-align: right;
		margin-bottom: 20px;
		padding: 0 12px;
	}
	.infinity-calendar-days{
		table{
			width: 100%;
			border-collapse: separate;
			table-layout: fixed;
			tbody tr{
				td{
					padding: 0 0 14px 0 !important;
					width: calc(100% / 7);
					.infinity-calendar-day{
						height: 28px;
						width: 100%;
						text-align: center;
						position: relative;
						overflow: hidden;
						&.empty{
							text-indent: -999px;
						}
						&.range{
							background-color: $primary-sand	;
							.infinity-calendar-day--inner{
								background-color: $primary-sand	;
								color: $white !important;
							}
						}
						&.today{
							.infinity-calendar-day--inner{
								color: $primary-sand	;
							}
						}
						&.active{
							.infinity-calendar-day--inner{
								position: relative;
								color: $white;
								background-color: $primary-sand	;
								font-weight: 700;
							}
							&.start{
								border-radius: 50px 0 0 50px;
								background-color: $primary-sand	;
							}
							&.end{
								border-radius: 0 50px 50px 0;
								background-color: $primary-sand	;
							}
							&.single{
								background-color: transparent !important;
							}
						}
						&.single{
							.infinity-calendar-day--inner{
								border-radius: 50px !important;
							}
						}
						&.start{
							.infinity-calendar-day--inner{
								border-radius: 50px 0 0 50px;
							}
						}
						&.end{
							.infinity-calendar-day--inner{
								border-radius: 0 50px 50px 0;
							}
						}
						&.disable{
							.infinity-calendar-day--inner{
								background: #fafafa!important;
								color: #eee;
							}
						}
						.infinity-calendar-day--inner{
							line-height: 28px;
							font-size: 14px;
							font-weight: 600;
							width: 28px;
							margin: 0 auto;
						}
					}
				}
			}
		}
	}
}

// .page-table-text{
// 	font-size: 13px;
// 	height: 15px;
// 	line-height: 15px;
// 	overflow: hidden;
// 	text-overflow: ellipsis;
// 	white-space: nowrap;
// }
// .page-table-note{
// 	color: #ff5000;
// 	font-size: 12px;
// 	overflow: hidden;
// 	text-overflow: ellipsis;
// 	white-space: nowrap;
// 	font-style: inherit;
// }
// .page-table-note,.page-table-text{
// 	display: block;
// 	width: 100%;
// 	text-align: center;
// 	font-weight: 400;
// }
// .infinity-calendar-days-table>tbody>tr>td.disable .page-table-text, .infinity-calendar-days-table>tbody>tr>td.disable .page-table-note{
// 	color: #ccc!important;
// 	background: none!important;
// }
</style>
