<template>
  <div id="page-index" class="page__index">
    <vue-main-background />
    <div class="container">
      <h1 class="index-title">
        {{ $LOCALE(mainTitle) }}
      </h1>
      <!-- {{ hotel }} -->
      <div class="index-subtitle">
        <!-- {{ subtitle }} -->
        {{ $LOCALE(subTitle) }}
      </div>
      <no-ssr>
        <vue-search-form />
      </no-ssr>
      <vue-block-slide-images
        v-if="subdomain === 'hotel'"
        :input-data="hotelServices"
        :title="slideImagesTitle"
        :url-scheme="`/${hotel.slug}/service/`"
      />
      <vue-block-slide-images v-else :input-data="slideImagesData" :title="slideImagesTitle" />
      <vue-hotel-advantages v-if="subdomain === 'hotel'" />
      <vue-block-advantages v-else />
      <div class="background-plane-way">
        <img src="/static-assets/images/svg/plane-way.svg" alt="">
      </div>
      <template v-if="subdomain !== 'hotel'">
        <vue-block-special-offers selector="toursSpec" :title="$LOCALE('ln_special_tours')" :input-data="toursSpec" />
        <vue-block-special-offers selector="toursPopular" :title="$LOCALE('ln_popular_tours')" :input-data="toursPopular" />
      </template>
      <vue-block-special-offers v-else selector="toursPopular" :title="$LOCALE('ln_common_popular_excursions')" :input-data="hotelXcursions" />
    </div>
    <div class="main-bottom">
      <div class="container">
        <!-- TEMPORARY HIDE THIS BLOCK, DONT REMOVE IT -->
        <!-- <vue-bordered-box image="/static-assets/images/svg/bags-ic.svg">
          <template v-slot:title>
            {{ $LOCALE('ln_planing_vacation') }}
          </template>
          <template v-slot:text>
            {{ $LOCALE('ln_planing_vacation_text') }}
          </template>
          <template v-slot:button>
            <pui-button type="blue" size="medium" :fluid="$ua.isFromSmartphone()" @click="$SCROLL_TO('#page-index')">
              {{ $LOCALE('ln_search_tours_alt') }}
            </pui-button>
          </template>
        </vue-bordered-box> -->

        <vue-block-metrics v-if="subdomain !== 'hotel'" />
        <vue-block-bordered-box v-if="subdomain !== 'hotel'" image="/static-assets/images/svg/wallet-ic.svg">
          <template v-slot:title>
            {{ $LOCALE('ln_help_save_money_title') }}
          </template>
          <template v-slot:text>
            {{ $LOCALE('ln_help_save_money_text') }}
          </template>
          <template v-slot:button>
            <pui-button icon="pui-arrow-right-ic" type="blue" size="medium" :fluid="$ua.isFromSmartphone()" @click="$SCROLL_TO('#page-index')">
              {{ $LOCALE('ln_search_tours_alt') }}
            </pui-button>
          </template>
          <!-- comment -->
        </vue-block-bordered-box>
      </div>
    </div>
  </div>
</template>
<script>
import { mapState } from 'vuex'
import VueMainBackground from '@/components/Main/Backgrounds'
import VueBlockSpecialOffers from '@/components/Block/SpecialOffers'
import VueBlockSlideImages from '@/components/Block/SlideImages'
import VueBlockAdvantages from '@/components/Block/Advantages'
import VueBlockMetrics from '@/components/Block/Metrics'
import VueBlockBorderedBox from '@/components/Block/BorderedBox'
import VueSearchForm from '@/components/Search/Form'
import VueHotelAdvantages from '@/components/Hotel/Advantages'
export default {
	components: {
		VueMainBackground,
		VueBlockSpecialOffers,
		VueBlockSlideImages,
		VueBlockAdvantages,
		VueBlockMetrics,
		VueBlockBorderedBox,
		VueSearchForm,
		VueHotelAdvantages
	},
	data() {
		return {
			loading: false
		}
	},
	computed: {
		...mapState(['subdomain']),
		...mapState(['toursSpec', 'toursPopular', 'tours', 'slideImagesData', 'pagetitle', 'subtitle', 'subdomain', 'hotel', 'hotelDialogShown']),
		...mapState('hotel', ['hotel', 'hotelServices', 'hotelXcursions']),
		mainTitle() {
			if (this.$store.state.subdomain === 'pilgrim' || this.$store.state.subdomain === 'piligrim') {
				return 'ln_page_main_title_piligrim'
			} else if (this.$store.state.subdomain === 'hotel') {
				return 'ln_page_main_title_hotels'
			} else {
				return 'ln_palmarius'
			}
		},
		subTitle() {
			if (this.$store.state.subdomain === 'pilgrim' || this.$store.state.subdomain === 'piligrim') {
				return 'ln_page_main_subtitle_piligrim'
			} else if (this.$store.state.subdomain === 'hotel') {
				return 'ln_page_main_subtitle_hotel'
			} else {
				return 'ln_page_main_subtitle'
			}
		},
		slideImagesTitle() {
			if (this.$store.state.subdomain === 'hotel') {
				return 'ln_slide_images_title_hotel'
			} else {
				return 'ln_slide_images_title'
			}
		}
	},
	watch: {
		__currency(val) {
			if (this.subdomain === 'hotel') {
				this.$store.dispatch('hotel/HOTEL_XCURSION_SEARCH', { hotel: this.$route.params.hotel, query: {}, page: 'main' })
			} else {
				console.log('page index watch currency', val)
				this.$store.dispatch('GET_MAIN_PAGE')
			}
		}
	},
	async asyncData({ app, store, route, error, params, req }) {
		if (['pilgrim', 'piligrim'].indexOf(store.state.subdomain) >= 0) {
			await store.dispatch('GET_MAIN_PAGE_PILGRIM')
		} else {
			await store.dispatch('GET_MAIN_PAGE')
		}
		if (store.state.subdomain === 'hotel') {
			if (store.state.hotel.hotelDialogList.length === 0) {
				await store.dispatch('hotel/GET_HOTELS')
			}
			if (!params.hotel) {
				store.commit('hotel/SET_STATES', {
					hotelDialogShown: true
				})
			} else {
				await store.dispatch('hotel/GET_HOTEL_BY_SLUG', params.hotel)
				await store.dispatch('hotel/HOTEL_XCURSION_SEARCH', { hotel: params.hotel, query: {}, page: 'main' })
			}
		}
	},

	methods: {

	}
}
</script>
<style lang="scss">
.page__index{
	.index-title{
		position: relative;
		margin-top: 27px;
		text-align: center;
		text-transform: uppercase;
		text-shadow: 0 2px 13px rgba(0, 0, 0, 0.15);
		font-size: 60px;
		color: $white;
		font-weight: 900;
		line-height: 1;
		@media (max-width: $lg){
			margin-top: 20px;
		}
		@media (max-width: $xs){
			font-size: 24px;
			font-weight: bold;
			line-height: 1.25;
			margin-top: 10px;
		}
	}
	.index-subtitle{
		text-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
		font-size: 18px;
		font-weight: 500;
		line-height: 1.56;
		letter-spacing: normal;
		text-align: center;
		width: 100%;
		max-width: 690px;
		margin: 0 auto 90px;
		left: 0;
		right: 0;
		color: $white;
		@media (max-width: $xs){
			font-size: 14px;
			font-weight: normal;
			line-height: 1.43;
			margin: 0 auto 40px;
		}
	}
	.background-plane-way{
		position: relative;
		img{
			position: absolute;
			top: -210px;
			left: -80px;
			@media (max-width: $sm){
				display: none;
			}
		}
	}
}
</style>
