<template>
  <div class="page__search">
    <div class="container">
      <div class="search-form-wrapper">
        <no-ssr>
          <vue-search-form />
        </no-ssr>
      </div>
      <h1 class="page-title">
        <template v-if="subdomain !== 'hotel'">
          <template v-if="pager.total > 0">
            {{ $LOCALE('ln_we_found_tours_1') }} {{ pager.total }} {{ pagetitleEnding }}
          </template>
          <template v-else>
            По данному направлению {{ pagetitleEnding }} не найдено
            <p>
              Ознакомьтесь с другими предложениями
            </p>
          </template>
        </template>
        <template v-else>
          {{ $LOCALE('ln_hotel_xcursion_search_title') }}
        </template>
      </h1>
      <el-row :gutter="24">
        <el-col :xs="24" :sm="24" :md="6" :lg="6">
          <vue-filter-layout full-mode @change-filters="getTours()" />
        </el-col>
        <el-col :xs="24" :sm="24" :md="18" :lg="18">
          <!-- <vue-filter-topbar /> -->
          <!-- {{ tours }} -->
          <template v-if="pager.total === 0">
            <vue-tour-card-grid
              :tours="tours"
            />
          </template>
          <vue-tour-card-grid
            v-else
            :tours="tours"
          />
          <pui-spacer />
          <vue-tour-load-more full-mode />
        </el-col>
      </el-row>
    </div>
  </div>
</template>
<script>
import { mapState } from 'vuex'
import VueSearchForm from '@/components/Search/Form'
import VueTourCardGrid from '@/components/Tour/CardGrid'
import VueFilterLayout from '@/components/Filter/Layout'
import VueTourLoadMore from '@/components/Tour/LoadMore'
// import VueFilterTopbar from '@/components/Filter/Topbar'
export default {
	components: {
		VueSearchForm,
		VueTourCardGrid,
		VueFilterLayout,
		VueTourLoadMore
		// VueFilterTopbar
	},
	data() {
		return {
			title: null
		}
	},
	computed: {
		...mapState(['subdomain']),
		...mapState('hotel', ['hotelXcursionSearchValues']),
		...mapState('search', ['tours', 'pagetitle', 'pager', 'type', 'directionName', 'toursPopular', 'chosenTabType', 'pagetitleEnding', 'tags'])
		// ...mapGetters('tours', ['tours', 'pageTitle'])
		// nodeType() {
		// 	let result = null
		// 	switch (this.chosenTabType) {
		// 	case 'tour':
		// 		result = 'TOUR'
		// 		break
		// 	case 'xcursion':
		// 		result = 'XCURSION'
		// 		break
		// 	case 'ticket':
		// 		result = 'TICKETS'
		// 		break
		// 	}
		// 	return result
		// }
	},
	watch: {
		__currency(val) {
			if (this.subdomain === 'hotel') {
				console.log('currency hotel')
				this.getHotelXcursion()
			} else {
				console.log('currency')
				this.getTours()
			}
		},
		pager: {
			handler(val) {
				if (val.total === 0) {
					this.$store.dispatch('search/GET_POPULAR_TOURS')
				}
			},
			deep: true
		}
	},
	async asyncData({ app, query, store, params }) {
		// try { query.partners = store.state.search.filterPartners.join(',') } catch (err) { console.log(err) }
		if (store.state.subdomain === 'hotel') {
			await store.dispatch('hotel/HOTEL_XCURSION_SEARCH', { hotel: params.hotel, query })
		} else {
			await store.commit('search/SET_STATES', {
				directionSlug: null,
				partnerSlug: null,
				type: store.state.search.chosenTabType
			})
			await store.dispatch('search/SEARCH', query)
			const partnersQuery = query
			partnersQuery.limit = null
			await store.dispatch('search/GET_ACTIVE_PARTNERS', partnersQuery)
			if (store.state.search.pager.total === 0) {
				await store.dispatch('search/GET_POPULAR_TOURS')
			}
		}
	},
	created() {
		this.$store.commit('search/SET_STATES', {
			pagetitleEnding: this.$NUM_SUFFIX(this.pager.total, [
				this.$LOCALE(`ln_search_title_endings_${this.$route.query.type || this.type}_0`),
				this.$LOCALE(`ln_search_title_endings_${this.$route.query.type || this.type}_1`),
				this.$LOCALE(`ln_search_title_endings_${this.$route.query.type || this.type}_2`)
			])
		})
	},
	beforeDestroy() {
		this.$store.commit('search/CLEAR')
	},
	methods: {
		async getHotelXcursion() {
			await this.$store.dispatch('hotel/HOTEL_XCURSION_SEARCH', { hotel: this.$route.params.hotel, query: this.$route.query })
		},
		async getTours() {
			await this.$store.commit('loading/SET_LOADING', true)
			let partners = this.$store.state.search.filterPartners.join(',')
			console.log('PARTNERS', partners)
			try { partners = this.$store.state.search.filterPartners.join(',') } catch (err) { console.log(err) }
			const params = {
				page: 1,
				limit: this.$store.state.search.limit,
				loc: this.$store.state.search.loc,
				dest: this.$store.state.search.dest,
				date: this.$store.state.search.date,
				days: this.$store.state.search.days,
				adults: this.$store.state.search.adults,
				children: this.$store.state.search.children,
				type: this.$store.state.search.type,
				partners: partners,
				tags: this.tags
			}
			await this.$store.dispatch('search/SEARCH', params)
			params.limit = 100000
			params.partners = null
			await this.$store.dispatch('search/GET_ACTIVE_PARTNERS', params)
			await this.$store.commit('loading/SET_LOADING', false)
		}
	},
	head() {
		return {
			title: 'Поиск туров | palmarius.ru',
			meta: [
				{ hid: 'description', name: 'description', content: 'Авторские туры и экскурсии в Израиль, Грузию, Россию без посредников.' }
			],
			bodyAttrs: {
				class: 'tour-page'
			}
		}
	}
}
</script>
<style lang="scss">
.hide-form-button{
	padding: 12px 10px 0;
	text-align: right;
}
.infinite-loading__nomore-message{
	margin: 30px 0 40px;
	i{
		margin-right: 5px;
		color: $primary-green;
	}
}
.infinite-loading__noresults-message{
	margin: 30px 0 40px;
	i{
		margin-right: 5px;
		color: $coral-pink;
	}
}
</style>
