<template>
  <div v-loading="$store.state.regLogin.formLoading" class="coponents__login-form">
    <el-form ref="loginForm" :model="form" :rules="formRules" @submit.native.prevent="handleSubmit()">
      <el-form-item prop="phone">
        <pui-input
          v-model="form.phone"
          autocomplete="yes"
          :mask="{
            mask: __phone_mask,
            showMaskOnHover: false
          }"
          :label="$LOCALE('ln_your_phone')"
          :size="$ua.isFromSmartphone()?'small':'large'"
        />
      </el-form-item>
      <el-form-item prop="password">
        <pui-input
          v-model="form.password"
          autocomplete="yes"
          :label="$LOCALE('ln_password')"
          :size="$ua.isFromSmartphone()?'small':'large'"
          :type="inputType"
          suffix-icon="pui-user-ic"
        />
      </el-form-item>
      <div class="space-between">
        <!-- <el-checkbox v-model="form.remember">
            {{ $LOCALE('ln_remember_me') }}
          </el-checkbox> -->
        <!-- <pui-button type="link" auto>
            {{ $LOCALE('ln_forget_password') }}
          </pui-button> -->
      </div>
      <div class="login-form-button">
        <pui-button type="blue" size="medium" fluid submit>
          {{ $LOCALE('ln_sign_in_button') }}
        </pui-button>
      </div>
    </el-form>
  </div>
</template>
<script>
export default {
	data() {
		return {
			inputType: 'password',
			formRules: {
				phone: [
					{ required: true, message: this.$LOCALE('ln_phone_required'), trigger: 'blur' }
				],
				password: [
					{ required: true, message: this.$LOCALE('ln_password_required'), trigger: 'blur' }
				]
			}
		}
	},
	computed: {
		form: {
			get() {
				return this.$store.state.regLogin.form
			},
			set(val) {
				this.$store.commit('regLogin/SET_FORM', val)
			}
		}
	},
	methods: {
		handleSubmit() {
			this.$refs.loginForm.validate((valid) => {
				if (valid) {
					this.submit()
				} else {
					return false
				}
			})
		},
		async submit() {
			const res = await this.$store.dispatch('regLogin/LOGIN_SUBMIT')
			if (res.success === 1) {
				this.$store.commit('SET_STATES', { user: res.user })
				this.$store.commit('regLogin/SET_LOGIN_DIALOG', false)
				this.$TOGGLE_BODY_CLASS('removeClass', 'fixed')
				this.$router.push(`/${this.__language}/account/partner`)
			} else {
				this.$notify.error({
					title: this.$LOCALE('ln_error'),
					message: this.$LOCALE('ln_credentials_incorrect')
				})
			}
		}
	}
}
</script>
