<template>
  <div class="component__login-main">
    <vue-login-form />
  </div>
</template>
<script>
import VueLoginForm from './Form'
export default {
	components: {
		VueLoginForm
	},
	data() {
		return {

		}
	},
	methods: {

	}
}
</script>
