<template>
  <div class="component__navigation">
    <div v-for="(block, index) in nav" :key="index" class="navigation__block">
      <nuxt-link v-for="(link, index) in block.list" :key="index" exact :to="`/${__language}/account/partner${link.href}`" class="navigation__item">
        <span class="navigation__item-icon" :class="link.icon" />
        <span class="navigation__item-text">
          {{ $LOCALE(link.title) }}
        </span>
      </nuxt-link>
    </div>
  </div>
</template>

<script>
export default {
	data() {
		return {
			nav: [
				{
					list: [{
						title: 'ln_ac_partner_excursions',
						href: '/excursions',
						icon: 'pui-excursion-ic'
					},
					{
						title: 'ln_ac_partner_travel_programs',
						href: '',
						icon: 'pui-travel-ic'
					},
					{
						title: 'ln_ac_partner_services',
						href: '/services',
						icon: 'pui-service-ic'
					}, {
						title: 'ln_ac_partner_reservation',
						href: '/reservation',
						icon: 'pui-plane-ic'
					}
					]
				},
				{
					list: [{
						title: 'ln_ac_partner_finance',
						href: '#',
						icon: 'pui-delete-ic-copy-5'
					},
					{
						title: 'ln_ac_partner_accommodation',
						href: '#',
						icon: 'pui-living-ic'
					}, {
						title: 'ln_ac_partner_personnel',
						href: '#',
						icon: 'pui-users-ic'
					}]
				},
				{
					list: [{
						title: 'ln_ac_partner_organization',
						href: '#',
						icon: 'pui-org-ic'
					},
					{
						title: 'ln_ac_partner_documents',
						href: '#',
						icon: 'pui-docs-ic'
					},
					{
						title: 'ln_ac_partner_invite_partner',
						href: '#',
						icon: 'pui-invitefriend-ic'
					}, {
						title: 'ln_ac_partner_personal_data',
						href: '#',
						icon: 'pui-user-ic'
					}]
				}
			]
		}
	}
}
</script>

<style lang="scss">
.component__navigation {
  display: flex;
  flex-direction: column;
  @media (max-width: $sm) {
    display: none;
  }
  .navigation__block {
    background-color: $white;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
  }
  .navigation__item {
    display: flex;
    align-items: center;
    padding: 17px 15px;
    &:hover {
      background-color: $very-light-blue;
      .navigation__item-icon {
        color: $primary-blue;
      }
    }
  }
  .navigation__item.nuxt-link-active {
    background-color: $very-light-blue;
    .navigation__item-icon {
      color: $primary-blue;
    }
  }
  .navigation__item-icon {
    height: 24px;
    width: 24px;
    font-size: 18px;
    margin-right: 12px;
    color: $brown-grey;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navigation__item-text {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: $charcoal-grey;
  }
}
</style>
