<template>
  <div class="component__user-info">
    <div class="user-info__balance">
      <div class="user-info__title">
        {{ balance | filterNum }} ₽
      </div>

      <span class="user-info__subtitle"> {{ $LOCALE("ln_your_balance") }}</span>
    </div>
    <div class="user-info__payoff">
      <div class="user-info__title">
        {{ balance | filterNum }} ₽
      </div>

      <span class="user-info__subtitle"> {{ $LOCALE("ln_payable") }} 08.08.2020</span>
    </div>
    <div class="user-info__partner-link-wrapper">
      <div class="user-info__partner-link">
        http://palmarius.org/partners/agt-056
      </div>
      <div class="user-info__partner-link-help">
        {{ $LOCALE("ln_affiliate_link") }}.
        <el-popover
          placement="bottom-start"
          width="200"
          trigger="hover"
        >
          <template slot:content>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat ad aspernatur itaque ratione? Dolorum voluptas quibusdam vel odio impedit. Reprehenderit dicta aliquid sed deserunt fugit quaerat, nobis esse voluptatum sit?
          </template>
          <span slot="reference" class="user-info__help">
            {{ $LOCALE("ln_whats_this_for") }}?
          </span>
        </el-popover>
      </div>
    </div>
  </div>
</template>

<script>
export default {
	data() {
		return {
			balance: 30812,
			payoff: 30812

		}
	}
}
</script>

<style lang="scss">
.component__user-info {
  margin-top: 11px;
  border-radius: 6px;
  box-shadow: 0 5px 24px 0 rgba(28, 74, 115, 0.2);
  background-color: $white;
  display: flex;
  align-items: center;
  padding: 12px 33px;
  margin-bottom: 42px;
  @media (max-width: $sm) {
    padding: 0px;
  }
  @media (max-width: $sm) {
    flex-wrap: wrap;
    margin-bottom: 36px;
  }
  .user-info__balance {
    display: flex;
    flex-direction: column;
    margin-right: 48px;
    @media (max-width: $sm) {
      padding: 12px 0px;
      flex: 0 1 51%;
      margin-right: 0px;
      border-bottom: 1px solid #e7e7e7;
      border-right: 1px solid #e7e7e7;
    }
  }
  .user-info__payoff {
    text-align: center;
    margin-right: 44px;
    @media (max-width: $sm) {
      padding: 12px 0px;
      flex: 0 1 49%;
      margin-right: 0px;
      border-bottom: 1px solid #e7e7e7;
    }
  }
  .user-info__title {
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: $charcoal-grey;
    @media (max-width: $sm) {
      font-size: 18px;
    }
  }
  .user-info__subtitle {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    color: $charcoal-grey;
    @media (max-width: $sm) {
      font-size: 10px;
    }
  }

  .user-info__partner-link-wrapper {
    display: flex;
    flex-direction: column;
    @media (max-width: $sm) {
      flex: 0 1 100%;
      margin-right: 0px;
      justify-content: center;
      align-items: center;
      padding: 12px 0px;
    }
  }
  .user-info__partner-link {
    user-select: all;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: $primary-blue;
    margin-bottom: 4px;
    @media (max-width: $sm) {
      font-size: 12px;
      margin-bottom: 8px;
    }
  }
  .user-info__partner-link-help {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: $grey-blue;
    @media (max-width: $sm) {
      font-size: 12px;
    }
  }
  .user-info__help {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: $primary-blue;
    @media (max-width: $sm) {
      font-size: 12px;
    }
  }
}
</style>
