// В проекте используется PostCSS с автопрефиксером
// поэтому в базовых стилях и миксинах использовать
// вендорные префиксы -- неоправданно раздувать CSS
// т.к. автопрефиксер добавляет ТОЛЬКО нужные префиксы
// НО не убивает имеющиеся проставленные явно
// Именем Революции,
// Зачищено со всей пролетарской решимостью!!

@mixin transition($time) {
    transition: all $time ease-in-out;
    // -o-transition: all $time ease-in-out;
    // -ms-transition: all $time ease-in-out;
    // -moz-transition: all $time ease-in-out;
    // -webkit-transition: all $time ease-in-out;
}

@mixin flex($direction, $justify, $align) {
    // display: -webkit-box;
    // display: -moz-box;
    // display: -ms-flexbox;
    // display: -webkit-flex;
    display: flex;
//    -webkit-flex-direction: $direction;
//    -moz-flex-direction: $direction;
//    -ms-flex-direction: $direction;
    flex-direction: $direction;
//    -webkit-justify-content: $justify;
//    -moz-justify-content: $justify;
//    -ms-justify-content: $justify;
    justify-content: $justify;
//    -webkit-align-items: $align;
//    -moz-align-items: $align;
//    -ms-align-items: $align;
    align-items: $align;
//    -ms-flex-align: $align;
}

@mixin flex-direction($direction) {
//    -webkit-flex-direction: $direction;
//    -moz-flex-direction: $direction;
//    -ms-flex-direction: $direction;
    flex-direction: $direction;
}

@mixin flex-order($order) {
//    -webkit-box-ordinal-group: $order;
//    -moz-box-ordinal-group: $order;
//    -ms-flex-order: $order;
//    -webkit-order: $order;
    order: $order;
}

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
	// For Google Chrome
	::-webkit-scrollbar {
		width:  $size;
		height: $size;
	}

	::-webkit-scrollbar-thumb {
		background: $foreground-color;
	}

	::-webkit-scrollbar-track {
		background: $background-color;
	}

	// For Internet Explorer
	body {
	  scrollbar-face-color: $foreground-color;
	  scrollbar-track-color: $background-color;
	}
}