$xxs: 320px;
$xs: 575px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$lg-1: 1440px;
$xl: 1680px;
$xxl: 1920px;
// COLORS
$charcoal-grey		: #424351;
$grey-blue			: #678598;
$brown-grey			: #9e9e9e;
$cloudy-blue		: #bec0c2;
$ice-blue			: #EEF3F7;
$light-periwinkle	: #dfe0e1;
$soft-grey			: #f9f9f9;
$pale-grey			: #f5f8fa;
$white				: #ffffff;

$dull-orange		: #e1a02f;
$primary-sand		: #e8b65f;
$wheat				: #eec887;
$pale-peach			: #f4dbaf;
$pale				: #f9edd7;

$clear-blue			: #2a80f9;
$primary-blue		: #4592ff;
$carolina-blue		: #8fbeff;
$powder-blue		: #b5d3ff;
$very-light-blue	: #dae9ff;

$jade-green			: #2ba55c;
$primary-green		: #33c66e;
$soft-green			: #63d792;

$faded-red			: #db4649;
$coral-pink			: #ff5457;
$salmon-pink		: #ff7b7d;